[2016-06-21 19:58] bcbrock commented on #1857
@Jyellick, yes this is stress2b, with a 10-second delay between network startup and the driver. I was able to reproduce with debug logs. Peer 1 is stuck in this run at block height 1900 of 5003. The logs are too big for Github. I put them at

[code]

There is no evidence of queue overflow in this run, but lots of warnings of various kinds.

[2016-06-21 20:07] scottz64 opened #1942 "PBFT Batch: Queries on a bounced peer returned deployed values after another peer is stopped"
## Description

REGRESSION-FAILURE: Testcase:  Consensus_S2_5I_R2_S1_2I_20I.go
- passes on June 9th a94f5a7
- fails on June 20 35326c2
  Note:  a Behave test will be uploaded shortly.

Actually, it seems "consensus" resumes, because the other peers continue to process additional invokes, but the queries from the bounced peer are wrong.
## Describe How to Reproduce

In vagrant, docker start 4 valid

[2016-06-21 20:16] jyellick commented on #1857
@bcbrock Thanks for the logs, I see exactly what is going on here.

vp1 is too far behind to recover via state deltas, so it requests a state snapshot from someone on the network.  The state it gets is for block 5002.  The last checkpoint it knows about is block 5000, so, vp1 cannot validate any blocks past 5000, and therefore cannot validate its state.  It is waiting to hear about a checkpoint fo

[2016-06-21 20:20] corecode commented on #1874
@kchristidis can you explain (2)?

[2016-06-21 20:26] bcbrock commented on #1857
@jyellick Why would we not add `CORE_PBFT_GENERAL_TIMEOUT_NULLREQUEST=3s` (or some other value) to the YAML file as a default?

[2016-06-21 20:28] jyellick commented on #1874
@corecode Maybe @kchristidis has more to add, but Docker only lets you specify dependencies for linking in one direction.  So, if service A depends on service B, docker will set up port forwardings and environment in A to direct to B.  But, because B must be created before A in this scenario, B cannot refer to any properties fo A.

@kchristidis I understand and appreciate the ambassador pattern in

[2016-06-21 20:29] corecode commented on #1874
Ah, so is it just a matter of not having name mappings to IPs?

[2016-06-21 20:31] kchristidis commented on #1874
@corecode: What @jyellick mentioned covers this, see for example: http://stackoverflow.com/questions/29307645/how-to-link-docker-container-to-each-other-with-docker-compose

@jyellick: The reason we're going with dynamic lists and persisting is so that we can avoid introducing the ambassador pattern.

[2016-06-21 20:34] jyellick commented on #1857
@bcbrock Enabling null requests by default has been discussed with @kchristidis @tuand27613 @corecode and others, and we think it would be a sane thing to do.

There are two reasons we have not done this.
1. All of our current tests were written under the assumption that null requests are not enabled.  Enabling null requests by default might break some tests, and hide breakage in others, so an aud

[2016-06-21 22:27] bcbrock commented on #1857
@jyellick, These are logs from a stress2b test modified as you suggested. I'm proposing this as the temporary form of `stress2b`.

[code]

Peer 3 gets stuck here at block height 57. Unfortunately I do not have debug logs (It takes so much time to write them that it alters the behavior).

[1857a.tar.gz](https://github.com/hyperledger/fabric/files/326708/1857a.tar.gz)

[2016-06-21 22:29] lhaskins commented on #1942
The behave test below failed at the final step with the following error:

[code]

It should be noted that while vp2 came back up, it did not look as though transactions were being processed.

[code]

The behave test:

[code]

[2016-06-22 03:00] rameshthoomu commented on #1922
@vpaprots also observed the same issue while installing grpcio package.

[2016-06-22 07:08] sudeepta-bhuyan commented on #1827
I would like to work on this. Thanks!

I have a question w.r.t registration behavior. Please bear with me as I'm a newbie.
Lets say we have three users, each having different registrar metadata associated with them:
1. admin (pre enrolled)-> '{"registrar":{"roles":["client","peer","validator","auditor"],"delegateRoles":["client"]}}'
2. client1 -> '{"registrar":{"roles":["client"]}}'
3. client2 ->

[2016-06-22 08:38] grbulat commented on #1896
Same in the batch mode.
Repository is updated to commit `1550075`
Steps are the same too, but peers are completely stuck after step 4 and reboot is not helping at all.
Height is 271 even after 13890 invocations.

[logs.zip](https://github.com/hyperledger/fabric/files/327275/logs.zip)

[2016-06-22 10:12] GrapeBaBa commented on #1919
@mastersingh24 Thanks, it works.

[2016-06-22 10:12] #1919 closed, assigned to nobody

[2016-06-22 10:20] corecode commented on #1942
I don't get this divergence, but some sort of request duplication.

[2016-06-22 10:42] corecode commented on #1896
Your system never manages to create a chaincode docker container.

[2016-06-22 11:04] grbulat commented on #1896
I run peers with the following commands in their own virtual machines (Docker is installed in all of them):
`CORE_VM_ENDPOINT=http://172.17.0.1:2375 CORE_PEER_ADDRESSAUTODETECT=true CORE_PEER_ID=vp0 ./peer node start --logging-level=debug`
`CORE_VM_ENDPOINT=http://172.17.0.1:2375 CORE_PEER_ADDRESSAUTODETECT=true CORE_PEER_ID=vp1 CORE_PEER_DISCOVERY_ROOTNODE=172.16.5.193:30303 ./peer node start --l

[2016-06-22 14:47] jyellick commented on #1857
@bcbrock I think that's a sane definition for stress2b.  I have been running without DEBUG on with stress2b as I too noticed some issues that didn't seem to appear when DEBUG was on, but it runs reliably for me locally now.  Can you tell me any more about your environment so that maybe I can try executing on something similar, then manually add in raise the severity of certain log statements to ho

[2016-06-22 15:14] gq4fabric commented on #1733
I have the same problem, I don't know the reason.
Shall I install the docker in the provided image virtual host ubuntu?

_vagrant@ubuntu-1404:/opt/gopath/src/github.com/hyperledger/fabric$ make peer
Makefile:43: **\* "No docker in PATH: Check dependencies".  Stop._

[2016-06-22 15:52] jjjjibm opened #1950 "make: *** No rule to make target `sdk/node/doc/assets/js/modernizr.js', needed by `build/image/src/.dummy'. Stop."
## Description

My environment:
windows 7 -> virtualbox Version 5.0.16 r105871 -> gitbash -> vagrant 1.8.1
While running 'make all' on a new VM, I see this message:
make: **\* No rule to make target `sdk/node/doc/assets/js/modernizr.js', needed by`build/image/src/.dummy'.  Stop.

At that point, the Make stops.
## Describe How to Reproduce

1.Open a gitbash window.
2.Destroy any existing Vagrant VM

[2016-06-22 15:57] ghaskins commented on #1733
@kopnin are you behind a firewall such as in China?  It seems you do not have access to the dockerproject.org server.

@gq4fabric it appears that your vagrant environment failed to fully provision (based on your comments, I would guess it also failed at the docker  step noted above).  I can tell this because we update the PS1 environment variable as one of the last steps so the "vagrant@ubuntu-140

[2016-06-22 16:15] bcbrock commented on #1857
@jyellick I observed this last failure running on a 20-core POWER8 server. The busywork test is all that's running on the machine. I have tuned the system for performance: 1) Export GOGC=400 to reduce garbage collection overhead; 2) I have modified Golang 1.6 as described here:

https://github.com/hyperledger/fabric/wiki/Go-Performance-Portal#morestack

to increase the default stack size. This is

[2016-06-22 17:21] jyellick commented on #1857
@bcbrock Using the latest busywork code from #1946 and no debug, I think I may be able to reproduce this.  Even long after the tests, I am still seeing the shortened chain, which I would expect to have corrected itself.  I will be investigating.

[2016-06-22 18:04] JonathanLevi commented on #1409
Just a quick one (and sorry these 2 lines change took some coordination).

The encrypted TCertIndex is an AES-CBCEncrypted `[]byte` slice that is not really usable, let alone readable, even [more so? ;-)] after Base64 Encoding:

[code]

Or even if we use the not encrypted TCertIndex (just for argument's sake)

[code]

Neither feels like a common name field value (while the latter might still intro

[2016-06-22 18:04] dongmingh commented on #1806
Test run for 10 min and 60 min with two different batchsize: 2 and 1000:

commit 6905fecdb3d869c9047cbdfae5a764671e8174e1
Merge: 72a7cbf d2c7293
Author: Gregory Haskins gregory.haskins@gmail.com
Date:   Mon Jun 20 22:09:29 2016 -0400

[code]

pbft-batch security and privacy enabled,
batchsize=2
invoke tps = 32/17 for 10 min/60 min
query tps = 246/248 for 10 min/60 min

batchsize=1000
invoke tps =

[2016-06-22 18:05] JonathanLevi commented on #1409
So diverging a bit from the request to move the encrypted TCertIndex from the Extensions list of the certificate to the subject:

Unless there's any objection, how about we just put a 'Transaction Certificate' text in the common name field of the TCert (yes, rather than the EnrollmentID which is currently there in the clear).

[2016-06-22 18:59] jjjjibm opened #1952 "make all: panic: runtime error: invalid memory address or nil pointer dereference [signal 0xb code=0x1 addr=0x8 pc=0x4c36af]"
## Description

I am running 'make all' and encountered this panic in the section that starts the unit

RACE: 2016/06/22 18:20:04 ca.go:497: err <nil>
--- FAIL: TestReadUserSet (0.00s)
        eca_test.go:341: Failed to read user set: [Identity or token does not match.]
        eca_test.go:367: Failed to read user set: [Signature verification failed.]
panic: runtime error: invalid memory address o

[2016-06-22 19:04] #1746 closed, assigned to nobody

[2016-06-22 19:16] tuand27613 commented on #1942
running with commit 35326c2,  seeing the same issue as @corecode,  got result of "973" instead of "977",  very consistent but definitely some sort of duplication

If I set CORE_PBFT_GENERAL_TIMEOUT_NULLREQUEST=1s then the test case runs perfectly.
@jyellick @corecode, set nullrequest as default ?

[2016-06-22 19:35] jkirke commented on #1922
I am encountering issues installing grpcio on both z systems. I will continue to look at it but wanted to update the issues with current results.

pip install grpcio

On 148.100.105.200
     File "build/bdist.linux-s390x/egg/setuptools/command/build_ext.py", line 187, in build_extension
       _build_ext.build_extension(self, ext)
     File "/usr/lib64/python2.7/distutils/command/build_ext.py", li

[2016-06-22 19:35] rennman opened #1953 "node-sdk: asset-mgmt-with-roles.js: panic: runtime error: invalid memory address or nil pointer dereference"
## Description

Chaincode container crashes when running UT asset-mgmt-with-roles.js in network mode

I have a 4-peer network setup with security and pbft batch consensus:
152dc2ebc842 peer 9.42.91.158:30085->5000/tcp,_9.42.91.158:30084->30303/tcp
f98863fdad33 peer  9.42.91.246:30143->5000/tcp,_9.42.91.246:30142->30303/tcp
28723cea2bbf peer  9.42.91.158:30083->5000/tcp,_9.42.91.158:30082->30303/tc

[2016-06-22 19:36] rennman commented on #1953
running commit level e97d8c06b6ee6d2275ed6439d0f3391c773f1036 on v0.5-developer-preview

[2016-06-22 19:40] muralisrini commented on #1953
@rennman the panic is likely from /opt/gopath/src/build-chaincode/asset_management_with_roles.go:263

[2016-06-22 19:41] JonathanLevi commented on #1952
Thanks for the detailed reporting! Can provide a fix momentarily...

[2016-06-22 19:55] jyellick commented on #1942
@tuand27613 commit 35326c2 does not include PR #1943 / #1941 (for 0.5 or master respectively).  Request duplication is possible and expected at that code level, but should be fixed with the relevant PR applied.

[2016-06-22 20:43] christo4ferris commented on #1733
@ghaskins agree - good idea

[2016-06-22 21:38] scottz64 commented on #1874
@kchristidis  With your commit 6524f7c, for the original scenario (stop 2 nodes, invokes, restart 2 nodes, invokes), the behavior is improved: the consensus resumes and all peers are in sync and process additional invokes. However, the requests that were queued while only 2 peers were running appear to be lost.
Another thing we cannot explain yet: our behave test for the same original scenario (at

[2016-06-22 21:38] scottz64 commented on #1942
@kcrhistidis The retesting of 1942 showed no change when using commit  6524f7c, The problem behavior remains.

[2016-06-22 21:39] rameshthoomu commented on #1922
@jkirke : Below is the command you have to use to install grpcio package:

`pip install -U 'grpcio==0.13.1'`

[2016-06-22 21:51] jkirke commented on #1922
Same result using that command.

[2016-06-22 21:54] rameshthoomu opened #1956 "Jenkins Builds are failing with grpcio package error"
## Description

We are observing CI Builds are failing in Jenkins (X86 and Z) node machines with the below error messages
 `0:41:59     from google.protobuf import descriptor as _descriptor
00:41:59 ImportError: No module named google.protobuf.`
or
 `9:43:41 sudo pip install -q 'grpcio==0.13.1'
19:43:41 sudo: unable to resolve host hyp-x86-64-915
19:43:41 sudo: no tty present and no askpass progra

[2016-06-22 21:55] rameshthoomu commented on #1922
Created new issue #1956: please log your comments in the new issue..

[2016-06-23 00:18] gongsu832 commented on #1922
As I mentioned above in response to @jeffgarratt , boringssl (which grpcio depends on) is just not written with big endian in mind. I tracked down one of the ec_test failures to the file crypto/ec/p256-64.c. This is an excerpt from the beginning of the file:

[code]

As you can see, the code is specifically assuming the CPU is little endian, which is rather strange. You'd expect something better f

[2016-06-23 01:02] kchristidis commented on #1942
@scottz64 Understood. Not surprised, the nature of this problem seems to be different.

[2016-06-23 01:04] kchristidis commented on #1917
Fixer with #1939, this can be closed. @srderson

[2016-06-23 01:13] kchristidis opened #1959 "Print version info"
We'll need a way to print the version info using the `peer` binary.

The expected behavior is that `peer version`, `peer -v`, and `peer --version` should return version info by reading the `peer.version` key in the `core.yaml` file and quit.

This is a fairly straightforward task and a good opportunity for someone to get their hands wet with submitting patches to the project. They'll be using the

[2016-06-23 03:57] mm-hl commented on #1631
@vukolic regarding @manish-sethi's 2a), you point out that both it and Eve "fall back to sequential" in case there are conflicts.  Right, but these happen at quite different levels (according to my interpretation of @manish-sethi's comments, which admittedly may be colored by my own thoughts in similar directions).  With Eve, if the conflicts results, then a higher-level protocol tries to choose o

[2016-06-23 04:41] manish-sethi commented on #1631
@mm-hl yes, your interpretation is correct of what I had in mind while writing "2a" (i.e., the execution at each node is independent) - Though, I am not sure about - execution on one node not observing any conflict while at some other node, conflicts were observed - (assuming all transactions processed on committed state till last block commit). In fact, they would observe same conflicts because -

[2016-06-23 05:59] gq4fabric commented on #1733
I remove the hyperledger image in virtualbox and restart vagrant to create a new one.It works.

[2016-06-23 07:35] GrapeBaBa commented on #1959
@kchristidis @srderson Assign to me:)

[2016-06-23 12:38] srderson commented on #1959
Thanks @GrapeBaBa, you got it

[2016-06-23 12:39] srderson commented on #1917
@kchristidis There's still an open PR on the master branch which I assume needs to be merged before we can close this.

[2016-06-23 13:07] rameshthoomu commented on #1956
This issue fixed in X86 Jenkins machines after installing grpcio package. We are still seeing the same error message in Z machines. @jkirke: Is working on this.

[2016-06-23 13:18] christo4ferris commented on #1610
makes sense to me

[2016-06-23 13:29] #1796 closed, assigned to nobody

[2016-06-23 13:36] #1475 closed, assigned to nobody

[2016-06-23 13:38] #1659 closed, assigned to nobody

[2016-06-23 13:40] christo4ferris commented on #1959
Thinking about this... seems like the API should also report peer version info so we can detect incompatible versions... this could be independent, but seems like we would need this once we are live in the field.

[2016-06-23 13:50] JonathanLevi commented on #1959
Yes, I may have an idea/suggestion of how to put some more info into the version which would tremendously help.

@GrapeBaBa, your issue ;-), but happy to collaborate, and suggest/would like to have it in Membership Services' server too. Will quickly add/introduce some command line/prompt parameters so that we can do/use this in the server too.

[2016-06-23 14:12] kchristidis commented on #1917
Got it.

[2016-06-23 14:20] bcbrock opened #1962 "Remove all redundant command-line flags from the Hyperledger Fabric Peer"
## Description

All command-line flags that overlap variables in the YAML files should be removed from the peer. Why? Because both the command line flags and the YAML files define defaults for the options. Unless these options are identical, one or the other will be selected, and in fact, the YAML file does not override the command-line defaults in main.go. This is a maintenance nightmare and a se

[2016-06-23 14:36] roger505 commented on #1631
Section2.5, 2nd paragraph:
Reading the description I'm wondering if proposed method covers all possible isolation levels.

If I consider a scenario where two transactions (A , B) are entered and part of the chaincode business logic is to see if the other transaction exists and if it is to mark each as matched.  The chain code is implemented by storing each of A and B as a key value pair with keys

[2016-06-23 14:50] muralisrini opened #1964 "security for system chaincode deployment"
Currently system chaincodes are disabled when security is on. We need to deploy the system chaincode with the right security materials so we can have the same security treatment for system chaincodes as other chaincodes.

@adecaro
## Description

TODO
## Describe How to Reproduce

If security is enabled, registration of system chaincode will fail with "system chaincode (<name>,<path>) disabled".

[2016-06-23 15:33] rameshthoomu opened #1965 "Unit-tests are failing after PR# 1903 merge on master branch"
## Description

`core/rest/rest_api_test.go` unit-test is failing after PR#1903 merge. Below is the error message observed in the log file.

commit#1e0fc31
Reference PR#(1903)
Date: 06/23/2016

[code]
## Describe How to Reproduce

Pull commit# 1e0fc31 and execute make unit-test
Travis and Jenkin Builds are failing: Below are the failed builds# 1265,1267,1269 (Travis Builds) & https://jenkins.hyper

[2016-06-23 15:41] jjjjibm opened #1966 "make all fails with many messages like this: cannot use grpcServer (type *"github.com/hyperledger/fabric/vendor/google.golang.org/grpc".Server) as type *"github.com/hyperledger/fabric/vendor/github.com/hyperledger/fabric/vendor/google.golang.org/grpc".Server in argument to "github.com/hyperledger/fabric/vendor/github.com/hyperledger/fabric/protos".RegisterEventsServer"
## Description

Here is my environment:
Windows 7 --> virtualbox -> git bash -> vagrant

When running 'make all'. the command fails with many messages like this:

_cannot use grpcServer (type *"github.com/hyperledger/fabric/vendor/google.golang.org/grpc".Server) as type *"github.com/hyperledger/fabric/vendor/github.com/hyperledger/fabric/vendor/google.golang.org/grpc".Server in argument to "github

[2016-06-23 15:59] gabre opened #1967 "System chaincodes can only be enabled from code"
## Description

System chain codes are baked into the code so it is impossible to switch them on/off. This causes some problem and it is also harder to test such chain codes with behave tests.
See https://github.com/hyperledger/fabric/pull/1722
A solution can be to add a whitelist of chain codes to config. This way one had to build the chain code with the system and also enable it from config.
##

[2016-06-23 15:59] bcbrock commented on #1857
@jyellick Thanks for continuing to look into this. I can still surface various errors under heavy stress, e.g., using 32 clients. Here are debug logs from the latest fail. The symptom is that a client has sent a batch of 100 TX, but it never sees confirmation within 5 minutes. Note that Peer 2 has a lot more to say (based on log file size) than the other peers.

[code]

This is the busywork/counte

[2016-06-23 16:00] jyellick commented on #1857
This has been reported by another user and should be a candidate for inclusion in 0.5.

[2016-06-23 16:10] kchristidis commented on #1857
Is the related to the checkpoint garbage collection issue?

[2016-06-23 16:15] jyellick commented on #1857
Yes, this is actually a combination of two bugs.  One half is the checkpoint garbage collection, the other half is... something else, still trying to track down exactly how it's happening.  I'd like to hold off fixing the garbage collection issue until the second bug is tracked down, as the fix would likely mask the problem.

[2016-06-23 16:36] rennman opened #1968 "node-sdk: hlc.ts: rolesToMask: incorrect iteration over roles array"
commit b1ef2c909d8b3bb5a37044c111615c3f37b3e88e v0.5-developer-preview.

Using the sdk I was attempting to register a user with something other that the default, 'client', but was not able to get the registrationRequest to recognize the 'roles' attribute.

According to hlc.js:RegistrationRequest, roles is a string array. The switch in hlc.js:rolesToMask the switch is incorrectly iterating over the

[2016-06-23 16:46] gregmisiorek commented on #1956
i noticed Jenkins failures in many other issue resolutions.

[2016-06-23 16:47] vukolic commented on #1631
@roger505 I am not sure I understand the issue

your "chaincode" seems to have following two tx
A) A=1; if B==\bot then executeSomeWinnerCode
B) B=1; if A==\bot then executeSomeWinnerCode
i.e., if they execute concurrently on the initial state we have
A.readset={(B,\bot)}, A.writeset={(A,\bot)}, A.stateUpdate={(A,1)}
B.readset={(A,\bot)}, B.writeset={(B,\bot)}, B.stateUpdate={(B,1)}

as consensus

[2016-06-23 17:26] scottz64 commented on #1942
=== OBSERVATION (No change with image de2c77e. Same as when originally reported on 35326c2):
===     After stopping and starting PEER2, and then stopping PEER1,
===     PEER2 must be part of the consensus, as the others process more invokes, but
===     PEER2 does not show the correct value (it shows the "init" values) when queried.
=== NEW OBSERVATION:
===     After requesting an additional large

[2016-06-23 17:27] scottz64 commented on #1942
[june23_de2c77e_1942_repro.tar.gz](https://github.com/hyperledger/fabric/files/330491/june23_de2c77e_1942_repro.tar.gz)

[2016-06-23 17:28] jyellick commented on #1857
@kchristidis @bcbrock The second issue at work turned out to be non-determinism in the busywork counters chaincode.  I've fixed it in the PR referenced above, and no longer see busywork stress2b failures.

The pbft core was still mishandling the checkpoint garbage collection, so I will be submitting a second PR for this issue later today.

[2016-06-23 17:31] rennman commented on #1968
@angrbrd  @binhn @ghaskins
Spoke briefly with Anya. I fixed my local copy and am willing to submit a pull request for this, but I'm not sure where it should go.

Should this be in v0.5-developer-preview, or master?

[2016-06-23 17:38] srderson commented on #1968
You'll need to submit two PRs, one for each branch. It sounds like this issue is a good one for consideration in the v0.5-developer-preview branch.

[2016-06-23 18:06] srderson commented on #1965
PR #1903 was broken due to PR #1923 being merged first.

[2016-06-23 18:38] jyellick commented on #1857
The PRs above (#1969 for busywork and #1973 for checkpoint garbage collection in master) fix the original reported 1857 issue for me.

PR #1971 fixes the checkpoint garbage collection in 0.5.  If busywork should be patched in 0.5 as well, the patch is trivial and I can submit an additional PR for this.

[2016-06-23 18:39] jyellick commented on #1610
@srderson, your take?

[2016-06-23 19:13] #1965 closed, assigned to nobody

[2016-06-23 19:13] jjjjibm opened #1975 "make node-sdk-unit-tests fails: panic: Cannot parse block timeout: time: invalid duration"
## Description

Environment:  windows 7 -> virtualbox -> gitbash -> vagrant
Ramesh Thoomu and I both see this failure running make node-sdk-unit-tests:

_<lines deleted>_
member services is started
Begin running tests in net mode ...
**ERROR: peer failed to start; see /tmp/node-sdk-unit-test/peer.log**

So we find this in peer.log:
=============================begin peer.log excerpt===============

[2016-06-23 19:27] srderson commented on #1610
I stand by my original opinion, but it sounds like I'm out voted. My second choice is the `ErrNotFound` option.

You will now have both `ErrOutOfBounds` if the block never existed or `ErrNotFound` if the block exists and is not present for some reason. Just something to keep in mind.

[2016-06-23 19:34] #1917 closed, assigned to nobody

[2016-06-23 19:53] #1732 closed, assigned to nobody

[2016-06-23 19:57] #1952 closed, assigned to nobody

[2016-06-23 20:04] #1850 closed, assigned to nobody

[2016-06-23 20:05] scottz64 commented on #1942
I guess I could have provided this too. Our GoSDK uses local_fabric.sh script to start docker images, and normally passes the following parms to override the defaults:
    docker run  -d --name=PEER$peer_id -it \
               -e CORE_VM_ENDPOINT="http://$IP:$PORT" \
               -e CORE_PEER_ID="vp"$peer_id \
               -e CORE_SECURITY_ENABLED=true \
               -e CORE_SECURITY_PRIVAC

[2016-06-23 20:09] bmos299 commented on #1975
@jjjjibm does this occur with the latest npm install (assuming they are in sync).  Does @ratnakar-asara hit this on ubuntu?  Can you have someone else running windows with Vagrant try and reproduce asap?
Thanks.

[2016-06-23 20:37] srderson opened #1978 "Concurrent map read and map write crash during"
## Description

[Failed build](https://travis-ci.org/hyperledger/fabric/builds/139861185)
[Raw log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/139861187/log.txt)
## Describe How to Reproduce

Seen while running `github.com/hyperledger/fabric/consensus/obcpbft` unit test. The error is not consistent.

[code]

[2016-06-23 20:51] #1857 closed, assigned to nobody

[2016-06-23 20:59] srderson commented on #1914
@manish-sethi could you please investigate

[2016-06-23 21:01] srderson commented on #1921
Thanks, also fixed via PR #1930. We don't run tests in parallel now.

[2016-06-23 21:01] #1921 closed, assigned to nobody

[2016-06-23 21:03] srderson commented on #1925
@huhaiqing you may also want to ask on Stackoverflow if @mastersingh24's response is not clear.
http://stackoverflow.com/questions/tagged/hyperledger

[2016-06-23 21:03] #1925 closed, assigned to nobody

[2016-06-23 21:20] angrbrd commented on #1975
@bmos299

@diegomasini and I are investigating this now. We see it now on latest master as well. We are both in Vagrant on Mac. Error is below:

`panic: Cannot parse block timeout: time: invalid duration`

Will update shortly.

[2016-06-23 21:20] jyellick opened #1981 "Remove chaincode instance variables from example chaincodes"
## Description

After some discussion with @muralisrini related to the non-determinism bug found and fixed in PR #1969 it was suggested that an issue be opened to remove the chaincode instance variables from the example chaincodes included in the fabric tree, including the excellent busywork suite from @bcbrock.

As others may try to use these chaincodes as a starting point for their own applicati

[2016-06-23 21:29] bmos299 commented on #1975
Thanks @angrbrd.  I think this command only exist on the master branch?

[2016-06-23 21:32] jjjjibm commented on #1975
@bmos299, I'm in the midst of re-cloning my fabric to see if that eliminates the other issue.  By npm install, I take it you want me to try 'hlc' instead of make node-sdk-unit-tests?  Not sure how that works.

[2016-06-23 22:49] bcbrock commented on #1981
I would agree that in general, simple example chaincodes should not use persistent state. However, even though there was a bug in the busywork chaincode that caused unexpected non-determinism, I'm not sure I'm ready to banish chaincode-local state for chaincodes that are specifically designed as test programs. For example, one of the planned future capabilities for busywork was to allow non-determ

[2016-06-23 23:02] angrbrd commented on #1975
OK @diegomasini and I just tested a fix for this locally. Will require two PRs. I will submit momentarily.

[2016-06-23 23:07] bmos299 commented on #1975
Wow! Thanks @angrbrd !

[2016-06-23 23:28] angrbrd commented on #1975
@ghaskins is also aware that PR is ready. Thanks.

[2016-06-23 23:50] jjjjibm commented on #1966
As an experiment (I have multiple failures), I deleted fabric and cloned it again.  I rebuilt my vagrant VM.

The result is a big improvement in the number of messages.  The makefile still fails, but much later.  Here is the new error:
**core/rest/rest_api_test.go:124: cannot use new(mockDevops) (type *mockDevops) as type "github.com/hyperledger/fabric/protos".DevopsServer in assignment:
        *

[2016-06-23 23:51] jjjjibm commented on #1966
P.S. Sorry about the monster font in the prior post.

[2016-06-24 00:45] zuowang opened #1984 "Missing request for assigned prepare after fetching"
## Description

I constantly encountered this error, seams it worked fine and didn't crash.
07:28:36.465 [consensus/obcpbft] processNewView2 -> CRIT 003 Replica 0 is missing request for assigned prepare after fetching, this indicates a serious bug
## Describe How to Reproduce

The code base is 6905fec.
Set up 4 nodes of validator peer and invoke chaincode_example02 from command line.

[2016-06-24 00:46] #1975 closed, assigned to nobody

[2016-06-24 01:01] angrbrd commented on #1950
This issue is addressed with PR #1982, which is now merged. Please verify and close. Thanks.

[2016-06-24 01:04] angrbrd commented on #1953
This PR also needs to be merged into the developer-preview branch. We will merge there tomorrow also. Thanks @rennman , good catch!

[2016-06-24 02:22] jyellick commented on #1984
@zuowang: This should be fixed as of 56ae89ef in master, and as of 02f1e5d1 in 0.5

[2016-06-24 02:59] #1953 closed, assigned to nobody

[2016-06-24 04:14] jyellick commented on #1942
There appears to be an unrelated CI failure, but the behave test is working for me locally after #1987

[2016-06-24 08:21] GrapeBaBa commented on #1959
@christo4ferris Glad to add it to API once I fix this issue.

[2016-06-24 08:26] GrapeBaBa commented on #1959
@JonathanLevi Will do. Ping me a slack when you are online.

[2016-06-24 08:56] mastersingh24 commented on #1962
Plus you can actually achieve the same goal by setting environment variables on the command line which do override the values set in the YAML files

[2016-06-24 09:10] gongsu832 commented on #1922
OK I fixed boringssl so it passes all tests on zLinux and I managed to install grpcio 0.13.1. The behave tests now fail on a different scenario:

peer_basic.feature:1097  verify reconnect of disconnected peer, issue #1851 -- @1.1 Composition options

All tests pass on 2 CPUs. Logs attached.

[behave.zip](https://github.com/hyperledger/fabric/files/331437/behave.zip)

PS. @tuand27613 This is in the

[2016-06-24 09:11] mm-hl commented on #1631
@manish-sethi yes, there could be many strategies for optimizing execution of a batch of transactions.  The only requirement would be that they are executed "as if" sequentially, which is what's required to avoid the complexity (e.g., in Eve) that arises from multiple honest peers getting different results for the same batch.

[2016-06-24 09:15] GrapeBaBa commented on #1959
Just note #1962 ,the decision will impact this issue.

[2016-06-24 09:48] sachikoy opened #1991 ""Identity or token does not match" even if a correct enrolment ID/secret is used."
## Description

REST API call to /registrar returns an error  which says "Identity or token does not match" even if a correct enrolment ID/secret is used.
## Describe How to Reproduce

An easy way to reproduce:
1. set up a blockchain network with multiple (e.g., four) validating peers, with security enabled.
2. access one peer's /registrar as an enrolment ID/secret (e.g., test_user0)
3. access ano

[2016-06-24 09:53] huhaiqing opened #1992 "Invoke a transaction will creates a block"
Hi,

When I deployed a chaincode on the hypledger peer node,invoke some function, I found that when I invoke a transaction, use the REST API ◦GET /chain, each operation will increase the value of height.
Does it indicates that execute a transaction, the block number will increase 1?

Can you tell us the time to create a new block? It is well known from Bitcoin that a new block will be produced eve

[2016-06-24 12:25] grbulat commented on #1896
After fixing some issues connected with docker it is not reproducible anymore

[2016-06-24 12:25] #1896 closed, assigned to nobody

[2016-06-24 13:02] corecode commented on #1981
It's clear that we will not be able to completely disable non-determinism while using go.  However, we should make it as difficult as possible to mistakenly introduce non-determinism in chaincode.  How hard it will be to test for non-determinism behavior should not influence our API design for correct chaincode.

Related: #1751

[2016-06-24 13:04] bcbrock opened #1993 "fabric/node/sdk/README.md: No such hyperlink-target #building-the-client-sdk"
## Description

See title. @angrbrd?
## Describe How to Reproduce

Click the link `build the SDK`.

[2016-06-24 13:07] manish-sethi commented on #1914
@zuowang I could not reproduce this with the latest source code.
The panic stack that you pasted could be caused if state modification is being done concurrently - a related bug was fixed in commit 6739665 (see #1865). Can you try reproducing this with the latest source?
If you can reproduce this issue, Please paste the dump of other goroutines as well?

[2016-06-24 13:32] jkirke commented on #1922
Good news on getting passed the grpcio 0.13.1 issue. What do I need to do to get this updated on the zLinux build systems?

[2016-06-24 13:49] roger505 commented on #1631
@vukolic  I agree that the example you quote will be safe, however in the use case I was thinking of the matching is done with a range search rather than an explicit read as there is a "matching tolerance".  How would the code represent a "RangeQueryState" where no key is found ? I agree that in some isolation levels this would not be protected against, I was just keen understand if in this design

[2016-06-24 13:56] sachikoy commented on #1981
We have developed a reasonably big chain code as a prototype application, and found that it is quite easy to write a non-deterministic code.
For example, one can write non-deterministic chain code by
- using associative arrays with iteration (the order is randomized in Go lang)
- reading list of items from KVS table (the order is not guaranteed)
- or writing thread-unsafe chain code (query and inv

[2016-06-24 14:20] jyellick commented on #1981
@bcbrock I can certainly appreciate that if your interest is specifically related to testing the chaincode itself, that you might need to store some local state.  Maybe an easy compromise would be to throw a comment in the local data structure pointing out that it's a dangerous practice and one of its purposes is to allow injection of faults into the system.

@corecode @muralisrini  I am no expert

[2016-06-24 14:31] angrbrd commented on #1993
Thanks. Will address.

[2016-06-24 14:38] tuand27613 commented on #1922
@gongsu832  , looks like both containers are up, or at least behave thinks [vp1, vp0] are up
Can you try turning DoNotDecompose , run only the @issue_1951 test and see what docker says ?

[code]

[2016-06-24 14:48] ericmvaughn commented on #1757
I was able to work around this problem by starting git bash in “Run as administrator” mode and the NPM errors went away.

[2016-06-24 15:17] jeffgarratt opened #1995 "make unit-tests fails after first run"
## Description

if you run the 'make unit-test' command more than once, you will get a failure with 'text file busy' for ca.go test. I found I had to manually delete the following folder to have the unit-test pass.

## Describe How to Reproduce

Issue the command:

Then issue the command again, and you should get the following failure.

[2016-06-24 15:18] jeffgarratt commented on #1995
@diegomasini Hey Diego.  Ran into this after syncing with master this morning.  Seems like a simple fix.  Let me know if any questions.

[2016-06-24 16:09] dongmingh commented on #1901
Close the bug since I am unable to recreate this for a week.

[2016-06-24 16:09] #1901 closed, assigned to nobody

[2016-06-24 16:14] jeffgarratt commented on #1922
@gongsu832 @tuand27613 Hey @gongsu832, please let me know if I can assist.  Perhaps we can do a hangout and I can help you troubleshoot.

[2016-06-24 16:16] angrbrd commented on #1863
Hi @MizukiSonoko can you please elaborate on what system you're running on? This has not been causing problems for anyone else.

And unfortunately your fix will not work, as by removing the `/`, the `src` string will now be concatenated together with the `chaincodePath` string. That is incorrect. I will attempt to reproduce and come up with another solution.

Thanks.

[2016-06-24 16:33] christo4ferris opened #1998 "information on need for license header hard to find"
## Description

documentation for developers explaining the need for a license header is hard to find.
## Describe How to Reproduce

read the CONTRIBUTING.md and other docs - find it, I dare ya!

[2016-06-24 16:34] mastersingh24 commented on #1409
No objection from me.  Makes sense to just use a static string here and "Transaction Certificate" makes perfect sense

[2016-06-24 16:38] angrbrd commented on #1991
Hi @sachikoy,

The enrollmentID and enrollmentSecret pair that is used to perform the enrollment with the membership service server is indeed a one-time-use set of credentials. Once you have performed the enrollment one time on one peer, it will fail on subsequent enrollments. This is elaborated on here:

https://github.com/hyperledger/fabric/blob/master/docs/API/SandboxSetup.md#note-on-security-f

[2016-06-24 16:43] JonathanLevi commented on #1409
OK, will quickly add a test to verify that we don't "release/issue" TCerts with any other `Subject.CommonName` and PR this 2 liner. Thanks again.

[2016-06-24 17:04] srderson commented on #1998
ah, I see it now. I was looking in the `Legal stuff` section. I think the fact that I was staring at Java code threw me off :)

[2016-06-24 17:11] dongmingh commented on #1806
with batch size =1000 on the commit cdfbdcd66de75cb832114d8815999189c7f6da9b
Merge: dbf46b0 e3adcbe
Author: Sheehan Anderson sranderson@gmail.com
Date:   Fri Jun 24 10:22:07 2016 -0400

[code]

4 peers pbft-batch, security/privacy enabled, thread number=100
invoke tps = 72/66 for 10 min/60 min runs
query tps = 252/248 for 10 min/60 min runs

[2016-06-24 17:24] dongmingh opened #2002 "received an error while trying to get the state deltas for blocks 140 through 154 from name:"vp2""
## Description

commit cdfbdcd66de75cb832114d8815999189c7f6da9b
Merge: dbf46b0 e3adcbe
Author: Sheehan Anderson sranderson@gmail.com
Date:   Fri Jun 24 10:22:07 2016 -0400

[code]

4 peer network, security and privacy enabled, batch size = 1000, thread number = 100
Run stress test for 60 min and see the messages below 5 times in the log

14:41:12.166 [consensus/statetransfer] func1 -> WARN 35c^[[0

[2016-06-24 17:46] #1931 closed, assigned to nobody

[2016-06-24 17:54] #1998 closed, assigned to nobody

[2016-06-24 17:55] #1993 closed, assigned to nobody

[2016-06-24 18:05] jeffgarratt commented on #1922
@ghaskins @rameshthoomu @jkirke @gongsu832 I think we are good to go on accepting this PR as it appears @gongsu832 and @jkirke will be able to resolve z related issues.  @rameshthoomu agrees with this assessment, please let me know if any other concerns @ghaskins .  Thanks.

[2016-06-24 18:27] diegomasini commented on #1995
Thanks @jeffgarratt! Fixing it now.

[2016-06-24 18:31] angrbrd opened #2004 "Need a network level test for a client securely transacting with multiple peers"
## Description

This issue is being opened as a result of discussion here: https://github.com/hyperledger/fabric/issues/1991

The issue is that the enrollmentID and enrollmentSecret pair that is used to perform the enrollment with the membership service server is a one-time-use set of credentials. Once you have performed the enrollment one time on one peer, it will fail on subsequent enrollments.

[2016-06-24 20:32] scottz64 commented on #1942
I reran tests using 9f5666f.
[1942repro9f5666f.tar.gz](https://github.com/hyperledger/fabric/files/332536/1942repro9f5666f.tar.gz)
See attached logs, and refer to my comments yesterday for test scenario I used today. Although it is working much better now, there is still a temporary time period where querying peer2 provides inaccurate results. From a user's perspective, this seems wrong.

Consensu

[2016-06-24 20:45] jyellick commented on #1942
@scottz64 I think we need to define what **incorrect value** means. My strong suspicion is that the value is not in fact at all incorrect, but I would more accurately say it is **stale**.

In any asynchronous distributed system, it is perfectly normal and expected that some nodes will have more recent information than others.

In this case, when the node rejoins the network, it has missed some tra

[2016-06-24 21:21] jjjjibm commented on #1757
@ericmvaughn , I have been running 'sudo bash' from vagrant, which changes my login from 'vagrant' to 'root'.  Isn't that the same as 'run as administrator'?  Or is it?  What is the difference between the two environments?

[2016-06-24 21:30] binhn commented on #1981
@sachikoy +1 and perhaps part of [fabric-chaintool](https://github.com/hyperledger/fabric-chaintool)

[2016-06-24 21:30] jjjjibm commented on #1950
I ran 'make all' with today's latest, and did not encounter this error.  Thanks!

[2016-06-24 21:30] #1950 closed, assigned to nobody

[2016-06-24 21:41] #1844 closed, assigned to nobody

[2016-06-24 22:28] ericmvaughn commented on #1757
What I'm doing is starting git bash by right clicking on it and selecting the "Run as administrator" option.  I also had to shut vagrant down before opening the new git bash window and then doing a vagrant up in the new window.

[2016-06-24 22:46] angrbrd commented on #1757
Thanks @ericmvaughn , I have not yet heard this suggestion. I seem to be having the most annoying problem of all. Nobody has run into this one. No matter what I have tried, I always run into the same error:

`npm ERR! tar.unpack untar error /home/vagrant/.npm/grpc/0.13.2-pre1/package.tgz`

I will give your suggestion a try and report.

[2016-06-24 23:47] vmorris opened #2011 "Launching peer does not read CORE_PEER_PKI_*_PADDR environment variables"
## Version

v0.5-developer-preview
## Description

Setting environment variables apparently not overriding peer/core.yaml.
I am attempting to launch a validating peer Docker container as described in the devnet-setup.md file:
https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/devnet-setup.md

The error that is returned in the failed launch indicates that the peer is attempting to con

[2016-06-25 00:13] GrapeBaBa commented on #2011
CORE_PEER_PKI_TCA should be CORE_PEER_PKI_TCA_PADDR

[2016-06-25 00:25] vmorris commented on #2011
Thank you, correcting that parameter results in:

[code]

So, different terminating error, but still seeing it trying to connect to localhost:50051

EDIT: I've duplicated the issue below, removing the CORE_PEER_PKI_TCA_PADDR from the environment (I don't require it at this time).

[2016-06-25 00:30] bcbrock opened #2012 "Panic: "invalid memory address or nil pointer dereference" in response to /chain/blocks/<N> API"
## Description

This is a panic that appears to be coming from the /chain/blocks/<N> API.  The panic is not fatal, but is being caught by the gocraft/web stuff, which carries on. However it does cause the test to fail (or, I assume this is what's causing it to fail.)

Here is the log file of the failing peer. The panic is buried in the middle of it.

[stderr.txt](https://github.com/hyperledger/fab

[2016-06-25 01:26] sachikoy commented on #1545
I think this one can be closed. The issue was mainly in non-determinism in chaincode.

[2016-06-25 01:26] #1545 closed, assigned to nobody

[2016-06-25 04:49] gongsu832 commented on #1922
@tuand27613 uncomment DoNotDecompose for @issue_1851:

[code]

And indeed both containers are running:

[code]

Yet the scenario still fails with the same message:

[code]

in vp1 log. If you want to take a look yourself, you can ssh root@debian2.watson.ibm.com without password. The machine is the one you used before and has your public key. Hyperledger code is under /opt/openchain/src/github.com/

[2016-06-25 04:53] gongsu832 commented on #1922
@jkirke I'm maintaining a fork of grpc so that it can picked the fixed boringssl. To install on zLinux, pick a directory where you want to clone and do the following:

[code]

[2016-06-25 14:05] jkirke commented on #1922
Thank you. I tried this out this morning on both build systems. They both failed to install with the following:
python_build/temp.linux-s390x-2.7/third_party/boringssl/crypto/bytestring/asn1_compat.o -fvisibility=hidden -pthread -std=gnu99
    gcc: error: third_party/boringssl/crypto/bytestring/asn1_compat.c: No such file or directory
    gcc: fatal error: no input files
    compilation terminated

[2016-06-25 14:41] muralisrini commented on #1981
Any chaincode that's included in the fabric can serve as an example for others. Unless intentionally called out, such as @bcbrock's plan to inject non-determinism for test purposes (ref. _one of the planned future capabilities for busywork was to allow non-deterministic error injection_ ),  I'd say all chaincodes in the fabric should serve as good deterministic examples.

+1 to @sachikoy 's enumer

[2016-06-25 14:52] gongsu832 commented on #1922
@jkirke Did you do git checkout tags/release-0_13_1?

[2016-06-25 14:58] bcbrock commented on #2012
Yes, this failure mode is reproducible on my system. Unfortunately I have never seen the test described above pass on my system at the documented commit level. Note that this is only one of the failure modes.

[2016-06-25 15:37] jkirke commented on #1922
I thought I did but I must have missed that step. Sorry for the false alarm. Both build systems now have grpc. Thank you for your help.

[2016-06-25 23:18] bcbrock opened #2015 "PBFT Batch: All chaincode deploys generate 2 transactions"
## Description

Deploying a chaincode to a network running PBFT Batch generates 2 transactions: The original transaction, and also a duplicate transaction that seems to be marked as an error. This behavior does not occur with NOOPS networks, and always occurs with PBFT Batch networks.

@jyellick Jason, I wonder if this is an unexpected by-product of some of the recent changes you have been making?

[2016-06-25 23:39] bcbrock commented on #2012
@jyellick @dubek If I understand the backtrace correctly, I believe the error is originating in core/rest/rest_api.go around line 636. It looks like this is code that you guys touched last, probably in part to fix errors I was seeing with bogus responses coming back from the chain/blocks/<N> API calls.

[2016-06-26 03:11] dubek commented on #2012
I looked at the flow. It can happen when ledger's GetBlockByNumber returns block=nil AND err=nil. This can happen when you fetch a block whose number is less than the chain height, but the block doesn't exist in the DB.

The fix in rest_api.go should be better handling of the different cases of err and block values. I'll be able to craft a PR on Monday.

A quick fix if you want to keep working on

[2016-06-26 03:24] dubek commented on #2012
And, if we're in the "fix everything twice" mood, maybe `fetchBlockFromDB` (`core/ledger/blockchain.go:290`) should not return nil,nil when a block is not found, but rather `return nil, fmt.Errorf("Block number %d not found in DB", blockNumber)` . I'm not familiar with that area of that code so I'm not sure my suggestion makes sense.

[2016-06-26 04:13] jyellick commented on #2015
@bcbrock This is something I noticed running busywork after all the recent churn, it should be fixed in #2007 / #2008

[2016-06-26 04:17] jyellick commented on #2012
@dubek This has been the subject of some debate and was flagged in #1610

[2016-06-26 06:24] GrapeBaBa opened #2018 "Unit test occasionally failed"
## Description

Travis build unit test failed occasionally

[code]
## Describe How to Reproduce

[2016-06-26 10:51] mastersingh24 commented on #2004
We should never replicate credentials across peers.  I don't think the use case is valid in real life because if multiple entities are hosting peers (which is how a blockchain should be deployed), then certainly you don't want the credentials for a user/client from one entity replicated to another entity's peer.

I also don't think that we should spend a whole lot of time at this point on the curr

[2016-06-26 12:13] kchristidis commented on #999
Can you describe how this whole process would work? A simple enumeration of the steps involved should work for now.

[2016-06-26 12:24] corecode commented on #999
1. Define config, in text format
2. Insert config text or key/value pairs into a ledger system chaincode table.
3. Generate Genesis block with this state.
4. Distribute Genesis block to all participants.
5. Start network.

On June 26, 2016 2:13:34 PM GMT+02:00, Kostas Christidis notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-26 13:25] kchristidis commented on #999
So, point 4: This is something that each node does, as part of a handshaking process. (Similar to what we do today with the signed `DISC_HELLO` message.) Right, wrong?

[2016-06-26 15:59] vmorris commented on #1916
@nitesh7sid Please ensure you have the following options set when starting your Docker daemon:
`-H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock`

[2016-06-26 16:08] corecode commented on #999
Manual during chain creation.

[2016-06-26 16:37] vmorris commented on #2011
Further investigation follows, with additional confirmation that environment variables for paddr are not overriding core.yaml:

Single membersrvc container running:

[code]

Start a shell into a peer container, setting environment variables:

[code]

core.yaml has localhost hard coded:

[code]

Starting the peer node fails, note the failed error indicates an attempt to connect to localhost:

[code

[2016-06-26 16:55] vmorris commented on #2011
Hmm, strange.. perhaps this is simply user error?

I tried configuring the env variables with an IP that was obviously incorrect, then setting the correct value in core.yaml.. now it's overriding the yaml file. What am I missing here?

[code]

[2016-06-26 22:44] bcbrock opened #2020 "busywork: Add support for arbitrary test network configurations"
## Description

The current **busywork** setups create the peer network and client drivers on the same system. A couple of people have asked me now for **busywork** to support separation of network and clients, so I'm opening this issue as reference for a PR I will soon submit that starts to address this issue.

There are only a couple of things that need to be added for this to basically work:
1.

[2016-06-26 22:46] bcbrock commented on #2015
Thanks Jason. I'm looking forward to being able to announce that **busywork** PBFT Batch example are working perfectly.

[2016-06-26 23:25] mastersingh24 commented on #2011
_I've duplicated the issue below, removing the CORE_PEER_PKI_TCA_PADDR from the environment (I don't require it at this time)_

Why do you say that?  The peer is failing to connect to the TCA to download the TCA CA certificates:

[code]

Try

[code]

and things should work

[2016-06-26 23:42] mastersingh24 commented on #1959
@GrapeBaBa  - We should probably be a little more clear in #1962.  I did not mean that we get rid of every command line option, just the ones which specifically override / set configuration parameters.  Having a way to output version would be a good example, although I think you would have either `peer -v` and `peer --version`  or you would `peer version`.  I don't think we should mix styles

[2016-06-27 02:00] GrapeBaBa commented on #1959
@mastersingh24 Clear. @kchristidis @srderson @JonathanLevi @christo4ferris what do you think about the advice which not mix styles?

[2016-06-27 06:10] Ohsaworks opened #2022 "GetRows() is non-deterministic"
## Description

ChaincodeStub.GetRows() is a function that enable us table-like access to KVS.
Since the order of items from GetRows() is random, the non-deterministic function will damage the blocks when used in invoke.
(The current implementation of PBFT will break the blocks if inconsistent data is written in KVS.)

My suggestion is to rewrite the function to read the all items first, and autom

[2016-06-27 07:04] zuowang opened #2023 "Add log-level support for chaincode"
## Description

Docker daemon has a very high cpu usage when run performance test.
Profile shows that the high cpu usage is caused by verbose logging in chaincode container.
When docker daemon started with option --log-driver="none", the problem gone.
## Describe How to Reproduce

1. Start 4 validator peer nodes on single node.
2. Deploy chaincode_example02, start 20 clients to invoke chaincode_ex

[2016-06-27 07:05] zuowang commented on #2023
I will add an option log-level for chaincode to fix this issue.

[2016-06-27 09:59] gq4fabric opened #2025 "how to make membersrvc"
## Description

vagrant@ubuntu-1404:/opt/gopath/src/github.com/hyperledger/fabric$ **make membersrvc**
CGO_CFLAGS=" " CGO_LDFLAGS="-lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy" GOBIN=/opt/gopath/src/github.com/hyperledger/fabric/build/bin go install github.com/hyperledger/fabric/membersrvc
go install github.com/hyperledger/fabric/membersrvc/ca: open /opt/gopath/pkg/linux_amd64/github.com/hyperledger/

[2016-06-27 10:41] corecode commented on #1981
We have no mechanism to realize that the chaincode may have to reload its state.  For now, the most conservative strategy is to not cache anything in the chaincode.  Clearly it already is very difficult to write deterministic chaincode in the first place.  Let's leave out dangerous optimizations for the time being.

[2016-06-27 10:42] corecode commented on #1273
Revival of this issue in/related: #1981

[2016-06-27 11:29] mastersingh24 commented on #2022
@Ohsaworks  - can you explain what exactly you were doing here?  I definitely understand the fact that almost all iterators in Go are non-deterministic, but what exactly was the chaincode doing that exposed this?  Were you actually trying to write back a bunch of data all at the same time that came back from GetRows()?

[2016-06-27 11:34] corecode commented on #2002
@jyellick cute, it tries to sync from itself? :)

[2016-06-27 11:37] cca88 commented on #1981
According to the top-down design and the assumptions of the blockchain architecture, every transaction invocation must start from the persistent state, as if freshly rebooted. Chaincode must never buffer state, keep variables, etc. Relying on any non-persistent state violates some assumptions made at the consensus protocol level, where it should be possible to restart a validating peer from a give

[2016-06-27 13:15] tuand27613 commented on #1922
@jeffgarratt  @ramesh  see gongsu's comment [above](https://github.com/hyperledger/fabric/issues/1922#issuecomment-228512077).

Is this a docker config issue ?

[2016-06-27 13:27] christo4ferris opened #2026 "need to change acronym"
## Description

The HLC acronym should be changed to reflect that this SDK applies to the Fabric, not to Hyperledger generally.
## Describe How to Reproduce

N/A - this needs to be changed throughout the code and documentation

[2016-06-27 13:28] christo4ferris commented on #2026
@smithbk ^^ we should rename this 'fabric-node-sdk' to be consistent with other components (fabric-peer, fabric-membersrvc, fabric-chaintool, etc)

[2016-06-27 13:30] christo4ferris commented on #2026
or maybe 'fabric-sdk-node' so that they all sort together assuming we have other SDKs.

[2016-06-27 13:40] vmorris commented on #2011
Mostly because I have only a minimal understanding of what I'm doing at this point, thanks for the correction. I am able to start the network up with member services now.

[2016-06-27 13:40] #2011 closed, assigned to nobody

[2016-06-27 14:10] christo4ferris commented on #2011
@vmorris any feedback you have on how we might make this more accessible would be most welcome.

[2016-06-27 14:23] jyellick commented on #2002
@corecode As you can [see](https://github.com/hyperledger/fabric/blob/cdfbdcd66de75cb832114d8815999189c7f6da9b/core/peer/statetransfer/statetransfer.go#L269-287) the state transfer code should never pick itself as a source to sync from (unless you can spot a bug in this logic), but there is nothing to prevent someone from explicitly instructing state transfer to sync from itself, maybe we should t

[2016-06-27 14:32] sachikoy commented on #1991
Hi @angrbrd
So I think the current design assumes that when a user performed enrolment on one peer, the peer is trusted by the user, and maintains the security tokens (especially the private key of Ecert) for the user, retrieve Tcerts and sign transaction using the Tcert keys.
But on the other hand, when one access the REST API, he can easily impersonate another user by specifying the enrolment ID

[2016-06-27 14:40] vmorris commented on #2011
@christo4ferris Personally I think I just need to read through  fabric/docs/protocol-spec.md more thoroughly.

I know things are still changing very fast at this point, so my experience might be typical of someone who started looking at open blockchain when the bluemix demos first released, then came back to the technology after a few months off and finding everything had moved around on me.

Prob

[2016-06-27 14:53] vmorris commented on #1962
I agree to a point, having both command line switches and environment variables to dynamically control launch configuration is non-orthogonal. Operlapping the options means that the switch cli defaults have to keep up with the static defaults in the config file... it's too much to try and map them all across and @mastersingh24 is right, environment variables achieve the same result.

I'd like to s

[2016-06-27 15:14] mastersingh24 commented on #2011
@vmorris  - sorry if my comment seemed harsh.  was just wondering if somewhere in the sparse docs we had mentioned something about not configuring the TCA

[2016-06-27 15:26] dubek commented on #2012
The fix to rest_api.go to deal with the `nil,nil` response is in PR #2027.

[2016-06-27 15:37] vmorris commented on #2011
@mastersingh24 not at all! Until you asked, I was under the impression that the docs actually had excluded that option in  fabric/docs/dev-setup/devnet-setup.md under "Starting up the first validating peer". I had to go back and read it again today and saw that all three PKI options are listed. I must've just misread it (probably due to having to scroll the long command to the right!)

[2016-06-27 15:46] smithbk commented on #1991
@sachikoy The REST API is not secure.  You should use the new node SDK API.  This will keep the ecert's private key in the local KeyValStore, which means it doesn't matter which peer you connect to.  See fabric/sdk/node/README.md for more info.

[2016-06-27 15:50] bcbrock commented on #1962
@vmorris Your point is well-taken, there are some useful flags. I changed the title and my initial comments to suggest that we remove all flags that are redundant in the sense that they overlap YAML configuration options.

[2016-06-27 15:59] JonathanLevi commented on #1962
I really like being able to specify a config/YAML file so that we can ignore the one picked up from the default location - not just for easier configuration, but also for making it easier to reproduce/report issues (still worrying about another GOMAXPROCS-like 'incident' that is lurking behind some other 'default' behavior).

[2016-06-27 16:28] corecode commented on #2002
yea, mysterious

[2016-06-27 17:06] christo4ferris opened #2028 "docs/README.md needs improvement"
## Description

doc/README.md makes references to Hyperledger Project, but applies only to Fabric. Also, it is difficult to find information. Could be better organized.
## Describe How to Reproduce

read docs/README.md

[2016-06-27 17:13] kchristidis commented on #1959
FWIW, `git` does both `git version` and `git --version`. And `docker` does all three. So there is definitely a mixing of styles going in on the industry. I am not an expert on this, so I don't have a strong take.

[2016-06-27 18:15] JonathanLevi commented on #2025
Hi @gq4fabric,

\1 I don't know what I'm doing wrong [;-)], but **make membersrvc** works for me.

\2 Just to say, that you don't need to run the commands as an admin (re: sudo) as the setup scripts configure things for the `vagrant` user (this is why you get the 2nd GOROOT related error (and potentially others later) when trying to build with **sudo**. So let's focus on the first. You should be a

[2016-06-27 18:40] gongsu832 commented on #1922
@tuand27613 I recreated all the fabric-\* images and now the test passes! Grrrh, I hate docker! :-)

[2016-06-27 18:46] jkirke commented on #1922
Well, that is good news, sort of.

[2016-06-27 19:34] smithbk commented on #2026
@christo4ferris I'll change the acronym to "hfc" for "Hyperledger Fabric Client".  OK?

[2016-06-27 19:40] smithbk commented on #2026
@christo4ferris In the fabric/sdk/node/README.md or anything under fabric/sdk/node, the acronym of course refers to the HLC node SDK.  The "hfc" npm module is of course node.  If there is documentation outside of the context of the node SDK, of course the acronym "hlc" will need to be qualified by saying the "node hlc" or "node hlc SDK".

[2016-06-27 19:51] smithbk commented on #2026
Yikes, old habits die hard.   I meant to say ...
 If there is documentation outside of the context of the node SDK, of course the acronym "hfc" will need to be qualified by saying the "node hfc" or "node hfc SDK".

[2016-06-27 20:13] srderson opened #2031 "Document lifecycle of a transaction"
## Description

There needs to be a clear document explaining the lifecycle of a transaction in Hyperledger Fabric. This came up during a discussion of PR #1719. @bcbrock commented that this PR cannot be accepted without changes to documentation, but there is no existing documentation explaining how a transaction moves through the system and what happens given a successful or failed transaction.

[2016-06-27 20:21] dongmingh opened #2032 "Replica 0 already has a view change message for view 22 from replica 2"
## Description

The following messages shown on the log for all 4 peers continuously after 60 min test:

recvViewChange -> INFO 1f69f7 Replica 0 received view-change from replica 2, v:22, h:2420, |C|:1, |P|:3, |Q|:3
recvViewChange -> WARN 1f69f8 Replica 0 already has a view change message for view 22 from replica 2

commit cdfbdcd66de75cb832114d8815999189c7f6da9b
Merge: dbf46b0 e3adcbe
Author: She

[2016-06-27 20:23] srderson commented on #1892
Please add descriptions and steps to reproduce to opened issues. Just a title is not clear to those who may not be familiar with the component.

[2016-06-27 20:25] #1892 closed, assigned to nobody

[2016-06-27 20:47] #1409 closed, assigned to nobody

[2016-06-27 20:59] #1968 closed, assigned to nobody

[2016-06-27 21:03] #1995 closed, assigned to nobody

[2016-06-27 21:33] #1978 closed, assigned to nobody

[2016-06-27 21:56] srderson commented on #2022
Reading all items is not safe as we don't know how many items there are. This could potentially run the system out of memory. Agree with @mastersingh24, a use case would be helpful.

A way to pass a "sort" to the database may be something we want to consider in the next ledger architecture, but this is often a source of performance issues with large datasets.

[2016-06-27 22:05] JonathanLevi opened #2034 "Membership Services refactoring: separate and break down the code to more files"
## Description

While the good ol' Membership Services CA package implementation has some logical separation to sub-modules/structs, we can break down the implementation to separate files (e.g., move Google's Protocol Buffers language-neutral data serialization/API to separate/dedicated files, refactor `TCAA` and `TCAP` out of `tca.go`, `ECAA` and `ECAP` from `eca.go` and `ACAP` from `aca.go`)
##

[2016-06-27 22:07] kchristidis commented on #1171
Based on our conversations today, this is how I'm parsing the current thinking regarding locally generated requests:

We will need two buffered channels. One that acts as a queue for the requests generated locally before we start dropping any additional arrivals (or before we block the process that attempts to inject any new requests into the system). Another one that that signals the number of lo

[2016-06-27 22:12] christo4ferris commented on #2026
@smithbk 'hfc' is fine, I suppose, but not very descriptive. I think I would prefer fabric-sdk (ok, I can be convinced that the npm module by definition means it is the node sdk). Basically, it should be something that when a dev does a search on NPM returns the obvious result. The problem with a TLA is that you need to know what it means before you run into it. Search on 'hyperledger' and which o

[2016-06-27 22:15] christo4ferris commented on #2034
+1 suggest the refactor be gradual as possible and that unit tests are added where appropriate.

[2016-06-27 22:39] gongsu832 opened #2035 "Latest commit fails car_test.go on zLinux"
## Description

commit ce66cb6673963abf21b3de6b2f49c1ac25c4fb1c
Merge: 586376c 696f265
Author: Sheehan Anderson sranderson@gmail.com
Date:   Mon Jun 27 17:35:31 2016 -0400

[code]

The test used to be done only within vagrant. I guess support was added for x86 to do the test outside vagrant so commit f9323ab9cafa74e9b9133d00799046878827a0d5 removed the vagrant check. But the base image for s390x h

[2016-06-27 23:06] scottz64 commented on #1874
Issues 1942 and 1874 are fixed. We tested v0.5 commit 5efed61 (images built today 6/27 after noon, including PRs 2007 and 2016), and confirmed using testcases in both Behave and GO SDK.

[2016-06-27 23:06] #1874 closed, assigned to nobody

[2016-06-27 23:06] scottz64 commented on #1942
Issues 1942 and 1874 are fixed. We tested v0.5 commit 5efed61 (images built today 6/27 after noon, including PRs 2007 and 2016), and confirmed using testcases in both Behave and GO SDK.

[2016-06-27 23:06] #1942 closed, assigned to nobody

[2016-06-27 23:13] JonathanLevi commented on #2034
OK, thanks. Will break it down to separate PRs too, as suggested. Will begin with the easy/straight forward ones (protobuf & co.)

[2016-06-27 23:19] JonathanLevi opened #2036 "Membership Services (minor) refactoring: move TCAA functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the TCAA-related functionality to lowercase(TCAA).go

[2016-06-27 23:19] JonathanLevi opened #2037 "Membership Services (minor) refactoring: move TCAP functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the TCAP-related functionality to lowercase(TCAP).go

[2016-06-27 23:21] JonathanLevi opened #2038 "Membership Services (minor) refactoring: move ECAA functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual, issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the ECAA-related functionality to lowercase(ECAA).go

[2016-06-27 23:22] JonathanLevi opened #2039 "Membership Services (minor) refactoring: move AttributePair functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual, issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the `AttributePair` and `AttributeOwner` functionality out of `aca.go`. TBD.

[2016-06-27 23:23] JonathanLevi opened #2040 "Membership Services (minor) refactoring: move ECAP functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual, issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the ECAP-related functionality to lowercase(ECAP).go

[2016-06-27 23:24] JonathanLevi opened #2041 "Membership Services (minor) refactoring: move ACAP functionality to a separate file"
## Description

Breaking down #2034 into smaller, gradual issues as requested.
## Describe How to Reproduce

N/A. Code restructuring, not a bug.
## Proposed Work/Plan

Move the ACAP-related functionality to lowercase(ACAP).go

[2016-06-28 00:50] gq4fabric commented on #2025
@JonathanLevi
I reboot the guest virtualbox and It seems that there are no errors. The output is the following:
_Administrator@gq MINGW64 /c/go/src/github.com/hyperleger/fabric/devenv (master)
**$ vagrant.exe up**
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'hyperledger/fabric-baseimage' is up to date...
==> default: Clearing any previously set forwarde

[2016-06-28 00:53] jyellick commented on #1171
Although your description might work, at least in my head I think it's more natural to flip the direction of the second channel.

In paragraph 3, say "... will not inject the transactions into the PBFT manager's queue until it's able to _read_ from the second channel."

In paragraph 4, say "... and the number of empty slots in the channel is equal to _the number of assigned slots_ that the replica

[2016-06-28 01:21] ghaskins commented on #2025
The prompt "vagrant@ubuntu-1404" indicates that your vagrant environment did not provision properly.  Merely rebooting it will not fix this (thus the message about "Machine already provisioned" at the end.  To fix this, please run "vagrant destroy" followed by "vagrant up" to rebuild the guest.  Make note of any errors, and paste them here.  If you do not see a prompt that looks something like "va

[2016-06-28 02:31] kchristidis commented on #1171
You're right — flipping the direction of the second channel makes more sense.

[2016-06-28 03:24] gq4fabric commented on #2025
@ghaskins
I destroy the host and rebuild it. There are some errors as following:
**.....
==> default: Sending build context to Docker daemon 16.97 MB
==> default: Step 1 : FROM hyperledger/fabric-src:latest
==> default:  ---> febe564105f5
==> default: Step 2 : COPY bin/\* /usr/local/bin/
==> default:  ---> 77889023fa11
==> default: Removing intermediate container a3504b0e09ac
==> default: Successf

[2016-06-28 03:35] GrapeBaBa commented on #2025
@gq4fabric The issue means you are in china, you need cross the GFW:). Best approach is using VPN or lantern. The manual approach please refer to #1271

[2016-06-28 03:35] JonathanLevi commented on #2025
We suspect that you don't have access to the golang.org repository. Do you happen to run this from China, by any chance? See also: https://github.com/hyperledger/fabric/issues/1271

[2016-06-28 03:53] JonathanLevi commented on #2025
Oh, sorry @GrapeBaBa - our messages crossed (but at least we agree! ;-)). I also discussed this earlier this morning with @ghaskins (who has a nice suggestion as for how to highlight/indicate more explicitly that something went wrong at/during the provisioning stage).

But first, @gq4fabric, let's get you up and running. Let us know if you are able to successfully get the file dependencies... or o

[2016-06-28 06:47] yeasy opened #2044 "HostConfig will be deprecated since Docker 1.12"
## Description

With Docker 1.12, the following error will happens when deploying chaincode with hyperledger fabric.

[code]
## Describe How to Reproduce

Use Docker 1.12, and deploy chaincode with hyperledger fabric.

[2016-06-28 10:03] corecode commented on #1171
I think that's what I already have in code.

[2016-06-28 10:16] christo4ferris commented on #2044
for clarity, this is the deprecated feature that is currently being used https://docs.docker.com/engine/deprecated/#hostconfig-at-api-container-start

The offending code is here: https://github.com/hyperledger/fabric/blob/master/core/container/dockercontroller/dockercontroller.go#L109

[2016-06-28 12:02] smithbk commented on #1827
@sudeepta-bhuyan Hi Sudeepta, thanks for working on this.
The reason client1 can not register client2 is because client1 does not have the "client" role in "delegateRoles".  This is working as expected.
The value of "roles" are privileges a user has itself and the value of "delegateRoles" are the privileges that a user can give to another user that it registers/creates.  Since client1 does not hav

[2016-06-28 12:18] smithbk commented on #1827
A few more tests ...

[code]

In this case,
1) admin should be allowed to register client1
2) client1 should be allowed to register client2
3) client2 should not be allowed to register client3
4) client2 should be allowed to register client4
5) client4 should not be allowed to register any users

[2016-06-28 12:21] JonathanLevi commented on #1827
Thank you @smithbk! @sudeepta-bhuyan, as discussed on Slack, happy to work together on breaking these down to some positive/negative flow Golang tests (both for locking this functionality, and for clarifying such cases).

[2016-06-28 15:43] smithbk opened #2050 "node SDK automatically generated files should not be checked into git"
## Description

fabric/sdk/node/doc and fabric/sdk/node/lib (and maybe other directories?) contain automatically generated files and should not be checked into git.  The reason this was done initially was because we want these files to be part of each "npm publish" for the "hfc" node module and it was thought that the only way to do this was to NOT have these directories in .gitignore files.  Howe

[2016-06-28 16:18] sudeepta-bhuyan commented on #1827
Thanks @smithbk, that was helpful.
@JonathanLevi I'll try to think of a few other test cases if possible (in addition to the ones Keith has provided) . Will keep you updated.

[2016-06-28 16:27] ghaskins commented on #1981
I agree that the examples presented in the code should either be demonstrating proper use OR at least clearly (very clearly) noting that we are intentionally doing something bad.  Perhaps those cases should even be in their own "anti-pattern" part of the tree to prevent casual observer confusion.

That said, I agree with @bcbrock that we shouldn't preclude intentionally bad code because it could i

[2016-06-28 16:53] #2012 closed, assigned to nobody

[2016-06-28 17:39] bcbrock commented on #1981
Let me point out that the top-down design and assumptions that @cca88 refers to above are non-obvious and _completely undocumented_ in any form accesible to a user of this system. (I would not accept the low-level protocol and consensus API specifications as appropriate in this respect, even if they were complete.) Before spending time implementing tooling to enforce undocumented aspects of the ar

[2016-06-28 17:41] bcbrock commented on #2031
I am looking forward to reading this document and I would be happy to serve as a reviewer.

[2016-06-28 18:02] muralisrini commented on #1981
@bcbrock _the only reason that the "nondeterminism" found in the busywork chaincode was a problem is because of the undocumented implementation decision to "catch up" lagging peers by transferring state, rather than allowing the peer to actually execute every transaction._

Catching up is not the only case that'll trip chaincodes using "global" vars. Here's another one -  Chaincode crashes and nex

[2016-06-28 18:08] muralisrini commented on #1981
@ghaskins _Regarding chaintool code verification, yes, this is certainly possible. We would need to build an EBNF grammar that describes golang code (assuming a ready-made one can't be found on the internet) and an AST validator. I assume this would be a fairly complex topic in of itself._

This sounds a lot like building a DSL ? In any case, definitely intriguing.

[2016-06-28 18:13] vukolic commented on #1981
+1 for DSL

[2016-06-28 18:26] angrbrd commented on #2004
@mastersingh24 thanks for this. I have also discussed with @jeffgarratt. We think you bring up a good point about the validity of the use case and more so, the fact that the current REST implementation will not be supported for much longer. I will go ahead and close for now. If that may change, we can always reopen.

Thanks.

[2016-06-28 18:26] #2004 closed, assigned to nobody

[2016-06-28 18:52] ghaskins commented on #1981
@bcbrock I am not sure of the details of the issue you are referring to w.r.t. state transfer and busywork,
but generally speaking non-determinism in a blockchain is _always_ a problem IMO.  Therefore, we should strive to help application developers write correct code, and detect/protect the system when they don't.  I'm not sure if I misunderstood you, but from your last comment, it sounds like yo

[2016-06-28 19:02] ghaskins commented on #1981
To add to @muralisrini's list, it's not just catching up or crashing, but can be as simple as a transaction that for whatever reason needs to be rolled back (for instance, failed consensus).  If the network is structured as pure functions, I can take S' = f(S, M) and simply throw S' in /dev/null if I need to without any coordination with the chaincode.  If f() maintains global state, I cannot.

An

[2016-06-28 19:12] ghaskins commented on #1981
@muralisrini I am actually in favor of some kind of DSL for chaincode to help some of the things we have been discussing (non-determinism in GPLs).  However, in this context, I was referring to an EBNF/AST for golang which is what would be needed to build a parser/analyzer.

[2016-06-28 19:16] starsheriff commented on #1780
Thanks @binhn, yes the approach we were taking was to look into the differences between the two implementations... There wasn't a need to really have another copy in membersrvc/util.go... as the only difference which was the padding is not relevant. I have been working with @jonathanlevi on the test cases to make sure that we can remove the other instance (so that both libraries share the same cod

[2016-06-28 19:57] bcbrock commented on #1981
@ghaskins - There are different types of "non-determinism". A chaincode that stores random numbers obtained from nature is non-deterministic, no argument. A chaincode that is aware of its own creation, and then caches data from the database at creation and updates cached data consistently with that environment is only made "non-deterministic" by an implementation (like the Hyperledger fabric) that

[2016-06-28 20:06] muralisrini commented on #1981
@ghaskins right, I understand now.

[2016-06-28 20:15] jyellick opened #2053 "Reliance on gRPC ordering in consensus"
## Description

The gRPC protocol guarantees us that, for a single stream, messages will be delivered in order.

The PBFT protocol assumes that message transmission is 'reliable', but not that message transmission is in order.  The current PBFT implementation assumes this weaker guarantee, but there could be significant simplifications and optimizations if we were to exploit the gRPC delivery orde

[2016-06-28 20:36] ghaskins commented on #1981
@bcbrock I see, and yes this makes more sense than the view that non-determinism is ok.  Rather, the point is that transaction semantics were not apparent to you and/or documented in a reasonable manner, point taken.

In defense of the fabric team, this general notion has precedent in the rest of the cryptocurrency world.  Networks like Bitcoin and Ethereum enforce this via the execution environme

[2016-06-28 20:58] bcbrock commented on #1309
I second ( #1962 ) third ( #1205 ) and fourth ( #647 ) the idea to ditch Viper.

I like the idea of having a file that lists all of the valid keys with their default values, as this provides an opportunity to document them all. The current YAML files could serve this purpose, however users are encouraged to modify these files, which potentially requires doing a little dance every time a user's cop

[2016-06-28 21:15] vukolic commented on #1981
We do not necessarily have to opt for one solution. Just like there are many "normal" programming languages today - we can have many programming languages for blockchain. So we could have both golang and other high level languages and DSLs.

That said, it would be nice to see community effort of porting Solidity to HL fabric.

[2016-06-28 21:39] #2036 closed, assigned to nobody

[2016-06-28 21:41] vukolic commented on #2053
Protocol-wise one cannot really  leverage FIFO channels to simplify, e.g., PBFT 3-phase common-case communication pattern.

Did you have some other usage for FIFO gRPCs in mind?

[2016-06-28 21:46] #2038 closed, assigned to nobody

[2016-06-28 21:47] #2041 closed, assigned to nobody

[2016-06-28 21:57] #1962 closed, assigned to nobody

[2016-06-28 22:05] JonathanLevi commented on #1842
@srderson Thanks. Let's keep this issue open please (despite merging #2051)

[2016-06-28 22:10] #2020 closed, assigned to nobody

[2016-06-28 22:36] mastersingh24 commented on #2053
Even for something like atomic broadcast you could not solely rely on gRPC since I don't believe that the protocol provides any type of sequence number (or at least not that I have seen).  Last time I looked, maintaining order is handled by locking access to the payload (done of the clients only have a single thread for handling messages for any given stream to prevent concurrent access).  Now if

[2016-06-28 22:44] mastersingh24 commented on #2044
So it looks like we just need to move this to the create call rather than the start call I think

[2016-06-28 22:50] christo4ferris commented on #2044
@mastersingh24 I believe so

[2016-06-28 23:02] bcbrock opened #2060 "PBFT Batch: Infinite loop? Replica 0 already has a view change message..."
## Description

My torture of PBFT continues....

In this case the network seems to have achieved the correct steady-state after a busywork test, however peer 0 seems stuck in an infinite loop printing a warning message every 2 seconds.

[logs.tar.gz](https://github.com/hyperledger/fabric/files/338224/logs.tar.gz)

[code]
## Describe How to Reproduce

This is the `busywork/counters` make target I

[2016-06-28 23:10] kchristidis commented on #2053
Jason made the gRPC observation and will expand on this more, but roughly: Messages that are always delivered in order means we do not have to deal with a _window_ of possibly valid messages (i.e. "anything between seqNo 11 and 18 is good"), and instead make the criterion for the next expected PBFT message from a replica pretty simple. An example that @jyellick used was: "if the next pre-prepare t

[2016-06-28 23:20] ratnakar-asara opened #2061 "Fabric failed to download the dependent libraries while building chaincode"
## Description

dockercontroller in fabric failed to download the dependent libraries while building chaincode.

[code]

Current log information `returned non-zero error code: -1` doesn't really help to find the root cause of the issue.
It would be nice to have appropriate log information as peer knows what package it is failing to receive while building chain code.

I have used a third party logg

[2016-06-28 23:54] mastersingh24 commented on #2053
That's what I was saying as well.  I assume the seq numbers are in the messages

[2016-06-29 00:05] kchristidis commented on #2053
They are. I wasn't sure what you meant by "avoid dealing with reordering on the deliver call" which is why I hesitated to agree with the original statement.

[2016-06-29 01:08] rameshthoomu opened #2063 "Unit-tests are failing in Jenkins zLinux machines"
## Description

Unit-tests are failing in zLinux.  Observed this issue in Jenkins z machines.
commit# d31b656
## Describe How to Reproduce

Jenkins builds are failing in Zlinux machines.
`0:57:47 --- FAIL: TestExecuteDeployTransaction (40.30s)
20:57:47    exectransaction_test.go:347: Error deploying <4841cbe388b2a3f1871becfc940681b386396d32493c6f8007e793b1f2f77803ce097e05185c8a6ad763152828ab094ea3

[2016-06-29 02:02] rameshthoomu opened #2064 "Move grpcio package installation from makefile to host.sh in v0.5-developer-preview branch"
## Description

Builds are failing with below error message in `v0.5-developer-preview` branch. We have uploaded these changes in master branch with PR https://github.com/hyperledger/fabric/pull/1940

[code]
## Describe How to Reproduce

Jenkin Build References:
https://jenkins.hyperledger.org/view/fabric/job/fabric-github-merge-x86_64/159/console

[2016-06-29 02:21] learner4 commented on #1631
My thoughts - would it be good to consider that Identities involved in transaction be verified during this process?
If consensus and endorsement is done on transactions, the transactors involved should also be verified in a regulated environment. Endorsing the "content" of the transaction may be only a part of the solution where endorsers would also need to validate the Identities; just as an easy

[2016-06-29 05:31] akihikot opened #2065 "Lost pre-prepare with large batch"
## Description

The system occationally gets stuck while stress-testing multiple peers with batchsize=100.   Non-primary peers' log says some pre-prepares are missing.

$ for i in {1..3}; do echo akihiko$i; docker logs akihiko$i | grep  -a "pre-prepare from" | grep "seqNo=27[7-9]"; done
akihiko1
04:57:39.882 [consensus/obcpbft] recvPrePrepare -> DEBU 1459cf Replica 1 received pre-prepare from repl

[2016-06-29 09:10] corecode commented on #2065
can you please provide full debug logs?  the system should not get stuck.

[2016-06-29 09:15] cca88 commented on #2053
Indeed, this is a useful idea. It does simplify the protocol, even if it only means that there is no FIFO ordering layer needed "on top", as I have seen discussed elsewhere. (Note: atomic broadcast with FIFO order means that msgs are by-sender FIFO-ordered.)
Back then we had implemented SINTRA over TCP because it was the right thing to do, that is, with FIFO ordered reliable links. PBFT and everyo

[2016-06-29 10:03] christo4ferris opened #2066 "need npm publish in CI for node sdk (hfc)"
## Description

Currently, as I understand, we are manually publishing the hfc module (node sdk) to npm. This needs to be an automated function of CI, when the module is actually changed.
## Describe How to Reproduce

https://www.npmjs.com/package/hfc currently reflects Keith Smith as publisher. Also, seems like we should align the release identifier, or explicitly note in the Hyperledger Fabric r

[2016-06-29 10:49] sachikoy opened #2067 "Panic after "No context for uuid ... while decrypting" error."
## Description

A validating peer crashed during an intensive query/invoke testing. The last error message before panic was as follows.

[2016-06-29 12:29] roger505 commented on #1631
Is it possible to explain the confidentiality model further please?
I notice that the tran-proposal contains the spID and the clientID, and that the tran-proposal is included in a blob, and the blob is included in the chain.

Would the spID and clientID not reveal something about the submitter of the transaction?

How does this fit with transaction certificates to obscure the  origin of the transa

[2016-06-29 13:38] jyellick commented on #2053
@vukolic @cca88 I would not advocate immediately abandoning the windowed concept, as you're correct, we have put a fair amount of effort into making this work.

However, as @kchristidis pointed out, there are still a number of optimizations we could make which would make the implementation both more robust and simpler for future features.  The prePrepare no holes ordering is an obvious one, but th

[2016-06-29 14:01] #2040 closed, assigned to nobody

[2016-06-29 14:01] #2037 closed, assigned to nobody

[2016-06-29 14:16] bcbrock commented on #2015
As @jyellick suggested, this appears to be fixed. Thanks.

[2016-06-29 14:16] #2015 closed, assigned to nobody

[2016-06-29 14:28] kchristidis commented on #2053
(I've dealt with that piece of code when building the revised discovery service.) This statement is true, we can easily tell when a link is established or broken.

[2016-06-29 15:02] bcbrock opened #2068 "Feature request: Chaincode "ping""
## Description

There are several places in various procedures where we simply wait a fixed amount of time and hope that [something wonderful](https://www.youtube.com/watch?v=yM25-lz1Yms) has happened in the interim. This is risky in general, and each of these cases suggests (to me) an omission in the architecture or APIs. The questions I am discussing here are:
1. Once I've deployed a chaincode,

[2016-06-29 18:01] vukolic commented on #2053
The decision whether to leverage gRPC FIFO to simplify consensus needs to be preceded by the decision whether we want gRPC for intra consensus service communication in the first place, once we separate consensus service from the peers.

[2016-06-29 19:15] ghost commented on #2066
@smithbk could you transfer this to the [hyperledger org?](https://www.npmjs.com/org/hyperledger) I will work with you to make this happen, I don't know how to do it myself. chat with me on slack if you would like

[here is the (long) procedure we'll need to follow.](https://docs.npmjs.com/orgs/preexisting-packages)

[2016-06-29 19:25] angrbrd commented on #1757
Hi @ericmvaughn, unfortunately starting GitBash as an administrator (by right clicking on the Desktop icon) and then running `vagrant up` within the new terminal window still doesn't seem to do the trick for me :-[... I am still failing with the following. Has anyone else run into this or is it just me?

`npm ERR! tar.unpack untar error /home/vagrant/.npm/grpc/0.13.2-pre1/package.tgz`

The full ou

[2016-06-29 19:50] bcbrock opened #2073 "Logging control in core.yaml refers to no-longer-existent peer subcommands"
## Description

I thought this had been taken care of when the peer subcommands were renamed; I guess not.
I will prepare a fix for this.

[2016-06-29 21:25] angrbrd commented on #1897
@th-ei thank you for pointing this out. The confusion was inside the usage of the `registrar` variable inside the test file.

The chain registrar is in fact being set inside the 'Set chain registrar test' [here](https://github.com/hyperledger/fabric/blob/master/sdk/node/test/unit/chain-tests.js#L234). And when the `getUser` method triggers the `user.registerAndEnroll` [here](https://github.com/hyp

[2016-06-29 21:39] rameshthoomu commented on #2066
@angrbrd is working on similar setup. Issue# https://github.com/hyperledger/fabric/issues/2050

[2016-06-29 21:53] christo4ferris commented on #2066
lets all get on same page - we need to have formal hosting under hyperledger but I also want to have the process documented  for npm and dockerhub - thanks

[2016-06-29 22:33] gongsu832 opened #2075 "Behave test @issue_1942 fails on zLinux"
## Description

[code]

[code]

Logs attached.
[behave.zip](https://github.com/hyperledger/fabric/files/340331/behave.zip)
## Describe How to Reproduce

[code]

[2016-06-30 00:06] bcbrock opened #2077 "PBFT Batch: Infinite loop? Ignoring SyncStateSnapshot message...."
## Description

This is another "loop" that occurs in stressful busywork tests. I do not see this unless I run with multiple chaincodes and multiple data arrays in the chaincodes. 3 of the 4 peers have finished, but one peer is running non-stop issuing message streams like the below. I've sampled this stream at a point where it seems to give up on one thing it is trying and moving on to something

[2016-06-30 01:44] #1897 closed, assigned to nobody

[2016-06-30 01:56] ghaskins commented on #2068
Hi Bishop,

I like this idea.

I'm not sure this is helpful, but your request reminds me of this feature I added to chaintool called "inspect".  The inspect command allows you to essentially ping a chaincode application for the purposes of ascertaining various facts about the application (such as the name/version, the compiler used, interfaces supported, etc), but it indirectly serves some of the

[2016-06-30 02:01] binhn commented on #2053
If we need to change, July is the time. We are using gRPC stream, which guarantees FIFO.

[2016-06-30 03:11] bcbrock commented on #2068
@ghaskins - I think it is fine if the response code is automatically generated in some way. It's an interesting question as to whether it should all be done in the shim. The most important thing is that the peer can't assume that the chaincode is running simply because it deployed it. It needs to establish that a network connection exists and the chaincode process can accept a query and generate a

[2016-06-30 08:39] smithbk commented on #2066
@christo4ferris Chris, is there a single or group of CI machines?  The challenge here is we either:
1) Store a password in github to use for npm publish/update
2) Do an "npm adduser" once on all CI machines so the npm publish will just work
Maybe there are other options of which I am not aware.
Thoughts?

[2016-06-30 08:42] ghost commented on #2066
@smithbk our CI VMs are instantiated, used once, and discarded. That doesn't mean we can't run npm adduser every time we instantiate a machine. Jenkins has the ability to securely store passwords - this is what we do for pushing to dockerhub, for example

[2016-06-30 13:35] jyellick commented on #2077
@bcbrock Thanks for the new test.  I think I know what's going on here.  It looks like this is against master?

@jeffgarratt This is that DOS scenario we've discussed briefly before, where someone constantly asks for new state transfer.  The twist is, that because there is an old state snapshot request the sending peer is still trying to fulfil, the queue is backed up with messages from an old sta

[2016-06-30 14:05] bcbrock commented on #2077
@jyellick Yes, this is at the following level:

[code]

Thanks for looking into it.

[2016-06-30 14:07] ghaskins commented on #2068
Based on your criteria, I am thinking that the best way forward is to add a first class function to the [init, invoke, query] suite (presumably "ping").  This function will follow the same rules w.r.t. FSM availability as query(), but be expected to terminate in the shim layer.  The fabric layer should expose this method to callers and understand that failure reporting should be handled with the s

[2016-06-30 14:14] rameshthoomu commented on #2064
@jeffgarratt : Shall I submit PR for this?

[2016-06-30 14:23] joshhus commented on #1674
This display format is done: http://hyperledger-fabric.readthedocs.io/en/latest/
(Notwithstanding any content issues.)

[2016-06-30 14:23] #1674 closed, assigned to nobody

[2016-06-30 14:36] tuand27613 commented on #2075
just an FYI that @issue_1942 runs for me in x86/win7/vagrant  at commit 37b6688

Looking at your logs now

[2016-06-30 15:30] gongsu832 commented on #2075
I updated to 37b6688193e3a4c3a153ad60adfcf316ed42bc23 and @issue_1942 is still failing. Logs attached although they are probably not much different from what you already have.

[behave.zip](https://github.com/hyperledger/fabric/files/341770/behave.zip)

[2016-06-30 17:44] yanglei99 opened #2084 "make peer hit "permission denied" on OSX"
I followed the instruction of "Building outside of Vagrant" -> "Building on OS X". And hit the following error.

$ make peer
Building build/image/ccenv/bin/protoc-gen-go
go install github.com/golang/protobuf/protoc-gen-go: open /opt/gopath/bin/protoc-gen-go: permission denied
make: **\* [build/image/ccenv/bin/protoc-gen-go] Error 1

Thanks for suggestion how to resolve this.

[2016-06-30 19:20] rameshthoomu commented on #2063
https://jenkins.hyperledger.org/job/fabric-github-verify-z/332/console

[2016-06-30 19:42] mikejanzen commented on #1666
We'd love to have no. 1, like to have no. 2, and don't really need the other requirements.

[2016-06-30 20:12] nitesh7sid commented on #1916
Yes thanks @vmorris...this worked for me

[2016-06-30 20:31] vukolic commented on #1631
@roger505 more details on the confidentiality are following... Pls stay tuned.

UPDATE: In the meantime clientID is gone as actually not necessary. In principle spID should not reveal anything with respect to the client nor leak any useful info. It is however useful, as it denotes a peer who computed transaction results and may reveal useful for accountability (e.g., peer submitting transactions w

[2016-06-30 20:41] JonathanLevi opened #2085 "Membership Services (refactoring): graceful services shutdown"
Membership Services should be able to to shutdown/stop services (more) gracefully.
Each *CA performs a few steps at init (from loading configrations/keys to opening a DB connection and creating tables). Other than a `Close()` method at the top level (the `CA` struct), which calls Close() on the embedded `sql.DB`, we should turn off/stop other services and report back.

This invites a few minor cha

[2016-06-30 21:12] vmorris commented on #1916
@nitesh7sid welcome -- you can close this issue.

[2016-07-01 07:00] sudeepta-bhuyan commented on #1827
Hi @JonathanLevi,
I was ready with some unit test code for eca but for some reason I'm not able to run any unit test at all :( .
I'm getting the following error when try to invoke " go test eca_test.go"
eca_test.go:30:2: cannot find package "command-/vendor/github.com/golang/protobuf/proto" in any of:
        /opt/go/src/command-/vendor/github.com/golang/protobuf/proto (from $GOROOT)
        /opt/

[2016-07-01 07:21] JonathanLevi commented on #1827
Hi @sudeepta-bhuyan,
Yes, we use a make file, to resolve some dependencies. Let's try the following:
1. What happens if you go to `fabric/membersrvc/ca` and from there run `go test -v` ?
2. The official way of running all the tests (after `vagrant ssh`) is from the top level `hyperledger/fabric` directory to run `make unit-test`. Can you try and post the error?
3. Otherwise, you can try me on Slac

[2016-07-01 08:31] sudeepta-bhuyan commented on #1827
Thanks for the quick reply @JonathanLevi . Indeed, steps 1 and 2 work fine for me!
Does that mean we cannot test individual components like ECA independently using "go test eca_test.go"? I used to be able to do that a few days back.

[2016-07-01 08:38] CocoaWang commented on #1733
Sorry. I have the same issue.And I don't understand how to solve this problem.Can any one tell me ?

[2016-07-01 09:51] sudeepta-bhuyan commented on #1827
Hi @smithbk , @JonathanLevi
What should be the expected result of the following scenario:

[code]

Should admin be able to register testpeer? admin's delegateRoles does not contain the value "peer".

If  I go by your explanation of roles and delegateRoles, my understanding is admin should NOT be able to register testpeer.

`The value of "roles" are privileges a user has itself and the value of "de

[2016-07-01 12:41] sachikoy opened #2088 "Chaincode container crashes when querying two tables."
## Description

Chaincode container crashes when querying tables twice, and the first table has many rows (more than 100 rows).
## Describe How to Reproduce

1. Create a table with more than 100 rows
2. GetRows()  on the table, and read the content into an array.
3. Then call GetRow() on the table.
   Sample chaincode is attached.
   [race_sample.zip](https://github.com/hyperledger/fabric/files/34

[2016-07-01 13:02] smithbk commented on #1827
@sudeepta-bhuyan Yes, admin should be able to register testpeer.

I'm thinking the word "client" and "user" or some other words may be confusing.  So let me restate/elaborate on this statement: 'Since client1 does not have "client" in "delegateRoles", client1 can not create a user which has the privilege to register other users.'

Each member services identity can have one (or more) of the followi

[2016-07-01 14:25] roger505 commented on #1631
@vukolic Sorry to jumped the gun.

In your confidentiality update, can you please consider if one possible deployment could be a one to one mapping between clients and  submitting peer, in which case would the spID not reveal the clientID.   Or do you regard the only supported configuration  as being submitting peers  having a one to many relationship with clients  ?

[2016-07-01 15:05] sudeepta-bhuyan commented on #1827
Thanks Keith. That clears it up.
I have added a test case where admin would not be able to register testpeer if testpeer's role field has "peer" but admin's delegateRole's field only has "client"

[2016-07-01 15:06] jeffgarratt commented on #2064
@rameshthoomu please do ramesh.  Thank you so much!

[2016-07-01 15:11] GrapeBaBa commented on #1733
refer to #2025

[2016-07-01 16:44] bcbrock opened #2090 "busywork: pprofClient tagging/renaming doesn't work in Golang 1.7"
## Description

I've started using Golang 1.7 (beta) and noticed that the new "pprof" tool has changed the file names of the profiles collected over HTTP, so the tagging/renaming being done by the `pprofClient` doesn't work anymore. It's puzzling why they don't allow the user to provide a name for these files in the first place.

Anyway, I need to fix this.
## Describe How to Reproduce

Run `pprof

[2016-07-01 17:07] gq4fabric commented on #1733
都是防火墙的事高琴-------- 原始邮件 --------主题：Re: [hyperledger/fabric] Docker not installed (#1733)发件人：王帅 收件人：hyperledger/fabric 抄送：gq4fabric ,Mention Sorry. I have the same issue.And I don't understand how to solve this problem.Can any one tell me ?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-01 18:25] rameshthoomu commented on #2035
Observed same error in Jenkins Z builds.. Below is the reference log: Z builds are failing

https://jenkins.hyperledger.org/job/fabric-github-verify-z/351/console

[2016-07-01 18:56] s390xlinux commented on #2035
This is due to the hyperledger/fabric-baseimage:s390x-0.0.10 not having protoc installed because that also requires a patch to compile on s390x. I've given the patch to Volodymyr Paprotski/Toronto/IBM who worked with Greg Haskins to create that image. I don't know when they will update the image to include protoc.

[2016-07-01 19:00] JonathanLevi commented on #1827
Thank you @srderson !

[2016-07-01 19:10] srderson commented on #1631
All - Please be aware that there is a recommendation that proposals should be moved from the wiki to the repository.

PR: https://github.com/hyperledger/fabric/pull/2082
Mailing list discussion: http://lists.hyperledger.org/pipermail/hyperledger-fabric/2016-June/000127.html

As this is one of the most active proposals, I figured people here may have opinions on the subject. Please weigh in on the

[2016-07-02 05:14] sachikoy commented on #2088
Sorry, more precisely, the first GetRows() crashes when the table size > 100. PR https://github.com/hyperledger/fabric/pull/2013 tries to fix this issue but insufficient.

[2016-07-02 15:35] muralisrini commented on #2088
I'll try this out and update by end of day.

[2016-07-03 00:03] muralisrini commented on #2088
@sachikoy could you checkout the above PR please. And thanks for the test case. I've added it to the unit test suite.

[2016-07-03 23:25] sachikoy commented on #2088
@muralisrini Thank you, it worked well. I confirmed it fixed the problem.

[2016-07-03 23:29] muralisrini commented on #2088
@sachikoy Just curious, did you try both methods GetRows and GetRows2 ? My recommendation would be to use the later.

[2016-07-04 10:52] mastersingh24 commented on #2084
did you try running as root or using sudo?

[2016-07-04 12:17] sachikoy opened #2097 "Some documents claim that NPVs maintain local copy of the ledger, even though the current implementation does not."
## Description

Some documents on GitHub says that a non-validating peer maintains local copy of the ledger. However, by observing the behavior of NVPs, it seems they don’t maintain ledger data.
If there is no plan to support local copies of the ledger on NVP, documents should updated to avoid misunderstanding.
## Describe How to Reproduce

Similar descriptions can be found below:
- https://github

[2016-07-04 12:36] archupsg03 opened #2098 "Fabric on RHEL 6"
## Description

source setupRHELz.sh script is causing the below mentioned issue

CGO_CFLAGS=" " CGO_LDFLAGS="-lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy" GOBIN=/root/git/src/github.com/hyperledger/fabric/build/bin go install github.com/hyperledger/fabric/peer
# github.com/hyperledger/fabric/vendor/github.com/tecbot/gorocksdb

/tmp/go-build920606315/github.com/hyperledger/fabric/vendor/github.com/te

[2016-07-04 21:44] starsheriff commented on #1780
Hi,
essentially PR #2051 did remove duplicated code. What was left to do now is some testing. I have discussed with @JonathanLevi and I believe we are ready to start a PR. As PR #2093 addresses the issue with the PKCS7 padding adding an extra block, we leave that out. Depending on the order of the PR's we will need to adjust the tests. Currently we are testing that this extra block is added becaus

[2016-07-05 00:14] sachikoy commented on #2088
@muralisrini I tested again... ok, actually, the PR for GetRows() did not completely fix the problem. I double checked, and it returned only 136 rows when there are 200 rows in the table. GetRows2() seems to work well.

[2016-07-05 00:44] muralisrini commented on #2088
@sachikoy I'll look into it and update

[2016-07-05 01:22] muralisrini commented on #2088
@sachikoy fixed and modified the unit test to specifically look for 250 rows.

[2016-07-05 08:54] brad-gorman commented on #1401
Hi, this caused me some issues and I've submitted a pull request to try and simplify. Please let me know if I should be doing anything different as I'm new to Hyperledger and GitHub.

[2016-07-05 11:00] archupsg03 commented on #2084
Even I am facing the same issue. tried as root also. Did not work

[2016-07-05 12:52] JoVerwimp commented on #1666
From our use case point of view, no. 3 Privacy, 4 Cryptographically secure ledger & 7 Pruning are key. No. 8 makes the deployment model more flexible while no. 2 has benefits for integrating but both of these are nice-to-have.

[2016-07-05 12:55] rameshthoomu commented on #2063
Cleared Reject firewall rule from iptables resolved this issue.. I could see all unit-tests are passing in Jenkins machine. Closing this issue

[2016-07-05 12:55] #2063 closed, assigned to nobody

[2016-07-05 13:39] rameshthoomu commented on #2035
@vpaprots : Any update on the package given by @s390xlinux?

[2016-07-05 16:14] polyrabbit commented on #2097
+1

On start, I only see peer starts `peer reconnect service` and `peer discovery service` in the code. Would someone please point to me where in the code that a peer syncs the ledger? Thanks!

[2016-07-05 18:25] rameshthoomu commented on #2075
@tuand27613 @jeffgarratt : Behave test case "peer_basic.feature:1053  chaincode example02 with 4 peers, stop and start alternates, reverse" failed in linux on Z (Jenkin machine): Below are container log files:

https://jenkins.hyperledger.org/job/fabric-github-verify-z/374/

[2016-07-05 18:48] vpaprots commented on #2035
@s390xlinux Gong, please create a pull request based on the changes you would like to see in https://github.com/hyperledger/fabric/blob/master/images/base/scripts/common/setup.sh#L106

@ghaskins Greg has commit priviledges and can review your pull request. Greg, do you think we will need a new baseimage version to fix protoc on 390?

Once setup.sh is updated, re-uploading baseimage:0.0.10 or uploa

[2016-07-05 19:07] rameshthoomu commented on #2035
Above said issue is occurring only in fabric master branch.

[2016-07-05 19:14] mgamanho commented on #2098
I'm hitting the same issue, looks like it's caused by [this](https://github.com/facebook/rocksdb/commit/20699df8438d14568915bb3a8e7038ce224f1e1c).

[2016-07-05 19:46] mgamanho commented on #2098
Besides deprecated and removed APIs, CompressionOptions also has an extra parameter. As a workaround I've commented out the changed APIs and added the extra option to SetCompressionOptions in vendor/github.com/tecbot/gorocksdb/options.go

[2016-07-05 21:54] srderson commented on #2088
I don't have a better answer, but there are several issues this fix introduces that I think we should try to resolve before merging
1. The introduction of a `GetRows2`. We need a way to deprecate API in the shim. If the shim was its own project, we could potentially just say use shim version X instead of continuing to add 2, 3, 4, etc. functions that I think will be very messy. The other solution

[2016-07-05 23:53] ibmmark opened #2104 "Standardize Error messages"
## Description

Standardize the error messages and their handling such as when to bow out vs log and move on vs propagate up the chain.

[2016-07-05 23:59] ibmmark commented on #2104
This should turn into an epic IMO, tracking #896, #737, #662, #581 #1280 #752

[2016-07-06 00:11] ibmmark opened #2105 "Chaincode deploy via SDK API"
Ability to deploy chaincode directly with with chaincode package vs the URL to the SDK.

[2016-07-06 00:20] ibmmark opened #2106 "Bug fixes - Upgrade fabric (Phase 1)"
Upgrade to new level of fabric that will not cause changes in protocol so no worry about backward compatibility issues. Simply bug fixes that take down the node and replace.
This is to track the phases of applying fixes to fabric components.

Phase 1 - Take node down and replace. Simple bug fixes
Phase 2 - Changes that create protocol compatibility issues. Require migration path

[2016-07-06 00:23] ibmmark opened #2107 "Fixes that change protocol - Upgrade fabric - Phase 2"
Phase 2 of applying fixes to the network.

Must be able to upgrade to a new level of the fabric without losing data. This will require a migration path.

Upgrade to new level of fabric that will not cause changes in protocol so no worry about backward compatibility issues. Simply bug fixes that take down the node and replace.
This is to track the phases of applying fixes to fabric components.

Pha

[2016-07-06 00:37] ibmmark opened #2108 "Transaction rw-set"
A submitter composes a transaction consisting of [header, payload, rw-set] where rw-set is the set containing the state variables that the transaction reads from (read-set) and the state variables that the transaction writes to (write-set). The rw-set is created via transaction execution simulation (not writing to database). This simulation is also done by the endorsers of the transaction to fulfi

[2016-07-06 00:42] ibmmark opened #2109 "Enhance API to enable pluggable datastore"
Decouple the current API implementation from RocksDB to enable plugging in different datastore.

[2016-07-06 01:18] JonathanLevi opened #2110 "Membership Services (refactoring): remove/parameterize the hard-coded file(names, prefixes, suffixes)"
## Description

Various services in Membership Services have the public `NewXXXX( name string )` or the private `createYYYY ( name string )` method expecting the string parameter `name`, which is later on being used for creating/writing and reading various (temporary?) files.

However, diving into the implementation(s), some of these has code which relies on some "secret magic" both underneath the

[2016-07-06 01:47] christo4ferris commented on #2106
@ibmmark I gather that this is an epic? Unclear what the child stories are since GH doesn't do epics very well (at all). Is the intent to drive to a live-upgrade capability for a network's nodes?

"As an operator, I would be able to deploy an upgraded/patched image of the [component] across my network of fabric [components] without impacting the overall operations of the network itself."

I am not

[2016-07-06 02:47] archupsg03 commented on #2098
Can you comment out here what exactly should be changed to solve the above issue

[2016-07-06 03:12] JonathanLevi opened #2111 "[CRYPTO CLEANUP] Rijndael/AES-256 GSM mode?"
## Description

Taking a look at some of the crypto, I just noticed an AES256 **GSM** mode(?) set of functions implemented in a bespoke `aes` package on `master` in [core/crypto/primitives/aes/gcm.go](https://github.com/hyperledger/fabric/blob/3916a6269779c2cf01d0221dde90592802746496/core/crypto/primitives/aes/gcm.go)

I know AES in Galois Counter Mode (**GCM**), what's **GSM**? Do we need this?
#

[2016-07-06 10:27] JoVerwimp commented on #1631
@roger505, @vukolic "Or do you regard the only supported configuration as being submitting peers having a one to many relationship with clients ?" so would that not move to a centralised model? i.e. where the submitting peers are centralised and servicing multiple clients. Since the submitting peer needs to prepare the transaction, it needs access to all data (possibly including off chain confiden

[2016-07-06 12:00] christo4ferris opened #2112 "fix documentation link in README.md"
## Description

The README.md links to the markdown README documentation page rather than the http://hyperledger-fabric.readthedocs.io/en/latest/
## Describe How to Reproduce

click on the documentation link in the main README

[2016-07-06 13:16] himanshutyagi36 commented on #1150
Did you guys find any good place to get started on the same, I need a little help

[2016-07-06 13:28] rameshthoomu commented on #1956
This issue is fixed with PR #1940. Issue has been resolved after installing python grpcio package in Jenkins build machines.

@gregmisiorek : Most of the Jenkin build failures are resolved but still we have couple of known issues (car_test.go unit test is failing and Behave test is failing) in Linux on Z machine and observed behave tests are failing in x86. We have PR's open for the above fixes.

[2016-07-06 13:28] #1956 closed, assigned to nobody

[2016-07-06 13:34] muralisrini commented on #2088
@srderson GetRows would "fix" the problem but would be inefficient.  For now we cannot get rid of GetRows and hence the band-aid solution to pull in all the data. This is mentioned in the comment.

I struggled with the GetRows2's naming and "deprecation" too but it does solve the problem cleanly but does place the onus on the chaincode developer to call the closure.

Regarding the DB handle leak i

[2016-07-06 13:44] rameshthoomu opened #2115 "Behave tests are failing in Jenkins build machines."
## Description

Behave tests are failing in Jenkins x86 machines on master branch. Observed couple of builds failed with below error messages.

[code]

Jenkins Build Reference; https://jenkins.hyperledger.org/view/fabric/job/fabric-github-verify-x86_64/495/

[code]

Jenkin Build Reference: https://jenkins.hyperledger.org/view/fabric/job/fabric-github-verify-x86_64/488/

[code]
## Describe How to R

[2016-07-06 13:53] manish-sethi commented on #1631
@srderson, @vukolic, @corecode: moving the version related discussion here.
From 2.2 "All k/v entries are versioned, that is, every entry contains ordered version information, which is incremented every time when the value stored under a key is updated”
An alternate to the version is to use the ID of the previous TX that modified the key most recently.
Benefits of using previous transaction-id ins

[2016-07-06 13:58] manish-sethi commented on #1631
@vukolic: while moving the transactions from raw ledger to validated ledger, in addition to dropping the invalid transactions (because of versions conflicts), I think that we should drop the read set info from the valid transactions as well (to reduce the storage requirement).
Because, read-set info is mainly useful only for validation. Do you see any problem in this?

[2016-07-06 14:09] andresgaragiola opened #2116 "A behave test scenario making use of attributes is needed"
## Description

In order to increase the Behave test coverage, a scenario making use of attributes is required
## Describe How to Reproduce

Run behave tests.

[2016-07-06 14:10] andresgaragiola commented on #2116
@binhn can you assign me this issue?

[2016-07-06 14:18] joshhus commented on #2097
@binhn is it safe to remove these references to a shared ledger copy on NVPs? @ibmmark Mark can you flag this one with a Documentation label please.

[2016-07-06 14:26] manish-sethi commented on #1631
@vukolic - from section 1.2 "The state of the blockchain ("world state") has a simple structure and consists of a key/value store (KVS)"
I think that we should not restrict in the description to key/value store. Different implementation of ledger could support different data-models. At the protocol description level, we can be more general (e.g., _a transaction simulation produces the info that is

[2016-07-06 14:40] ijmitch commented on #1631
I've tried to review the comments here - but there's quite a lot(!) so forgive me any duplication I'm about to create.
- Would it be useful to settle on one of the terms _validation_ or _endorsement_? Certainly a brief but specific definition of what either/both of these mean would help me. My working definition is something like _agreement with another peer that execution of the chaincode against

[2016-07-06 15:19] mgamanho commented on #2098
This is the workaround I have used. Unzip into <your_work_dir>/src/github.com/hyperledger/fabric/vendor/github.com/tecbot/gorocksdb

The commented out APIs don't seem to be used anywhere in hyperledger.

[workaround.zip](https://github.com/hyperledger/fabric/files/350184/workaround.zip)

[2016-07-06 17:31] JoVerwimp commented on #1631
@manish-sethi Managing the k/v versioning away from a mere integer does make sense for the arguments you mention. The transaction-id may indeed be longer but I do not believe that to be the problem currently (storage is cheap, right?).
Also I see no issue of stripping the transaction in the validated ledger of all unnecessary info, including its read set which is a subset of the write sets of prev

[2016-07-06 17:55] s390xlinux commented on #2035
Pull request for setup.sh using gongsu832/protobuf to build s390x baseimage has been submitted.

https://github.com/hyperledger/fabric/pull/2083

[2016-07-06 18:17] manish-sethi commented on #1631
@JoVerwimp - about 1.2, I have no issues in the details highlighted using a KV-data model. However, what I prefer is an explicit agreement on the supporting any ledger (data-model) implementation and reflecting that in the write-up - may be just by adding a couple of lines that highlight the intent. In the current writing, it is not very difficult for someone to assume that KV-store is the only da

[2016-07-06 19:53] muralisrini opened #2118 "move chaincode events from TransactionResults into NonHashData"
## Description

With PR #1719 chaincode events need a new home. They should be moved directly into NonHashData.

This potentially will go away in New Consensus when we could move chaincode events directly into transaction (which HAS to happen if NonHashData goes).
## Describe How to Reproduce

This needs to be done once PR #1719 is accepted. Without it chaincode events won't be sent out and https:

[2016-07-06 20:16] angrbrd commented on #1711
I have touched base with @dshuffma-ibm (via email) before he had gone on vacation and I do think this is a good idea to pursue, though it is not currently implemented. Sid, one of the interns from the lab, approached me and expressed interest in tackling this and I gave him the OK. I'll keep an eye out for his PR and will review when it's ready. Thanks.

[2016-07-06 20:22] #1660 closed, assigned to nobody

[2016-07-06 20:54] #2115 closed, assigned to nobody

[2016-07-06 21:01] thiruworkspace commented on #2053
By relying on gRPC for FIFO/ordering, it may short term simply the model, but it would limit the channel protocol options for future.

it will be good if someone can highlight the documentation on recovery logic when the application breaks or network breaks?

[2016-07-06 21:12] #2073 closed, assigned to nobody

[2016-07-06 21:24] nickgaski commented on #1465
@srderson , you can assign to me.  I will resolve

[2016-07-06 21:27] srderson opened #2119 "Ability to unit test Go chaincode"
## Description

Unit testing chaincode is difficult today as there's no standard way to mock the shim.ChaincodeStub object. This is needed by anyone writing a chaincode. This needs code (possibly there's an existing Go framework that could be used) in addition to documentation.

[2016-07-06 22:01] nickgaski commented on #2031
@muralisrini - please let me know if I can help with this.

[2016-07-06 22:11] muralisrini commented on #2031
@nickgaski ...certainly (grateful bow :-) )

[2016-07-06 22:34] nickgaski commented on #1860
@muralisrini @ghaskins - With regards to the behave tests:  are the above parameters still correct when using the "go test" function to build the peer and member services images.  I would have imagined that all instances of OBC had been deprecated by now.

[2016-07-07 00:49] bcbrock commented on #2077
@jyellick Did you fix this? The sweep2b target seems to be working now on large systems.

[2016-07-07 02:06] smithbk opened #2120 "Member services fails under load with "database is locked" error"
## Description

The following error occurs when running load against memberservices
      ERROR: 2016/06/07 22:27:53 eca.go:252: database is locked

I'm not sure if this is it, but see http://stackoverflow.com/questions/32479071/sqlite3-error-database-is-locked-in-golang which was fixed by closing all rows.  Perhaps the same?
## Describe How to Reproduce

[code]

[2016-07-07 03:23] archupsg03 commented on #2098
Thank you :). It worked

[2016-07-07 05:35] polyrabbit commented on #2097
Hi, could someone please tell me why NVP node does not replicate ledger from VP node, since that will be a great performance improvement when dealing with query?

[2016-07-07 06:31] adecaro commented on #2111
@JonathanLevi Good point, the name is just misspelled. The GCM mode is currently not used but it will be in the next version of transaction processing. I had introduced it in the past as a first step. A refactoring of the code would be sufficient then.

[2016-07-07 08:20] ijmitch commented on #1631
Since it's been mentioned, I would very much support moving proposals such as this from a scheme of using a wiki page(s) and a single issue for discussion to a set of docs under change control which we can fork, have more focused issues on, and submit pull requests for suggested updates to.

[2016-07-07 09:33] vukolic commented on #1631
@manish-sethi
1) version numbers: You already know my view on version numbers and they are summarized in your excellent comment. In a nutshell, the question boils down to the following: are we willing to pay a price for future-proof support of POW-style forked raw ledgers by accepting the overhead in the size of the raw ledger (more specifically, version numbers). Note that this overhead is not ne

[2016-07-07 09:57] vukolic commented on #1631
@ijmitch

1) _Would it be useful to settle on one of the terms validation or endorsement?... I guess we're in a transition phase from one term to the other - it is explicitly stated "validating (i.e. endorsing)._

Precisely so (transition period). Will try to state that once and then use "endorsement".

2)  _Is there any meaningful distinction between what is execution of a transaction in a submit

[2016-07-07 10:24] cophey opened #2122 "chaincode return error does not work"
a chaincode has this code:

when i call this chaincode with an undefined function,it expected to be error,but it success.
request:

response:

I want to response a error message,how to do?

[2016-07-07 10:25] manish-sethi commented on #1631
@vukolic about your point 2) above - yes write-set also belongs to same category as read-set. I just wanted to confirm with you that you are OK about a _transformed_ representation of transaction when moving from the raw ledger to the final ledger from consensus point of view and let it decide by the different ledger implementations.

In essence, I wanted to check whether you are fine with the con

[2016-07-07 10:44] vukolic commented on #1631
@manish-sethi indeed, consensus couldn't care less what would one do transforming raw ledger to validated ledger. In any transformation however (not only the one you suggest), the raw ledger hashchain is "broken" so it needs to be re-established by the validated ledger (e.g., in a way proposed in Sections 4 and 5). We can carry on the ledger page.

[2016-07-07 12:15] andresgaragiola commented on #2120
@srderson can you assign me this issue?

[2016-07-07 13:07] mrshah-at-work opened #2123 "/chain/block/:blockid API fails on the block that has Deploy transaction."
## Description

`/chain/block` API fails on the block that has Deploy transaction.
It returns the following error:
`{"Error": "proto: protos.ChaincodeDeploymentSpec: wiretype end group for non-group"}`
## Describe How to Reproduce

1. Create a network with 4 Peers & Membership services (I am running with TLS turned on, but this is optional).
2. Deploy the example02 chaincode on peer 1.
3. Wait for

[2016-07-07 13:15] ijmitch commented on #1631
@vukolic : thanks for the comprehensive replies.

For my 5), I'm glad that objective is met too. In particular, I was looking at deliver() being an opportunity to integrate what we might have been looking for from the event framework. Since I'm looking at integration with existing systems, particularly on z Systems, I'm wondering whether this makes it plausible to register with the consensus servi

[2016-07-07 13:29] vukolic commented on #1631
@ijmitch sure, a peer can purely be listener, never submitting/endorsing transactions.

That said, such a peer may want to maintain a ledger for efficiency. For example, if such a peer crashes and recovers it would need to fetch state from other peers as if it was a new peer joining the network. Possible - but not sure it is practical.

[2016-07-07 13:36] jyellick commented on #2077
@bcbrock No fix targeted at this has gone in.  I believe the particular flaw is still present, but perhaps that condition is less likely occur due to some other fix.

[2016-07-07 13:43] srderson commented on #2123
is this on the master branch or 0.5 branch?

[2016-07-07 13:45] smithbk commented on #1620
@mastersingh24 @diegomasini I think the behavior should be to remove the ID completely as if it had never been registered or enrolled.  We should NOT support any kind of partial rollback of a ID's state until/unless it is a requirement.

Who should be allowed to perform this operation?
a) The ID itself
b) The registrar that registered the ID.  This would need to be stored in the DB as it is not cu

[2016-07-07 13:46] srderson opened #2124 "Transaction rejection event message should contain a TX ID instead of the entire TX"
## Description

Transaction rejection events were introduced in https://github.com/hyperledger/fabric/pull/1754. The event message returns the entire TX. We should consider returning just the ID as I'm not sure it necessary to include the overhead of the entire TX if the API keeps a local copy.

Discussed with @gabre and @esgott in Slack.

[2016-07-07 13:51] ijmitch commented on #1631
@vukolic : my use case is that the listening peer is actually something like a gateway to the outside world which simply consumes the data on deliver() - there could be non-blockchain systems that are 'interested' in the transactions on which consensus has agreed. This needs some consideration of confidentiality and identity propagation, but deliver() is starting to sound attractive for SoR integr

[2016-07-07 13:53] mrshah-at-work commented on #2123
I am sorry I missed it.
I should have mentioned it here - this is on `v0.5-developer-preview` branch

[2016-07-07 14:17] smithbk commented on #2066
@rjones-lf Are you working on this?  Feel free to slack me if you have any questions.  Thanks.

[2016-07-07 14:46] angrbrd commented on #2066
@smithbk

@rameshthoomu and myself are looking at this. It will be done separately from issue #2050 as it will be implemented as a CI script, which will run upon merge. I will touch base with you today regarding which credentials we need to use for this to publish the package.

[2016-07-07 15:59] srderson commented on #2123
Does the gRPC API work in your environment for deploying transactions? I'm wondering if this is specific to the REST API or a larger issue?

[2016-07-07 16:55] mrshah-at-work commented on #2123
The deploy using the REST API is successful and all the other requests work fine. I am able to query and invoke chaincode successfully.

[2016-07-07 17:06] smithbk opened #2125 "node SDK build failure in vagrant on Windows"
## Description

The "npm install"s that are in fabric/sdk/node/Makefile sometimes fail in vagrant on windows because it tries to create symlinks to binaries which are not supported.  Someone with a windows machine who can recreate this should take this, as it appears not everyone can reproduce.

I suspect that one of the following that installs an npm package globally is the culprit:
    sudo npm

[2016-07-07 17:28] smithbk opened #2126 "The node SDK hfc command should support the "peer network/chaincode" commands"
## Description

The "hfc" command is installed by running
     npm install -g hfc
The hfc command currently only supports a
    hfc test <test-input.json>
command, which uses the node SDK to drive load against the fabric.
This command should also support the "peer network" and "peer chaincode" commands.

This means fabric/sdk/node/bin/main.js must be enhanced to support something similar to:
    h

[2016-07-07 17:56] JonathanLevi opened #2127 "[CRYPTO CLEANUP] Add a family of AES-CBC related tests"
## Description

As we are using the CBC mode of AES with 256 key-length, we might as well put together a few tests to lock-in its expected behavior. This should serve as a light 'Epic'/master issue, against which we should submit related tests/PRs.

Clarification: while we don't need to test the strength of AES, we should test a few edge cases, expected behavior (e.g. of the padding/unpadding sche

[2016-07-07 18:30] srderson opened #2129 "Performance test Java chaincode"
## Description

Java chaincode has been added. It would be great to see some performance numbers to see what kind of difference (if any) there is between Java and Go chaincode.

https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/JAVAChaincode.md

Warning - Java chaincode is brand new, so there will likely be initial bumps. The initial numbers would need to be rerun once things are ir

[2016-07-07 19:40] mrshah-at-work commented on #1852
@mastersingh24 what we have noticed is when we createContainer, it fails connecting the container to the overlay network. Thus, we connect to the overlay network once the container is created.

@masterDev1985, correct?

[2016-07-07 19:48] #2026 closed, assigned to nobody

[2016-07-07 20:35] gbolo commented on #1852
I also have this issue when an overlay network is specified instead of the default `host` network, the cc will never join the overlay network

[2016-07-07 20:36] masterDev1985 commented on #1852
Completely missed your tag, @mastersingh24.  My mistake.  With @mrshah-at-ibm 's patch, which is linked in the description above, we have been able to perform overlay networking by creating a container and then using the docker library to connect it to a network before starting it.  However, this method you have linked to is intriguing.  We'll try it out and report back on our findings.

[2016-07-07 21:33] muralisrini commented on #2123
@mrshah-at-ibm I couldn't recreate on latest (see chain/blocks/1 below) using the following
- security with privacy
- noops
- latest code
- vagrant env

[code]

[2016-07-07 22:06] #2112 closed, assigned to nobody

[2016-07-07 22:08] JonathanLevi opened #2134 "[AES-CBC] Test various PKCS#7 Padding/Unpadding cases"
## Description

While our `core/crypto/primitives` has a pair of `PKCS7Padding` and `PKCS7UnPadding` which is used extensively -  we learned that these are not verified enough nor tested.
## Motivation and Context

We want to add more unit tests to lock/document and verify their correct/expected/standard/compliant behavior.

This is part of [#2127 Add a family of AES-CBC related tests](https://git

[2016-07-07 22:09] JonathanLevi commented on #2134
@starsheriff: This is all yours.

[2016-07-07 22:10] #1891 closed, assigned to nobody

[2016-07-08 01:21] brad-gorman commented on #2119
I'm having a go at doing this. I'm making an interface that will let you replace the shim (core/chaincode/shim/chaincode.go) in the unit test environment with a much simpler struct.

I'm going to have to figure out what the security context and event are used for as part of this.

[2016-07-08 01:34] srderson commented on #2119
Thanks @brad-gorman! Will assign to you. @JonathanLevi or @adecaro may be good contacts for security questions.

[2016-07-08 01:36] srderson commented on #2119
@christo4ferris could you add @brad-gorman to the Hyplerledger organization so I can assign this issue to him?

[2016-07-08 01:49] #2134 closed, assigned to nobody

[2016-07-08 02:17] juliancarrivick-ibm opened #2136 "The Jenkins/Z Build is not succeeding"
## Description

The Jenkins/Z build has not passed in 17 days at the time of writing. Looking at the logs it seems to be missing the `protoc` executable:
`01:54:32 [91mException in thread "main" java.io.IOException: Cannot run program "protoc": error=2, No such file or directory`

I was unsure if there was a better place to put this but thought it was important that it be tracked.
## Describe How

[2016-07-08 02:49] cophey commented on #2122
http://127.0.0.1:5000/chain/blocks/57
I call the block,the transactionResults has error,as this:

[2016-07-08 03:45] cophey commented on #2122
This is ProcessTransactionMsg Definition.I find that when tx.Type is invoke or deploy,the response is all success.Is that a bug?Or is it designed so?

[code]

[2016-07-08 06:25] GrapeBaBa commented on #2129
@srderson will do it.

[2016-07-08 06:45] adecaro commented on #2127
:+1:

[2016-07-08 07:36] mingjinc opened #2138 "REST API could not be invoked in Vagrant or host(mac)"
## Description

I set up the fabric env according to the link https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/devnet-setup.md
The CLI command could run successfully.
But while I invoked the REST API such as http://127.17.0.2:5000/network/peers, it will occur the following error.
curl -v http://127.17.0.2:5000/network/peers
- Hostname was NOT found in DNS cache
-   Trying 127.17.0.

[2016-07-08 07:41] xspeedcruiser opened #2139 "Java chaincode project reorganization"
## Description

Reorganize JAVA chaincode project to make java-shim and chaincode examples as independent projects with its own build scripts.
1. Move Java chaincode examples to fabric/examples/chaincode/java with individual build scripts
2. Copy .proto files as part of the build process and remove the duplicate copy from git

[2016-07-08 08:10] brad-gorman commented on #2119
I've had to change the method signatures where *shim.ChaincodeStub was involved to my new interface shim.ChaincodeStubInterface. This means a lot of files need updating, including any chaincode people have.

I've got a simple chaincode_example02 unit test working though.

Here's the commit on my branch. Feedback is welcome.
https://github.com/brad-gorman/fabric/commit/99c2c75ee31c064188b19c9dffd57

[2016-07-08 08:28] akhisud commented on #2025
Hi, I am running it on a Mac and seem to have the same issues as @gq4fabric is having. @gq4fabric were you able to get it up and running finally?
When I ran the vagrant up command, there weren't errors, but my system hung so I had to reboot it. And yes, my environment variable is **vagrant@ubuntu-1404**. I also tried vagrant destroy and when I ran vagrant up, it hung again. Also, I'm not in China

[2016-07-08 08:33] akhisud commented on #2084
#2025

[2016-07-08 10:00] byteschain opened #2141 "REST API and peer"
## Description

I want to know why REST API  is not separated from peer
## Describe How to Reproduce

[2016-07-08 10:01] bryan-huangyan commented on #2138
looks like the ip address should be 172.17.0.2 not 127

[2016-07-08 10:20] GrapeBaBa commented on #1959
I found a issue is that two logger always print. After investigation, that caused by two file use logger in init function, but logger hook set in peer main function. As init function will invoke before main function, that will always print.

I am not sure if this should be fixed or remain, I feel it is a little bit for printing version. Is it better only show version information? @kchristidis @srd

[2016-07-08 11:32] mrshah-at-work commented on #2123
@muralisrini are you using the `0.5-developer-preview` branch?

[2016-07-08 11:44] GrapeBaBa commented on #2141
that is not true, only develop environment enable rest service in peer, for production rest service should run in the NVP.

[2016-07-08 11:46] muralisrini commented on #2123
@mrshah-at-ibm No, I'll try that branch

[2016-07-08 13:10] rameshthoomu commented on #2136
@juliancarrivick-ibm : Please refer issue #2035. @s390xlinux created PR #2083 to fix this issue. Review is in-progress.

[2016-07-08 14:29] xspeedcruiser opened #2143 "TLS in Java chaincode"
## Description

Enabling TLS for the communication between peer and java shim layer

[2016-07-08 14:36] christo4ferris opened #2144 "docs for building dev env and setting up a network are very confusing"
## Description

There are redundant descriptions of how to install, build and configure the development environment and/or a peer network for developing and testing chaincode or applications. As such, it is rather confusing to people as to where and how to start. It is unnecessary to actually install the vagrant development environment to develop and test the fabric. Hence, this should be made cle

[2016-07-08 14:36] adecaro opened #2145 "Address certificate verification at the peer level."
## Description

The TODO at line 72 of the file core/crypto/peer_impl.go needs to be addressed. It requests the verification of the transaction certificate.
## Describe How to Reproduce

The peer code does not verify transaction certificate.

[2016-07-08 14:39] xspeedcruiser opened #2146 "Java chaincode docker image"
## Description

Need new docker image for java-lang chaincode deployment with dependencies specific to this environment ( JDK, grpc, protobuf jars etc)

[2016-07-08 14:51] byteschain commented on #2141
I didn't find NVP

[2016-07-08 16:36] jeffgarratt commented on #2077
@jyellick @bcbrock Yes, it make sense to me @jyellick that we should terminate outstanding requests before allowing a  new one.  Ping me and we can discuss at your convenience.

[2016-07-08 18:17] muralisrini commented on #2123
@mrshah-at-ibm I can recreate the issue in `0.5-developer-preview` branch

[2016-07-08 19:14] mrshah-at-work commented on #2123
We should also bring it to @angrbrd's attention - tagging her here.

[2016-07-08 19:18] pards commented on #1150
The test case seems to have moved.
New link: https://github.com/hyperledger/fabric/blob/master/bddtests/chaincode/go/table/table.go

[2016-07-08 19:41] muralisrini commented on #2123
actually can recreate in both branches... I must not have tested correctly in master ... or the failure does not happen always. This is not a regression (shoud have been there forever).

Issue around this area - https://github.com/hyperledger/fabric/blob/master/core/rest/api.go#L107

The issue is same as what we ran into when sending block events when privacy is enabled - viz, attempt to remove th

[2016-07-08 20:53] angrbrd commented on #2050
I have opened PR #2147 in order to address points 1-3 above. Points 4-5 have already been addressed by the time this issue was opened. And point 6 is being tracked in issue #2066.

[2016-07-08 21:20] JonathanLevi commented on #2111
Hi @adecaro, thanks for renaming the GSM --> GCM so quickly/overnight!

Other than calling it GCM, **I am actually of the opinion that the right approach here was/is to remove this unused piece of code altogether**, at this stage.

I intended to submit the Pull Request (PR) for review myself, but we can wait for Monday, etc. no need to do this overnight/weekend. Waiting to agree/discuss this here

[2016-07-08 21:37] scottz64 opened #2148 "network loses 2 invokes, after some restarts, after PEER0 wanders off"
## Description

Two Invoke transactions appear to be lost at one point, during a sequence of stopping and restarting peer nodes (in my docker network of 4 peers running in batch mode with security). Network nodes to eventually resume consensus but they apparently lost 2 queued invoke transactions at some point.
## Describe How to Reproduce

See detailed logs attached which describe test scenario,

[2016-07-08 21:54] srderson commented on #2129
Cool. Like I said, expect bumps, but it will be good to get testing in place.

[2016-07-08 22:09] angrbrd commented on #2066
@smithbk @christo4ferris @rjones-lf

@rameshthoomu and I discussed the way we could make this process work smoothly and this is what we came up with. Please let us hear any comments so we may put this in place.

Thanks!

(1) When a developer makes any node sdk related change, they will add [x] in the PR stating that they have modified sdk code and what the new version number is. (We will modify th

[2016-07-09 00:42] christo4ferris commented on #2066
Could we automate the CI post merge to handle the version progression? Seems rather involved to have maintainers going back and forth with devs on the correct version, and if there are multiple PRs that will be merged in roughly the same timeframe, how do we manage which gets merged first etc?
 
Cheers,Christopher FerrisIBM Distinguished Engineer, CTO Open TechnologyIBM Cloud, Open Technologiesema

[2016-07-09 09:02] mingjinc commented on #2138
@bryan-huangyan , Thanks. I could invoke REST API inside Vagrant now. But, still happen error in the host. Do you know how to resolve it?

curl -v http://localhost:5000/network/peers Error info as below.
Trying ::1...
connect to ::1 port 5000 failed: Connection refused
Trying 127.0.0.1...
Connected to localhost (127.0.0.1) port 5000 (#0) > GET /network/peers HTTP/1.1 > Host: localhost:5000 > User-

[2016-07-09 09:23] mingjinc commented on #2141
@GrapeBaBa How could we set up the production environment? I only see the doc about dev environment setup.

[2016-07-09 09:39] GrapeBaBa commented on #2141
https://github.com/hyperledger/fabric/wiki/Client-SDK-Specification, this doc introduce the NVP, but in future it will change per this doc.

[2016-07-09 10:02] mingjinc opened #2151 "Is there any guide to setup product environment with multiple host using fabric?"
## Description

I only see the dev environment setup guide for one host server, is there any document to setup product environment with multiple host? Thanks.
## Describe How to Reproduce

[2016-07-09 11:31] zhuang-weiming opened #2152 "How exactly to make consensus when Chaincode has coding block of authority or event?"
I read protocol specification [https://github.com/hyperledger/fabric/blob/master/docs/protocol-spec.md#5-byzantine-consensus-1](https://github.com/hyperledger/fabric/blob/master/docs/protocol-spec.md#5-byzantine-consensus-1)

I am wondering:
1. What exactly happened when chaincode has an coding block of authority?
2. What exactly happened when chaincode has an coding block of event?

For example,

[2016-07-09 12:02] christo4ferris opened #2153 "Why is the CA named 'membersrvc'?"
## Description

Why is the CA named 'membersrvc'? First, the name is long and awkward which means moar unnecessary typing for users/developers (sure, auto-complete, but seriously). Secondly, 'membersrvc' doesn't really describe what this component is. It is a certificate authority (CA). In the documentation, we call it the CA. Why not name it that?

I would propose that we rename that component's

[2016-07-09 12:03] christo4ferris commented on #2153
@hyperledger/fabric-maintainers @smithbk @mastersingh24 thoughts?

[2016-07-09 12:20] christo4ferris opened #2154 "shouldn't we be consistent in naming components?"
## Description

Our component naming is all over the map. peer, membersrvc, whoknowswhatconsensuswillbecalled, etc.

I would propose that we adopt a consistent naming scheme for all components of the Fabric project: specifically - fabric-xxx where 'xxx' is the short name for a component. Image names and binary names should be the same.

eg.
fabric-peer
fabric-ca
fabric-consenter (or whatever)
fabr

[2016-07-09 12:20] christo4ferris commented on #2154
@hyperledger/fabric-maintainers @mastersingh24

[2016-07-09 15:01] mastersingh24 commented on #2154
@christo4ferris  - we definitely need to have a more uniform component and repository structure.  I believe we have always wanted to pull membersrvc into it's own project/repo.

[2016-07-09 15:03] mastersingh24 commented on #2153
the original "naming" of the "block" in the architecture diagram was "membership services" most likely because permissioned networks have "members".  I am agnostic as to what we call it now, although the current implementation is basically a set of CAs

[2016-07-09 15:31] mastersingh24 commented on #2123
@muralisrini - are you just using privacy as an example here?  I am pretty sure that in @mrshah-at-ibm 's case we don't use privacy

[2016-07-09 16:43] muralisrini commented on #2123
@mastersingh24 : I used privacy as that's the only way I could recreate the issue.

Also, I don't need the peer in privacy mode. Just issuing the deploy with privacy would do the trick.

So for example following works

[code]

We get the  identical error if we add CORE_SECURITY_PRIVACY=true to the `deploy` (keeping it false on the peer). So is it possible the deploy is issued with security.privacy

[2016-07-09 17:20] christo4ferris commented on #2154
@mastersingh24 there's something to be said for a single repo strategy... you know for certain when you break the build;-) That said, I was just lamenting that the chaincode shims are not in their own repo as it would make chaincode development much saner to simply vendor the appropriate shim in your chaincode project repo rather than having to vendor the whole of fabric (which is lame),

[2016-07-09 17:21] christo4ferris commented on #2153
we seem to be very inconsistent in how we refer to this. In many places, it is referred to as the CA.

[2016-07-09 21:26] kchristidis commented on #1959
@bcbrock and I have reported this inconsistency in #769. It's not clear to me why the `crypto` package does its own thing. And I don't understand the need to always have that `docker Hostconfig` statement printed out.

[2016-07-10 00:44] GrapeBaBa commented on #1959
Why the issue still open?Can anyone fix it?

[2016-07-10 03:07] himanshutyagi36 commented on #1706
I'm facing a similar issue. Did you find out what was wrong ?

[2016-07-10 03:30] smithbk commented on #2066
Note that even if no files under fabric/node/sdk are changed, the node SDK needs to be republished with a new version number when the proto files are changed.  But the developer updating the proto files shouldn't have to think this and it should be handled automatically during CI.  I also agree that maintainers shouldn't need to worry about version numbers.

I suggest that we do the following in a

[2016-07-10 11:57] mastersingh24 commented on #2125
Was just messing around on a Windows 10 machine and it appears if run `vagrant up` in a command prompt running as administrator everything will work properly.  Not saying this is the ultimate solution, but does seems to work.

[2016-07-10 13:00] muralisrini commented on #1706
@arjhunthiagarajan @tortuga90 typo in env variable... should be CORE_CHAINCODE_ID_NAME=mycc (not CODE_CHAINCODE_ID_NAME=mycc)

[2016-07-10 15:07] himanshutyagi36 commented on #1706
@muralisrini I'm using bluemix network and Swagger API to deploy,invoke and query my chaincode. The deploy and invoke requests are working fine, but when I run queryspec, I keep getting the following error
<img width="1119" alt="screen shot 2016-07-10 at 11 00 20 am" src="https://cloud.githubusercontent.com/assets/5171506/16714362/71893f2c-468e-11e6-8330-c1171de4657e.png">
Validating peer log
<img

[2016-07-10 17:53] zhoyy007 opened #2157 "A bug in hlc sdk file hlc.ts"
## Description

I  set up a network with 4 peers running on dockers. I tried to deploy the transaction on specific peer with peer.sendTransaction() method. The code went wrong in hlc.js in the function TransactionContext.prototype.newNetModeTransaction:
/opt/gopath/src/github.com/hyperledger/fabric/sdk/node/lib/hlc.js:1342
                        this.binding = new Buffer(self.chain.cryptoPrimitiv

[2016-07-11 00:07] #2136 closed, assigned to nobody

[2016-07-11 01:58] juliancarrivick-ibm opened #2158 "Untracked Go files are not added to the docker images"
## Description

For readability and maintainability it would be nice to be able to be split the functionality in `peer/main.go` into multiple files. However, once anything is moved into another file (still in package `main`), the peer image is unable to be create is unable to be created.

However, the executable can still be compiled: `make peer`
## Describe How to Reproduce

Create `peer/test.go`

[2016-07-11 01:59] juliancarrivick-ibm commented on #2158
Stumbled onto this when refactoring for issue #802, I am going to attempt to fix this before continuing with it.

[2016-07-11 03:09] juliancarrivick-ibm commented on #2158
It seems that only files tracked by Git are currently copied into the docker images which means compilation fails when new files are added but not checked in yet.
I will modify the Makefile accordingly.

[2016-07-11 03:34] arjhunthiagarajan commented on #1706
@muralisrini that was it mate. Thanks for the pointer

[2016-07-11 03:34] arjhunthiagarajan commented on #1706
@tortuga90 the typo was the issue

[2016-07-11 03:34] #1706 closed, assigned to nobody

[2016-07-11 05:03] #2158 closed, assigned to nobody

[2016-07-11 08:17] huhaiqing opened #2161 "Can't get GetCallerMetadata from stub."
Hi,

When I run the example asset_management.go on my peer node, I find that when call the function
adminCert, err := stub.GetCallerMetadata()
Can't get the adminCert, the adminCert is empty.

I use the security mode, with a login user, use the below command to deploy the chaincode,
peer chaincode deploy -p github.com/hyperledger/fabric/examples/chaincode/go/asset_management -c '{"Function":"init"

[2016-07-11 08:20] GrapeBaBa commented on #1959
@JonathanLevi Would you agree that i create another PR to have it in member srvc? As I see it need a little more work for member srvc.

[2016-07-11 10:23] prabhatsharma opened #2163 "build failed with missing reference to rocksdb/c.h"
docker build -t hyperledger/fabric-ccenv:latest build/image/ccenv
Sending build context to Docker daemon 16.97 MB
Step 1 : FROM hyperledger/fabric-src:latest
 ---> 7f7c61b2ba7c
Step 2 : COPY bin/\* /usr/local/bin/
 ---> 22f0448c9241
Removing intermediate container 7a79855b0610
Successfully built 22f0448c9241
build/bin/peer
CGO_CFLAGS=" " CGO_LDFLAGS="-lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy" GOBI

[2016-07-11 12:03] xspeedcruiser opened #2164 "Support for Maven builds in Java chaincode"
## Description

Java chaincode development currently only supports gradle as the build tool. This issue is to add Maven support.
## Describe How to Reproduce

Maven is currently not supported.

[2016-07-11 12:05] corecode commented on #2122
it just means that submitting the transaction succeeded, not that the transaction was executed.  Transactions are executed asynchronously.

[2016-07-11 12:11] corecode commented on #2148
This is quite expected, because there is no complete chain of custody.  This is something we can look at for consensus v2.

[2016-07-11 12:12] corecode commented on #2152
you cannot.

[2016-07-11 13:24] smithbk commented on #2161
@huhaiqing Hi Harry, you will need to use the node client SDK to send a TCert in the metadata field.
See fabric/sdk/node/test/unit/asset-mgmt.js for an example.  In particular, see how Alice's cert is passed in the following deploy request:

[code]

See fabric/sdk/node/README.md for an overall description of the node SDK.

Hope this helps,
Keith

[2016-07-11 13:35] ashnur commented on #2125
@mastersingh24 by everything you mean compiling the node-sdk too?

[2016-07-11 14:35] mrshah-at-work commented on #2123
@muralisrini & @mastersingh24
yep, PRIVACY is set to `true` in our situation.

[2016-07-11 14:41] muralisrini commented on #2123
@mrshah-at-ibm  PRIVACY set in peer startup _and_ for deploy/invoke ? If you don't have it peer startup, do you need it for deploy/invoke ?

[2016-07-11 14:44] mrshah-at-work commented on #2123
We have it in peer startup - `CORE_SECURITY_PRIVACY=true`

[2016-07-11 15:14] privoal-ak opened #2165 "EnrollmentID containing a dash (-) are not supported"
## Description

The Membersrvc doesn't seem to support an EnrollmentID containing a dash (-).
## Describe How to Reproduce

1) Add an user whose EnrollmentID contains a dash (-) in membersrvc.yaml.
2) Start the Membersrvc and a Peer with REST API enabled.
3) Call the /registrar endpoint with the following :
`{
  "enrollId": "foo-bar",
  "enrollSecret": "password"
}`
## Response from the REST API

[2016-07-11 15:30] adecaro commented on #2123
@muralisrini, sorry for the late reply.

Given the nature of the query, the validator should not decrypt the payload of the confidential deploy transactions because the validator does not have a way to understand if the invoker has the right to access that data. Indeed, if the invoker has this right, meaning he has a secret key, he will just decrypt the payload by himself.

Then, setting the paylo

[2016-07-11 15:54] JonathanLevi commented on #2134
@starsheriff Great work/job on this one last week! Thank you.

[2016-07-11 15:59] scottz64 commented on #2148
@corecode @tuand27613 @kchristidis @nickgaski  If I understand you correctly, then I would expect it to happen every time when I run the same testcase, but it does not. Can you identify which transactions were lost, and the key steps in the test sequence that led to that?

There may be something that I am missing; here is my understanding and expectations:
- Sending an Invoke to a running Peer, wh

[2016-07-11 15:59] JonathanLevi opened #2166 "[AES-CBC] Add more unit-test to cover edge cases (with & without PKCS#7)"
## Description

While our `core/crypto/primitives` has a pair of `PKCS7Padding` and `PKCS7UnPadding` which is used extensively. We want to add more unit tests to lock/document and verify their correct/expected/standard/compliant behavior - in particular, testing the correct/expected behavior of various inputs/key lengths.

This is part of [#2127 Add a family of AES-CBC related tests](https://githu

[2016-07-11 16:00] JonathanLevi commented on #2166
@starsheriff

[2016-07-11 16:04] JonathanLevi opened #2167 "[AES-CBC] Add some standard/recommended NIST tests for AES256"
## Description

While our `core/crypto/primitives` has a pair of `PKCS7Padding` and `PKCS7UnPadding` which is used extensively. We want to add more unit tests to lock/document and verify their correct/expected/standard/compliant behavior.

In particular, test using a few recommended test-vectors which NIST recommended and some of these variants.

This is part of [#2127 Add a family of AES-CBC rela

[2016-07-11 16:29] #2050 closed, assigned to nobody

[2016-07-11 16:39] corecode commented on #2148
I'm just saying that knowing the code, there are several places where this could happen.

[2016-07-11 16:44] JonathanLevi commented on #1959
@GrapeBaBa Yes, certainly. We might need a few probably. First, supporting command-line parameters in the first place, then having the version info, and of course to provide it. I/we can document these in issues, so that you can PR cleanly against these. Sure!

[2016-07-11 16:48] ajpauwels commented on #1630
I have completed this, here is a link to the fork:
https://github.com/ajpauwels/fabric/tree/addstatsapi

It tracks successful vs. failed invokes, but this only reflects whether the peer was able to broadcast a consensus message for the invoke. It is not possible to synchronously retrieve whether or not the invoke itself was successful with the current state of the fabric. This should be fine for n

[2016-07-11 17:27] christo4ferris opened #2168 "CertificateSpec doesn't include Organization and Country ... why not?"
## Description

in https://github.com/hyperledger/fabric/blob/master/membersrvc/ca/ca.go#L55
CertificateSpec doesn't include Organization and Country ... why not? There are accessor functions for these values that return the value from viper, which is inefficient to say the least.
https://github.com/hyperledger/fabric/blob/master/membersrvc/ca/ca.go#L164
https://github.com/hyperledger/fabric/blob/

[2016-07-11 18:16] christo4ferris opened #2169 "membersrvc.yaml should not be polluted with test values"
## Description

https://github.com/hyperledger/fabric/blob/master/membersrvc/membersrvc.yaml should not be polluted with test values. It should be limited to reasonable defaults, and it should be **fully documented** for every property that might be interrogated.

IMO, we should be configuring the image generated from a build (or published to DockerHub) with either a bunch of environment variables

[2016-07-11 19:08] muralisrini commented on #2123
@adecaro thanks for the feedback. I'll put out a PR to just set the payload to nil for the deploy transaction. This is better than suppressing information on all transactions in the block due to failure to decrypt one deploy transaction.

will look to @angrbrd to review please.

[2016-07-11 21:59] srderson commented on #2088
@muralisrini If we make any changes to the 0.5 branch, I think we should only submit the inefficient `GetRows` fix. Then we don't introduce a new API that has to potentially be supported.

I agree the your `GetRows2` function solves the problem and we can figure out how to introduce in master (maybe just have it be default `GetRows` and change API) and confirm that DB closes handles automatically

[2016-07-12 00:32] srderson commented on #1666
@manish-sethi Comments on API at https://github.com/hyperledger/fabric/wiki/Next-Ledger-Architecture-Proposal/c32284587c28f766d7f371a75ce0a788872963d3

Overall looks great!
1. I am concerned that the `PeerMgmt` interface creates a dependency from the Committer to the Endorser. The Endorser could be any application that interacts with an API (say REST) on top of the Committer. The Endorser does not

[2016-07-12 00:55] juliancarrivick-ibm commented on #1959
@GrapeBaBa @kchristidis I'm looking at issue #769 now

[2016-07-12 01:38] juliancarrivick-ibm opened #2170 "peer/main.go should be broken into multiple files"
## Description

To increase readability and maintainability the monolithic `peer/main.go` file should be broken down into multiple files and packages, grouped by functionality (i.e. node, network, chaincode).
## Describe How to Reproduce

Look at `peer/main.go`

[2016-07-12 01:39] juliancarrivick-ibm commented on #2170
I'm willing to do this, but before I start I would like to make sure that this would be a worthwhile endeavour to undertake from the point of view of the maintainers?

[2016-07-12 02:01] GrapeBaBa commented on #1959
@juliancarrivick-ibm Per @bcbrock explained the logging mechanism, it seems need remove the crypto in config.yaml and code below in crypto_settings.go

[code]

[2016-07-12 02:02] GrapeBaBa commented on #1959
Just discussed with @JonathanLevi , and we are going to create a set of issues on the membership services side, separately... and I will use this only for a pull request (PR) for the  client at this point

[2016-07-12 02:18] GrapeBaBa commented on #2129
@srderson @christo4ferris Who is the SME for performance test?Maybe I need some mentor to guide me for this task.

[2016-07-12 03:47] zhoyy007 opened #2174 "HLC sdk file stats.ts. The ResponseTime class prohibit concurrent request from a user."
## Description

I am trying to query the ledger from a user concurrently. The error occurs as following:
      throw Error("started twice without stopping");
Look at the stats.ts file. We find the definition of ResponseTime. It is clear that ResponseTime would expect the query to get response before starting the next one. So, concurrent execution is prohibited.
/**
- Class to keep track of an aver

[2016-07-12 03:55] genggjh commented on #2168
I can cover this, pls assign to me.

[2016-07-12 04:34] zhoyy007 opened #2176 "HLC sdk. The member class doesn't support issue transaction on specified peer."
## Description

Currently, the hlc sdk member class has a the deploy/invoke/query method which would try all peers to see which one can succeed on the transaction. It doesn't provide interface/method to appoint one peer. While, testing on specific peer would be needed in some cases. For example, we want to test on sending query on all peers concurrently.
## Describe How to Reproduce

N/S

[2016-07-12 06:11] GrapeBaBa commented on #2163
@prabhatsharma If you are using vagrant environment, that is a common issue that you are building out of vagrant, do you miss run `vagrant ssh` first

[2016-07-12 06:13] GrapeBaBa commented on #2169
@christo4ferris @JonathanLevi maybe I can take it with some help.

[2016-07-12 06:19] archupsg03 commented on #2098
With the above workaround, unit test is failing :(. Options.go mismatch of arguments

[root@jupiter-vm659 fabric]# make unit-test
Building build/docker/bin/peer

# github.com/hyperledger/fabric/vendor/github.com/tecbot/gorocksdb

opt/gopath/src/github.com/hyperledger/fabric/vendor/github.com/tecbot/gorocksdb/options.go:328: too many arguments in call to _Cfunc_rocksdb_options_set_compression_optio

[2016-07-12 07:13] JonathanLevi commented on #2169
@GrapeBaBa first of all: thank you!

In addition to documenting/validating the current configuration, this cleanup requires a viable alternative, which accommodates the various tests, and the addition of lots of configuration validation logic.

So @GrapeBaBa: OK, let's do it, and I will help with pleasure - but we should probably break these into a few sub-items and potentially split some of the w

[2016-07-12 08:33] sudeepta-bhuyan commented on #2167
Hi @JonathanLevi , I can take this up (with some help)
Sudeepta

[2016-07-12 09:23] corecode commented on #2152
I'm sorry, I don't understand what you are asking.

[2016-07-12 11:03] manish-sethi commented on #1666
Thanks @srderson for the comments.
1. An endorser can still handle encryption above the ledger layer (even in the case of endorser being a chaincode -`PeerMgmt.IsPeerEndorserFor` can return false for such a chaincode).
   However, this limits the richness of the queries and data model that can be supported by a ledger implementation. E.g., ledger may not be able to support a simple greaterThan, le

[2016-07-12 11:06] elli-androulaki commented on #1631
Hi, We just updated the new architecture proposal with a section referring to transaction (chaincode) confidentiality. The link to the new section (section 6) is this one:
https://github.com/hyperledger/fabric/wiki/Next-Consensus-Architecture-Proposal#6-confidentiality
In addition, more details were added to Section 2 on transaction lifecycle.

[2016-07-12 12:34] #2123 closed, assigned to nobody

[2016-07-12 13:07] mrshah-at-work commented on #2123
@tamasblummer @muralisrini  can we also add this fix to v0.5-developer-preview branch?

[2016-07-12 13:25] bcbrock opened #2178 "busywork: Document configuration overrides of core.yam for userModeNetwork"
## Description

There is some confusion about how userModeNetwork overrides configuration settings in the core.yam file. I need to add some words to the documentation to clarify this.

[2016-07-12 13:28] bcbrock opened #2179 "busywork: Add -port option to the busy utility"
## Description

The busywork _busy_ utility can currently only run HTTP `get` transactions targeting the REST http port. I will add a -port option to allow targeting the profiling port (allowing _busy_ to collect profiles), or any other custom port that the user supports in their peer as long as the port appears in the busywork network file.

[2016-07-12 13:39] muralisrini commented on #2123
@mrshah-at-ibm @tamasblummer  also submitted #2173 for the dev preview branch... but I see travis failed (it shouldn't have...).

[2016-07-12 13:44] bcbrock opened #2180 "busywork: Add gRPC support"
## Description

**busywork** drivers currently use HTTP (REST API) to deploy/invoke/query the network. We need to support direct gRPC communication to model actual eventual usage for performance characterization.

Doing this will probably add a dependency to the fabric environment to include a gPRC development package; this package may or may not be available on all systems/distros. This will also

[2016-07-12 13:53] dongmingh opened #2181 "received an error while trying to get the state deltas for blocks"
## Description

Perform stress test with batchsize=1000 on v0.5-developer-preview commit level: 5daa08a821340c4dab40d2d50d08402b62202643

18:25:29.735 [consensus/statetransfer] tryOverPeers -> WARN 49f name:"vp2"  in tryOverPeers loop trying name:"vp2"  : name:"vp2"  received an error while trying to get the state deltas for blocks 158 through 174 from name:"vp2"

Observed similar warning messages

[2016-07-12 14:29] bcbrock commented on #2060
@jyellick Jason, do you have any thoughts on this one?

[2016-07-12 14:29] adecaro opened #2183 "Failed registration leaves the internal data structure in an inconsistent state"
## Description

When a registration fails the internal data structure are left in an inconsistent state at the client and at the membership service side. For instance, trying to register the second time with the same credentials will succeed by saying that the node has been already registered.
## Describe How to Reproduce

The following test try to register a client with an enrollID that correspon

[2016-07-12 16:24] vukolic commented on #1631
Also, the latest revisions contains updates to Sec.1.2 and Sec.1.3.3, in response to some previous comments here - notably from @manish-sethi (e.g., no 3) @ijmitch (e.g., no 3) and @mm-hl (e.g., no 33)

[2016-07-12 16:25] jyellick commented on #2060
@bcbrock Yes, what has happened here, is that replica 2 has decided that for whatever reason, the primary is byzantine, and initiated a view change.  The network did not agree with replica 2, and so stayed in its current view.

In order to survive situations where the network is down when replica 2 sends its view change, he periodically rebroadcasts the view change message.  This leads to the log

[2016-07-12 17:54] JonathanLevi commented on #2111
Have just discussed this with Angelo... we'll remove this temporarily and will re-visit this when this is re-introduced, probably in the next round of Confidentiality.

@hyperledger/fabric-maintainers, can we please re-open this issue (and kindly assign to @adecaro)? Thanks.

[2016-07-12 18:36] #2157 closed, assigned to nobody

[2016-07-12 21:36] mastersingh24 commented on #2125
@ashnur - yep - both of the make targets ( `make node-sdk-unit-tests | make node-sdk`) work

[2016-07-13 01:37] zhuang-weiming commented on #2152
So how we can get the final consensus of the whole chaincode? I image that coding block of event and authority can broadcasting its own result to other VPs. could you please kindly check and reivew?

Or

Let me change my question, what kind of code or API code needs consensus? Is it all of the chaincode? setEvent()? PutState()?

[2016-07-13 02:33] smithbk commented on #2126
@andresgaragiola @srderson This was a feature for the node SDK but it looks like Andres added some behave tests.  Was this just associated with the wrong issue number?

[2016-07-13 02:41] srderson commented on #2126
Looks like that was the case. @andresgaragiola Could you close the correct issue?

[2016-07-13 02:57] andresgaragiola commented on #2116
Closed by #2128

[2016-07-13 02:57] #2116 closed, assigned to nobody

[2016-07-13 02:59] andresgaragiola commented on #2126
@smithbk @srderson I have fixed the typo in the PR and the correct issue was closed. Thanks

[2016-07-13 03:45] GrapeBaBa opened #2185 "Inconsistent cli document about wrong command execution will return non-zero value"
## Description

Run any wrong command, then run `echo $?`, will return 0.
## Describe How to Reproduce

[code]

[2016-07-13 05:34] juliancarrivick-ibm opened #2187 "User has no way to determine if Chaincode Deployment failed"
## Description

When Chaincode deployment fails the only way of determining this is by looking at the logs. It would be nice if there was a way for a user to query a chaincode's state and see if it has deployed successfully and if not, the reason why.
## Describe How to Reproduce

Bring up a Validating Peer:

[code]

Attempt to deploy a chaincode with the incorrect parameters:
HTTP POST: http://lo

[2016-07-13 06:43] ashnur commented on #2125
@mastersingh24 that is cool, I tried the same last week and had constant issues even after trying to run everything from a prompt with administrator rights. The symlinks were definitely not created.

[2016-07-13 07:52] adecaro opened #2191 "[CRYPTO CLEANUP] Removing support for Confidentiality 1.1"
## Description

Confidentiality 1.1 is based on a common symmetric key shared among all the nodes of the fabric network. It guarantees only confidentiality with the respect to non-members of the fabric.

The relative code is actually not used. It can be removed safely.
## Describe How to Reproduce

[2016-07-13 09:23] corecode commented on #2152
deploy and invoke is passed through consensus.

[2016-07-13 12:13] bcbrock commented on #2187
@juliancarrivick-ibm Great minds... See for example #2068

[2016-07-13 12:26] bcbrock commented on #2068
@ghaskins I like your idea as well - There may be a set of basic information that we can agree on that should be returned by the ping query that doesn't require any work by the chaincode itself, like the build info returned by ciaintool inspect. Info that I will probably eventually need to add to my home-grown pings includes the host and PID of the chaincode process (for profiling). Simple statist

[2016-07-13 12:26] zamrokk commented on #2146
👍

[2016-07-13 13:17] smithbk commented on #1199
This is complete

[2016-07-13 13:17] #1199 closed, assigned to nobody

[2016-07-13 13:32] smithbk commented on #1140
@binhn Binh, this can be closed

[2016-07-13 13:32] smithbk commented on #1134
@binhn Binh, I think this can be closed.

[2016-07-13 13:33] smithbk commented on #1117
done

[2016-07-13 13:33] #1117 closed, assigned to nobody

[2016-07-13 13:34] smithbk commented on #1115
done

[2016-07-13 13:34] #1115 closed, assigned to nobody

[2016-07-13 14:03] bcbrock opened #2195 "Unhelpful messages from Docker when chaincode building fails"
## Description

If a chaincode you are trying to deploy has a bug, you will get messages like

[code]

This is always frustrating to me, since you have to guess what happened.

Is there any way to recover the stdout/stderr from the failed command of Docker build and inject it into the logs?

Or maybe the solution is to modify the chaincode Dockerfile to be a little less "efficient" and call out th

[2016-07-13 14:05] #2185 closed, assigned to nobody

[2016-07-13 14:10] christo4ferris opened #2196 "node sdk doc needs to be integrated with fabric docs"
## Description

currently, the node sdk docs must be generated locally to be viewed. We need to have the node sdk doc integrated with the [fabric docs](http://hyperledger-fabric.readthedocs.io/en/latest/) as part of the build for a merged PR/commit.
## Describe How to Reproduce

try to view the node sdk docs (note, they don't exist) https://github.com/hyperledger/fabric/tree/master/sdk/node

[2016-07-13 14:13] christo4ferris opened #2197 "makedoc.sh assumes 'typings' installed"
## Description

The node sdk doc makedoc.sh script that generates the node sdk documentation presumes that the user has 'typings' installed.
## Describe How to Reproduce

try to run https://github.com/hyperledger/fabric/tree/master/sdk/node/makedocs.sh on a system that does not have the 'typings' command installed.

[2016-07-13 14:24] christo4ferris opened #2198 "makedoc.sh yields error"
## Description

Running makedoc.sh to generate the node sdk docs yields following error.

[code]
## Describe How to Reproduce

running MacOSX El Capitan
install 'typings' then run makedoc.sh

[code]

[2016-07-13 14:26] christo4ferris opened #2199 "index.html has remnant from merge conflict"
## Description

index.html has remnant from merge conflict

[code]
## Describe How to Reproduce

view the index.html in a browser

[2016-07-13 14:37] srderson commented on #2123
This has been resolved. The fix was merged into both the master and 0.5 branch and master branch.

[2016-07-13 15:08] christo4ferris commented on #2199
had a vestigial index.html in my local repo

[2016-07-13 15:08] #2199 closed, assigned to nobody

[2016-07-13 15:14] zhuang-weiming commented on #2152
So how to make consensus when coding block of authority or event in the middle of program of deploy and invoke?

Is coding block of authority or event not a part of making consensus even they are in the middle of deploy and invoke?

[2016-07-13 15:41] zamrokk commented on #1916
I have the similar issue using "Docker Beta" on my Mac. Any idea to fix it ?

Do I need to use Docker in command line and give up with "Docker Beta" ?

[2016-07-13 15:44] ghaskins commented on #2195
I have made that same hack to split them out numerous times for this very reason, but never organized it well enough to PR it.  I agree this needs to be improved, though.

[2016-07-13 20:26] muralisrini commented on #2088
@sachikoy @bren3582 are you ok with just the GetRows fix for 0.5 branch as @srderson suggests ? We could fix it right in  master.

[2016-07-13 21:09] bcbrock opened #2201 "busywork: Recreate network from busywork/network file"
## Description

Discussing with @samding01 today, it would be useful to have a mode where the busywork/userModeNetwork script reads a network file and recreates a network based on the description therein. This would be a way to define and use a fixed set of ports for all runs, and would simplify some kinds of use cases where clients and peers are on different hosts.

[2016-07-13 22:58] bren3582 commented on #2088
@muralisrini That sounds like a good solution to me if GetRows() in master is replaced by the GetRows2() implementation as we need it for our application as opposed to loading all rows in memory.

[2016-07-14 00:12] #2166 closed, assigned to nobody

[2016-07-14 00:29] #2111 closed, assigned to nobody

[2016-07-14 00:31] JonathanLevi commented on #2111
Thank you @adecaro, @srderson (, @gabre, @tamasblummer, ...]

[2016-07-14 00:39] GrapeBaBa opened #2203 "No testing around the commands/flags"
## Description

Currently there is no testing around the commands/flags for CLI. We need add tests for that.
## Describe How to Reproduce

Code review from #2171

[2016-07-14 02:08] inatatsu commented on #2065
I also observed that increasing the `queueSize` in [broadcast.go](https://github.com/hyperledger/fabric/blob/f58668957925c8a3d2316acf2376bb47fc4d75e9/consensus/pbft/broadcast.go#L48) resolves failure of the Busywork benchmark.

When I ran the benchmark with 4 peers using PBFT batch consensus with security enabled, the benchmark fails due to inconsistent results among peers. The benchmark works whe

[2016-07-14 02:43] #1959 closed, assigned to nobody

[2016-07-14 05:27] yeasy commented on #2148
Even with all nodes running normally, the transactions can lose with sequentially requests.

[2016-07-14 06:12] gaoweibin opened #2206 "Can Fabric integrate Sawtooth Lake's consensus?"
## Description

I want to call Sawtooth Lake's consensus in Fabric, any ideas?

I also would like to know more about collaboration between Fabric and Sawtooth Lake.

[2016-07-14 07:17] brad-gorman commented on #2119
I now have ChaincodeStub's RangeQueryState(), InvokeChaincode() and QueryChaincode() working with unittests for examples 2, 3 and 4.
https://github.com/brad-gorman/fabric/commit/7f40fd3fc564bdfddaf57b4e13964c49d3212bb7

[2016-07-14 07:52] cophey commented on #2122
@corecode But I called invoke transaction,Whether to execute the right or wrong,it returned success.
It returned transaction-uuid,not transaction results.
How do I know the transaction invoke result?

[2016-07-14 09:20] corecode commented on #2152
i don't know what you mean by "coding block of authority or event".

[2016-07-14 09:31] corecode commented on #2122
you wait until the transaction with result appears on the blockchain

[2016-07-14 09:37] cophey commented on #2122
@corecode
When i rest api invoke transaction,I can not know the transaction invoke success or not.
I must query transaction to see the invoke transaction execute right or wrong?

[2016-07-14 12:20] sachikoy commented on #2088
@bren3582 I am concerned with the backward-compatibility problem to replace GetRows() in master with GetRows2(). Especially there is a risk that people use GetRows2() without knowing that the chaincode needs to close the connection. I would rather distinguish those two by giving different names, so that the different behaviour is obvious.
As for @muralisrini 's question, our code uses GetRows2() r

[2016-07-14 12:39] kchristidis commented on #2122
@cophey Yes.

[2016-07-14 13:02] corecode opened #2207 "formalize signatures/hashes on protobuf"
## Description

Protobuf does not guarantee a fixed serialization format.  With this in mind, we need to formalize how we sign/hash protobuf messages so that signatures are created and tested for on a fixed byte array, rather than on a re-serialized byte array.

[2016-07-14 14:08] huhaiqing opened #2208 "How to set the Metadata in a REST call?"
Hi,

Is there any way to add the metadata in the REST CALL ?
For example, send a invoke REST CALL.
POST /devops/invoke
{
  "chaincodeSpec":{
      "type": "GOLANG",
      "chaincodeID":{
          "name":"mycc"
      },
      "ctorMsg":{
          "function":"invoke",
          "args":["a", "b", "10"]
      },
      "secureContext": "jim"
  }
}
How to add the metadata to the input json data?

Than

[2016-07-14 15:11] dongmingh opened #2209 "Keystore [/var/hyperledger/production/crypto/client/lukas/ks/db] missing [false]:[<clean>]"
## Description

commit level: b2689b9cb3a4cb93a2f7c34af96232dec62cdbb3

4-peer network with pbft-batch, security and privacy enabled,
 observe the error message after login

14:23:38.526 [crypto] Errorf -> ERRO 006 [client.lukas] Keystore [/var/hyperledger/production/crypto/client/lukas/ks/db] missing [false]:[]

Both query and invoke work correctly.
## Describe How to Reproduce
1. launch a 4-peer

[2016-07-14 15:52] iiiLiQuiDiii opened #2211 "Trying to login a validating peer causes an unmarshalling error"
## Description

I have setup a network of docker images with the latest fabric commit, I am not using vagrant.
With security enabled I start a memebersrvc, a validating peer and then try to login another validating peer ( id and password are from the default membersrvc.yaml) which causes an unmarshaling error. Reinserting the login command is accepted without error messages but I cannot deploy any

[2016-07-14 19:03] JonathanLevi commented on #1780
We now have one implementation of both of these functions, with a bunch of tests.

Closing this following #2051 and @starsheriff's recently merged PRs for [#2135 Add AES PKCS7 Padding/Unpadding Tests](https://github.com/hyperledger/fabric/pull/2135) and yesterday's [#2166 [AES-CBC] Add more unit-test to cover edge cases (with & without PKCS#7)](https://github.com/hyperledger/fabric/pull/2166).

Th

[2016-07-14 19:03] #1780 closed, assigned to nobody

[2016-07-14 19:06] JonathanLevi commented on #1691
Closed the sub-tasks, but noting that we might not need this caching going forward.

In particular not for `TCerts` with specific (non-trivial/known at the batch-request time) attributes... as we can't pre-fetch `TCerts` with specific attributes and re-serve them on demand.

[2016-07-14 19:06] #1691 closed, assigned to nobody

[2016-07-14 21:30] #1824 closed, assigned to nobody

[2016-07-14 21:30] s390xlinux opened #2215 "Why is openjdk-8-jdk being installed from ppa:openjdk-r/ppa?"
## Description

In ./scripts/provision/docker.sh (and also ./scripts/provision/host.sh), openjdk-8-jdk is being installed from ppa:openjdk-r/ppa. This break fabric-baseimage creation on zLinux because launchpad has no corresponding package for s390x:

[code]

Ubuntu/Debian already has openjdk-8-jdk in its main repository. Why are we using launchpad?
## Describe How to Reproduce

make images

[2016-07-14 21:33] #2085 closed, assigned to nobody

[2016-07-14 21:38] #2191 closed, assigned to nobody

[2016-07-14 21:41] #2209 closed, assigned to nobody

[2016-07-14 21:47] #2168 closed, assigned to nobody

[2016-07-14 21:53] srderson commented on #2206
They do not integrate today. One of the goals of the next architecture at https://github.com/hyperledger/fabric/wiki/Next-Consensus-Architecture-Proposal is to be able to support additional consensus algorithms such as PoET.

I would hope in the future that the projects evolve towards a common protocol.

[2016-07-14 21:53] #2206 closed, assigned to nobody

[2016-07-14 22:53] joshhus commented on #2152
My interpretation of the scenario above is that because the transaction can only run on node A, consensus cannot be reached, and the transaction is therefore treated at input only and is not executed on any nodes or appended to the ledger. I'll point some experts to this thread for their comment.

[2016-07-14 23:38] GrapeBaBa commented on #2215
are you sure?i cannot install openjdk8 directly on Ubuntu 14.04

[2016-07-14 23:41] christo4ferris commented on #2154
@hyperledger/fabric-maintainers @mastersingh24 @rameshthoomu @rjones-lf

per the discussion in slack. I really do think we need to settle on a naming scheme. Docker is bringing multi-arch support real soon now https://github.com/docker/distribution/issues/200. In fact the capability is there, the thing missing is the tooling to build images with the v2 manifest. I am told that this is also coming

[2016-07-14 23:47] rameshthoomu commented on #2154
:+1:

[2016-07-15 01:10] scottz64 commented on #2148
@corecode I agree that a complete chain of custody is desirable and hopefully can be addressed in v2.

But if it is a chain of custody problem, then why doesn't it happen every time I run the test sequence? I still wonder why sometimes peer0 does not recover, during the middle steps of the test.

@yeasy My testcase just sends one invoke transaction to each running VP, between each step (stop or re

[2016-07-15 01:21] cophey commented on #2122
@corecode @kchristidis thanks!

[2016-07-15 01:21] #2122 closed, assigned to nobody

[2016-07-15 02:01] s390xlinux commented on #2215
Why use 14.04 when 16.04 has been out for 3 months now?

[2016-07-15 02:15] GrapeBaBa commented on #2215
but vagrant env currently use 14.04, so the question actually if fabric can use 16.04 for vagrant env😀

[2016-07-15 02:19] s390xlinux commented on #2215
I don't see why not. Only way to find out is try. :-)

[2016-07-15 02:22] ghaskins commented on #2215
The devenv simply predates the 16.04 release and we have lacked bandwidth to qualify it.  If someone wants to take this on, I would love to see the PR.

[2016-07-15 04:42] kameshwaran-s opened #2217 "Multi-host Validating Peers Setup & Monitoring for Production"
## Description

Please provide documentation for setting up a  production environment with network of validating peers on multiple hosts (Linux, Windows).  In addition, scripts and tools for performance monitoring and evaluation would be useful. Current documentation is only focused on setting up a dev environment on a single host.
## Describe How to Reproduce

[2016-07-15 05:33] nitesh7sid opened #2218 "Unable to make peer"
I am facing an issue in running make peer command...the output of make peer command is :

Building docker src-image
docker build -t hyperledger/fabric-src:latest build/image/src
Sending build context to Docker daemon 21.04 MB
Step 1 : FROM hyperledger/fabric-baseimage:latest
 ---> 98a31bf0c396
Step 2 : ADD gopath.tar.bz2 $GOPATH/src/github.com/hyperledger/fabric
 ---> Using cache
 ---> bf4e6c40062

[2016-07-15 06:38] berserkr commented on #1992
I see this behavior as well... A new block is created, however, no transaction is added.

Consider the chaincode here:
https://github.com/IBM-Blockchain/learn-chaincode

Deploy it...

Call it...

CORE_PEER_ADDRESS=172.17.0.2:30303 peer chaincode invoke -n $NAME -c '{"Function": "write", "Args": ["key1", "value1"]}'

Will add a new block... as expected...

0581047:/opt/gopath/src/github.com/hyperle

[2016-07-15 08:20] huhaiqing opened #2219 "Where is the peer node log output?"
Hi,

Could you tell us where is the peer node log output?

For example, myLogger.Errorf("Failed checking signature [%s]", err), how to get the log output content?

Thanks in advance.

Regards
Harry

[2016-07-15 09:57] mingjinc opened #2221 "Occur error while deploy example02 chaincode with security + 4 peers + BFTP"
## Description

I started 4 peers(test_vp0,test_vp1,test_vp2,test_vp3) and one CA. While I deployed example02 chaincode, it will occur the following warn message in the peer log, and occur error while execute query.

1) Peer Log: 09:37:56.790 [consensus/pbft] recvViewChange -> WARN 1689 Replica 0 found incorrect signature in view-change message: Could not verify message from vp0 (unknown peer)

2)

[2016-07-15 13:13] ghaskins commented on #2218
Can you indicate whether this is within vagrant::devenv or not?

[2016-07-15 13:16] nitesh7sid commented on #2218
I am building this outside vagrant...

[2016-07-15 13:26] ghaskins opened #2222 "Devenv needs to provide strong feedback when provisioning fails"
## Description

Vagrant in general exposes a risk for confusion to users w.r.t. provisioning because it uses the same "vagrant ssh" plumbing as a normal user workflow would.  What this means is that the VM is created/booted until SSH is available.  Then the provisioner connects with ssh, runs its script until it either completes or fails, and finally exits out.  The user is then free to use "vagra

[2016-07-15 13:27] ghaskins commented on #2222
@JonathanLevi

[2016-07-15 13:29] ghaskins commented on #2218
There seems to be possibly two issues:
1. The undefined references should be handled with go vendoring.  Can you confirm that you are either using go 1.6 OR you are using go 1.5 with the vendoring feature enabled.
2. It looks like you don't have cgo tools in your environment.

FWIW, both of those issues would be handled for you if you operate within the devenv.

[2016-07-15 13:33] nitesh7sid commented on #2218
I am using1.6 version... Should I run make peer command inside devenv directory?

[2016-07-15 13:34] ghaskins commented on #2222
@srderson @binhn @christo4ferris Propose to target 0.5 branch.   If no objections, please label as such and I'll target the PR accordingly.

[2016-07-15 13:58] zhuang-weiming commented on #2152
http://stackoverflow.com/questions/38215761/how-exactly-to-make-consensus-when-chaincode-has-coding-block-of-authority-or-ev

could you kindly help to check and review?

**1.** `This request will be propagated to all VP in the network.` does it means a broadcasting method? if it is an kindly of broadcasting, what contents were broadcasted?

**2.**`If certificates are not the same and are the same`

[2016-07-15 14:10] ghaskins commented on #2218
The directory won't help, no.  Can you fire up a devenv and see if it works for you in there?

[2016-07-15 14:14] joshhus commented on #2144
Are we talking about all sections under the "Dev setup" heading in the TOC here: http://hyperledger-fabric.readthedocs.io/en/latest/

[2016-07-15 14:16] srderson commented on #2222
No objections from me

[2016-07-15 14:29] JonathanLevi commented on #2222
Yes, when it comes to error messages, it's much better to be "more direct" ;-)

As discussed on Slack and in view of some related questions/support requests, (@ghaskins et al.), I think that this is a great proposal and will be very useful (to target in the 0.5 branch as well).

Especially for new users, it is easy to miss some of the error message(s) when these occur, and then to (repeatedly) att

[2016-07-15 16:08] #2145 closed, assigned to nobody

[2016-07-15 16:21] solocez opened #2225 "Objective -C Events service - do not get Events notification(s)"
I write an **Objective C** client for Fabric to listen for **Events** from Ledger.
I can successfully **register** for getting Events (_getting a positive response_).
But no Events arrive.

**1)** I have **block-listener** example run in parallel - it gets expected events.
**2)** Also we have Java client that listens the same Ledger and it gets Events.

[2016-07-15 19:20] jjjjibm opened #2226 "https://github.com/hyperledger/fabric/tree/master/sdk/node: spelling error and all links in this section are dead: HFC objects and reference documentation"
_
## Description

Spelling error:  of it's power --> of its power

All links in "HFC objects and reference documentation" are dead except for one.
## Describe How to Reproduce

1.Navigate to this url: _https://github.com/hyperledger/fabric/tree/master/sdk/node_
2.Scroll down to the 'readme' section of the page
3.Find this phrase:  _It is not intended to demonstrate all **of it's power**_ and note

[2016-07-15 19:52] ghaskins commented on #2174
@bren3582 and I have seen this issue too.  We have a client that by default will allow 10 concurrent requests to be outstanding at a time and this issue has suddenly popped up.  I'll defer to @bren3582 but I believe it does go away if we artificially restrict the parallelism to 1

[2016-07-15 19:53] ghaskins commented on #2174
BTW: we are using HLC v0.0.12 from NPM.

[2016-07-15 20:01] srderson commented on #2174
The new version if HFC. https://www.npmjs.com/package/hfc
I'm not sure which one is compatible with the 0.5 branch.

[2016-07-15 20:02] ghaskins commented on #2174
@srderson yeah, I haven't had a chance to migrate to the renamed client, but I can give that a whirl and see if its improved.

[2016-07-15 20:55] #2144 closed, assigned to nobody

[2016-07-15 23:32] JonathanLevi commented on #2167
Hi @sudeepta-bhuyan as per our chat on Slack, this item has some internal dependencies, etc... as in order to get these in we are working on refactoring the underlying package.

So, thanks again, and we'll discuss some others items/issues next week!

[2016-07-16 01:18] JonathanLevi opened #2229 "[CRYPTO CLEANUP] Consolidate tests, error messages and add GoDoc support"
## Description

Focusing on the `core/crypto/primitives` (package) and our extensive use of `AES-CBC`, we want to add more unit tests to lock/document and verify their correct/expected/standard/compliant behavior.

In particular, this issue focuses and aims at some more documentation and breaking down functionality/tests to smaller sub-packages. Should consolidate some tests in `aes_test.go`, and

[2016-07-16 01:36] JonathanLevi opened #2230 "[CRYPTO CLEANUP] A dedicated primitives (sub-)package for AES-CBC"
## Description

Focusing on the `core/crypto/primitives` (package) and our extensive use of AES-CBC, we want to add more unit tests to lock/document and verify their correct/expected/standard/compliant behavior.

In particular, this issue is about having our "own" `AESCBC` family of functions that clearly separate the `IV` generation, the `padding` (that is focused on the AES blocksize) and the un

[2016-07-16 05:46] vmorris commented on #1835
@ratnakar-asara What solution are you suggesting for this sort of error? I just ran across it myself fooling around with cp-web:

[code]

Edit: Never mind, the solution is to delete /tmp/keyValStore

[2016-07-16 08:37] sachikoy opened #2232 "there is no mechanisms to abort chaincode even if it has an infinite loop"
## Description

If chaincode includes an infinite loop, it keeps running and there is no mechanism to abort chaincode. This happens both in invoke and query transactions.
If an infinite loop is within a Query transaction, then the validating peer detects timeout. However, the chaincode docker container keeps running even after VP returns the error.

I think the validating peer should monitor the c

[2016-07-16 10:12] sachikoy commented on #1517
@angbrd Has this been fixed or investigated further?

[2016-07-17 03:51] rameshthoomu commented on #2226
@jjjjibm : Observed that none of the reference links are working in doc README.md file. Tracked down  and noticed that, PR#2147 is created to remove auto generated node.js sdk files (This change is to remove auto generated files from doc and lib folder) but I don't see doc folder in sdk/node directory. @angrbrd can you please check this.

[2016-07-17 16:10] iiiLiQuiDiii opened #2235 "Chaincode_example06 build fails, missing shim.ChaincodeStub.CertAttributes()"
## Description

The stub is missing a method "CertAttributes", the example fails to build
## Describe How to Reproduce

cd $GOPATH/src/github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example06
go build

./chaincode_example06.go:33: stub.CertAttributes undefined (type *shim.ChaincodeStub has no field or method CertAttributes)

[2016-07-17 23:58] iiiLiQuiDiii opened #2236 "Clarify attribute passing in CLI and REST APIs"
## Description

The documentation does not specify how to pass attributes to chaincode invocations and queries

Rest Example

{
  "jsonrpc": "2.0",
  "method": "query",
  "params": {
      "type": 1,
      "chaincodeID":{
          "name":"db6b2ab34eaf272a08a3a2c4fba0efd448e0f12139309bba8d541123327242375c8f8b13467284082fcbb856fd54a9102ccd092470aaf3d125b5b5a82960a75f"
      },
      "ctorMsg": {

[2016-07-18 05:16] nitesh7sid commented on #2218
The go tool is not present in the environment...what is the command to set  the GOTOOLDIR to cgo location?

[2016-07-18 07:04] yeasy commented on #2148
IMHO, the losing result itself is not serious problem. But mostly, the return result just looks normally, which can confuse people.
Maybe we should add more return code to differentiate the cases.

[2016-07-18 11:07] corecode commented on #2232
How about we start thinking about how to sidestep an unsolvable problem and use a deterministic, terminating language instead?

[2016-07-18 11:22] andresgaragiola commented on #2236
@srderson  please assign me this issue. @iiiLiQuiDiii what document are you seeing?

[2016-07-18 11:26] corecode commented on #2152
1. pbft consensus
2. pbft consensus happens before the chaincode is executed.  pbft agrees on the sequence of transactions all VPs execute.

[2016-07-18 11:27] corecode commented on #2148
@yeasy return code for what?  if we lose a transaction, we don't know that we lost it :)

[2016-07-18 13:35] iiiLiQuiDiii commented on #2236
An example like "authorizable_counter" could be useful at https://github.com/hyperledger/fabric/blob/master/docs/API/CoreAPI.md

[2016-07-18 13:50] ghaskins commented on #2232
The peer needs to act like a hypervisor.  There are any number of things that a chaincode could do that might be construed as violating some resource constraint (heap, stack, cores, local storage, putstate, etc).  If/when it does, the peer should be able to enforce restrictions/penalties (such as denying additional heap or terminating the process).  Excessive runtime is just one such parameter.

I

[2016-07-18 14:16] smatthewenglish opened #2239 "broken installation link"
the `Installation` link in the README is broken

[2016-07-18 14:17] yeasy commented on #2148
@corecode I mean, when we invoke some transactions, can the system return some simple code to indicate whether the invocation succeeds or not?

[2016-07-18 14:23] muralisrini commented on #2232
how about just stopping and destroying the container if a query/invoke times out ? Its kind of worst case but a timeout on a request borders on "unexpected / bad" behavior

[2016-07-18 14:28] christo4ferris commented on #2239
thanks, there is a PR #2233 that will fix this.

[2016-07-18 14:34] huhaiqing opened #2240 "How to get the private key and public key from TCert or ECert?"
Hi,

I know we can get the tcert from memberservice by REST API, such as "GET /registrar/{enrollmentID}/tcert".

But we don't konw how to gets the private key and public key from the returned tcert.
Is there any way to get these two keys.

We want to use the private key to sign a message and then use the public key to decrypt this message.

Thanks in advance.

Regards
Harry

[2016-07-18 16:57] andresgaragiola commented on #2240
@huhaiqing you can use [CertificateHandler](https://github.com/hyperledger/fabric/blob/master/core/crypto/crypto.go#L132#L133) interface in order to Sign a message using TCert private key. For example to sign a message using a TCert private key you could follow this steps:
- Request a new TCert hanlder using [GetTCertificateHandlerNext](https://github.com/hyperledger/fabric/blob/master/core/crypto

[2016-07-18 17:08] smithbk commented on #2240
@huhaiqing Hi, can you explain what you are needing to do?  You can use the node.js client SDK to interact with memberservices and chaincode.

[2016-07-18 17:16] smatthewenglish opened #2241 "Boostrapping the VM using Vagrant- inordinate amount of time >> no action"
![12121212](https://cloud.githubusercontent.com/assets/9053984/16923599/597053f6-4d1b-11e6-9f5e-9e4cbc2a2d23.png)

According to my understanding, I configured properly my `go` path as is demonstrated in the above screenshot- however- I seem to be stuck at the following step:

![12121212](https://cloud.githubusercontent.com/assets/9053984/16923705/d21c17e0-4d1b-11e6-81f3-50e4aeb3a304.png)

which ju

[2016-07-18 18:42] christo4ferris opened #2242 "Align pub/fabric-peer.md with the revised docs from #2150"
## Description

Align pub/fabric-peer.md with the revised docs from #2150
## Describe How to Reproduce

n/a

[2016-07-18 19:03] christo4ferris opened #2244 "provide description for fabric-membersrvc dockerhub image"
## Description

provide description for fabric-membersrvc and fabric-baseimage dockerhub images
## Describe How to Reproduce

n/a