[2016-05-29 11:37] mastersingh24 commented on #1648
@kchristidis @ghaskins  - yes - I meant that the current design tries to load the pbft config even if you are doing noops.  Maybe there is not a better way to do that, but given that you can only "run" with one consensus mode at any given time, it might make sense to load the config when you determine which consensus mode you are using.

We can also have multiple config files but I would prefer th

[2016-05-29 11:45] adecaro commented on #1642
Nice info-graphic :+1:

[2016-05-29 13:24] adecaro commented on #1631
Just some clarifications:
In Section 1.2.i, shall 'Clients create and thereby invoke transactions.' be '' Clients create and thereby invoke chaincodes'?
In Section 2.1, shall 'To invoke a transaction' be 'To invoke a chaincode'?

[2016-05-30 02:56] yingfeng commented on #1627
@muralisrini
This is the output snippet FYI:

[code]

[2016-05-30 03:10] yingfeng opened #1655 "Chaincode should be re-deployed after restarting peer node"
## Description

Chaincode runs as a seperate docker container. After it has been successfully deployed, it could not connect to peer anymore after peer had been restarted, unless the chaincode is re-deployed.
## Describe How to Reproduce
- Start the peer node using docker on baremetal

[code]
- Deploy a chaincode

[code]
- Restart the peer node
- Query the chaincode

[code]

When using `docker ins

[2016-05-30 06:29] yeasy commented on #1305
There's go-1.6 based image at here: https://hub.docker.com/r/yeasy/hyperledger-peer/.
It should work at ubuntu 16.04.

[2016-05-30 09:06] yingfeng commented on #1627
According to the tracking, I've found the system is hung due to the `createTxContext` within `sendExecuteMessage` of `core/chaincode/handler.go`

[code]

Within the function of `createTxContext`, after I add some debug logs, I've found that there's a deadlock at `handler.Lock`, since only `createTxContext1` appear in the debug outputs

[code]

[2016-05-30 09:15] corecode commented on #1648
Most of consensus config should be tied down in the genesis block, and must not be changed after starting the network (#999).

I agree that config file locations need to be reworked.  Maybe together with fixing config file verification? (#1309)

[2016-05-30 09:16] corecode commented on #1655
@muralisrini

[2016-05-30 09:39] corecode commented on #1610
So returning an error if the block is not available is correct?  Then we don't need `ok`.

[2016-05-30 09:45] corecode commented on #1331
You cannot expect all peers to be in the same state.  For now, any N-F (3 if N=4) peers should have the same ledger level.  To test, stop vp2 after your (9).  vp1 should catch up as you submit invoke transactions.

[2016-05-30 17:31] ks2020 commented on #1649
For use cases that you intend to cover, can you include why cannot existing the existing technologies be looked at and why do we need to look at Blockchain

[2016-05-30 21:02] muralisrini commented on #1627
@yingfeng thanks. Can you also provide /tmp/peer.dbg.out (containing logs and stack trace) as described from my previous comment please ?

[2016-05-30 21:26] muralisrini commented on #1627
@yingfeng just saw the instruction to produce stack trace was incorrect... should be SIGQUIT not "-9"

![image](https://cloud.githubusercontent.com/assets/14361488/15658532/7f6d958e-268b-11e6-90f0-ab39ce338c97.png)

Can you recreate the problem and attach /tmp/peer.dbg.out please ? Thanks!

[2016-05-31 00:51] yingfeng commented on #1627
@muralisrini The error outputs are the same without stack trace if SIGQUIT is sent. So this bug could not be defined as a `dead lock` since the program could exit normally, but it is blocked at the `handler.Lock()`

[2016-05-31 01:49] binhn commented on #1631
@gregmisiorek yes, hash would be preferred, especially in the case of confidential transactions.
@adecaro at this level, we should use transaction instead of chaincode to be more generic.

[2016-05-31 02:10] yeasy commented on #1647
+1, should return all nodes!

[2016-05-31 02:21] yeasy opened #1659 "Existing noops code does not work with transaction query API"
## Description

We cannot get transaction content after deploy/invoke.

This only happens with noops consensus.
## Describe How to Reproduce

<1> deploy a single peer node with noops, as doc describe.
Or just:

[code]

<2> Run test case to deploy, invoke and query with example02.

[code]

<3> Error happens with peer logs like

[code]

<4> Test with other consensus like pbft, sieve, both works well

[2016-05-31 03:19] muralisrini commented on #1627
@yingfeng I'm confused... I assume you do get the stack with SIGQUIT captured in /tmp/peer.dbg.out ? If so can you attach it here please ?

[2016-05-31 03:42] yingfeng commented on #1627
@muralisrini
Here are the three files attached:
I generate `peer.dbg.out` using `1.patch`, you could see the extra logging I added.  The `fabric.jmx` is the jmeter stress testing I was using.  Thanks~

PS, no Varant is used. The docker is started in baremetal.

[fabric.jmx.zip](https://github.com/hyperledger/fabric/files/290311/fabric.jmx.zip)
[1.patch.zip](https://github.com/hyperledger/fabric/fi

[2016-05-31 06:23] yingfeng commented on #1627
In golang programming language, double lock will lead to dead lock, and the system will quit with a panic error, for example:

[code]

This simple program will quit with panic error of `fatal error: all goroutines are asleep - deadlock!`

However, in fabric, there seems no panic error at all, for example, within the function of createTxContext, if I add double lock as following:

[code]

the syste

[2016-05-31 06:29] GrapeBaBa opened #1660 "Create OpenchainDB not safe when invocation in multiple goroutines"
## Description

In db.go the singleton openchainDB just protect by a package variable isOpen, it should be not safe when invocation by multiple goroutines.
## Describe How to Reproduce

In chaincode, invoke persist.go in different goroutines.

[2016-05-31 06:58] nitesh7sid opened #1661 "cannot run membersrvc after modifying ca.proto file."
I added one more method inside ECAA service: rpc RegisterAffiliationGroup(RegisterAffiliationGroupReq) returns (CAStatus);
after i build the go file ca.proto.go and start my membersrvc it gives me error saying
# github.com/hyperledger/fabric/membersrvc/ca

ca/eca.go:193: undefined: "github.com/hyperledger/fabric/membersrvc/protos".Regi
sterECAPServer. How to resolve that?

[2016-05-31 10:07] corecode commented on #1660
What do you mean by "invoke persist.go"?

[2016-05-31 10:30] GrapeBaBa commented on #1660
@corecode Sorry for inconvenient,  I just look at the code in db.go, i suspect it may be invoked by user in multiple goroutines. Please correct me if i am wrong.

[2016-05-31 11:05] yingfeng commented on #1627
@muralisrini This is another debug outputs after I sent SIGQUIT signal

[peer.dbg.out.zip](https://github.com/hyperledger/fabric/files/290907/peer.dbg.out.zip)

[2016-05-31 11:26] corecode commented on #1660
You are right in that the database should be thread safe.  As long as the database is opened by a single goroutine before anything else happens, it should be alright?

[2016-05-31 12:31] ghaskins opened #1662 "--peer-port option seems to be ignored"
It does not appear that the --peer-port option has the proper impact to configuration
## Description

Try to start the peer with a modified port via the command line and it seems to be ignored:

[code]

Note that the peer still starts on port 30303.

[2016-05-31 12:31] ghaskins commented on #1662
Discovered while reviewing #1645

[2016-05-31 13:18] tuand27613 commented on #1331
@sachikoy ,  behave#680 ran successfully so it looks like state transfer is working normally. Note though that the test waits for the restarted peer to complete state transfer (https://github.com/hyperledger/fabric/blob/master/bddtests/peer_basic.feature#L506) before querying the block height.

As @corecode mentioned, in an environment where there is a continuous stream of transactions, some numbe

[2016-05-31 14:55] bmandler commented on #1631
A couple of comments / thoughts
1.  The struggle to keep a blurry distinction between the different kinds of peers seems to add unnecessary confusion without having a real need (examples of how this complicates the text can be seen in the last paragraph of section 1.2: "Nodes other than committing ..., and section 2.3 first bullet, second paragraph). For simplicity I'd unify these entities and sta

[2016-05-31 15:05] bcbrock opened #1665 "We need a test to make sure that Viper calls stay off critical paths"
## Description

Now that we have solved #647, we need a way to make sure that Viper calls for cached variables don't creep back into critical paths, .e.g. a Go "unit test" or a script executed during CI.

[2016-05-31 15:23] bcbrock commented on #1122
If this is an issue for people using Vagrant (which I am not) then I assume they'll fix it.

[2016-05-31 15:23] #1122 closed, assigned to nobody

[2016-05-31 15:26] bcbrock commented on #1234
We now have the `busywork/bin/wait-for-it` script, that does what @binhn suggested. The networks that busywork creates use `wait-for-it` to implement the definitive interlock.

[2016-05-31 15:41] bcbrock commented on #1647
I would also add that the addresses returned by this call are the gRPC ports. I understand that this is how the peers communicate with each other, but these addresses are not very useful for HTTP-based applications. Related to issue #1646.

[2016-05-31 16:03] vukolic commented on #1631
@bmandler
Many thanks for very insightful comments! Let me respond quickly - but addressing fully requires more work as discussed below:
1) Good point - and this was originally the case in the design, until there was a remark that endorsers may be more general as peers that do not necessarily  maintain the state. But in principle, I agree - that we could simplify + endorser will most of the time b

[2016-05-31 16:20] srderson opened #1666 "Next ledger architecture proposal discussion"
Discussion for https://github.com/hyperledger/fabric/wiki/Next-Ledger-Architecture-Proposal

[2016-05-31 16:24] srderson commented on #1666
I have posted the initial [motivation section](https://github.com/hyperledger/fabric/wiki/Next-Ledger-Architecture-Proposal#motivation). Please provide comments if you think any requirements are missing or if you think there is a requirement that should be removed.

We will be adding additional sections over the coming days based on discussion and feedback.

[2016-05-31 19:10] ghost commented on #1649
Well certainly there would be some kind of a focus on our current system of "trusted" transactions and how the fundamental design of blockchain provides an opportunity to replace parts of that network. That's how I intended to start -- to describe in broad terms how most transactions today take place and then to show how those transactions might look in blockchain.

Where I could use some advice a

[2016-05-31 19:18] dshuffma-ibm commented on #1630
I believe @angrbrd is interested in taking this up but needs a few days to figure out if she has the time.  If she can't, I'll let you know!

[2016-05-31 20:13] mihaigh commented on #1631
Typos:
1. on section 1.2.ii. point b it is written "on behalf one or more clients for executing the transaction." instead of "on behalf of one or more clients for executing the transaction."
2. on section 1.2.iii. it is written "and can then send messages and obtain see messages that arrive" instead of "and can then send messages and obtain the messages that arrive"

[2016-05-31 21:58] binhn commented on #1630
What would the security of such data collection be, especially when the chaincode is confidential?

[2016-05-31 23:50] srderson opened #1670 "Upgrade github.com/op/go-logging package"
## Description

Upgrade the `github.com/op/go-logging` package to the latest version.
##### The easy part

From Vagrant

[code]
##### The hard part

The API has changed such that `Info(...)`, `Warning(...)`, `Error(...)`, etc. functions now have `Infof(...)`, `Warningf(...)`, `Errorf(...)` equivalents. These functions are referenced in many locations.

The motivations behind this upgrade are
1. To

[2016-06-01 00:14] JonathanLevi commented on #1558
So currently as of the latest `master` without/before these fixes:

[code]

results in:

[code]

[2016-06-01 00:26] JonathanLevi commented on #1661
If you check-in your work to a branch, I can take a (brief) look.

[2016-06-01 00:37] #1558 closed, assigned to nobody

[2016-06-01 00:49] GrapeBaBa commented on #1630
i would like to try this one. Does someone can give a brief design or need do it from scratch?

[2016-06-01 00:52] JonathanLevi commented on #1286
Following

[code]

Executing:

[code]

[2016-06-01 00:54] JonathanLevi commented on #1286
@christo4ferris, given the above, please let me know if you are OK with me closing this issue, as I believe that `membersrvc` does not have any `golint` or `go vet` issues anymore.

[2016-06-01 01:23] JonathanLevi opened #1671 "Clear Go Report card issues/warnings in membersrvc"
Other than the `cyclomatic complexity` of some functions in `eca.go` and `tca.go` (which we can deal with later), we should be able to fix all the `membersrvc` issues listed on the Go Report card/badge right away.
## Description

## Describe How to Reproduce

Check-out https://goreportcard.com/report/github.com/hyperledger/fabric

[2016-06-01 02:41] #1671 closed, assigned to nobody

[2016-06-01 03:56] genggjh commented on #1670
@srderson, I can do this. Assign it to me.

[2016-06-01 08:10] yingfeng commented on #1602
Hi, when I pull the code to this commit `10b3d82a9a7f0d11b3c1f8ee7ef2ba2ea61dad87` and rebuild the image, the above error reappear:

I ensure both machine A and B have these docker images:

[code]

On `machine A`, I start `peer1`:

[code]

And I've got `peer1`'s ip adress of `192.168.0.25`

On `machine B`, I start `peer2`:

[code]

Then I send to deploy to `peer2`, I can see chaincode image is cre

[2016-06-01 09:38] vukolic commented on #1545
@sachikoy perhaps this one can be closed?

[2016-06-01 12:46] christo4ferris commented on #1286
closing, thanks everyone for pitching in to clean this up!

[2016-06-01 12:46] #1286 closed, assigned to nobody

[2016-06-01 12:47] corecode commented on #1665
I believe that viper is the wrong library for configuration.  See #1309.

[2016-06-01 12:49] corecode commented on #1670
if gorename can deal with vendored repos by now, it could be an easy way to change all calls.

[2016-06-01 12:56] genggjh commented on #1670
@corecode good suggestion, I will try it.

[2016-06-01 13:09] smithbk commented on #1186
The following are more design thoughts on the registrar.

A registrar is a member identity of a chain that has privilege to register other members.  Member services uses ABAC (Attribute-Based Access Control) to create decentralized registrar members.

Consider the following use case:
Alice from bank1 creates chain1 and invites Bob from bank1 and Charles from bank2 to host peers on chain1.  Alice w

[2016-06-01 14:03] srderson commented on #1670
@genggjh You got it, thanks!

[2016-06-01 14:06] #1362 closed, assigned to nobody

[2016-06-01 14:38] corecode commented on #1535
Should be handled by new event system

[2016-06-01 14:38] #1535 closed, assigned to nobody

[2016-06-01 14:47] christo4ferris commented on #1309
from the go-nuts thread; https://groups.google.com/d/msg/golang-nuts/sAofmg2_lL8/_7ctHwssGxwJ "YAML is the Perl of data formats"

ROTFLMAO

[2016-06-01 15:03] joshhus opened #1674 "Propose using Python Sphinx for docs display"
## Description

Discuss / propose using Python Sphinx for doc display / HTML output
## Describe How to Reproduce

One example: http://intelledger.github.io/

Python 3.5 Sphinx 1.4.1 uses "themes" for HTML doc display.
We could automate going from our .md >> Sphinx HTML. .md in GitHub would remain the single source, and the current update / editing .md process would not change. This build for displ

[2016-06-01 16:00] JonathanLevi commented on #1286
Thank you @christo4ferris. Yup, especially thanks to @srderson and @ghaskins for the quick turnarounds and lengthy discussions regarding the various `golint` and `go vet` fixing approaches, making sure that `membersrvcs` is not anymore the worst offender.

[2016-06-01 17:34] ghost commented on #1674
Having [Jenkins](https://jenkins.hyperledger.org/) fire a job on update to the .md files and make the artifacts available should be simple enough - someone will need to write the YAML. I propose two views of the documentation - one is the WIP (master branch), another is the documentation tied to last release. I don't feel strongly about that proposal, though.

[2016-06-01 17:39] christo4ferris commented on #1674
+1 though we may want to constrain visibility to the staging site with a robots.txt to prevent it being picked up by search bots.

[2016-06-01 17:47] joshhus commented on #1674
fyi, Python Sphinx likes .rst (restructured) files to start with, so I used pandoc (per Sphinx recommendation) to go from .md to .rst first.

[2016-06-01 18:25] tuand27613 commented on #1478
@ratnakar-asara @bmos299 could you re-run with current commit and post the debug logs ?  And can you point out where in the logs peer1 is paused and restarted ?

[2016-06-01 18:35] #1454 closed, assigned to nobody

[2016-06-01 19:04] joshhus commented on #1674
There's a slack channel for this specific issue: https://hyperledgerproject.slack.com/archives/docsdisplay

[2016-06-01 21:01] angrbrd commented on #1581
@mastersingh24 @smithbk @jeffgarratt

I looked into this more and also discussed with @jeffgarratt to get a better idea of the options we have.

The way the process works on the server side right now is that the Docker container is basically created empty. It does not contain any hyperledger fabric related source code in it. Therefore, to build the chaincode that is being sent over from the client

[2016-06-01 21:17] joshhus commented on #1642
I don't have access to the whitepaper.

[2016-06-01 21:23] smithbk commented on #1581
@angrbrd In the long term, want to allow a webapp to bundle the chaincode source and to deploy it from a servlet init method for example.  The chaincode source has already been compiled/tested previously in another env and they can redeploy this webapp multiple times in multiple environments.  In this model, we don't want to require that they have the gocode on each appserver instance in each env.

[2016-06-01 22:34] rajaduggimpudi opened #1677 "Error: Error querying chaincode: rpc error: code = 2 desc = "Error:Failed to launch chaincode spec(Error starting container: cannot connect to Docker endpoint)""
I was trying to query transaction using the following command and see the following error

`peer chaincode query -n <chaincodeId> -c '{"Function": "query", "Args": ["a"]}' -u jim`

23:52:59.542 [crypto] main -> INFO 001 Log level recognized 'info', set to INFO
Usage:
peer chaincode query [flags]

Flags:
-x, --hex[=false]: If true, output the query value byte array in hexadecimal. Incompatible with

[2016-06-01 23:15] ratnakar-asara commented on #1478
@tuand27613 , We paused the peer after a Deploy,  Invoke / Query twice
Here are the test steps :
1. Start 5 peer network
2. Deploy chaincode and wait for 90 seconds
3. Trigger Invokes and Queries twice and check if the block chain height is 4
4. Pause one of the peer
4. Invoke and Query for 100 Iterations

Observations based on two iterations:
Iteration1: After 88 Iterations Invoke/Queries does no

[2016-06-01 23:20] bcbrock commented on #1670
Hi @genggjh - May I offer to put more work on your plate? When I implemented the logging APIs for chaincodes, I only implemented the 'f' versions, to avoid confusion with the old op/go-logging conventions   used by the fabric code which I suspected would change one day. Since you're mucking with logging anyway, would you mind extending this issue to add the non-f versions of the shim logging funct

[2016-06-01 23:40] bcbrock opened #1678 "Performance: We need to enable the Go blocking profile"
## Description

The blocking profile does not work by default, it requires changes in the source code as explained
[here](https://github.com/hyperledger/fabric/wiki/Go-Performance-Portal#other-profiling).

This issue is not currently blocking me :-); I can make the change when it becomes an issue for me, unless someone else wants to do it first.

I would probably either create a new HTTP route to

[2016-06-01 23:41] bcbrock commented on #1665
@corecode I agree it has many flaws, but until we change it it won't be that much work to make sure we are using the caching that was implemented.

[2016-06-02 02:07] GrapeBaBa commented on #1660
[code]

I am confused why both methods open db

[2016-06-02 02:37] muralisrini commented on #1581
Trying a summary from purely packaging point of view (no upgrade, migration, etc).

Due to crypto operations on the transaction - now done in the SDK - I think the options are the following
1.  create the whole chaincode in the SDK
2.  provide chaincode in SDK but collect dependencies in Docker (basically things like "go get" in dockerfile). BTW "go get" on Dockerfile has two disadvantages (1) pot

[2016-06-02 03:32] muralisrini commented on #1627
@yingfeng : can you verify/confirm the fix in the above PR please ? Btw, I think you suspected a problem in the send... though a little more involved, the suspicion was right on target :-) (assuming you can confirm the fix, that is.)

[2016-06-02 03:55] yingfeng commented on #1627
@muralisrini Confirmed, this PR has fixed this issue, thank you~

[2016-06-02 03:55] #1627 closed, assigned to nobody

[2016-06-02 04:26] sachikoy commented on #1545
@vukolic I'd like to confirm the cause of this problem before closing this issue. There is a potential issue in HL that allows non-deterministic behavior of chain code.

[2016-06-02 05:00] bcbrock opened #1681 "Dummy Issue"
## Description

I don't know any other way to add an image to the repo so that it can be referenced by a Wiki.

![morestack](https://cloud.githubusercontent.com/assets/11968347/15734405/0bd3e77e-2855-11e6-8a62-1458809ab0c8.png)

[2016-06-02 05:01] #1681 closed, assigned to nobody

[2016-06-02 08:08] mm-hl commented on #1631
Hi guys

Thanks for the good work on the Next Consensus Architecture Proposal.  I like the general direction of moving away from a monolithic architecture, allowing for more flexibility and separation of concerns.  I have a bunch of comments at varying levels of detail.  They are listed more or less in order of the relevant parts of the proposal.  These comments were written while reading [this ve

[2016-06-02 08:33] mastersingh24 commented on #1545
@sachikoy - it is a known fact that it is possible to write non-deterministic chaincode at this point.  Not that we want to push people in that direction in this point, but the "sieve" consensus was created in order to try to handle this.   In the new consensus proposal, non-deterministic behavior would be "detected" in the endorsement stage (detected meaning the transaction would not be endorsed

[2016-06-02 10:45] corecode commented on #1478
Duplicate of #1076, #1056

[2016-06-02 10:45] corecode commented on #1076
Related #1056

[2016-06-02 12:02] genggjh commented on #1670
@bcbrock, I got your point, for add non-f logging functions into the shim, I think we need a separate PR after we merge this big changes.

[2016-06-02 12:05] corecode commented on #1056
I set out to implement a timeout on sends, which would address this issue.  However, I cannot find a way to cancel a GRPC stream, both on client as well as server side.  There doesn't seem to be a unified way to do so.

@jeffgarratt

[2016-06-02 13:09] muralisrini commented on #1627
Perfect, thank you!

[2016-06-02 13:39] vukolic commented on #1631
@mm-hl Thanks! I am again going to focus in the response only on vital things:
 
3) to be fixed - probably by making endorsing peers also committing peers
 
4) ack - to be fixed
 
5 + 14) Let me tackle this one early on: The approach to handling concurrency is a critical one. Version dependencies were chosen after weeks of (sometimes heated :) discussion with @chetmurthy and @cca88. Although this

[2016-06-02 13:43] jeffgarratt commented on #1056
@corecode @jyellick will take a look and see the way we can allow either side to cancel (close) the stream.

[2016-06-02 17:00] binhn opened #1687 "Storing invalid transactions on blockchain should be optional"
## Description

Currently transactions execute with error are stored on the ledger for auditability. There must be an option to store these transactions or not, and the default should be not to store them.
## Rationale

Some reasons offerred by Tamas Blummer: "this turns out to be an open door for DoS attacks or simply filling up the blockchain with junk by one misbehaving client."

[2016-06-02 17:17] webdaford commented on #1677
I'm seeing exactly the same error.  I'm able to deploy the example chain code (chaincode_example02), and invoke the transfer "of 10 units", but when I query I get the error.

[2016-06-02 18:09] binhn commented on #1662
@jeffgarratt @lehors you re probably more familiar with these cmd flags;  please comment

[2016-06-02 22:50] JonathanLevi opened #1691 "Refactor/fix core/crypto/ tCertPool"
## Description

Currently, in `core/crypto` `tCertPool` interface has the following methods:

[code]

In practice, this pool works as a cached/buffered factory (where we can generate a few TCerts in one go, from the TCA).

This (master) issue encapsulates a set of requirements, improvements and fixes in this space.

[2016-06-02 22:50] JonathanLevi commented on #1691
tags: `membersrvc`, `security`

[2016-06-02 22:55] JonathanLevi opened #1692 "tCertPool: AddTCert() fix runtime panic on under- and over-flow"
As part of [1691](https://github.com/hyperledger/fabric/issues/1691), under stress, AddTCert() results in panic/exception thrown (index out of bounds).
## Description

I suspect that the implementation has only `len` (which is similar to STL's `size`, but not `capacity`). Will take a closer look.
## Describe How to Reproduce

Found two memory management issues, first is an underflow (panic on usin

[2016-06-02 22:58] JonathanLevi opened #1693 "tCertPool: GetNextTCert() -> GetNextTCerts( nCerts int )"
As part of [1691](https://github.com/hyperledger/fabric/issues/1691) allow the direct call for obtaining more than 1 TCert at a time.
## Description

Discussed also here [890](https://github.com/hyperledger/fabric/issues/890), and on Slack, but I will add more detail about this.

Effectively, when asking for a `TCert` from the existing `tCertPool`, the underlying pool constantly checks how many av

[2016-06-02 23:05] JonathanLevi opened #1694 "tCertPool: Free TCerts memory after use"
As part of [1691](https://github.com/hyperledger/fabric/issues/1691), I suspect that we could be a bit smarter regarding the memory management of the internal slice of tCerts.
## Description

When flagging a TCert as used, the current code simply decreases `len` by 1, but the slice is not resized (or at least send a `hint/suggestion` to the GC that the underlying object (TCert) in the cache) can b

[2016-06-02 23:45] mastersingh24 commented on #1186
@diegomasini @andresgaragiola  - as I recall, weren't affiliation groups supposed to be a way to "partition" entities into an hierarchy?   I know it is part of the design for releasing keys to auditors to link transactions.

[2016-06-02 23:58] diegomasini commented on #1186
@mastersingh24 you are right. Affiliation is included in the ECert. An ECert has only one affiliation and it provides exactly that, a partition for releasing keys to an auditor so it can link transactions if that affiliation is under its jurisdiction.

[2016-06-03 00:03] mastersingh24 commented on #1662
@ghaskins  - couldn't tell you if this was ever used, but since I started back in mid-December all "address" properties in the config are `host/ip:port` combos.

so my bet is that this can be safely removed since it does function as "designed" (does nothing) but not as "expected" (changes the port)

[2016-06-03 01:30] ghaskins commented on #1662
I am totally fine with this going either way (fixed or removed).  I mostly wanted to capture the issue while it was fresh on my mind.

[2016-06-03 03:13] xbh2015 opened #1695 "LoZ Install GRPC"
## Description

As it is shown in the  fabric/images/base/scripts/common/setup.sh file, when we run it in LoZ ,there is a tip that protobufs wont compile on 390, missing atomic call .Is that mean we can not use it in LoZ ?
## Describe How to Reproduce

[2016-06-03 03:56] softlore commented on #1585
@muralisrini @srderson : you are correct. It worked.

[2016-06-03 03:56] #1585 closed, assigned to nobody

[2016-06-03 05:05] yingfeng commented on #1602
It's my fault, the environment of `CORE_PEER_ADDRESSAUTODETECT` should be set to true when starting the peer, or else, chaincode handler could not process any messages

[2016-06-03 05:05] #1602 closed, assigned to nobody

[2016-06-03 06:04] dianfu opened #1696 "stub.GetTable reports "Table not found" for a table which does exist after chain code restart."
## Description

stub.GetTable reports "Table not found" for a table which does exist after chain code restart.
## Describe How to Reproduce

The following tests are performed in dev mode:
- Deploy a chain code which create a table;
- Restart the chain code and redeploy the chain code; In the init method, check if that table already exist using method stub.GetTable("table name"), it will report tha

[2016-06-03 07:09] mm-hl commented on #1631
@vukolic thanks for the quick and detailed response.  Minor responses in this comment, longer discussion in the next.

7) Doesn't seem to address my comment, not sure what you are saying.

8) All of the things mentioned (including PROPOSE and SUBMIT messages) contain signatures, according to my reading of the proposal.  My comment is about what is **covered** by the signature and specifically abou

[2016-06-03 07:16] mm-hl commented on #1631
Responding to @vukolic's 5 + 14):

First, I find it difficult to tell from the proposal what the role/purpose of endorsers is intended to be, which I think affects this conversation significantly, because it's hard to figure out what motivates what.  Here are some of the reasons I'm struggling with this and some "reading between the lines" that may help me understand and you clarify:
- From Sectio

[2016-06-03 07:17] mm-hl commented on #1631
One more small comment on terminology.  I find it slightly strange in Section 1.2, bullet 2.a that a committing peer "commits the transactions and maintains the state" but is called a "read-only peer" (if is not also playing other roles).  I get that the intention is that it can only support read-only queries from clients if it does not play these other roles, but nonetheless the terminology seems

[2016-06-03 07:31] vukolic commented on #1631
@ mm-hl quickly re 5+14)

The idea of HASH(txPayload) in alternative design in 2.2 is misplaced - HASH(txPayload) (or tid) should be sent to consensus service in 2.4 for confidentiality, so basically tran-proposal cannot be reused from 2.2 to 2.4. PROPOSE message (Sec 2.2) HAS TO have full txPayload sent to endorsers for - indeed - execution of the transaction. I will make this clear asap since th

[2016-06-03 07:44] huhaiqing opened #1697 "How to get the transaction history data in block chain?"
Could you help us how to get the transaction history data from block chain?

For example, I onced executed below transaction.
transaction 1: a= 100, b=200, c=300
transaction 2: a=90, b=210, c=300
transaction 3: a= 80, b=210, c=310
......
Now I want to get the history transaction, the blockchain should return the total ledger to us, such as
a= 100, b=200, c=300
a=90, b=210, c=300
a= 80, b=210, c=31

[2016-06-03 08:34] vukolic commented on #1631
@ mm-hl re 9 + 23)

" That does not prevent consenters (who can determine that they are invalid) "

In fact consenters - in the current proposal - have no way to determine whether a tx is invalid or not. This can be only done by (committing) peers.

The design is currently general as in - it separates consenters from (committing) peers. The main motivation is to allow easily pluggable generic cons

[2016-06-03 09:34] yingfeng opened #1701 "Inconsistent state after writing transactions to multiple peers concurrently"
## Description

According to the definition of consensus, each fabric peer should have a consistent state at all time, or else, the decentralized ledger could not work at all. However, after I setup a fabric network, and perform the stress test, I've found the state of all fabric peer nodes are inconsistent at all.
## Describe How to Reproduce
- Setup N fabric peer nodes, and I've tried N=2, N=3,

[2016-06-03 09:41] andresgaragiola opened #1702 "Is not possible to test transaction using ConfidentialityProtocolVersion 1.1"
## Description

ConfidentialityProtocolVersion is set to 1.2 [here](https://github.com/hyperledger/fabric/blob/master/core/crypto/client_tx.go#L64) and it is not possible to modify this value. This situation produces that all the code developed for ConfidentialityProtocolVersion 1.1 as [this](https://github.com/hyperledger/fabric/blob/master/core/crypto/client_confidentiality.go#L47#L85) could not

[2016-06-03 10:23] mastersingh24 commented on #1697
@huhaiqing - we do not currently store historical state information.  For the key/value store (aka the state stored for each chaincode), we only store the latest value of any given key.  For the "ledger" we actually store the entire list of "transactions" but they do not include the state at each point in time.

A [proposal](https://github.com/hyperledger/fabric/wiki/Next-Ledger-Architecture-Propo

[2016-06-03 10:25] mastersingh24 commented on #1662
at this point, my vote would be to remove it

[2016-06-03 10:49] corecode commented on #1701
@jyellick I don't think we should be dropping messages when the channel is full - this basically turns TCP back into UDP.  We need a solid story for flow control.

One way would be to block there and run state transfer over a different GRPC stream (could be the same GRPC connection).  That way we don't buffer much, and any slowness in processing propagates back to the senders.

[2016-06-03 11:43] corecode commented on #1631
Including `stateUpdate` and (more importantly) `verDep` in the `PROPOSE` message to endorsers allows endorsers to be (internally) sharded on the chaincode state keys.

[2016-06-03 11:49] corecode commented on #1701
@yingfeng could you provide a debug log for all the peers?

[2016-06-03 14:03] genggjh commented on #1670
@srderson pls help to review my changes.

[2016-06-03 14:26] cca88 commented on #1631
@mm-hl: Thanks for your comments and the discussion.

Re 13) Your text says what was meant, this is better.

Re 14) Yes, this would essentially be a transaction manager running together with consensus on blockchain.

Re 26) The proposal mentions this, it's the optional "(Blockchain) State" data structure that can be part of the hash chain, included through the root of a hash tree on the state, jus

[2016-06-03 15:16] arjhunthiagarajan opened #1706 "Error querying chaincode: Failed to launch chaincode spec when running chaincode in dev environment"
I was able to set up the development environment successfully based on the instructions provided here - https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/devenv.md

When I try to run the chaincode_example02 in the dev environment based on the instructions here - I get an error message - _Error: Error querying chaincode: rpc error: code = 2 desc = "Error:Failed to launch chaincode sp

[2016-06-03 16:08] rajaduggimpudi opened #1707 "ERRO 03c Error building Peer container: cannot connect to Docker endpoint"
## Description

I was trying to deploy chaincode using the following command after logging in with username 'jim'

`peer chaincode deploy -p ../src/github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02 -c '{"Function": "init", "Args": ["a", "100", "b", "200"]}' -u jim`

and noticed the (Error building Peer container: cannot connect to Docker endpoint) error in validating peer log

[2016-06-03 18:49] #1635 closed, assigned to nobody

[2016-06-03 18:52] bramwelt commented on #1674
I'd like to add my $.02 that ReadTheDocs supports generating documentation from Markdown: http://read-the-docs.readthedocs.io/en/latest/getting_started.html#in-markdown

They also provide free hosting and allow you to configure which branches/tags/refs are build and displayed.

[2016-06-03 19:44] ghaskins commented on #1417
This is likely fixed by PR #1708, specifically this patch: https://github.com/hyperledger/fabric/commit/b45b481167272585d88f9b94078b468b8a3efd20

[2016-06-03 19:46] ghaskins commented on #1417
Though not in the manner mentioned.  The system still builds a tarball in memory, however, we have taken steps to reduce the contents of the tarball to only .go/.yaml code.

[2016-06-03 19:52] mm-hl commented on #1631
@vukolic Sorry, I caught myself a number of times saying "consenter" when I meant "committer" but obviously didn't catch them all.  Yes, I totally understand and agree, and my sentence was about what consenters store, nothing to do with committers.

@corecode True, but at the expense of confidentiality from the submitter, since it has to execute the transaction in order to determine the stateupdat

[2016-06-03 19:59] ghaskins commented on #1581
Hi All,

Related to this, I have a few interesting developments.
1. A proposed optimization on the NVP side is to recognize that dependencies (both direct and transitive) generally only need to consist of .go files and nothing more.  Therefore, a patch like this https://github.com/hyperledger/fabric/commit/b45b481167272585d88f9b94078b468b8a3efd20 has helped to substantially reduce the size of the

[2016-06-03 19:59] ghaskins commented on #1581
I plan on adding this logic to chaintool for generating .car packages...I would imagine the SDK could make similar use.

[2016-06-03 20:23] dshuffma-ibm opened #1711 "Improve transaction object format"
I'd like to improve the usefulness of the transaction format, mainly the payload field. There are a few APIs that will return the transaction details. One on the block's details which returns an array of transactions and another for a specific transaction which returns just the 1 object; they use the same format. An example of the current format I've seen is:

[code]

The payload field is the most

[2016-06-03 21:16] cca88 commented on #1631
@mm-hl: Right, this was confusing: I thought that optionally including the blockchain state also meant to include it inside 4.2 as part of the hash chain. (That hash chain now is built over the VL.) Will clarify this option.

14) Yes, agree. IMHO the design moves towards a transaction manager (TM) being implemented inside the logic for applying the updates; the TM ensurs a chosen consistency condi

[2016-06-03 22:33] tuand27613 commented on #1701
Nishi has reproduced the issue and will be adding the debug logs soon.

The test program pushed 10K invokes ( 2 threads doing 5K each ). We're seeing that in some cases not all 10K invokes are being processed. Not seeing as much divergence in the results from the 4 peers, usually 1 of the 4 peers is showing a smaller chain height.

[2016-06-03 23:21] 2016Nishi commented on #1701
During my run query results matched in 3 peers and PEER3 had a slightly higher number for a and b values. Please find attached log files for this run here.

Results in a and b PEER0 :  99066 90934
Results in a and b PEER1 :  99066 90934
Results in a and b PEER2 :  99066 90934
Results in a and b PEER3 :  99063 90937

In this particular run only 934 requests were processed even though we programmed

[2016-06-04 03:53] andresgaragiola opened #1718 "Test using ConfidentialityProtocolVersion 1.1"
I have fixed #1702 in #1717 but test using ConfidentialityProtocolVersion 1.1 fails.
## Description

Added tests in crypto_test.go using ConfidentialityProtocolVersion 1.1 fails. Is required fix ConfidentialityProtocolVersion 1.1 errors.
## Describe How to Reproduce

Enable commented test to ConfidentialityProtocolVersion 1.1 included in #1717 a run test on crypto_test.go

[2016-06-04 10:38] mastersingh24 commented on #1707
@rajaduggimpudi  - can you share the start command you used for the validating peer?  Likely you don't have the vm endpoint (aka docker host) parameter configured correctly or your docker daemon is not configure correctly to listen on a remote port.

[2016-06-05 09:17] sachikoy commented on #1545
@mastersingh24 @vukolic @bmos299 The issue occurred again, after we ran the code for a couple of days. This time, some errors as follows are recorded in the block data. Block hash become inconsistent at block 590 and later.

[code]

There are some differences on the data in the world state as well. Some data was missing on vp0 where transaction error was recorded in the blocks.
This time, problema

[2016-06-05 09:43] huhaiqing commented on #1697
Could you tell me how to get the entire list of "transaction" ? Thanks

[2016-06-05 11:39] gregmisiorek commented on #1666
to ensure only a limited supply of units of account to preserve the future value and to avoid unnecessary inflation.

[2016-06-06 01:44] huhaiqing opened #1725 "How to get all the transaction data in block chain ledger?"
Hi,

Some times we need to vaildate all the transaction data in the bock chain ledger,
Could you tell us how to get all the transaction data in block chain ledger?
In there any function interface to call?

Thanks in advance.

Regards
Haiqing

[2016-06-06 07:40] tock-ibm commented on #1631
Issue: committing peers can change the order of blobs from consensus.

The question of Byzantine committing peers was already raised.
However, while it is true that a Byzantine committing peer cannot alter the content of a blob provided by the deliver() event of the consensus, it seems to me that it can change the order between blobs.
That is, the deliver provides {sequence-num, blob, hash}; anyon

[2016-06-06 11:15] vukolic commented on #1631
@tock-ibm

Byzantine committing peers can indeed do what they want with their raw ledger producing a hashchain that verifies but is bogus. However, this is not an issue, since such Byzantine peers cannot convince any honest peer of their chain. Namely, in the State transfer and checkpointing protocol (Sec 5) an honest peer gets the head (tip) of the raw ledger hashchain from the consensus service

[2016-06-06 14:40] jyellick commented on #1417
@ghaskins I concur, if we restrict the size of the tars to some reasonable size, the 'streaming' notion is unnecessary.

[2016-06-06 14:43] tuand27613 commented on #1331
From talking with @mrshah-at-ibm , the failing scenario is :
1. In the screenshare session, following scenario was played:
   2.1. Start a 4 peer network
   2.2. Run a few transactions and reach stateHash on all peers. Example block heights as follows:

[code]

2.3. Bring down P4 and execute some transactions. Example block height as follows:

[code]

2.4. Bring P4 back up. It will not catch up (F

[2016-06-06 14:49] tuand27613 commented on #1545
blockchain hashes as observed by @sachikoy and team

[block-investigate.xlsx](https://github.com/hyperledger/fabric/files/300644/block-investigate.xlsx)

[2016-06-06 14:49] jyellick commented on #1701
@corecode With respect to dropping transactions when the channel fills, this was discussed extensively with @jeffgarratt, @binhn, and others.  The argument loosely, was that some portion of the system needs to push back, we cannot buffer indefinitely.  If we were to block on channel writes here, then the gRPC buffer would back up, and eventually gRPC would have to start discarding requests.  I'm n

[2016-06-06 14:50] vukolic commented on #1701
What @2016Nishi got is expected behavior w/o proper flow control - requests may be dropped but not more than 1 VP response/state should be inconsistent (1 is very much ok - for the moment).

That said, what @yingfeng reported is really worrysome (state inconsistency) - so since this issue was not reproduced yet - we still need logs from that run.

[2016-06-06 14:55] JonathanLevi opened #1728 "(core/util) cleanup: Remove unused Queue implemenation"
## Description

We have a bespoke `Queue` implementation in `core/util/queue.go` which is not used and should be removed.
## Describe How to Reproduce

Remove `queue.go` and `queue_test.go` and `make all` & see that it all goes well.

[2016-06-06 14:58] tuand27613 commented on #1701
@vukolic  a similar inconsistent state issue #1545

[2016-06-06 14:58] vukolic commented on #1701
ack - just saw that

[2016-06-06 14:59] vukolic commented on #1545
do we have the logs as well?

[2016-06-06 15:29] sachikoy commented on #1545
@vukolic I've sent a link to log file by e-mail. (A bit nervous about sharing the log on a public git hub)

[2016-06-06 16:06] corecode opened #1731 "pbft null requests require persisting of lastSeqNo separately as well"
## Description

Null requests advance seqno, but this change in seqno is not recorded persistently, because null requests do not trigger block commits.  Crash+restart will put a node into a desync state.  This probably was possible previously (many view changes).

Solution: persist lastSeqNo also separately and pick the larger of both on recovery.

@jyellick

[2016-06-06 16:20] ghaskins opened #1732 ""make protos" should ensure protoc-gen-go prerequisite is met"
## Description

"make protos" does not properly depend on the gotools so it is possible that the prerequisite is not met in certain circumstances, resulting in a failed protobuf compilation step.
## Describe How to Reproduce

run "make clean protos" and observe that the system fails to find protoc-gen-go
## Workaround

run "make gotools" prior to running "protos".  For instance "make gotools proto

[2016-06-06 16:54] alkopnin opened #1733 "Docker not installed"
Hello,

I'm trying to setup Fabric and have an issue with docker.

I do: _vagran up -> vagran ssh -> cd $GOPATH/src/..../fabric -> sudo make peer OR  sudo make membersrvc ->_

**Makefile:42: No docker in PATH: Check dependencies.**

I assume that docker already have to be installed in this case

[2016-06-06 17:09] ghaskins commented on #1733
try without "sudo" please

[2016-06-06 17:34] #1548 closed, assigned to nobody

[2016-06-06 17:34] #1567 closed, assigned to nobody

[2016-06-06 18:40] tuand27613 commented on #1701
@yingfeng  could you retry with N=4 and logging_level=debug and attach the logs for all peers ?

[2016-06-06 18:48] bmos299 commented on #1545
@mastersingh24 :  @ratnakar-asara is making some changes to his go toolkit.   He is changing from 5 nodes to 4 nodes and adding checks to include the state and hash value.  We were looking only at the height before.   This will be done today.

[2016-06-06 19:06] JonathanLevi commented on #1661
@nitesh7sid Let me know if you require any further assistance here, otherwise, can we close this item?

[2016-06-06 22:16] #1728 closed, assigned to nobody

[2016-06-07 01:27] yingfeng commented on #1701
Hi, I've started 4 peers on 4 machines and reproduce it. Logs are attached, and the fabric.jmx is the jmeter performance test file

[code]

[logs.zip](https://github.com/hyperledger/fabric/files/301658/logs.zip)

[2016-06-07 02:11] huhaiqing opened #1735 "Is there any function to get all the transaction data in block chain ledger?"
Hi,

Anybody can tell us how to get all the transaction data in block chain ledger?

We want to track each transaction in the block chain ledger, is there any interface to get the entire transaction data list in fabric?

Thanks in advance.

Regards
Harry

[2016-06-07 03:55] yingfeng commented on #1701
These are logs after `CORE_LOGGING_LEVEL=debug` has been set. They are much larger

[peer0.out.zip](https://github.com/hyperledger/fabric/files/301805/peer0.out.zip)

[2016-06-07 03:57] yingfeng commented on #1701
[peer1.out.zip](https://github.com/hyperledger/fabric/files/301806/peer1.out.zip)

[2016-06-07 03:58] yingfeng commented on #1701
[peer2.out.zip](https://github.com/hyperledger/fabric/files/301808/peer2.out.zip)

[2016-06-07 03:59] yingfeng commented on #1701
The logs are so big and each time only 10MB is permited to upload
[peer3.out.zip](https://github.com/hyperledger/fabric/files/301811/peer3.out.zip)

[2016-06-07 06:02] GrapeBaBa opened #1736 "Error ocurr when execute behave test"
## Description

when execute 'make behave', error ocurr.

[code]
## Describe How to Reproduce

[code]

[2016-06-07 07:25] kchristidis commented on #1662
This can be closed, with #1645 in.

[2016-06-07 08:06] yingfeng opened #1739 "Improve the throughtput of fabric"
## Description

According to the [claim](https://github.com/hyperledger/fabric/blob/master/docs/FAQ/usage_FAQ.md) of fabric, 100,000 TPS is the aim to achieve if there are about 15 validating nodes running in close proximity. However, according to my stress testing under production environment, the result is far from that aim:
## Describe How to Reproduce

I am using the simplest example2 of chain

[2016-06-07 08:11] alkopnin commented on #1733
I found some issue with cert: **Packages  server certificate verification failed.**
(OS Win7)

Full dump:
1) vagrant destroy - Ok
2) vagrant up

default: Running: inline script
==> default: stdin: is not a tty
==> default: ++ export DOCKER_STORAGE_BACKEND=
==> default: ++ DOCKER_STORAGE_BACKEND=
==> default: ++ cd /hyperledger/devenv
==> default: ++ ./setup.sh
==> default: Reading package lists...

[2016-06-07 09:31] corecode commented on #1701
You are running with noops "consensus".  Please switch to pbft batch consensus.

[2016-06-07 09:39] vukolic commented on #1701
@yingfeng in the meantime pls close the issue - as it is not an issue to get different states with NOOPS. Feel free to reopen if the problem reappears with pbft batch

[2016-06-07 09:55] vukolic commented on #1545
@sachikoy - are you _sure_ your chaincode is deterministic? Can we obtain chaincode source (private channels ok)?

[2016-06-07 10:55] corecode commented on #1731
@jyellick It seems that the current code path should already cover most, if not all.  We persist p and q sets, so the existence of a null request is retained.  I suppose we could persist an "exec" set, which can be used to replay requests that we have a commit certificate for.  But I think this is strictly some optimization, because on restart, these requests will be re-processed during view-chang

[2016-06-07 12:58] esgott opened #1741 "PBFT goes to viewchange after a few transactions"
## Description

I have a PBFT network a 4 nodes, and trying to measure the performance I could get out of it. Unfortunately, the network always go to view-change, and never (I waited about a minute) succeeds to go to a new view.. First I thought, that it may happen because of the big stress of the transactions sent in, so I put a 1 sec timer between transactions, but I get the same problem. Then I

[2016-06-07 13:11] bd37 opened #1742 "make peer error"
When I type "make peer" in fabric folder, I receive the following more codes with the following. How can I fix about that?
# make peer

cd peer; CGO_CFLAGS=" " CGO_LDFLAGS="-lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy" go build
# github.com/hyperledger/fabric/vendor/github.com/tecbot/gorocksdb

../vendor/github.com/tecbot/gorocksdb/options.go:328: not enough arguments in call to _Cf

[2016-06-07 13:21] joshhus commented on #1674
The Read the Docs procedure appears to use the proposed Python Sphinx theme. So RTD is just the procedural method / hosting method for what we're already proposing, it seems. I will slack @bramwelt and @rjones-lf to confirm. Thanks!

[2016-06-07 13:21] joshhus commented on #1674
http://read-the-docs.readthedocs.io/en/latest/getting_started.html#in-markdown

[2016-06-07 13:31] sachikoy commented on #1331
@tuand27613 that is exactly what happening to us. Were you able to reproduce the problem?

[2016-06-07 13:34] rajaduggimpudi commented on #1707
@mastersingh24 ~ Thanks for the follow-up. Following is the command

[code]

[2016-06-07 13:34] sachikoy commented on #1545
@vukolic I believe it is deterministic. How do you verify if it is deterministic? I sent you the chain code via e-mail. If anybody needs access, please contact me.

[2016-06-07 13:36] sachikoy commented on #1545
@bmos299 @ratnakar-asara @mrshah-at-ibm Hi, may I ask what is the status now? Were you able to reproduce the problem? I sent you guys the logs and block dump data. If you need more information, please let me know.

[2016-06-07 13:36] tuand27613 commented on #1331
@sachikoy , @mrshah-at-ibm is almost done replicating your environment and we'll re-run both #1331 and #1545.

@ratnakar-asara  has been running both the behave 680 test case and your script but we're not seeing the issue on his machine yet.

[2016-06-07 13:47] joshhus commented on #1674
Notice the 2 views proposed by @ry appears to be achieved in the RTD doc: see "v:latest" at the bottom of the left nav bar here: http://read-the-docs.readthedocs.io/en/latest/webhooks.html ... they also offer the various formats there, which is nice ... however, I tested it and am not sure if the implementation is as friendly as we would want it to be ... see what you think.

[2016-06-07 14:04] ratnakar-asara commented on #1331
@tuand27613 , As discussed when we check for ledger data which is same across nodes, However I see height is inconsistent across nodes.
Attached go toolskit logs and container logs for 3 iterations
[#1331_Jun6.zip](https://github.com/hyperledger/fabric/files/302762/1331_Jun6.zip)

[2016-06-07 15:18] #1587 closed, assigned to nobody

[2016-06-07 15:26] esgott opened #1745 "Dockerfile content is in config file"
The configuration file (core.yaml) contains the recipe for the docker image. I suppose, the config file is for storing runtime configuration parameters, and the running application doesn't need this information (am I right in this?). As I see, images are created from go tests only, however, they could be created with `docker build` from the Makefile, with static `Dockerfile`. It would make it much

[2016-06-07 15:34] ghaskins commented on #1745
See PR #1708

[2016-06-07 15:41] esgott commented on #1745
Didn't see that.

[2016-06-07 15:41] #1745 closed, assigned to nobody

[2016-06-07 15:58] ghaskins commented on #1745
No problem, that was an FYI.  As a side note, the fabric still needs to manage some of the Dockerfiles since docker is used as a component of chaincode isolation.  So, even after the above referenced PR, there will still be some Dockerfile info in the YAML, but IMO this is ok.  I think the main points you reference are handled as part of #1708

[2016-06-07 16:27] jyellick commented on #1731
@corecode It looks like we set `lastExec` from the block after we do all the p and q set processing.  If lastExec ends up being below our watermarks, it seems like we would not execute new requests until a view change is triggered, (triggering a no-op state transfer, which would update lastExec).  Do you see a problem with setting `lastExec` to be the max of the sequence number from the blockchain

[2016-06-07 16:37] corecode commented on #1731
Because watermarks can be updated during state transfer, this means we shouldn't update `lastExec` to the watermark.

[2016-06-07 17:45] rennman commented on #1593
Verifed on commit 270c352

[2016-06-07 17:45] #1593 closed, assigned to nobody

[2016-06-07 18:01] ratnakar-asara commented on #1545
@sachikoy , we couldn't reproduce this issue on vagrant environment, We see one of the peer lags behind and it catches up after some delay (5 seconds)
We ran three iterations 500 , 600 , 650 Invokes and we see StateHash is same across nodes.
Logs attached for the same
[#1545_toolkit_containerlogs.zip](https://github.com/hyperledger/fabric/files/303234/1545_toolkit_containerlogs.zip)

We have Mihir

[2016-06-07 18:59] binhn commented on #1338
Is it better performance with batch = 2 or batch > 2 ?

[2016-06-07 20:58] bcbrock opened #1746 "busywork: fabricLogger leaks memory"
## Description

The **busywork** `fabricLogger` tool leaks memory at the rate of about 2MB/second.
I will soon submit a PR to fix this.
## Describe How to Reproduce

Run a **busywork** example, run `top`, and eyeball the virtual memory usage of `fabricLogger`.

[2016-06-07 21:21] tuand27613 commented on #1331
@sachiko,  we ( @ratnakar-asara  and I ) have tried to run the script that you provided and we cannot make it fail.

[1331.txt](https://github.com/hyperledger/fabric/files/303578/1331.txt)

as you can see from the output log,  the chain height is consistent across all peers even after peer2 is stopped and restarted. I have the script multiple times with the same result.

Can you check if the scrip

[2016-06-07 21:52] #1702 closed, assigned to nobody

[2016-06-07 22:14] tuand27613 commented on #1437
Latency is due to 240Meg deploy transaction buffer. This took 3 seconds to broadcast to all the validating peers which caused the consensus request timeouts to fire which caused view-changes to cascade which prevented other requests.

Increasing request timeout values took care of the immediate problem.

Size of transactions is being handled via #1581

[2016-06-07 22:14] #1437 closed, assigned to nobody

[2016-06-07 23:07] sachikoy commented on #1331
@tuand27613 The log looks correct. Can you give me the script you used? (I can't recall that I gave you a script... I think it is probably made by @ibmamnt )

[2016-06-08 02:39] bcbrock commented on #1707
@rajaduggimpudi We switched to using the standard Docker port 2375 several weeks ago. Try changing 4243 to 2375.

[2016-06-08 02:52] GrapeBaBa commented on #1736
reinstall docker-compose it works, it caused by provision failed as china network environment

[2016-06-08 02:52] #1736 closed, assigned to nobody

[2016-06-08 04:36] bcbrock opened #1750 "Peer networks hang with multiple "keepalive" clients"
## Description

I wanted to see whether adding the `-keepalive` option to the Tcl `http::query` calls done by the **busywork** drivers would improve throughput or reduce overhead. It does not - it causes the tests to hang.

I have performed a series of experiments that makes me think the issue is in the HTTP server implementation of the peer network, and not in the Tcl `http::` package:
1. I can r

[2016-06-08 07:45] ibmamnt commented on #1331
@tuand27613 I have shared my script with @sachikoy .  My environment setup was basically the same as bddtest, and realized this is different from originally reported environment. I have modified these two parameters to match the Sachiko-san's env.

[code]

Note about the change in TIMEOUT_REQUEST and BATCHSIZE values (**2s and 10**).
And now, I was able to reproduce the problem. Please see the log

[2016-06-08 10:30] corecode commented on #1741
The network stops working because the peers started out at block=110 with different state:

[code]

The network stopping operation in this situation is an expected and reasonable outcome.

[2016-06-08 10:51] vukolic commented on #1741
@esgott Arriving to state divergence in block 110 - did you issue some queries concurrently with invokes?

[2016-06-08 10:58] corecode commented on #1750
Is this related to: https://github.com/corecode/fabric/commit/5ebdc9ad50aed509e87c8e860cbf9484f8af93a4?

@angrbrd

[2016-06-08 11:08] corecode commented on #1331
N-f replicas have the same height.  This is expected and is not a bug.

[2016-06-08 11:25] corecode opened #1751 "chaincode execution should prevent accidental sharing of global state in chaincode"
## Description

Currently, the chaincode pattern requires passing of a singleton object to the chaincode shim:

[code]

This suggests that it is a reasonable practice to use a singleton object to serve Invokes and Queries.  As soon as these objects carry state, i.e. they are anything but `struct{}`, this leads to incorrectly sharing state between concurrent executions of the chaincode.  This behav

[2016-06-08 11:40] vukolic commented on #1751
#1545 is also a consequence of this issue

[2016-06-08 11:42] corecode commented on #1751
Right, it is #1545. Corrected above.

[2016-06-08 12:20] ghaskins commented on #1751
Regarding Isolation, I have been thinking along similar lines myself.  I went so far as to build an experiment to see how fast a golang process could be fork/exec'd.  I'll see if I can dig it up and post here.

[2016-06-08 12:25] esgott commented on #1741
@corecode I think the question is then why are the peers in a different state? I am just feeding one of them with transactions.

@vukolic no concurrent queries, at least not that I know of. But even if there would be, shouldn't it be handled by the fabric peers?

[2016-06-08 12:35] corecode commented on #1741
@esgott I don't know.  You started the network.  Did you maybe use noops at some point on the same ledger?

[2016-06-08 12:45] esgott commented on #1741
@corecode no

[2016-06-08 12:53] tamasblummer commented on #1741
@corecode why is stopping the network a reasonable outcome for discovering a misbehaving peer?

[2016-06-08 12:58] corecode commented on #1741
@tamasblummer more than F replicas diverged.  There are no more guarantees the network can make.  We cannot continue.

[2016-06-08 13:06] tamasblummer commented on #1741
@corecode F is 1 in our case, so we have more than 1 misbehaving peers although all run the same code and only one receives transactions. That is not expected.

[2016-06-08 13:09] corecode commented on #1741
@tamasblummer The logs you provided show that you _started_ the network already in divergent state.  I don't know how you got there, but for the logs you provided, the behavior is absolutely correct.

I'm not saying there are no bugs or unhandled corner cases in the code.  However, I will need the complete logs that show how the divergence happened in the first place.

[2016-06-08 13:12] tamasblummer commented on #1741
@corecode what needs to be deleted to ensure this does not happen?

[2016-06-08 13:15] corecode commented on #1741
Please erase the whole ledger database in `/var/hyperledger`

[2016-06-08 13:39] vukolic commented on #1741
@esgott I am asking because of potential link to #1751

It would be helpful if you could provide some history of your system up to seqNo 110

[2016-06-08 13:50] esgott commented on #1741
@corecode @vukolic I was deleting only /var/hyperledger/db. I can reproduce the problem, even when I delete the whole hyperledger folder.
[pbft_problem_2.zip](https://github.com/hyperledger/fabric/files/304904/pbft_problem_2.zip)

[2016-06-08 14:01] corecode commented on #1741
Thank you.  The issue seems similar.  Could you please try with batch consensus, because classic is deprecated and will be removed soon.  If the problem persists, please supply logs in debug level (rest can stay at warn).

[2016-06-08 14:08] binhn opened #1752 "Clean up user specification in the memberserv.yaml"
## Description

Even though the users specified in the `memberserv.yaml` are for testing purposes only (as a convenient method), the way it is laid out doesn't really follow wiper hierarchical format and difficult to read.

[code]

It would be better to list the properties with key-value pairs. For example,

[code]

[2016-06-08 14:17] deeflorian opened #1753 "Devenv setup"
Fresh windows installations run into this curl-related issue during setup:
https://github.com/mitchellh/vagrant/issues/6754

I think a sidenote could be added to the wiki page for the devenv setup process around `vagrant up` -- the vagrant devs have not yet add the dependency to the installer.

[2016-06-08 14:19] #1603 closed, assigned to nobody

[2016-06-08 14:19] esgott commented on #1741
@corecode which group would you like to see on debug level?

[2016-06-08 14:23] corecode commented on #1741
`consensus/obcpbft`, and maybe `consensus/obcpbft/custodian`

[2016-06-08 15:03] sachikoy commented on #1545
@corecode and @vukolic had kindly investigated the chaincode, and found that it is non-deterministic. I.e., the chaincode is not thread-safe, and uses some member variables to store data not only in Invoke but also in Query transactions. This causes the problem because Invoke and Query may be executed in parallel.
We are fixing our chain code. But on the other hand, I think fabric should prevent t

[2016-06-08 15:09] tuand27613 commented on #1331
@ibmamnt  @sachikoy   I re-ran your script with batchsize=10.  I kept timeout_request=2s because the  deploy on my machine is slow enough that the timeout timer was firing and pbft thought something was wrong and all the peers started to do view-changes.

In any case, I'm seeing consistent results
[1331-2.txt](https://github.com/hyperledger/fabric/files/305045/1331-2.txt)

I think the differences

[2016-06-08 15:16] esgott commented on #1741
@corecode
[pbft_problem_3.zip](https://github.com/hyperledger/fabric/files/305084/pbft_problem_3.zip)

[2016-06-08 15:20] bcbrock commented on #1750
@corecode Thanks for your reply - this is an interesting can of worms. As far as I can tell the peer logs don't give any indication of what is wrong. The HTTP requests simply hang, or if I specify a client timeout, time out.

I tried your fix with a 500ms server timeout and it failed: The deploy transactions take many seconds to return so the server closes the connection before returning the respo

[2016-06-08 15:52] corecode commented on #1741
Unfortunately this doesn't look like debug level for obcpbft

[2016-06-08 16:17] rajaduggimpudi commented on #1707
Sure, i'll give this a try

[2016-06-08 18:30] #1129 closed, assigned to nobody

[2016-06-08 19:28] NiklasKunkel opened #1756 "[chaincode] chaincodeSupport DEBU 02c : handler not found for chaincode /home/ibm/loyalty/loyaltyBank:0.0.1"
## Description

During chaincode deployment I keep getting this error that the handler for the chaincode is not found. I suspect this mean it cannot find my chaincode at the path  I specified? How do I need to format my path to get this to work? Am I fundamentally doing something wrong that stops the deployment?

Of Note:
This is an older version of openblockchain before the rename to fabric.
## D

[2016-06-08 20:45] mastersingh24 commented on #1756
@NiklasKunkel -

1) I would not recommend using this version as we no longer maintain it

2) are you also starting the chaincode as a standalone executable and passing the peer address as a environment variable, e.g. CORE_PEER_ADDRESS=127.0.0.1:30303 ./loyaltyBank

[2016-06-08 21:11] NiklasKunkel commented on #1756
You are my favorite person on the internet today. Thank you very much!

The application I'm working on had a node.js component that I was ignoring for now to isolate working on the chaincode. The node app contained the commands to route the /github.com/..../loyaltyBank:1.0.1 path to the physical path address of the chaincode.

[2016-06-08 21:11] #1756 closed, assigned to nobody

[2016-06-08 21:17] jjjjibm opened #1757 "make node-sdk fails on Windows platform"
[npm.zip](https://github.com/hyperledger/fabric/files/305739/npm.zip)

## Description

On my Win7 laptop, following instructions here: https://github.com/smithbk/fabric/blob/issue-1186/sdk/node/README.md

Building the client SDK

If you set the FABRIC environment variable to point to your hyperledger/fabric directory, you can build the client SDK as follows:

cd $FABRIC && make node-sdk

make node

[2016-06-08 22:02] jjjjibm opened #1759 "node hlc-tester.js module.js:338 throw err; ^ Error: Cannot find module './lib/hlc'"
## Keith Smith is probably the right person to look at this issue.
## Description

When trying to execute hlc-tester.js, it fails:

vagrant@hyperledger-devenv:v0.0.10-738866c:/tmp/t$ node hlc-tester.js
module.js:338
    throw err;
          ^
Error: Cannot find module './lib/hlc'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Modul

[2016-06-08 22:16] mastersingh24 commented on #1299
is these any reason why no one has fixed this?  we'll submit a fix and PR for this, but just wondering why this was never picked up.  Basically this ends up with the default timeout being 277h46m40s rather than 1s

[2016-06-09 00:34] JonathanLevi opened #1762 "tCertPool: AddTCert() -> AddTCerts( []tCert ) - appending of an array/slice of TCerts to the tCertPool"
As part of #1691 allow the direct call through the client (impl), so that `TCerts` can be added to the pool (even in a side flow, if needed) - this is "part 2" of #890.

While the background, motivation and need for this were discussed also on the original #890 issue and on Slack - I will add more detail about this: effectively, instead of just waiting for the `tCertPool.GetNextTCerts()`.

Since t

[2016-06-09 00:50] ibmamnt commented on #1331
@tuand27613 If it is possible, I can send my environment so that you can take a look.  @corecode. If this is correct behavior, how to fix the problem ?  I mean, when the machine is crashed, what the correct process to recover so that crashed peer can join again ? Looks like just restart of peer is not enough.

[2016-06-09 06:31] jusrah opened #1764 "Four Peer PBFT Network Not Storing Blockchain Data"
Description:
When running a four peer network using pbft consensus inside one Vagrant instance, the /var/hyperledger/production/db file is not being created or updated. When one peer using noops is run, the file is created after running 'make peer.'

My blockchain data is stored in RAM, and is not moved to a permanent storage location. So that when the peers are turned off, the data is lost.

I ha

[2016-06-09 07:10] esgott commented on #1741
I started the peer with this (inside docker):
`rm -rf /var/hyperledger && OPENCHAIN_LOGGING_PEER=info,consensus/obcpbft=debug peer node start &> output.txt`

What would be the correct way?

[2016-06-09 09:42] corecode commented on #1741
my mistake - i guess by now it should be something with hyperledger or core...

[2016-06-09 09:43] corecode commented on #1741
`CORE_LOGGING_PEER`?

[2016-06-09 09:57] #1742 closed, assigned to nobody

[2016-06-09 09:57] bd37 commented on #1742
I resolved the following

[2016-06-09 10:02] corecode commented on #1331
The peer is connected and is updating.  You can test this by crashing a different peer and keep submitting transactions.  The first crashed peer will have the same block height as the rest.  It is absolutely natural that F out of N peers are _slightly_ behind.  The network cannot wait for all N peers, but only for N-F peers.

You could enable null requests in the consensus `config.yaml`, which wil

[2016-06-09 10:46] esgott commented on #1741
@corecode I've tried with CORE_LOGGING_PEER=info,consensus/obcpbft=debug, still no debug messages for obcpbft

[2016-06-09 11:50] grbulat opened #1767 "Transactions are not invoked in network with 4 validation peers (pbft consensus plugin)"
## Description

I am trying to setup environment with 4 validation peers ( **pbft** consensus plugin ) in plain virtual machines (without any Docker) and follow the descriptions described [here](https://github.com/hyperledger/fabric/blob/master/docs/API/SandboxSetup.md.).
But when I do 'query' (after deploy and invoke operations of course) I have got an error 'Error: Error querying chaincode: rpc

[2016-06-09 12:15] esgott commented on #1741
@corecode I managed to turn it on, with CORE_LOGGING_LEVEL.
[pbft_problem_4.zip](https://drive.google.com/file/d/0B3kmt1BIHlg4VGxVMGY5VmlpLUk/view?usp=sharing)

[2016-06-09 12:24] corecode commented on #1741
thanks!

[2016-06-09 12:32] corecode commented on #1741
What system chaincode are you using?

[2016-06-09 12:34] esgott commented on #1741
noop, as in [PR 1722](https://github.com/hyperledger/fabric/pull/1722)

[2016-06-09 12:51] corecode commented on #1741
Thank you.  Somehow the checkpoints show different block hashes.  Can you run the whole system in debug, so that we can trace the block creation?

[2016-06-09 13:00] esgott commented on #1741
[pbft_problem_5.zip](https://github.com/hyperledger/fabric/files/306920/pbft_problem_5.zip)

[2016-06-09 13:08] corecode commented on #1741
seems most log levels are still on INFO

[2016-06-09 13:20] esgott commented on #1741
Hope it's better
[pbft_problem_6.zip](https://github.com/hyperledger/fabric/files/306949/pbft_problem_6.zip)

[2016-06-09 13:24] corecode commented on #1741
I have no idea why ledger or buckettree are not providing any output.  Maybe @srderson or @manish-sethi can help?

[2016-06-09 13:27] corecode commented on #1767
I think you need to pass the chaincode id as returned from the deploy transaction.

[2016-06-09 13:40] muralisrini commented on #1767
@grbulat : I'm assuming you are following (and modifying) the SandboxSetup instructions so you can eliminate docker for running in VMs ? (Basically run peer and chaincode in the VMs without any docker dependencies so you don't run into VM issues doced in https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/devenv.md.)

 I'll note that those instructions were meant for dev mode/noops/si

[2016-06-09 13:41] muralisrini commented on #1767
@corecode : didn't see your comment when I added mine. Does mine make sense ?

[2016-06-09 13:42] jyellick commented on #1741
Just to chime in in support of @corecode's analysis, as far as the PBFT logs indicate, all of the same requests are being executed in the exact same order on every peer, but for some reason the state seems to diverge across them.  The lack of ledger logs is also puzzling, so some help from the ledger folks above would be appreciated.

[2016-06-09 13:55] tuand27613 commented on #1331
@ibmamnt ,  you can verify by updating your script to do as @corecode describes as this is the fastest way to get the test case going.

Another possible way would be to decrease CORE_PBFT_GENERAL_K.  This controls how often checkpoint messages are being sent. In this case, K=10 and batchsize=10 so checkpoint messages are sent about every 100 invokes.
An out-of-sync peer determines that it is out-o

[2016-06-09 14:12] grbulat commented on #1767
@muralisrini Yes, I don't use docker. Is it wrong?

Yes, of course I clear it before switching.

hmm..what do you mean?

for the base peer: `CORE_PEER_ID=vp0 ./peer node start --logging-level=debug`.
for the other peers (vp value change of course): `CORE_PEER_ID=vp1 CORE_PEER_DISCOVERY_ROOTNODE=172.16.5.180:30303 ./peer node start --logging-level=debug`
for the chaincode: `CORE_CHAINCODE_ID_NAME=m

[2016-06-09 15:22] tuand27613 commented on #1545
@sachikoy , could you update on how your revised chaincode is working ?

As @vukolic mentioned,  #1751 can be used for more generic handling of thread safe cc.

[2016-06-09 15:22] muralisrini commented on #1767
@grbulat

If you are running 4 peers, each of them should be running the chaincode. In non-dev mode this is done automatically for you by the peer by starting the chaincode in docker.

However that still does not explain why you are getting the error only in PBFT classic (although stricter, I'd expect the executions to succeed on vp0 at least).  BTW, I'm assuming the requests were directed to vp0

[2016-06-09 15:27] adecaro commented on #1759
@jjjjibm, I have searched in the current master and I haven't found any file called _hlc-tester.js_. Am I missing something?

[2016-06-09 15:29] #1692 closed, assigned to nobody

[2016-06-09 15:41] jjjjibm commented on #1759
@adecaro,@keithsmith can point you to the code.  He was executing his code on my laptop when we saw this error.

[2016-06-09 15:43] jjjjibm commented on #1759
Hi Angelo,
I replied in the issue.  Here is one version of the code, but may not be
the one Keith was executing on my laptop:

https://github.com/smithbk/fabric/tree/issue-1186/sdk/node/test/system

Janet C. Wolf
Websphere Cloud Development and Test

From:   Angelo De Caro notifications@github.com
To: hyperledger/fabric fabric@noreply.github.com
Cc: Janet Wolf/Raleigh/IBM@IBMUS, Mention

[2016-06-09 15:47] jyellick commented on #1091
@bcbrock Just as a quick update, thanks to your new busywork integration, I'm now able to recreate this using stress2b.  The two PRs above should partially address this, and after I finish the PR series which removes the race potentials, I'll be investigating to try to find the remaining issues.

[2016-06-09 15:54] kletkeman commented on #1532
I would very much like to be able to "take over" an active database with a new contract version, as I described in #1217

[2016-06-09 16:26] JonathanLevi commented on #1693
Closed by #1714

[2016-06-09 16:26] #1693 closed, assigned to nobody

[2016-06-09 17:21] corecode commented on #1741
I figured out that setting the logging level is done with `CORE_LOGGING_LEVEL=debug` or `CORE_LOGGING_NODE=debug` - seems the naming got changed at some point.

[2016-06-09 17:42] manish-sethi commented on #1741
I was also looking at the code for enabling logging. logging for selective modules can be enable for debug by a global flag --logging-level.
e.g., `--logging-level=ledger,state,buckettree,chaincode,consensus/obcpbft=debug` would enable debug messages for these modules.

[2016-06-09 17:48] corecode commented on #1741
@muralisrini I found the problem.  Deployed system chaincode does not produce the same genesis block across all nodes.

[2016-06-09 17:58] manish-sethi commented on #1741
@corecode so it was block hash that was different not the stateHash - is this correct? Also, why does the block hash differ at block 110 if the genesis blocks were different?

[2016-06-09 18:04] jyellick opened #1770 "Wrap debug log statements in IsEnabled to reduce garbage"
## Description

There is considerable debug logging generated by the consensus package, in particular `obcpbft`.  Even when the logging is not running at debug, these statements generate memory allocations which must be garbage collected.

Although perhaps not necessary for all Debug statements, at the very least, the critical path and tight loop paths should be wrapped in `logger.IsEnabled` calls

[2016-06-09 18:06] jjjjibm opened #1771 "PUB : cd ./peer ==> cd peer"
## Description

On this web page:
https://github.com/hyperledger/fabric/blob/master/docs/API/SandboxSetup.md

In this section:
_Writing, Building, and Running Chaincode in a Development Environment
Vagrant Terminal 1 (validating peer)_

In this list of commands:
_cd $GOPATH/src/github.com/hyperledger/fabric
make peer
cd ./peer_  <=== seems wrong

cd into ./peer seems incorrect.  Did you mean 'cd p

[2016-06-09 18:07] corecode commented on #1770
What memory allocations?

[2016-06-09 18:10] muralisrini commented on #1741
I had @manish-sethi 's question too....

Also @esgott (or @corecode ) what sys chaincode are we looking at here ?

[2016-06-09 18:27] jyellick commented on #1770
The logging strings must be allocated onto the heap before they are passed into the logger to determine if the string should be printed.  To my knowledge, go does not support lazy argument evaluation, so these allocations will occur even when the logging level is not set such that the message is printed.

In my opinion, this should be a very low priority issue, as this seems like a memory optimiza

[2016-06-09 18:28] corecode commented on #1770
The strings are constants.  Nothing is allocated on the heap.

[2016-06-09 18:30] corecode commented on #1770
Simple test:

[code]

Result:

[code]

0 memory ops saved, 5ns execution time saved (negligible).

[2016-06-09 18:31] corecode commented on #1770
I think the logging overhead myth is busted and this issue can be closed.

[2016-06-09 18:34] corecode commented on #1770
Oh, actually:

[code]

Results in:

[code]

So indeed some overhead, and indeed allocations.

[2016-06-09 18:35] corecode commented on #1770
However, I don't think that compared to network activity, this plays any role in performance.  I prefer cleaner code.

[2016-06-09 19:06] #1186 closed, assigned to nobody

[2016-06-09 20:02] mgamanho opened #1775 "REST API to return Transaction Binding"
## Description

Hello, would it make sense to return the Transaction Binding for a given enrollment ID, from a crypto perspective? In other words, is it missing from the REST API on purpose? The idea would be to have sign/verify functions purely REST based.

[2016-06-09 22:04] JonathanLevi opened #1779 "Add TLS (CA) feature tests"
## Description

We need to have a set of tests covering the behavior and functionality using various (Behave) scenarios around Enrollment.

In particular, with a focus on the TLS CA (TLS) functionality of Membership Services.
## Motivation

At this point, even a small number of positive- and negative- flows will go a long way, both for development, testing but also as an easy way for new users to

[2016-06-10 00:28] JonathanLevi opened #1780 "Consolidate duplicate/bespoke CBCEncrypt/CBDecrypt implementations"
## Description

Just spotted some AES code duplication in [fabric/membersrvc/ca/util.go](https://github.com/hyperledger/fabric/blob/5dfbf946e158791b9934f3880907f21f8dd7f796/membersrvc/ca/util.go) specifically [CBCEncrypt](https://github.com/JonathanLevi/fabric/blob/ca8135b1a0f95127c96478518628a65a377ec123/core/crypto/primitives/aes.go#L68-L98) and [CBCDecrypt](https://github.com/JonathanLevi/fabri

[2016-06-10 00:28] JonathanLevi commented on #1780
tags: `security`, `help wanted`, `good first bug`

[2016-06-10 01:47] ibmamnt commented on #1331
Hi Thanks. I confirmed that with K*batchsize transaction which are set K=2 and batchsize=10 in my test, restarted peer catch up (the first 3 are startup, chaincode deploy and init I guess).

[code]

However, after the catch up, restarted peer start not to catch up, while others are kept update like:

[code]

So this means, restarted peers are always behind K*batchsize .  I'll check to see if I do

[2016-06-10 02:12] ibmamnt commented on #1331
Hi, when I run transaction against restarted peer (in this case 172.17.0.6), and then run test cases (against 172.17.0.3) . It started to sync. Thanks for the explanation. I fully understood.

[code]

[2016-06-10 06:33] starsheriff commented on #1780
I'd happy to volunteer, as discussed on slack

[2016-06-10 07:10] grbulat commented on #1767
@muralisrini

yes, that is right.

I've attached new log files:
[chaincode_vp0.txt](https://github.com/hyperledger/fabric/files/308505/chaincode_vp0.txt)
[vp0.txt](https://github.com/hyperledger/fabric/files/308506/vp0.txt)
[vp1.txt](https://github.com/hyperledger/fabric/files/308504/vp1.txt)

[2016-06-10 09:02] esgott commented on #1741
@muralisrini noop sys chaincode, as in [PR 1722](https://github.com/hyperledger/fabric/pull/1722)

[2016-06-10 09:15] vukolic commented on #1631
A subset of comments above is included in the new document revision. Notice that this does not mean that other comments will not be taken into account.

Notable change is that an endorsing peer now maintains the state. As a result, there are no committing peers any more, but simply peers, which can have additional roles of submitters and endorsers.

[2016-06-10 09:22] corecode commented on #1771
`cd peer` is the same as `cd ./peer`.

[2016-06-10 09:46] corecode commented on #1741
This is the problem:
https://github.com/hyperledger/fabric/blob/master/core/ledger/genesis/genesis.go#L156
https://github.com/hyperledger/fabric/blob/master/core/ledger/genesis/genesis.go#L221
https://github.com/hyperledger/fabric/blob/master/protos/transaction.go#L70

[2016-06-10 09:47] corecode commented on #1741
Also, is the iteration of genesis chaincodes a stable sequence, or is that map (random) sequence?

[2016-06-10 10:41] esgott commented on #1741
@corecode Do I understand correctly, that the problem is the following:
During startup, all the nodes will deploy the noop system chaincode, but all of them will make a different transaction for it, so the network starts up with 4 forks of the blockchain?

[2016-06-10 10:41] corecode commented on #1741
yes.

[2016-06-10 11:24] corecode opened #1784 "genesis block should be created explicitly and (separately) imported explicitly"
## Description

At the moment the genesis block is created implicitly when a peer starts the first time with an empty blockchain.  This can lead to surprising problems: #1741.  All peers in the network must share the same genesis block, together with other block creation settings (#999, probably other places as well).

The blockchain creation step should be a deliberate, explicit step, instead of

[2016-06-10 12:46] mrshah-at-work commented on #1331
Considering the following scenario:

[code]

What should be the expected behavior when a transaction is executed against the last peer (172.17.0.6)?

[2016-06-10 12:51] corecode commented on #1331
a query transaction will return a slightly stale reply.  invoke transactions should be processed as normal by the network.

[2016-06-10 14:35] binhn commented on #1741
Sorry folks.  @muralisrini and I talked about this potential issue weeks ago, and fixed it in another branch with the "uber" system chaincode, but uber hasn't made it in.

In hindsight, we should have just fixed this issue independently so that not so many people wasted so much time.

The fix was to remove the system chaincodes from the genesis block and treat them as part of peer on deployment. @

[2016-06-10 14:39] binhn commented on #1770
@corecode Let's not spend our cycles on arguing about any significance in performance this might contribute.  That is unproductive and useless to me.  We DON'T litter, period.

[2016-06-10 15:07] esgott commented on #1741
@binhn Thanks for the info. Can you update this thread when it's ready, and close this afterwards?

[2016-06-10 15:15] JonathanLevi commented on #1780
@starsheriff: This is all yours.

@binhn has extended an invite via email to join https://github.com/hyperledger - once joined, this will be assigned to you. Thanks guys.

[2016-06-10 15:17] corecode commented on #1770
Litter the source code or the memory?

[2016-06-10 15:20] muralisrini opened #1789 "chaincode ID computation ignores chaincode content"
## Description

In chaincode/platforms/golang/hash.go, files are collected from the chaincode path and read in sorted order in preparation for chaincode ID computation. However, the bytes from the files are not copied to the allocated byte buffer and so the computation was using a buffer with null bytes, thus ignoring file content completely. This results in chaincode ID remaining unchanged if con

[2016-06-10 15:26] muralisrini commented on #1741
@esgott will update here with an approach for further comments/review.

[2016-06-10 15:51] bramwelt opened #1790 "Build Go Packages as Non-Root User"
## Description

Builds of hyperledger [docker images](https://github.com/hyperledger/fabric/blob/master/Makefile#L124) generate files under `build/docker/pkg` owned as root. These files should be owned by the user running make to ensure they can be properly cleaned up using `make clean`
## Describe How to Reproduce

make unit-test -> produces `build/docker/pkg` owned by root.

[2016-06-10 17:39] lehors commented on #1304
@bcbrock This issue was addressed by PR #1520 and can now be closed.

[2016-06-10 18:04] bcbrock commented on #1304
Thanks Arnaud @lehors

[2016-06-10 18:04] #1304 closed, assigned to nobody

[2016-06-10 18:20] gromeroar opened #1791 "Appending the timestamp in the nonce generation for the TCertIndex"
## Description
- add the timestamp type to the nonce attibute in the TCert index.
## Describe How to Reproduce

## Description
- append the timestamp to the nonce during the Tcert Index generation.
## Describe How to Reproduce

[2016-06-10 18:39] bramwelt commented on #1674
Here is the POC I setup for this: https://bramwelt-fabric.readthedocs.io/en/latest/, I believe @rameshthoomu is doing the same at https://docchange.readthedocs.io/en/latest/.

[2016-06-10 18:42] rameshthoomu commented on #1674
Here is the updated link: http://docchange.readthedocs.io/

[2016-06-10 18:50] JonathanLevi opened #1792 "Add Member Services server.go tests"
## Description

Currently the server process (which starts the `ACA`, `ECA`, `TCA`, `TLSCA`) is not tested (at all). We need to have a set of tests covering the behavior and functionality using various scenarios around the `server` (especially when stuff does _not_ work).
## Motivation

At this point, even a small number of positive- and negative- flows will go a long way, both for development, te

[2016-06-10 18:50] JonathanLevi commented on #1792
Also, `server.go` could use some refactoring...

[2016-06-10 20:07] JonathanLevi opened #1794 "Member Services server.go Enhancements"
## Description

Member Services' `server.go` is an important entry point, spawning the various certificate authorities (CAs) and other services. As such, making it more modular will be beneficial in terms of the functionality provided, will improve clarity, and enable testing (#1792)

[2016-06-10 20:21] JonathanLevi opened #1796 "[GoodFirstBug] Consolidate TLS (certfile,keyfile) YAML settings"
## Description

Fabric uses `viper` for loading configurations from YAML files (sometimes also in combination of environment variables). Working on #1794 (changing some of these hard-coded string literals to constants), I just noticed that Fabric seems to expect:

`peer.tls.cert.file` and `peer.tls.key.file`  (in the `peer` configuration)
vs.
`server.tls.certfile` and `server.tls.keyfile`  (in the

[2016-06-10 21:37] JonathanLevi opened #1797 "Membership Services CA env settings: "OBCCA_" -> "MEMBERSRVC_CA_""
## Description

The `membersrvc` process allows the configuration of environment variables that can override the YAML configuration settings.

Here's an excerpt from `docs/dev-setup/obcca-setup.md` ["perm"-linked](https://github.com/hyperledger/fabric/blob/f7b0b5c0a2fc98c898cd1972cc18c811d42c355e/docs/dev-setup/obcca-setup.md)

## Proposed Change

Currently we have other libraries using `HYPERLEDG

[2016-06-10 22:28] JonathanLevi commented on #1694
#1714 contained a fix for this code portion in `tCertPool#GetNextTCert()` which effectively changed the struct variable `len`, but did not free the memory used by the returned TCert, and the slice was not resized/shrunk (so the GC could free up these elements).

[code]

https://github.com/hyperledger/fabric/blob/ca8135b1a0f95127c96478518628a65a377ec123/core/crypto/client_tcert_pool_st.go#L91-92

T

[2016-06-10 22:28] #1694 closed, assigned to nobody

[2016-06-10 22:30] mastersingh24 commented on #1395
@novusopt  - I don't think this is an issue any more?  can it be closed?

[2016-06-10 22:37] ghaskins commented on #1790
This looks promising: http://man7.org/linux/man-pages/man7/user_namespaces.7.html

[2016-06-10 22:44] JonathanLevi commented on #1692
Effectively, there wasn't a check on the variable `len` so that when the pool was empty or when `len` was 0, trying to access `len-1` would `panic` as the BatchSize is configurable externally:

[code]

https://github.com/hyperledger/fabric/blob/ca8135b1a0f95127c96478518628a65a377ec123/core/crypto/client_tcert_pool_st.go#L91-92

[2016-06-10 22:45] ghaskins commented on #1790
Worst case, we can revert this commit https://github.com/hyperledger/fabric/commit/85837442c2dfb92cf0be0455581387bfbe0c2f48

There will be a performance penalty at build time, but that is better than what we have today.

[2016-06-10 22:45] JonathanLevi commented on #1692
Socond, the `tCertPool.tCerts`slice was allocated with a fixed (though configurable) `BatchSize` length, so make was called from `init()` and memory was allocated:

[code]

https://github.com/hyperledger/fabric/blob/ca8135b1a0f95127c96478518628a65a377ec123/core/crypto/client_tcert_pool_st.go#L111-L112

But then when any new `TCert` was added, the pool would execute:

[code]

https://github.com/hyp

[2016-06-10 22:47] JonathanLevi commented on #1692
I was asked to put more details here as this was closed along with other issues by #1714

[2016-06-10 23:48] GrapeBaBa commented on #1797
@JonathanLevi I would like to take this one

[2016-06-11 00:01] JonathanLevi commented on #1797
Hi @GrapeBaBa! Great, all yours, thanks. Let me know how/if I can assist...

[2016-06-11 00:06] GrapeBaBa commented on #1796
@JonathanLevi I also can take this one😀

[2016-06-11 00:10] JonathanLevi commented on #1796
Go for it. Might be easier to update the `membersrvc` to match the other(s)... btw.

[code]

Happy coding!

[2016-06-11 02:34] jeroiraz opened #1800 "Missing synchronization around DB operations in Membership Services"
## Description

A synchronization mechanism is required for DB operations in order to avoid inconsistencies due to multithreading.
## Describe How to Reproduce

Registering users in parallel using node hlc-tester.js the following error appears in member services
ERROR: 2016/06/07 22:27:53 eca.go:252: database is locked

[2016-06-11 04:54] rameshthoomu opened #1803 "Travis Build failures: After PR# 1765 merge"
## Description

All Travis Builds are failing with error message `No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.` after merging PR#1765.
## Describe How to Reproduce

All Travis Builds are failing after PR#1765 merge. This happens most often while running core/crypto unit-tests. It seems the core/crypto test suite

[2016-06-11 10:18] starsheriff commented on #1780
@JonathanLevi @binhn I got the invite and joined the project.

[2016-06-11 12:16] mastersingh24 commented on #1752
let's get all of the updated memberserv tests and updates merged into master and then we can easily do this

[2016-06-11 12:37] GrapeBaBa opened #1804 "Avoid singleton design and make code testable and mocked"
## Description

As recently focus on #1660 ,  I notice there are several common functions using singleton pattern such as db, ledger.
Cons:
1.Not easy to mock for test.
2.The lifecycle(start, stop)is not easy to controlled by caller object.

Is it better to use inject dependency instead?
## Describe How to Reproduce

code in ledger.go, db.go

[2016-06-11 13:32] christo4ferris opened #1805 "numerous pylint errors/warnings in behave testing python code"
## Description

There are 350 pylint errors in the behave bdd testing python code
## Describe How to Reproduce

run pylint

Note that aside from fixing the lint errors, we should add pylint to the build @ghaskins @jeffgarratt

[2016-06-11 17:47] dongmingh opened #1806 "performance decreases over time"
## Description

The performance, TPS (transactions per second), decreases over time.
Running performance measurement with 4 peers pbft batch, security disabled, 100 threads.
commit level: 8f08b695c5c2e3395f4a491e4f1144f0a980a869
I noticed that the performance, TPS, decreases gradually over time.
TPS at 10 min and 60 min are measured below
invokes:  360/134 for 10 min/60 min runs
queries: 618/426 f

[2016-06-11 20:03] diegomasini commented on #1803
@rameshthoomu I'm trying to reproduce it locally with no luck. Could be a travis problem? I willl continue trying to reproduce and I will let you know if I succeed. If in the meantime you can check if you can reproduce it locally I will appreciate it.

[2016-06-11 20:12] mihaigh commented on #1631
**@vukolic** transaction flow should be updated after this peer unification

[2016-06-11 22:32] muralisrini commented on #1803
@diegomasini I looked at this a bit with @rameshthoomu (while working on my PR).  Its not that the core/crypto itself is hanging or stuck. Its just that if it takes more than 600 secs, Travis will _think_ the "go test" is not responding.

The problem appears to be that core/crypto now could take more than 600 seconds (on my laptop it took 568 seconds). If that happens the "go test" stdout to Travi

[2016-06-11 22:45] rameshthoomu commented on #1803
It's a limitation in Travis. Please check reference link mentioned above but we can fix this issue with the approach mentioned by @muralisrini.  Adding @andresgaragiola

[2016-06-12 01:24] rajaduggimpudi commented on #1707
@bcbrock That doesn't seem to work either. I changed 4243 port to 2375 and ran the command but still see the same issue. Please advice !

[2016-06-12 02:09] GrapeBaBa commented on #1797
I start to do this one. @JonathanLevi Could you assign it to me?

[2016-06-12 02:57] sachikoy commented on #1751
I agree isolation is necessary, but if we start a new OS process at every chain code execution, the performance overhead may be too large. Alternatively, is it possible to verify the chain code on its deployment and reject if it uses any global variables?

[2016-06-12 02:58] sachikoy commented on #1545
@tuand27613 We have revised the chaincode and now testing it to see if the problem is reproduced.

[2016-06-12 03:11] yingfeng commented on #1701
The above result is based on the configuration of `config:noops`, as a result, `pbft` is not enabled as a consensus plugin.   When `pbft` is enabled, this issue does not appear.

[2016-06-12 03:11] #1701 closed, assigned to nobody

[2016-06-12 04:54] sachikoy commented on #1331
I think now I understand how the current Hyperledger works. Can you verify if my understanding is correct?
1. When one peer (say peer 2) stopped and then started again, it tries to synchronise with the latest ledger after x transactions, where x = batch size \* K, and K is defined as CORE_PBFT_GENERAL_K. And I assume PBFT-classic (single) is identical to batch size=0.
2. Even after catching up, pe

[2016-06-12 06:33] GrapeBaBa commented on #1796
@JonathanLevi Please assign to me. I will start .

[2016-06-12 07:23] cophey commented on #1511
I 'make images behave',got errors:
`make: Nothing to be done for`images'.
cd peer; CGO_CFLAGS=" " CGO_LDFLAGS="-lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy"
go build
Running behave tests
/bin/sh: 1: behave: not found
make: **\* [behave] Error 127`

[2016-06-12 07:56] GrapeBaBa commented on #1511
@cophey It seems now 'make behave' will build images automatic in my local, could you try 'make behave' directly?

[2016-06-12 08:30] cophey commented on #1511
@GrapeBaBa There is some worng with my environment.There is no pip and behave command.I install manually,and then i try again.thanks anyway.

[2016-06-12 13:17] christo4ferris opened #1811 "invalid request crashes chaincode"
## Description

https://github.com/hyperledger/hyperledger/issues/27
## Describe How to Reproduce

see https://github.com/hyperledger/hyperledger/issues/27

[2016-06-12 13:33] christo4ferris opened #1812 "need to better document relationship with fabric-api"
## Description

https://github.com/hyperledger/fabric-api/issues/19
## Describe How to Reproduce

https://github.com/hyperledger/fabric-api/issues/19

[2016-06-12 14:36] #1803 closed, assigned to nobody

[2016-06-12 19:44] cca88 commented on #1331
@sachikoy
Q1: If the network is given only a little time to settle down (this means when it is not under full workload), the other peers will catch up. Executing dummy transactions at low frequency will help. (I do not think this is currently done, but it may be useful.)
Q2: That behavior occurs because the others want to make progress as fast as possible. With less load on the system, the peer ma

[2016-06-12 19:56] starsheriff commented on #1780
Hei,
since I am new to the project and also to go. Here are my first thoughts about this issue.
1. Basically, the methods CBCEncypt and CBCDecrypt in `crypto/primitives` and `membersrvc/ca` are identical. The only difference I could see is that the implementation in `ca` is padding the plain text to a multiple of the block size using `PKCS5Pad`.

   In `crypto/primitives` there is only a comment s

[2016-06-13 01:48] huhaiqing opened #1813 "How to use CLI to register a user to membership server?"
Hi,

From the document, I only find the REST API to register user,
Is there any CLI to register a user to membership service?

Thanks in advance

Regards
Harry

[2016-06-13 02:10] mm-hl commented on #1631
These comments are based on [this version](https://github.com/hyperledger/fabric/wiki/Next-Consensus-Architecture-Proposal/7ef4cb32797114302954a73007153025c154a562).

27) Regarding the changed definition of submitting peers (Section 1.3.2.a), this appears to address the confidentiality issue in previous versions, because submitting peers accept transactions pertaining to specific chaincodes, so su

[2016-06-13 02:41] GrapeBaBa commented on #1796
@JonathanLevi
After compare core.yaml and membersrvc.yaml, two questions
1. Per you suggestion, if updating the membersrvc to match core, I need change the root tag 'server' to 'peer', that means all the sub tag under server should all be changed. Is it OK?
https://github.com/hyperledger/fabric/blob/master/membersrvc/membersrvc.yaml#L3-L21
2. There are missing two tag 'enabled' and 'serverhostover

[2016-06-13 02:55] JonathanLevi commented on #1813
Hi Harry, I need what you mean by registering user to the membership services, but other than the RRST API document (which indeed describes the /registrar entry point), but let me give you a few more pointers:
1. The REST API doc (which you have probably seen)
   https://github.com/hyperledger/fabric/blob/master/docs/API/CoreAPI.md#rest-api
2. The Client SDK documentation (and code), interacting w

[2016-06-13 03:49] JonathanLevi commented on #1796
Hi @GrapeBaBa. I was thinking about a much smaller change (mainly to change two entries in the YAML file), so it's not a full consolidation of the two files (passing the GoodFirstBug mark):

Effectively, just like `core.yaml` has an extra grouping of `peer.tls.cert.file`, that is:
https://github.com/hyperledger/fabric/blob/master/peer/core.yaml#L162-L165

[code]

To have a similar level of hierarc

[2016-06-13 04:24] GrapeBaBa commented on #1796
@JonathanLevi Got it. That is easy.

[2016-06-13 04:26] JonathanLevi commented on #1796
[GoodFirstBug] ;-)

[2016-06-13 05:21] GrapeBaBa commented on #1796
@JonathanLevi I found I need add environment variable in compose-defauls.yaml at line 14 to pass behave test. It is better to let #1810 first.
https://github.com/hyperledger/fabric/blob/master/bddtests/compose-defaults.yml#L14

BTW, I also think I can delete line 14 '- CORE_VM_ENDPOINT=http://172.17.0.1:2375' as I don't find any same config in membersrvc.yaml. Is that right?

[2016-06-13 05:30] JonathanLevi commented on #1796
Yes, agree on getting #1810 in first.

@jeffgarratt should know/confirm more about the CORE_VM_ENDPOINT under the `bddtests` dir...

[2016-06-13 06:16] novusopt commented on #1395
@mastersingh24 Yes

[2016-06-13 06:16] #1395 closed, assigned to nobody

[2016-06-13 07:31] vukolic commented on #1631
@mihaigh - fixed
@mm-hl

27+28) The intention was to have submitting peer able to act on any transaction, except those pertaining to confidential chaincodes (that section will appear soon). The text now consistently reflects this.

As for the leader, I would like to treat this separately. After some discussions - and following your concerns as well as following concurrency and programming model im

[2016-06-13 07:37] cophey commented on #1331
@cca88 As you said,"We understand the need to synchronize all nodes after more time passes, but this is not yet implemented."
    **But when does all nodes synchronize**?
    **I am very confused how to synchronize all nodes and when to synchronize?**
I did like @sachikoy.At first,the data is not consistent.When i stoped peer2 or peer3 some times,and deploy and invoke chaincode some times,and I re

[2016-06-13 08:14] cophey commented on #1331
I do just like what I did before,but the peers can not synchronize again.
And I synchronize all peers **only one time**.

[2016-06-13 08:29] yacovm commented on #1764
What commit are you using? I can't seem to reproduce it:

[code]

[2016-06-13 08:53] yacovm commented on #1447
in getBlockchainInfo, if the lastBlock is nill it gets passed to getBlockchainInfoForBlock and there a BlockchainInfo is built with block.PreviousBlockHash which might throw the NPE in my opinion.

[2016-06-13 08:56] b01213231 opened #1814 "no command peer found"
I ran the peer command and got the correct response several days ago , but today it shows No command 'peer' found , how to resolve it ? it didn't show any error when run make peer
vagrant@ubuntu-1404:/opt/gopath/src/github.com/hyperledger/fabric$ peer
No command 'peer' found, did you mean:
 Command 'beer' from package 'gerstensaft' (universe)
 Command 'peel' from package 'ears' (universe)
 Command

[2016-06-13 09:11] manish-sethi commented on #1447
@yacovm if lastBlock is nil that would mean that the blockchain size is zero (i.e., there is no block in chain yet). In that case, the method explicitly returns `&protos.BlockchainInfo{Height: 0}`.

[2016-06-13 09:24] b01213231 commented on #1814
resolved , the instruction is not correct ,the command should be run in peer folder as ./peer

[2016-06-13 09:24] #1814 closed, assigned to nobody

[2016-06-13 09:39] yacovm commented on #1447
My bad, you're right.

[2016-06-13 10:22] GrapeBaBa commented on #1814
@b01213231 Refer #1807, you need update code and rebuild your vagrant environment by vagrant destroy/up.

[2016-06-13 10:47] corecode commented on #1331
@cophey Please clearly explain your expectations and what you observe.

[2016-06-13 12:23] bcbrock commented on #1707
Are you sure Docker is running? If so, how is it configured?

[2016-06-13 13:02] christo4ferris commented on #1813
@JonathanLevi This would make for a great SO question/answer http://stackoverflow.com/search?q=hyperledger

[2016-06-13 15:59] srderson opened #1815 "Consider removing logging wrapper functions from chaincode.go"
## Description

`chaincode.go` contains functions such as `Debugf`, `Infof`, etc. The comment associated with these was

[code]

The core code will not support `Debugf`, `Infof`, etc. because we are upgrading the logging package. We can remove this wrapper or leave it we think it will continue to protect chaincode writers from future logging changes.

Personally, I'm somewhat tempted to leave it b

[2016-06-13 16:38] bcbrock commented on #1815
I think we should leave the wrapper because it guarantees that the chaincode logs will appear correctly interleaved with the shim logs, and similarly formatted. If chaincodes simply import "op/go-logging", then depending on how the chaincode is built it could actually be loading a different binary version of the package with its own unique settings. Chaincode writers are always free to log however

[2016-06-13 17:14] #1670 closed, assigned to nobody

[2016-06-13 17:40] JonathanLevi opened #1816 "Add a note about restarting builds on our CI server(s)"
## Description

Learned this morning that we can use `reverify jenkins` but "not" `reverify travis`... thought I'd drop a line or two about these in our Wiki (mainly, also so that I do not forget these useful tricks)
## Context

Some work/questions stemmed from #1803, #1810 over the weekend.

[2016-06-13 18:14] #1590 closed, assigned to nobody

[2016-06-13 19:33] #1626 closed, assigned to nobody

[2016-06-13 19:53] jimthematrix opened #1818 "block-listener code broken"
## Description

I'm getting the following error when trying to build the block listener with this morning's git pull:

./block-listener.go:37: cannot use "block" (type string) as type protos.EventType in field value
./block-listener.go:37: unknown protos.Interest field 'ResponseType' in struct literal
## Describe How to Reproduce

cd to `examples/events/block-listener`

`go build`

[2016-06-13 19:57] #1652 closed, assigned to nobody

[2016-06-13 20:05] #1299 closed, assigned to nobody

[2016-06-13 20:09] rajaduggimpudi commented on #1707
@bcbrock: Actually, i tried mounting with the following parameter in docker run command and that seem to have worked.

`-v /var/run/docker.sock:/var/run/docker.sock \`

Thanks for the help !

[2016-06-13 20:16] rajaduggimpudi commented on #1677
@webdaford: I've used the following parameter to get past the error

`-v /var/run/docker.sock:/var/run/docker.sock \`

Let me know if this worked for you !

[2016-06-13 20:51] jeffgarratt commented on #1796
@GrapeBaBa @JonathanLevi Core needs CORE_VM_ENDPOINT for docker services, which membersvcs does not need.

[2016-06-13 20:53] JonathanLevi commented on #1796
Fantastic! @jeffgarratt thanks for confirming.

[2016-06-13 21:29] rameshthoomu opened #1820 "Behave test (680 scenario) is failing after PR#1758 merge -Build#1039"
Behave test scenario (680 test scenario) is failing consistently after PR#1758 merge.
## Description

Behave tests are failing after PR#1758 merge and below is the error message observed:
  Assertion Failed: Failed to POST to http://172.17.0.47:5000/devops/query:  {"Error": "Error: state may be inconsistent, cannot query"}
## Describe How to Reproduce

Ran behave tests on PR#1758 merge (Commit#4ac

[2016-06-13 22:08] JonathanLevi commented on #1797
@GrapeBaBa: combining recent feedback from @mastersingh24, @ghaskins @lehors, seems as if we should use the `MEMBERSRVC_CA_` prefix. Mainly so as to not make the `CORE_`/peer side look inconsistent, in case that will take longer to change in the coming days), as it may take time to align it with `membersrvc`.

[2016-06-13 22:49] mm-hl commented on #1631
@vukolic thanks for the responses.

Regarding 27+28, please note that I was **not** suggesting a different or additional approach to concurrency, which I agree is a separate topic.  My point was only regarding whether a submitting peer could accept a transaction for a confidential chaincode for which it does not have the ability to execute the transaction.  The key part of the suggestion is: _iden

[2016-06-13 23:45] #1816 closed, assigned to nobody

[2016-06-14 01:21] jusrah commented on #1764
I was using commit 64037b9 previously.

I'm rebuilding now using commit 5b6e766 now. Once my rebuild is complete, I'll change my config files, and report back with screen shots if there is still an issue.

Are you developing outside of Vagrant? I see that your lines start with hostname@host instead of vagrant@hyperledger. Could that potentially cause my problem?

[2016-06-14 01:24] #1789 closed, assigned to nobody

[2016-06-14 01:57] GrapeBaBa commented on #1797
@JonathanLevi Changed.

[2016-06-14 02:13] mrshah-at-work opened #1824 "When peer fails to get the certificate, it can never start or restart"
## Description

The function at Line https://github.com/hyperledger/fabric/blob/fcc6a7dc599f20d632fdb87beb785f73fa8796bd/core/crypto/node_crypto.go#L49 writes a file at https://github.com/hyperledger/fabric/blob/fcc6a7dc599f20d632fdb87beb785f73fa8796bd/core/crypto/node_eca.go#L90

The line https://github.com/hyperledger/fabric/blob/fcc6a7dc599f20d632fdb87beb785f73fa8796bd/core/crypto/node_impl.go#

[2016-06-14 02:36] cophey commented on #1331
@corecode I am sorry that my description is not clear.

Here is the precise steps I did:
1. I start 5 VPs (vp0, .. vp4) with `CORE_PEER_VALIDATOR_CONSENSUS_PLUGIN=pbft and CORE_PBFT_GENERAL_N=5`.
1. invoke several transactions on all of peers (vp0, .., vp4),and all peers are consistent.
2. stop vp3, and invoke several transactions on other peers,and all peers(except vp3) are consensus.
3. start vp

[2016-06-14 02:58] kchristidis commented on #1331
@cophey please attach a zip file with the logs from all peers. In step 4, can you define how many transactions you invoke and how much time approximately you spend in that step?

[2016-06-14 03:17] cophey commented on #1331
@kchristidis I am sorry that i cannot recur it.I just synchronize all peers successfully only one time and have no logs.so sorry ablout that.

in step 4,i invoke about 6 times.It spends ablout one or two minutes.I am so sorry I remember not very clear.

anyway,what i want to do is:
1. when one peer restarts, it can catch up ledger,no matter what time.
2. when a new peer is added, it can catch up l

[2016-06-14 03:31] JonathanLevi commented on #1797
Many thanks. PR #1810 might require an explicit `rebase`, but the changes look great!

[2016-06-14 05:50] JonathanLevi opened #1827 "Add the required Golang tests for the ECAA.Registrar feature"
## Description

Following @dulcep's #892 "Enable dynamic user registration" and the various discussions around #1186  regarding the security aspects around hard-coded username & password pairs vs. being able to have the various registrar privilege role to secure the  `ECA.RegisterUser`.

The 89 files changed/added in PR #1723 were successfully merged to master on Friday (June 9, 12:06 PDT), and in

[2016-06-14 05:55] genggjh commented on #1815
I prefer to keep them and add non-f wrapper. Let cc developer use this wrapper, it will help us unify log formatter and easy debug.

[2016-06-14 05:56] genggjh commented on #1815
If all of us aggree with that, pls assgin this issue to me and I will work on non-f part.

[2016-06-14 05:59] JonathanLevi commented on #1815
Yes, +1 for leaving the f wrappers in...

[2016-06-14 06:00] b01213231 opened #1828 "need help, not able to open the json in local browser"
My sandbox is run in vagrant , I can open the json file with "curl http://localhost:5554/rest_api.json" command ,that means the server run in vagrant is fine , but I am  not able to open the json in local browser ,seems it is the network problem , anyone got the same issue ?

[2016-06-14 09:03] vukolic commented on #1631
@mm-hl

ack - the incubating confidentiality draft is precisely doing sth similar - that one will appear for review/comments/discussion soon (will of course post a notice here).

This does not change the story re leader in the context of concurrency as discussed in my previous comment. We agree this is a separate issue and will be treated in the separate section of the proposal - so we can discuss

[2016-06-14 12:02] christo4ferris commented on #1815
hmmm... I'm actually not in favor of keeping... it is just additional code we need to maintain and it is also a convention that we don't have throughout the whole codebase. This makes things more complex for someone joining the project.

[2016-06-14 12:05] christo4ferris commented on #1827
this would be a good candidate for the hackathon

[2016-06-14 12:58] corecode commented on #1806
Are you running the invokes in closed loop or open loop?  Where do you measure tps?  At sender or at block level?

[2016-06-14 13:25] bcbrock commented on #1815
@christo4ferris One of my points is that chaincodes are _not_ part of the codebase. They are independent of the peer implementation. I would argue that this makes it easier for someone joining the project as a chaincode developer because they don't need to read the Go source code to figure out how to log, they just need to read the documentation about the chaincode logging APIs. Presumably there w

[2016-06-14 13:51] binhn commented on #1711
@dshuffma-ibm This is how protobuf packs the payload, which is `ChaincodeSpec`, comes from the client application. We could unmarshal the payload and encode JSON before return.

@angrbrd @smithbk The client SDK may offer better API in getting transaction object in Javascript.

[2016-06-14 13:52] rameshthoomu commented on #1790
@ghaskins : Could you please revert the above commit# (https://github.com/hyperledger/fabric/commit/85837442c2dfb92cf0be0455581387bfbe0c2f48) for the short term fix and also to continue with builds on Z and X86. As discussed yesterday in slack channel, we will work on running docker containers in non-root mode for the long term fix.

[2016-06-14 14:45] srderson commented on #1771
Resolved in PR #1774

[2016-06-14 14:45] #1771 closed, assigned to nobody

[2016-06-14 14:52] srderson commented on #1209
@PlamJ please re-open if you are still facing the issue. Thanks.

[2016-06-14 14:52] #1209 closed, assigned to nobody

[2016-06-14 14:54] srderson commented on #1725
See issue #588

[2016-06-14 14:54] #1725 closed, assigned to nobody

[2016-06-14 15:06] srderson commented on #1108
There have been many changes to the vagrant env since this was opened. Please reopen if this is still an issue.

[2016-06-14 15:06] #1108 closed, assigned to nobody

[2016-06-14 15:08] srderson commented on #983
Related to PR #1719

[2016-06-14 15:09] #1354 closed, assigned to nobody

[2016-06-14 15:15] srderson commented on #1096
Please reopen if this is still an issue. Thanks

[2016-06-14 15:15] #1096 closed, assigned to nobody

[2016-06-14 15:17] srderson commented on #1198
Yes, I believe it is https://github.com/openblockchain/obc-peer(tag:v0.1.0). A new tag will be created at some point in the future.

[2016-06-14 15:17] #1198 closed, assigned to nobody

[2016-06-14 15:36] muralisrini opened #1830 "system chaincode crashes if the timeout is too small"
## Description

If the chaincode timeouts are small enough (saw it with nano second timeouts), it could crash the system chaincode
![image](https://cloud.githubusercontent.com/assets/14361488/16048974/06c59862-3224-11e6-9dda-7ac245ba5bb2.png)

Related to PR #1826.

It may be acceptable to increase the global chaincode timeout to a reasonable value. However, it is worth investigating if this sympto

[2016-06-14 15:37] srderson commented on #1266
These have been resolved

[2016-06-14 15:37] #1266 closed, assigned to nobody

[2016-06-14 15:40] #1342 closed, assigned to nobody

[2016-06-14 15:41] #1562 closed, assigned to nobody

[2016-06-14 15:42] #1560 closed, assigned to nobody

[2016-06-14 15:44] srderson commented on #1550
This looks specific to IBM-Blockchain. Please ask on Stackoverflow or their repository.

[2016-06-14 15:44] #1550 closed, assigned to nobody

[2016-06-14 15:46] srderson commented on #1400
@binhn Can this be removed?

[2016-06-14 15:47] srderson commented on #1757
@smithbk or @angrbrd - please take a look

[2016-06-14 16:09] #1662 closed, assigned to nobody

[2016-06-14 16:10] srderson commented on #1661
Closing. @nitesh7sid please reopen if you have more info. Not sure if you worked with @JonathanLevi directly to resolve.

[2016-06-14 16:10] #1661 closed, assigned to nobody

[2016-06-14 16:13] srderson commented on #1400
Adding a help wanted tag. Assume this can be removed unless @binhn responds otherwise.

[2016-06-14 16:13] JonathanLevi commented on #1661
Thank you @srderson.

[2016-06-14 16:16] adecaro commented on #1759
@jjjjibm Sorry for the late reply. That file is not available anymore in the current master.

[2016-06-14 16:20] binhn commented on #1400
Yes, early artifact that no longer used.  Thanks.

[2016-06-14 16:38] yacovm commented on #1764
Yeah, outside.

It's really weird the DB isn't being created. What is the filesystemPath config set to?
According to:
https://github.com/hyperledger/fabric/blob/5f39a0566e9f7bbf7e31ffcd898716edf4c4330e/core/db/db.go#L101
You should notice that the db folder isn't created

[2016-06-14 16:49] nitesh7sid opened #1831 "stub. DeleteTable(tablename) doesnot works..."
the stub.DeleteTable(tablename) is not working..
I get error on chaincode terminal as :  21:57:47.240 [shim] DEBU : [mycc]Sending RANGE_QUERY_STATE
2016/06/14 21:57:47 transport: http2Client.notifyError got notified that the client transport was broken EOF.
21:57:47.392 [shim] ERRO : Received error from server: rpc error: code = 13 desc = "transport is closing", ending chaincode stream

And error

[2016-06-14 17:03] polyrabbit commented on #1659
I also come across the same problem, please investigate.

[2016-06-14 17:35] bcbrock commented on #1815
@genggjh I will take the task of adding and documenting the non-f forms. Chris and I chatted in private and he agreed to the change and asked me to add some documentation to the source code.

[2016-06-14 17:35] #1818 closed, assigned to nobody

[2016-06-14 17:48] dubek opened #1832 "Can't build chaincode that uses Go packages used by shim"
## Description

I'm developing a chaincode program in my own repo (outside the `fabric` repo). I want to define a private function that accepts a parameter of type `gp.Timestamp`, where `gp` is package alias for `google/protobuf`. If I add `vendor/google/protobuf` (and its dependency `vendor/github.com/golang/protobuf`) dir to my repo, I get the following error about the colliding types:

[code]

[2016-06-14 17:55] srderson commented on #1831
Could you include your chaincode or test case? I just checked the existing test case at https://github.com/hyperledger/fabric/blob/master/bddtests/chaincode/go/table/table.go#L268 and did not see the same failure. Thanks.

[2016-06-14 18:03] dubek commented on #1475
I can take it.

[2016-06-14 18:09] srderson commented on #1475
Thanks! @christo4ferris can you add @dubek to the hyperledger org so I can assign this issue to him?

[2016-06-14 18:10] srderson commented on #1659
@binhn Is this something you have investigated?

[2016-06-14 18:12] christo4ferris commented on #1475
done, please have @dubek accept the invite and make his membership public

[2016-06-14 18:21] ghaskins commented on #1790
Currently testing this:

[code]

[2016-06-14 18:51] srderson commented on #1831
I have created PR #1833 to fix the nil pointer panic.

@adecaro The root problem is that there is an error decrypting the data when confidentiality is enabled. I found https://github.com/hyperledger/fabric/issues/1049. Is the correct way to resolve this to merge PR #1373?

[2016-06-14 18:55] dubek commented on #1475
Joined + publicized membership.

@srderson: Contributing is as usual via Github PRs? (that's what I understood when I re-read CONTRIBUTING.md ).

[2016-06-14 19:00] srderson commented on #1475
@dubek Yes, just submit a PR. When you create the PR there will be a template to fill in with all the needed info.

[2016-06-14 19:03] srderson commented on #1828
Did you edit the REST port in core.yaml? If so, you likely need to edit the Vagrantfile. By default the REST port is forwarded to port 5000 outside of Vagrant. https://github.com/hyperledger/fabric/blob/master/devenv/Vagrantfile#L37

[2016-06-14 19:05] srderson commented on #1820
@jyellick so this test is now disabled via PR #1825. Do you want to keep this issue open for re-enabling the test when you're ready?

[2016-06-14 19:32] binhn commented on #1659
@srderson No, I have not.

@yeasy Did you intend to have time wait for each block is 10 seconds?  Did it work with that configuration if you follow the sandbox instruction https://github.com/hyperledger/fabric/blob/master/docs/API/SandboxSetup.md ?

[2016-06-14 19:49] #1800 closed, assigned to nobody

[2016-06-14 19:50] binhn commented on #1659
@yeasy Your log above also shows that the deploy failed.  Do you still have the full log?  Or just rerun with full debug log.

[2016-06-14 20:05] dongmingh commented on #1806
@corecode In my test, SoapUI is used to generate REST API for all transactions.  The tps is provided by SoapUI.

[2016-06-14 20:15] corecode commented on #1806
How do you make sure that you are running in closed loop?

[2016-06-14 21:03] ratnakar-asara opened #1835 "Documentation created for the node sdk"
The documentation needs cleaning up.
1.  Do not have to display it locally
   file:///home/barry/src/github.com/hyperledger/fabric/sdk/node/doc/globals.html
2.  The three high globals - hlc, crypto, stats.   These need several things,
   a) pruned to delete all methods, interfaces, variables that are private
   b) provide an example for each function and provide a description.   For example in the

[2016-06-15 00:47] jusrah commented on #1764
I've done vagrant destroy -> vagrant up -> vagrant ssh
Following your example:

vagrant@hyperledger-devenv:v0.0.10-5b6e766:/opt/gopath/src/github.com/hyperledger/fabric$ sudo rm -rf /var/hyperledger/production/db
vagrant@hyperledger-devenv:v0.0.10-5b6e766:/opt/gopath/src/github.com/hyperledger/fabric$ egrep "fileSystemPath" peer/core.yaml
    fileSystemPath: /var/hyperledger/production
vagrant@hyp

[2016-06-15 00:51] genggjh commented on #1815
@bcbrock got it. thx.

[2016-06-15 01:05] #1091 closed, assigned to nobody

[2016-06-15 01:17] srderson commented on #1195
This file has moved to https://github.com/hyperledger/fabric/tree/master/images/base. It looks like the image has been updated.

[2016-06-15 01:17] #1195 closed, assigned to nobody

[2016-06-15 01:27] JonathanLevi opened #1842 "Add membersrvc/ca/utils.go Tests"
## Description

We need to have a set of tests covering the behavior and functionality. In particular, this issue focuses on the shared CA `utils.go` functions of Membership Services.
## Motivation

At this point, even a small number of positive- and negative- flows will go a long way, both for development, testing but also as an easy way for new users to learn about Hyperledger fabric and its cap

[2016-06-15 03:44] muralisrini commented on #1741
@here description/fix in #1826

[2016-06-15 03:57] yeasy commented on #1659
@binhn
Yes, I tried with latest version of code with waiting for 10 seconds, still same error.

When query transaction, received ""b'{"Error": "Transaction c80d878c-3db6-48ac-97d7-9e0b2d910707 is not found."}'")".

The full logs are (There is no error in the output):

[code]

[2016-06-15 04:01] frankyclu opened #1844 "Attributes - Need the ability to select which account ID(s) to include in the TCert attribute"
## Description

The current tcert-attribute based design allows user to select which attribute to include in the TCert. However, the attributes are pre-defined. So for any given attribute  (e.g. account IDs), user can only choose to either include or not include in his TCert.

This strategy works if attribute values are static. However, account IDs are expected to be dynamic overtime in many use c

[2016-06-15 04:11] nitesh7sid commented on #1831
Yes @srderson this is my chaincode...

[business_directory_sample.txt](https://github.com/hyperledger/fabric/files/315413/business_directory_sample.txt)

[2016-06-15 04:32] genggjh opened #1845 "Function name refactor in node_log.go to meet the naming conventions"
## Description

Function name refactor in node_log.go to meet the naming conventions.

After we upgrade the go-loging package to the latest version in https://github.com/hyperledger/fabric/pull/1683, we need refine the function names in github.com/hyperledger/fabric/core/crypto/node_log.go to eliminate more go vet warnings (https://goreportcard.com/report/github.com/hyperledger/fabric#go_vet)

The

[2016-06-15 04:32] jyellick commented on #1820
@srderson Please leave open (and assign to me if that is still process).

[2016-06-15 07:59] grbulat commented on #1767
@muralisrini

Unfortunately, I still have the same errors with 'no docker' environment. There are no any added data.
But I installed 4 validation peers in docker container as you suggest [here](https://github.com/hyperledger/fabric/blob/master/docs/API/SandboxSetup.md). **currentBlockHash** and **height** are changed, but query command still raise an error 'Error: Error querying chaincode: rpc err

[2016-06-15 09:48] smithbk commented on #1844
@frankyclu Requiring that attributes be listed in the membersrvc.yaml file is temporary.  One option being discussed is to provide an RPC call similar to ECAA.RegisterUser (see fabric/membersrvc.proto file) which allows adding/removing attributes to a particular user.  For some attributes such as "bank1.bankAccountNumber", it may be permissible to allow a single user from bank1 to add such an attr

[2016-06-15 10:06] smithbk commented on #1835
I agree that work needs to be done here.  You can click on upper right to view only public which will help some, but there is still a lot of noise.

[2016-06-15 10:35] yeasy opened #1846 "Limit chaincode container resource"
## Description

Currently we cannot limit the resource used by chaincode container. Hence the chaincode application can exhaust the system resource quite easily.

We may add this feature in the core.yaml, with supported in the fabric code.
## Describe How to Reproduce

This is a feature discussion. If approved, I can help implement it.

[2016-06-15 12:37] smithbk commented on #1759
Janet, you simply need to:
    npm install -g hlc
And then type
    hlc test <test.json>
A sample test.json file is at fabric/sdk/node/bin/test.json

hlc-tester.js no longer exists.

[2016-06-15 12:45] muralisrini commented on #1846
@yeasy currently we have 1-1 relationship between number of chaincodes and containers. So the number of containers is somewhat constrained.

But in general you are quite correct. Other future uses for containers (say to implement instances of a chaincode from the chaincode image) would could need us to consider bounds for containers. Or even currently there may be cases where the number of chainco

[2016-06-15 13:53] manish-sethi commented on #1631
I wanted to discuss here on the aspect that causes most departure from the current architecture - which is transforming transaction from the original form (issued by a user - invoke a chaincode method) into a form that includes state updates. Because, this is what requires new functions such as endorsers and committers, new artifacts such as read-write set/verDep, and also changes the transaction

[2016-06-15 14:19] vukolic commented on #1631
@manish-sethi

The high level motivation is to simplify fabric implementaiton. This motivation is broken down as follows (w/o specific order): 1) handling non-determinism, 2) allowing more parallelism in chaincode execution (endorsement), 3) providing a simple mechanism of ensuring that a  transaction is never  executed more than once.

1) Handling non-determinism is an extremely important motivat

[2016-06-15 14:46] #1797 closed, assigned to nobody

[2016-06-15 14:53] rameshthoomu commented on #1820
Below are the observations while re-testing this issue:

Tested this issue on `commit#8301c00` (merge of pull request #1785) and it worked as expected. Below are test results: Seems this issue is fixed in the above commit.

Hyperledger/fabric build result before disable 680 scenario:
https://travis-ci.org/hyperledger/fabric/builds/137508890

Travis:
https://travis-ci.org/rameshthoomu/fabric/builds

[2016-06-15 15:08] rameshthoomu opened #1847 "Jenkins z slave machines went into offline mode"
## Description

CI build results are showing as failed as master Jenkins is not able to trigger builds on z slaves. We observed all z machines are in offline mode and unable to reach out to these machines.
All builds of PR and merge requests are showing as failed in github.
## Describe How to Reproduce

[2016-06-15 16:06] ratnakar-asara commented on #1835
Also need a small update in [troublingshooting](https://github.com/hyperledger/fabric/tree/65c8e77a67490a3a88bca7aba76b2bb83824c527/sdk/node#troublingshooting) section of the document for the below error.
I see point 2 already covers the same,  however, It would be good to add the below error as well.

[code]

[2016-06-15 16:22] diegomasini commented on #1844
@frankyclu as @smithbk mentioned the use of the yaml configuration file is temporary. I was talking with Keith about providing an API that allows a dynamic registration for attributes. The key point is to get proof about attribute ownership when values are being modified. It is worth mentioning that each attribute is encrypted with a different key and the same attribute in different TCerts will lo

[2016-06-15 16:31] mrshah-at-work opened #1848 "Chaincode container should communicate over TLS with the peer"
## Description

The chaincode containers do not communicate over TLS. Thus, if TLS is turned on on the peer, the chaincode container will fail to connect to the peer.
## Describe How to Reproduce

1. Turn TLS on on the peer
2. Deploy chaincode
## Proposal

Ref: https://github.com/masterDev1985/fabric/commit/263dcc3dabf0c71821b3c2d4f505a6fb658b5b0f
In addition to above, we need to modify the chainc

[2016-06-15 16:44] mrshah-at-work opened #1850 "Connection times out between chaincode & peer when running behind a proxy"
## Description

When running behind a proxy, there is a definite timeout if the connection is inactive. This timeout breaks the connection between the peer and the chaincode, the chaincode stops.
## Describe How to Reproduce

1. Run a peer behind a proxy
2. Deploy a chaincode
3. The chaincode connects to the peer via proxy
4. Do not invoke/query for a long period. The chaincode container exits due

[2016-06-15 16:45] smithbk commented on #1827
@christo4ferris We have test coverage for this from the client sdk at sdk/node/test/unit/registrar.js

[2016-06-15 16:46] dubek commented on #1475
While fixing the code, I encountered several uses like:

[code]

However, Fprintf's first argument is a _format string_, which means that if the `jsonResponse` (which can be anything; it comes from the chaincode query response, for example) contains `%s` or `%d` it'll mess up the response (fortunately it will not allow for remote code execution, unlike the same issue in C).

I'll fix this issues a

[2016-06-15 16:52] mrshah-at-work opened #1851 "Peer2 doesn't restart communication with Peer1 once the communication breaks"
## Description

When communication breaks between Peer1 & Peer2 due to a network glitch, Peer2 doesn't reconnect to Peer1 and stays idle.
## Describe How to Reproduce

1. Start a network with 2 peers
2. Break the communication between the two peers
3. Peer 2 doesn't reconnect to Peer 1
## Proposal

Ref: https://github.com/masterDev1985/fabric/commit/6adb13c053b14ab19ace0d095806046bc2086724
In the

[2016-06-15 17:14] andresgaragiola commented on #1844
good question and good answers. I'm agreed with mentioned above. Just an additional comment. Suppose Alice has an account "0001" in the entity "Bank A" and other account "2003" in the entity "Bank B". If Alice is enrolled one time to Bank A and a second time to Bank B, then Alice has two ECerts and could generate TCerts to transact with "0001" or with "2003" independently. The good thing here is t

[2016-06-15 17:25] #1845 closed, assigned to nobody

[2016-06-15 17:30] #1753 closed, assigned to nobody

[2016-06-15 17:50] binhn commented on #1711
I discussed more with @muralisrini and @angrbrd; the conclusion is that due to security, we need to wait for the client SDK to provide the functions first then serve them in REST as another form. The security reason is that the peer doesn't have the client's (user's) key to decrypt the transaction payload to unmarshal. The key is only available on the client application/sdk side.

[2016-06-15 18:00] binhn commented on #1780
@JonathanLevi @starsheriff First, welcome starsheriff (we'll meet someday when I travel the galaxy:-)

Just a note that these functions are used in 2 different places: membersrvc  and peer.  Peer is a client of Membersrvc. They can definitely share code but must be copied and built into 2 separate executables.

[2016-06-15 18:07] binhn commented on #1630
@dshuffma-ibm @srderson @GrapeBaBa
I would not implement this as part of peer, which has provided an event mechanism for any listener to get and accumulate such data (in general, analytics). Architecturally, we have presented and prototyped the concept of a warehouse, a component that may provide data for reporting and analytics without taxing the OLPT.

Since we have the client SDK, it can be add

[2016-06-15 18:08] masterDev1985 opened #1852 "Connect chaincode container to a network"
## Description

There needs to be a way to connect a chaincode container to a network.  In the case where a user runs a peer on one machine, but wants to run that peers chaincode on a different machine, they may need to have additional control over what network the chaincode container connects to.  An example of such a scenario would be wanting the peer to communicate with the chaincode container

[2016-06-15 18:22] binhn commented on #1610
@jyellick @srderson @corecode
I am not sure what the conclusion is on this issue to implement. Could the author edit the description to capture that.

My 2 c,  we should follow HTTP and report `NOT FOUND` condition, and we should define status codes (again, just follow HTTP codes). In HTTP, response is simply a payload and a status code. So returning {nil, {code: 404, msg: NOT FOUND}} would probab

[2016-06-15 18:37] srderson commented on #1049
Closing as this should be resolved now.

[2016-06-15 18:37] #1049 closed, assigned to nobody

[2016-06-15 18:37] JonathanLevi commented on #1827
Yes, that's true, there are `sdk/node/test/unit/registrar.js` tests and many of them. To me, testing the server from the client side is kinda more of a set of **integration tests**, using JavaScript. I have been asked to open this issue for tracking the Golang **unit test** coverage (testing functions at the unit/package level).

If you @smithbk or @adecaro have some cycles to complete this, that

[2016-06-15 18:44] bmos299 commented on #1835
@smithbk  Also, with the the npm install -g hlc you need to make sure you have the latest level of node.  I know for sure the install works with node v6.2.1

[2016-06-15 18:55] dshuffma-ibm commented on #1630
@binh that's no good for our needs. This is an everyone problem isn't it?  Everyone should be interested in details for their chaincode.  At a minimal people would like to see/confirm what chaincode is running from the chaincode hash (ie show the go get url). As for performance, this would be an optional configuration. The performance hit for tracking a handful of integers and strings should be ex

[2016-06-15 19:00] dshuffma-ibm commented on #1711
Perhaps we should clarify this issue to say: whoever is giving the transaction object should format it differently.

Since going forward only the SDK client can, then it should be the SDK client's responsibility to decrypt and provide a json format for the tx payload.

[2016-06-15 19:21] bmos299 opened #1853 "Peer Incurs Panic when Starting Peer with Incompatible Consensus Algorithm (pbft with 1 peer)"
I am using commit ee024d5.  I started a single peer with pbft.  This caused a go panic.  This is a misconfiguration, but I didn't expect a panic.  Here is the log and backtrace.

 19:06:29.366 [crypto] func1 -> INFO 006 Registering validator [test_vp0] with name [test_vp0]...done!
19:06:29.366 [crypto] func1 -> INFO 007 Initializing validator [test_vp0]...
19:06:29.492 [crypto] func1 -> INFO 008 I

[2016-06-15 19:38] tuand27613 commented on #1853
Linking to #752 where we're trying to determine error handling on a fabric wide basis.

In this case, given that we don't have a way to recover and that the invalid values might indicate a greater problem, we stop in a way that garners the most attention.

[2016-06-15 19:48] mastersingh24 commented on #1846
@muralisrini  - Docker does not provide the greatest capabilities for constraining resources, but you can do it:   https://docs.docker.com/engine/reference/run/#runtime-constraints-on-resources

Looks like this is support in the go-dockerclient via [Config](https://godoc.org/github.com/fsouza/go-dockerclient#Config)

[2016-06-15 19:52] srderson commented on #1831
Could you also send me your core.yaml so I can see what settings you have enabled? Also, if you try again with the latest master and PR #1833 it will likely give a more helpful error message.

[2016-06-15 20:02] binhn commented on #1630
@dshuffma-ibm It is not the performance that I am recommending alternative, but it is architectural as we wouldn't want to keep adding things to the peer such as keeping track of stats. Moreover, the ask data would also cause security concerns.

[2016-06-15 20:48] binhn commented on #1659
@yeasy I ran with the current code and deployed chaincode ex02 and all seems fine as shown below. Note that I query the tx by uuid with `curl 172.17.0.2:5000/transactions/684541cc-a2a2-4355-86e7-b2ab3acc5d55`.

Terminal 1 -- Peer

[code]

Terminal 2 -- CLI

[code]

[2016-06-15 21:52] dongmingh commented on #1806
I did 2 separate test: query only and invoke only.  First, I ran query only test. The test shows the tps decreases over time.  Then I run invoke only which also shows the same issue.  Therefore, we can focus on query only test for this issue.

[2016-06-15 22:09] dshuffma-ibm commented on #1630
the `input.args` field is potentially compromising, since it would expose the init parameters. one alternative to this particular field would be to limit the access to different members/enrollIDs based on group. We could ditch the field altogether, its actually not needed for us.

the other fields are pretty bland and are harmless in my opinion. Someone might be hesitant to show their go get url b

[2016-06-15 22:19] #1741 closed, assigned to nobody

[2016-06-15 22:31] muralisrini commented on #1846
Thanks, @mastersingh24... I misread.  _Resources_  used by containers. Not _number_ of containers.

The difficulty would be coming up with reasonable defaults applicable to all chaincodes in an installation. Clearly one size won't fit all chaincode containers.

However, we can place upperbounds ....  or maybe have users define resource classes (say classA/classB/classC/..) with different resource

[2016-06-16 00:00] bcbrock opened #1857 "State Transfer Errors Running a **busywork** target with multiple clients"
## Description

@jyellick Jason, When running busywork PBFT Batch with 2 clients, one of the peers seems to get stuck in state transfer. In this example it is VP2.

[logs.tar.gz](https://github.com/hyperledger/fabric/files/317403/logs.tar.gz)
## Describe How to Reproduce

This is the target I'm trying to run, it does not make it past 2 clients. It fails even w/o the PBFT configs of the network sho

[2016-06-16 00:52] genggjh opened #1858 "Need fix the go vet errors"
## Description

There are still some go vet errors from Go Report Card.
Some errors will result in problem when write logs.
Like this:
https://github.com/hyperledger/fabric/blob/master/core/crypto/peer_impl.go#L67

Maybe we need consider to add the go_vet examines as a necessary condition in our CI verification. The go vet examines must 100% green before run other tests.

[2016-06-16 01:00] srderson commented on #1858
I took care a most of them (if not all) in PR #1855. Apologies for not creating a matching issue.

[2016-06-16 01:04] genggjh commented on #1858
Great, will close this issue.

[2016-06-16 01:05] genggjh commented on #1858
Duplicate #1855

[2016-06-16 01:09] srderson opened #1859 "Add go vet command to make linter"
## Description

Add the `go vet` to the `make linter` command in the make file.
## Describe How to Reproduce

This will add `go vet` to the `make linter` command. @genggjh has helped to fix a huge chunk of the `go vet` issues and PR #1855 should finish it off. We should therefore run `go vet` along with `make checks`.

[2016-06-16 02:42] ibmamnt opened #1860 "Change the install.md documentation about how to build peer and membersvc image"
## Description

The [install documentation](https://github.com/hyperledger/fabric/blob/master/docs/dev-setup/install.md#building-the-fabric-core-) instruct us to build the image using this procedure.

[code]

This is no longer valid, as these methods have been removed from vm_test.go file. Please change the documentation appropriately.

[2016-06-16 03:39] binhn commented on #1630
@dshuffma-ibm you might want to look at the pattern here https://github.com/ethereum/wiki/wiki/Network-Status where the https://github.com/cubedro/eth-net-intelligence-api is like an event listener.

[2016-06-16 05:43] yeasy commented on #1846
yes, i mean limiting the upper bound for chaincode container's resource.
We can never put it to production environment, unless we have that limit.
Before working on it, would like to listen to more options on this.
Thanks!

[2016-06-16 06:39] yeasy commented on #1659
@binhn
Thanks for the reply.

After a repeated testing, I found several interesting facts.
1. With single noops node.
2. Deploy, and the invoke. You can not get the updated invoked result within several seconds.
3. If you query the transaction content after the invoke immediately, it will return 404 not found error. After about 10 seconds, then you can get the content.

Since it's only a single no

[2016-06-16 07:13] MizukiSonoko opened #1863 "Path in TransactionContext.newNetModeTransaction is wrong"
## Description

I think [hlc.ts#L1556](https://github.com/hyperledger/fabric/blob/master/sdk/node/src/hlc.ts#L1556) is maybe wrong
because,
 [hlc.ts#L1556](https://github.com/hyperledger/fabric/blob/master/sdk/node/src/hlc.ts#L1556)

[code]

[sdk_util.ts#L102](https://github.com/hyperledger/fabric/blob/eaec0807bcdfe31d010395851d7b2c9bef0cf93a/sdk/node/src/sdk_util.ts#L102)

[code]

so, It causes t

[2016-06-16 07:24] MizukiSonoko commented on #1863
And I fixed this bug.
[branch:issue-1863](https://github.com/MizukiSonoko/fabric/commit/a54737bcad38f21dd65285937d4955d0ac1f2398)

[2016-06-16 07:47] GrapeBaBa commented on #1796
@jeffgarratt Now we have a problem with bddtests. If we uncomment the TLS config of membersrvc service(https://github.com/hyperledger/fabric/blob/master/membersrvc/membersrvc.yaml#L20-L21), serveral tests will failed.

I try to fix the test by changing the compose-default.yaml like this, but not successful. Would you like help to give some clues?

[code]

[2016-06-16 09:34] christo4ferris opened #1864 "should use BDD test framework for node sdk"
## Description

should use BDD test framework such as [Jasmine](http://jasmine.github.io/) for node sdk
## Describe How to Reproduce

run the tests

[2016-06-16 10:02] yacovm opened #1865 "peer crashed during state transfer"
PBFT classic, 4 nodes, no security

commit a94f5a7f559a4b7459e6ba37419e44bf335db81b

Scenario: invoked 5000 transactions of:

[code]

All were OK, but the 4 peers chain size were different and they were doing state transfer. vp2 crashed during that.

[code]

[2016-06-16 11:41] yacovm commented on #1865
Now another error, in latest build ( eaec0807bcdfe31d010395851d7b2c9bef0cf93a ), vp0 crashed.

[code]

In bucket_node.go:

[code]

I guess the other bucket's children crypto hash is too big for the childrenUpdated.

[2016-06-16 11:47] manish-sethi commented on #1631
@vukolic thanks for highlighting the though process behind the proposal. To discuss these further, can you have a look at the following.

1) For the case of a new peer joining, we can always include the state updates produced by the transaction payload into the block when we execute the transactions in the current architecture. In other words, a block in the blockchain can still look same as it ap

[2016-06-16 12:04] binhn commented on #1659
@yeasy It takes several seconds because you set the block wait time to be `CORE_NOOPS_BLOCK_TIMEOUT=10`. The default is 1 second. You may set it faster https://github.com/hyperledger/fabric/blob/master/consensus/noops/config.yaml if needed.

[2016-06-16 12:12] #1056 closed, assigned to nobody

[2016-06-16 12:30] bcbrock commented on #1857
It is not necessary to use multiple clients, it seems to be sufficient for the network to be receiving transactions on multiple peers simultaneously. If in the above you run with 1 client and change

[code]

 to

[code]

 it will fail the same way. (`-peerBurst 100` sends 100 TX to a random peer then waits for them to all complete before moving on. `-peerBurst 10 -netBurst 10` sends 10 bursts of 1

[2016-06-16 12:55] manish-sethi commented on #1865
@yacovm did you change the bucket tree configurations in core.yaml after inserting a few transactions?

[2016-06-16 13:00] yacovm commented on #1865
no

[2016-06-16 13:22] jyellick commented on #1857
@bcbrock I think I have a set of logs locally which exhibits this.  I'll be investigating today.

[2016-06-16 13:24] dshuffma-ibm commented on #1630
fyi we have an intern assigned to this task, but he's got other projects too, so I don't think much headway has been made yet.

If we are not interested in adding this feature to the fabric, then we would be forced to explore client sdk per network (like you suggest)...

I'm still in favor of having a peer track its own stats.

[2016-06-16 13:27] bcbrock commented on #996
@adecaro Angelo, has the PR mentioned above been submitted/merged?

[2016-06-16 13:36] dubek commented on #1832
Relevant discussion in golang-dev mailing list: https://groups.google.com/forum/#!topic/golang-dev/4FfTBfN2YaI (topic started with similar problem affecting the coreos/etcd repo, which like fabric holds both binaries and libraries).

[2016-06-16 13:38] vukolic commented on #1631
@manish-sethi Many thanks for your discussion.

1) We can add state updates to the current architecture yes, and also to Sieve way of handling non-determinism. In fact the proposal here is a generalized Sieve, where state-updates are moved around instead of transaction payload (this is rather straightforward to add to Sieve) and we do not have a leader any more (this is more elaborate - hence the

[2016-06-16 13:42] corecode commented on #1056
thanks!

[2016-06-16 13:48] joshhus opened #1868 "Decide if protocol spec should be split up into smaller documents."
## Description

The answer apparently, is not yet "yes" to this question, based on the result of the recent PR to split out the security section as a separate doc: https://github.com/hyperledger/fabric/pull/1676

The attempt of that PR was to begin this as an iterative process, by splitting out the Security doc.

Protocol spec: https://github.com/hyperledger/fabric/blob/master/docs/protocol-spec.m

[2016-06-16 13:58] ibmmark commented on #1124
spoke to @prjayach and we can close based on @srderson answer

[2016-06-16 13:58] #1124 closed, assigned to nobody

[2016-06-16 13:59] bcbrock commented on #1857
Thanks for looking into this Jason.

I have also just observed a different issue. I have only seen this once. In this case, all of the peers report the same block height, and in fact their blockchains are identical (as reported by the checkAgreement script). However the state of one of the peers is not complete. This peer is missing about 100 "counts". The chaincode reports that it executed 16274

[2016-06-16 14:05] ibmmark commented on #1338
I agree with @corecode this should be removed from the bug list and tagged as consensus.

[2016-06-16 14:21] grbulat commented on #1767
Eventually, I have done it with 'partial' docker environment (peers in theirs own virtual machines, but chaincode run in docker container).
Commands to start peers:
`CORE_VM_ENDPOINT=http://172.17.0.1:2375 CORE_PEER_ADDRESSAUTODETECT=true CORE_PEER_ID=vp0 ./peer node start --logging-level=debug`

`CORE_VM_ENDPOINT=http://172.17.0.1:2375 CORE_PEER_ADDRESSAUTODETECT=true CORE_PEER_ID=vp1 CORE_PEER_D

[2016-06-16 14:21] #1767 closed, assigned to nobody

[2016-06-16 14:27] JoVerwimp commented on #1631
I have not been able to go through the entire discussion here, but wanted to share initial thoughts at this point.

initial remarks on the text, not content:
1- For a reader, it would be easier if the text was structured to first describe shortly the current architecture, its issues/limitations and then embark on describing the proposed architecture and how it addresses the issues/limitations.
2-

[2016-06-16 14:47] srderson commented on #1858
Reopening as there still additional errors that need to be fixed. I'll be submitting a PR shortly.

[2016-06-16 16:28] ratnakar-asara opened #1872 "nodesdk: chaincode query fails"
## chaincode query fails on nodesdk
-  Query on node-sdk fails unit tests on asset_management, gist of error message as below:

[code]

Logs for asset_mgmt unit testcase [log.txt](https://github.com/hyperledger/fabric/files/318862/log.txt)
## Describe How to Reproduce
- Go to /opt/gopath/src/github.com/hyperledger/fabric/sdk/node/bin and run the script `./run-unit-tests.sh`

[2016-06-16 16:55] 2016Nishi opened #1873 "Bringing down PEER0 on a 4 peer network breaks consensus in latest build"
## Description

When PEER0 was stopped on a 4 peer network no consensus happened
## Describe How to Reproduce
1. Start a 4  peer network
2. Deploy chaincode example02 on a peer.
3. Query for A and B on a peer
4. Stop PEER0
5. Send 5 Invokes on PEER1
   Sleep for 2 min
6. Query for A and B values on PEER1, PEER2, PEER3
7. Get chain height from PEER1, PEER2 and PEER3
## Actual Result:

Query values

[2016-06-16 17:03] scottz64 opened #1874 "Peer PBFT Batch does not work on queue after two VPs bounce"
## Description

Some basic behavior with Consensus seems to be no longer working, in a specific scenario. This test fails on test images from 6/15 (f8ffcd1) and 6/16 (04f076b). The test passed on 6/9 image (a94f5a7).

In the following scenario, after recovery, the values for A and B seem to remain stuck with the same values prior to the failures. The Invokes that were requested while there were on

[2016-06-16 17:41] ibmmark commented on #1076
Verified, ok to close

[2016-06-16 17:48] corecode commented on #1874
You need to keep submitting invokes, or switch on periodic null requests.  If there is no activity in the network, the peers will not catch up.

[2016-06-16 17:48] #1076 closed, assigned to nobody

[2016-06-16 17:51] #1858 closed, assigned to nobody

[2016-06-16 18:34] #1872 closed, assigned to nobody

[2016-06-16 18:48] tuand27613 commented on #1874
@corecode,  i tried running the behave test from PR #1867 . Looks like we're not receiving any more requests after the initial deploy and invoke ? After restarting vp3 , I don't see vp0 saying it "received request"

[ttd-1874.zip](https://github.com/hyperledger/fabric/files/319110/ttd-1874.zip)

running with commit d7e4434

and the behave test:

[code]

[2016-06-16 19:07] tuand27613 commented on #1873
Hi @2016Nishi  ... could you generate debug logs ? thanks !

[2016-06-16 19:40] jyellick commented on #1610
I'd be in favor of returning an `ErrNotFound` as the error, as `rest_api.go` already replies to that with a 404.  Assuming there's consensus (in particular from @srderson, as you originally opposed not found as an error condition) I'll update the description and original issue to reflect this.

[2016-06-16 19:47] 2016Nishi commented on #1873
Please find attached peer debug logs.

[PEER_DEBUGLOGS.zip](https://github.com/hyperledger/fabric/files/319194/PEER_DEBUGLOGS.zip)

[2016-06-16 19:53] kchristidis commented on #1874
@scottz64 Can you please identify the exact PR that introduced the bug and let us know? `git-bisect` may help.

[2016-06-16 20:05] srderson opened #1879 "Resolve all goimports errors"
## Description

Resolve all errors seen when running `goimports` in preparation for adding this command to `make linter`
## Describe How to Reproduce

Run `goimports -l ./consensus`
And on the following other folders

[code]

[2016-06-16 20:07] srderson opened #1880 "Add the goimports command to make linter"
## Description

Add the `goimports` command to `make linter`
## Describe How to Reproduce

This will add the `goimports` command to `make linter` so that `make checks` will fail if `goimports` has not been run on all files.

[2016-06-16 20:11] jyellick commented on #1874
@scottz64 There may have been some regressions around request resubmission in #1798 which have been addressed in #1877 if you could try applying to reproduce with that PR.

[2016-06-16 20:12] binhn commented on #1874
Not sure if caused by PR #1793 I merged this morning. CI was successful on the build.

[2016-06-16 20:23] kchristidis commented on #1874
If #1877 does not address this --

These consensus-related PRs were submitted _after_ this test passed successfully (from oldest to newest): #1749, #1758, #1785, #1798, #1793.

See if you can revert back to them and let us know which one introduces the error.

[2016-06-16 20:30] #1790 closed, assigned to nobody

[2016-06-16 20:44] tuand27613 commented on #1873
I think this behave test reproduces @2016Nishi 's scenario
[1873.zip](https://github.com/hyperledger/fabric/files/319207/1873.zip)

[code]

[2016-06-16 20:51] #1859 closed, assigned to nobody

[2016-06-16 21:05] jyellick commented on #1873
@tuand27613 Ran your behave test locally against my branch used for #1877 and it passes.

[2016-06-16 21:17] tuand27613 commented on #1873
If you can't wait for PR #1877 to get merged ,

With CORE_PBFT_TIMEOUT_NULLREQUEST=1s , the behave test passes.

[2016-06-16 21:26] scottz64 commented on #1874
The failure occurs today with 1793. The failure also occurs with 1798 (yesterday's load without 1793). Looking further...

[2016-06-16 21:50] jyellick commented on #1874
Confirmed that #1877 fixed #1873 so it might be worth checking.

[2016-06-16 22:11] srderson commented on #1835
I wish we wouldn't continue to use chaincode_example02 in documentation. That chaincode is poorly named and poorly documented. How about using https://github.com/hyperledger/fabric/blob/master/examples/chaincode/go/map/map.go instead?

[2016-06-17 01:12] rameshthoomu opened #1884 "Build failures with 41414 port conflict error"
## Description

Builds are failing with port conflict error. We are not getting this issue every time but it is observed in couple of the CI builds. Below is the error message:

[code]

Port Range in Travis:
$ cat /proc/sys/net/ipv4/ip_local_port_range
32768   61000
## Describe How to Reproduce

We observed this while running unit-tests but not reproducing every time. Below are builds effected wit

[2016-06-17 01:19] muralisrini commented on #1884
thanks @rameshthoomu

[2016-06-17 02:09] #1884 closed, assigned to nobody

[2016-06-17 02:10] #1879 closed, assigned to nobody

[2016-06-17 02:38] jyellick commented on #1874
Missed the behave test above, tried it locally with #1877 and it did not pass.

[2016-06-17 03:09] rameshthoomu opened #1886 "Behave scenario "chaincode example02 with 4 peers, two stopped" failing"
## Description

Behave test "chaincode example02 with 4 peers, two stopped" is failing in travis CI with the below error message:

`File "steps/peer_basic_impl.py", line 388, in step_impl raise Exception("Max time exceeded waiting for transactions with current response map = {0}".format(respMap)) Exception: Max time exceeded waiting for transactions with current response map = {'bddtests_vp0_1': 4

[2016-06-17 05:03] rameshthoomu opened #1887 "Unit Tests are failing - membersrvc/ca/tca.go:266: undefined: protobuf in protobuf.Timestamp"
## Description

Observed unit-tests are failing on commit  3df38fe with error message `membersrvc/ca/tca.go:266: undefined: protobuf in protobuf.Timestamp`
## Describe How to Reproduce

git pull commit# 3df38fe and run unit-tests. Below are the log files captured on different environments.
Vagrant - [3df38fe.txt](https://github.com/hyperledger/fabric/files/319803/3df38fe.txt)
Travis - https://trav

[2016-06-17 06:34] adecaro commented on #1887
I see the same issue. I have tried to compile the membersrvc and it fails. The issue is related to this line

[code]

which should be

[code]

How is it possible that this got in?

[2016-06-17 07:39] grbulat opened #1889 "Validation peer never invoke transactions after restart (pbft)"
## Description

Need help in state transfer in pbft consensus plugin. I have 4 validation peers and everything is all right when...everything is all right (sorry), i.e. transactions are invoked and **height** and **currentBlockHash** are changed. But when I shutdown one peer, then invoke some transactions and start that peer again, it will never invoke any transaction (it has old values for **heig

[2016-06-17 08:01] manish-sethi commented on #1631
@vukolic thanks for your detailed reply.

1) I am just trying to weigh the pro and cons of the endorsement based approach to the other possible alternates. As you agree that a new peer can join the network in the same manner (i.e., by tranferring blocks and state updates) even in the current approach so, the meaningful difference is in handling non-determinism between checkpoints. In the current a

[2016-06-17 08:38] corecode commented on #1889
You can only expect 2f+1 nodes to be up to date.

[2016-06-17 09:08] corecode commented on #1848
Why?  For localhost connections I don't think this is required.

[2016-06-17 09:30] corecode commented on #1873
Shouldn't some timeout kick in and trigger view change?

[2016-06-17 09:32] corecode commented on #1874
@tuand27613 test works here - vp0,vp1,vp3 all execute 11 transactions.

[2016-06-17 09:40] grbulat commented on #1889
ok, thank you!

[2016-06-17 09:40] #1889 closed, assigned to nobody

[2016-06-17 09:46] huhaiqing opened #1890 "How to get the transaction detail from payloadHash?"
Hi,

When I query the transaction by REST API, it returns the below json data.
command: curl http://localhost:5000/transactions/a11780d3-0c81-41d2-9cf4-883e6a241cd8 -X GET -i -H "Content-Type:application/json" -H "Accept:application/json"

Response:
{
    "type": 2,
    "chaincodeID": "EoABNTExNTFhMDM0MjY3Yjk1ZWZlZmRkOGMzNmRkZTAxMjlhMWEzMTA4ZTgzMDUzNzBiYWRhYWJkZjgwYWNjNzYzMDlhZGNkYzU1NDhhZmFmMTFhM

[2016-06-17 10:15] elli-androulaki opened #1891 "Client-sdk crashes if deploy/invoke/queryRequest misses chaincodeid/name."
## Description

## Describe How to Reproduce

[2016-06-17 10:17] elli-androulaki opened #1892 "Client-sdk: setting invalid security level/hash function family leave the chain object in a corrupted state"
## Description

## Describe How to Reproduce

[2016-06-17 10:21] corecode commented on #1873
Somehow vp1 never sends any message after vp0 is stopped?

[2016-06-17 11:09] elli-androulaki opened #1893 "Client-sdk: if the wrong membership service IP is inserted the client-sdk stalls"
## Description

## Describe How to Reproduce

[2016-06-17 11:10] elli-androulaki opened #1894 "User is not notified if the chaincode its transaction failed"
## Description

That is, if a deploy transaction contains the same code with an already deployed chaincode, the submitter will not be notified.

If an invoke specifies a chaincode that does not exist, or a function that does not exist,  the submitter will not be notified.

Perhaps can be resolved when support for events is extended to the client-sdk.

## Describe How to Reproduce

[2016-06-17 11:15] mastersingh24 commented on #1890
@huhaiqing - the chaincodeID and payload are base64 encoded so any base64 decoding library will work

`51151a034267b95efefdd8c36dde0129a1a3108e8305370badaabdf80acc76309adcdc5548afaf11a0c378a1ce62e7a4e3baaa43106f95a36a42c62a379c2d08`

`51151a034267b95efefdd8c36dde0129a1a3108e8305370badaabdf80acc76309adcdc5548afaf11a0c378a1ce62e7a4e3baaa43106f95a36a42c62a379c2d08>
add_loan_creditlaowang

[2016-06-17 11:19] #1887 closed, assigned to nobody

[2016-06-17 11:27] elli-androulaki opened #1895 "Client-sdk error handling"
## Description

We need to assign error-codes to all possible errors in the client-sdk, enhance certain functions with callbacks returning appropriate error messages/codes.

E.g., if we have corrupted key recovered, if we miss chaincode id in the transaction request the client-sdk crashes.
## Describe How to Reproduce

[2016-06-17 12:02] grbulat opened #1896 "State is not sent in network with 4 validation peers after numerous invocation transactions (pbft)"
## Description

I need an advice in the following situation:
I load peers with numerous invocation transactions (near about 3500; 50 per second), but after 1 hour of working peers stopped to share the state and stuck in different values of chains height. Situation is not changed even after rebooting all peers.
Is it a known issue, or it is not an issue at all and I must not to invoke so many trans

[2016-06-17 12:05] corecode commented on #1873
The problem is that outstanding requests don't restart the timer.  This is fixed in #1877

[2016-06-17 12:06] corecode commented on #1896
please provide a debug log or code to replicate.  The system is supposed to keep accepting invokes.

[2016-06-17 12:13] grbulat commented on #1896
Logs from all peers:
[vp0.txt](https://github.com/hyperledger/fabric/files/320404/vp0.txt)
[vp1.txt](https://github.com/hyperledger/fabric/files/320402/vp1.txt)
[vp2.txt](https://github.com/hyperledger/fabric/files/320405/vp2.txt)
[vp3.txt](https://github.com/hyperledger/fabric/files/320403/vp3.txt)

Log of invocations:
[loop invoke log.txt](https://github.com/hyperledger/fabric/files/320410/loop.

[2016-06-17 12:27] th-ei opened #1897 "Nodejs Client SDK chain-tests.js - registrar not working"
## Description

The test [chain-tests.js](https://github.com/hyperledger/fabric/blob/master/sdk/node/test/unit/chain-tests.js) uses an undefined registrar because [line 117](https://github.com/hyperledger/fabric/blob/master/sdk/node/test/unit/chain-tests.js#L117) refers to the wrong field (should be 'name' according to [line 33](https://github.com/hyperledger/fabric/blob/master/sdk/node/test/unit/

[2016-06-17 12:28] grbulat commented on #1896
and I use a simple bash script to invoke:

`#!/bin/bash
while true; do
        CORE_PEER_ADDRESS=172.16.5.193:30303 ./peer chaincode invoke -l golang -n bb54ee9752ee3742b52f4a204a4eb0693c364cf10540127c75b0ca119fb8db1e2130a73287469ed2341d19f146f58d0572d1a00a79ae6f5834946b0e04e53920b -c '{"Function" : "invoke", "Args" : ["a", "b", "10"]}'
done`

[2016-06-17 12:32] grbulat commented on #1896
I forgot to say that it was a commit `fcc6a7dc599f20d632fdb87beb785f73fa8796bd`

[2016-06-17 12:39] corecode commented on #1886
I cannot replicate this problem.

[2016-06-17 12:50] corecode commented on #1896
unfortunately the logs are incomplete.  Please provide complete logs from the beginning.

[2016-06-17 12:54] jyellick commented on #1874
Currently working on a solution for this, will post here when ready

[2016-06-17 12:56] rameshthoomu commented on #1886
@corecode: Could be timing issue in Travis. All the above mentioned builds (# 1148,1149,1143,1142) failed in travis with the same error. But today I saw Build# 1156 passed in Travis on top of  Commit# `5637838`. I think we have to increase the wait time after invoke. We observed this kind of issue with behave 680 scenario.

[2016-06-17 13:07] rameshthoomu commented on #1847
@vpaprots: could you please comment on this..

[2016-06-17 13:13] grbulat commented on #1896
If there is no any option that save logs to any directory by default, I guess I lost other parts of my log.
I will try to repeat this situation.

[2016-06-17 13:39] mrshah-at-work commented on #1848
If TLS is enabled on the peer and the Peer is listening over TLS, the chaincode container will try to connect to it over a non-TLS connection and it will fail.

[2016-06-17 13:43] muralisrini commented on #1848
@corecode to add to @mrshah-at-ibm ... as we are sharing the same grpc port for both chaincode and the peer, TLS/no-TLS rules have to apply to both

[2016-06-17 15:09] #1880 closed, assigned to nobody

[2016-06-17 15:34] corecode commented on #1848
Oh I see.  Is that a good idea?  Is it possible for an attacker to impersonate a chaincode?

[2016-06-17 15:57] JonathanLevi opened #1899 "Consolidate all google_protobuf import aliases (across the board)"
## Description

We found out last night that various sections of fabric import "google/protobuf" with different aliases.
## Describe How to Reproduce

Looking at the various import "google/protobuf" statements and see the various different import aliases (including `protobuf, google_protobuf, google_protobuf1`).
## Proposed Solution

Remove all import aliases and use the original/default package n

[2016-06-17 16:25] christo4ferris commented on #1899
yes, please

[2016-06-17 16:26] christo4ferris commented on #1899
also good first project!

[2016-06-17 18:15] ibmmark commented on #1868
I agree with the comment in #1676 to take it to the community and discuss... I would suggest to bring it up on the next whitepaper WG, where it might not be the current focus of the WG, would be good to get thought provocation there. If you aren't in the WG, maybe @nickgaski can lead the conversation or I'd be happy too.

[2016-06-17 18:22] dongmingh opened #1901 "slow response after overnight stress test"
## Description

commit level: 2bd2b4f005f90d664895c6db369d2010a4e663bd
use local_fabric.sh to launch 4 peers network, pbft-batch, security and privacy enabled
chaincode: example02
threads: 100
invoke transactions only: invoke a->b, invoke b->a, then repeat
Use SoapUI to generate transactions.
HW: laptop W540

After overnight run, my vagrant stops to respond .... very very slow.
While the system in

[2016-06-17 19:15] JonathanLevi commented on #1762
Closed by #1765 (accepting a `tCertBlock` rather than a `[]TCert` slice...)

[2016-06-17 19:15] #1762 closed, assigned to nobody

[2016-06-17 19:33] #1899 closed, assigned to nobody

[2016-06-17 20:02] vpaprots commented on #1847
Jason Kirke/Kathy can we have somebody look at this?

[2016-06-17 21:16] srderson opened #1905 "Update pull request template to include make checks"
## Description

`goimports` and `go vet` can be removed from the PR template as these are now run as part of CI. Instead, users can run `make checks`

[2016-06-17 21:40] rameshthoomu opened #1907 "Unit tests are failing with DB IO error"
## Description

Unit-tests are failing with below error message: Observed this issue in Jenkins builds systems (x86 and z) also unit-test cases are failing in my machine on latest commit with the same error.

 2016/06/17 19:52:47 Chaincode support using peerAddress: 0.0.0.0:21726
19:54:56 2016/06/17 19:52:47 Is db path [/var/hyperledger/test/tmpdb/db] empty [false]
19:54:56 Error opening DB IO err

[2016-06-17 22:30] jkirke commented on #1847
Is this still an issue? It was opened two days ago and I thought is was resolved the same day. If we want me to be able to look at these issues, I need the connection information for the z systems. If the systems are down, I do not have the systems on my LinuxONE dashboard and cannot restart them .

[2016-06-18 02:04] binhn commented on #1907
I ran pr 1877 locally `make unit-test` and got similar errors:

[code]

Those messages repeated many (1000s) times

[code]

[2016-06-18 04:11] yeasy commented on #1659
It's interesting. I thought the timeout is the upper limit but not necessarily wait for that long.

Setting this value to smaller value does let the transaction appear soon.

I will close this issue first.

Thanks!

[2016-06-18 08:21] yeasy commented on #1086
Some preliminary results.

The test node is a single physical 4c8g linux 3.16 machine.

Currently only using 1 client/1 API to test the query and invoke transaction.

The sample testing code can be found at https://github.com/yeasy/hyperledger-py/tree/master/tests/benchmark.

It seems physically we can support 100s of tps right now.

Cannot attach file here, however, in summary
- query: typically

[2016-06-18 09:07] mastersingh24 commented on #1852
@masterDev1985  https://github.com/hyperledger/fabric/pull/1269 should handle this?

[2016-06-18 09:14] mastersingh24 commented on #1582
https://github.com/hyperledger/fabric/pull/1269  should cover this

[2016-06-18 09:18] mastersingh24 commented on #1409
@JonathanLevi  -  did this get handled?  I'll check myself, but if you know we can close this that would be great

[2016-06-18 09:20] mastersingh24 commented on #1280
@srderson - can this one be closed?

[2016-06-18 11:46] christo4ferris commented on #1659
@binhn @yeasy seems to me that this config property is misnamed and could be a source of confusion. If this is the time that we WAIT for a block, why aren't we naming the property 'wait' or something like that? I too would have thought that timeout was the upper limit.

[2016-06-18 12:17] yeasy commented on #1659
@christo4ferris @binhn
Yes, +1!
Let's try update it. I guess "wait" or "delay" may be meaningful.
I can help fix it if necessary.

[2016-06-18 13:16] #1907 closed, assigned to nobody

[2016-06-18 14:01] binhn commented on #1659
@yeasy @christo4ferris Thanks!
While changing the label, could you also update the comment
`# Time to wait for a block. Min is 1 second`
and remove `Min is 1 second`

[2016-06-18 14:12] binhn opened #1911 "Client SDK lacks of transaction event notification"
## Description

We know this is in the work, but I want to document the key missing features for the dev-preview release.

The Node SDK currently doesn't yet listen for events from the peer (eg, block added event), which is necessary for the application to complete the callback model. For example, to find out the status of a submitted transaction, the application would have to query the transactio

[2016-06-18 16:25] christo4ferris commented on #1631
I have to say that this is a rather clumsy approach to collaborative editing and discussion of a document. the mailing list or a googledoc would be better suited to this task. I wanted to make some editorial edits but thought better to send a marked up version in Word since the wiki isn't the best tool for this.

Some general comments:
1 - the document is rather inconsistent in its use of terms. '

[2016-06-18 18:24] muralisrini commented on #1848
@corecode if the peer is compromised all bets are off. However, it may be good to use a seperate listener for chaincode for isolation/performance. Will open an issue for that for discussion

[2016-06-18 18:34] muralisrini opened #1913 "should chaincode support on peer have its own listener ?"
Chaincode uses peer's grpcServer for chaincodesupport(in peer) - chaincode communication.  This issue opened for discussing if we should have a separate listener for chaincode communications.
## Description

Pros and cons to using a listener for chaincode interactions separate from the peers listener.

Pros
- isolation, better management (for example, both peer and chaincode don't have to play by

[2016-06-19 03:56] frankyclu commented on #1844
I will work on this issue

providing API as @diegomasini described would add flexibility, but it will be an expensive process as it would require users making additional calls to PKI.

This issue does not necessary relates to attribute attestation (or using the affiliation capability) , as end users shall have the flexibility to pick the account IDs for themselves as long as they are unique and fo

[2016-06-19 05:16] scottz64 commented on #1873
The previously failing tests are passing (along with some new tests) using today(Saturday)'s 9:30am images with commit (35326c2), so this issue is fixed by 1877.

[2016-06-19 06:17] zuowang opened #1914 "Error in concurrent map accesses"
## Description

fatal error: concurrent map read and map write

goroutine 1573695 [running]:
runtime.throw(0xf1a960, 0x21)
        /opt/go/src/runtime/panic.go:530 +0x90 fp=0xc820847860 sp=0xc820847848
runtime.mapaccess1_fast64(0xbb6f60, 0xc820862ae0, 0x4, 0xc82016b5f0)
        /opt/go/src/runtime/hashmap_fast.go:112 +0x5a fp=0xc820847880 sp=0xc820847860
github.com/hyperledger/fabric/core/ledger/s

[2016-06-19 07:19] scottz64 commented on #1874
I don't think this one is fixed yet. I am running tests with 35326c2 (from 6/18, 930am, includes 1877). In some tests I don't see the images getting created after stopping and starting peers. It might have something to do with which peers are stopped (e.g. if it includes peer0, the primary). That is strange, because that was a hallmark of 1873 (which appears to be fixed). I will recheck my tests f

[2016-06-19 08:35] yacovm commented on #1865
I'll run some more tests, if I still won't be able to reproduce it after 1400 runs I'll close this because it may be related to a container image being created while an already existing database of a prior commit was present in the FS.
Does anyone know if when I make images (via the Makefile) - it copies the /var/hyperledger/production/db to the docker image?

[2016-06-19 11:17] cca88 commented on #1631
@christo4ferris:

Editing - yes, but this is more like code, one can't simply rewrite a paragraph without considering the rest. And, couldn't you edit the source directly via git?

2 - this is really pub/sub not broadcast

Let me disagree, I am actually in favor of dropping the "pub/sub" terminology. Pub/sub is relevant when you can subscribe to multiple "topics" and usually doesn't care much abou

[2016-06-19 11:38] nitesh7sid opened #1916 "Error building images: cannot connect to Docker endpoint"
i am trying to set up 4 peers and one CA using docker.. i am getting the error when i try to deploy a chaincode.. my commands to start the 4 peers are as follows:

**Peer1**: docker run --rm -it -e CORE_VM_ENDPOINT=http://172.17.0.1:2375 -e CORE_PEER_ID=vp0 -e CORE_PEER_ADDRESSAUTODETECT=true -e CORE_SECURITY_ENABLED=true -e CORE_SECURITY_PRIVACY=false -e CORE_PEER_PKI_ECA_PADDR=10.51.232.34:50051

[2016-06-19 14:18] jyellick commented on #1874
@scottz64 The behave test from @tuand27613 above is in and passing.  Could you identify any differences in your procedure and the behave test above?

[2016-06-19 14:38] jyellick opened #1917 "PBFT transient network failure tolerance"
## Description

In my testing of #1877 I encountered a scenario which, to my best reading of the Castro paper does not seem to be handled by the PBFT protocol.  I'd appreciate comments from @vukolic and @cca88 in particular, but @corecode, @kchristidis, and @tuand27613 might have some insight as well.

Scenario:
1. Start a network of 4 replicas, vp0, vp1, vp2, vp3
2. Have vp0 successfully establis

[2016-06-19 14:41] christo4ferris commented on #1631
I can, but it felt awkward just making edits directly without discussion... a PR is a different beast but with a document, there is an editor and contributors and from my experience, googledocs has it about right for collaborative editing of a document allowing in-line comments and suggested edits.
 
Cheers,Christopher FerrisIBM Distinguished Engineer, CTO Open TechnologyIBM Cloud, Open Technologi

[2016-06-19 15:08] corecode commented on #1917
No, once the network is back, any broadcast request will start the outstanding request timer, which will lead to a view change.

[2016-06-19 15:25] jyellick commented on #1917
@corecode The replicas have already sent their view change, so they do not send another.  We purposefully do not start the request timer while in a view change, as it would both negate having a separate new view processing timeout, as well as the doubling of the new view timeout.

[2016-06-19 15:27] corecode commented on #1917
Oh I misread then.  The view change timer starts when sending a view change message.  so the replicas should send a view change for the next view after their timeout fires, etc.  Once the network is back, the replicas will success in the view change.

[2016-06-19 15:30] jyellick commented on #1917
See page 415: (the view change timer does not start when we send the VIEW-CHANGE message, only when we receive 2f+1)

"... until some operation executes. We achieve these goals by several means. First, to avoid starting a view change too soon, a replica that multicasts a VIEW-CHANGE message for view v + 1 waits for 2 f + 1 VIEW -CHANGE messages for view v + 1 before starting its timer. Then, it st

[2016-06-19 15:31] corecode commented on #1917
Okay, that seems like a protocol bug then.  Or something about queuing assumptions?

[2016-06-19 15:32] jyellick commented on #1917
Yes, I agree, it seems like a protocol bug, or perhaps based on some assumption that messages will be delayed, but not discarded.  What do you think of the proposal to resend the view-change message periodically?

[2016-06-19 15:35] corecode commented on #1917
Seems like a reasonable thing to do.

[2016-06-19 15:35] jyellick commented on #1917
Thanks @corecode, let's see what @vukolic and or @cca88 thinks, and then I will start implementing.

[2016-06-19 16:29] scottz64 commented on #1874
Testcase steps look the same to me. Here is summary of test S1S2IR2IQ.go:
deploy (a=10, b=20)
query
stop vp1 vp2
sleep 60
invoke 2 times
sleep 15
start vp2
sleep 120
invoke 3 times
sleep 30
query vp0 vp2 vp3  (fails here: vp0 returns a==7, b==23 but should be a==5, be==25. And vp2 fails to return anything, even though the image for chaincode dev-vp2 did become visible in "docker ps" after the 3 in

[2016-06-19 17:32] 2016Nishi commented on #1873
Thanks Scott!
Appreciate you taking time over weekend to verify fixes.

Sent from my iPhone

[2016-06-19 18:31] vukolic commented on #1917
ack that's fine - Castro/Liskov assumed reliable channel (if two communicating nodes are correct a message sent will eventually be delivered) there so they expect a message to eventually go through. In a lossy network (e.g., in your example with channels temporarily down) this requires retransmission.

So periodic retransmission of view-change msgs is in place here. Good catch.

[2016-06-19 19:10] corecode commented on #1917
Should we then not discard messages and queue them instead?

[2016-06-20 03:26] yeasy commented on #1659
@binhn
Sure will update that.

[2016-06-20 07:58] manish-sethi commented on #1865
I think that the reason of the first panic trace (`panic: runtime error: invalid memory address or nil pointer dereference`) above is because of concurrent modifications to state - one by the state transfer thread and another by the transaction execution thread. The logs above the panic trace suggest that state transfer is in progress and the panic stack trace contains the call `consensus/helper.(

[2016-06-20 08:00] GrapeBaBa opened #1919 "When TLS enabled in member service, peer start failed"
## Description

When enable TLS config in membersrvc.yaml(https://github.com/hyperledger/fabric/blob/master/membersrvc/membersrvc.yaml#L20-L21), peer start will failed.
## Describe How to Reproduce
1. enable conifg(https://github.com/hyperledger/fabric/blob/master/membersrvc/membersrvc.yaml#L20-L21)
   cd $GOPATH/src/github.com/hyperledger/fabric
   make membersrvc && membersrvc
2. cd $GOPATH/src/

[2016-06-20 08:13] grbulat commented on #1896
@corecode
Repository is updated to commit `35326c2`

### Steps to reproduce:
1. Start all 4 peers and start to invoke transactions (and don't stop invoking to end of the test)
2. Stop v3, wait for some time (5s) and start it again
3. Stop v1, wait, start it again, wait, stop it again, wait, start it
4. All peers stuck and don't invoke any transaction
5. Continue
6. Stop all peers and start again
7

[2016-06-20 08:58] gongsu832 opened #1921 "One unit test fails with 4 CPUs, fine with 2 CPUs"
## Description

On a zLinux guest (debian 8) with 4 CPUs, "make unit-test" fails for github.com/hyperledger/fabric/core/system_chaincode:

[code]

Running "make unit-test" with only 2 CPUs (after taking 2 CPUs offline) works fine. Running the single package test with "go test -cover github.com/hyperledger/fabric/core/system_chaincode" also works fine.
## Describe How to Reproduce

make unit-test w

[2016-06-20 09:07] gongsu832 opened #1922 "One behave test scenario fails with 4 CPUs, fine with 2 CPUs"
## Description

On a zLinux guest (debian 8) with 4 CPUs, behave test fails for either "peer_basic.feature:846  chaincode example02 with 4 peers and 1 membersrvc, test crash fault -- @1.1 Consensus Options" or "peer_basic.feature:968  chaincode example02 with 4 peers, two stopped". All tests pass with 2 CPUs (after taking 2 CPUs offline). Full logs for the two failures attached.

[behave.zip](http

[2016-06-20 09:52] mastersingh24 commented on #1919
most likely you are running into a TLS error due to the hostname in the TLS cert used by membership services not matching the hostname you are using to connect to membersrvcs

In the core.yaml for the peer (or via environment variable), you'll need to set the `peer.pki.tls.serverhostoverride` property to the value of the common name used in the cert you are using in membersvcs (in membersrvc.yaml

[2016-06-20 11:31] yacovm commented on #1916
can you successfully curl http://172.17.0.1:2375  ?

[2016-06-20 12:26] sachikoy commented on #1459
Does anybody have any comments on this? Do you agree or disagree that it is insecure?

[2016-06-20 13:37] rameshthoomu commented on #1847
This issue has been fixed by @vpaprots: Could you please mention what is the issue and steps to fix the issue. Thanks

[2016-06-20 13:47] jyellick commented on #1865
@manish-sethi In code at commit a94f5a7, it was possible for executions and state transfer to modify the state concurrently, this was addressed in 67396654dfc881219db395e02c1a57ff0b8f3e24, this would additionally have been included in eaec080.

I will note, that state transfer may fill in gaps of blocks in the blockchain concurrently, but state modifications should now be serialized.

[2016-06-20 14:02] manish-sethi commented on #1865
Thanks @jyellick. @yacovm so first panic is fixed. For the second, I would need debug logs + dump of other active goroutines to be able to infer.

[2016-06-20 14:08] cca88 commented on #1917
Retransmitting view-change messages seems appropriate here.

I had another look: the PBFT paper explicitly says the model does not assume reliable channels (p.401 / network may fail... duplicate...) but then changes its mind (p.405... retransmissions are explained in Castro's thesis). Most protocols in papers assume reliable messages between correct nodes because it simplifies design.

[2016-06-20 14:16] jyellick commented on #1917
Thanks for the input, re-transmitting view change messages periodically seems like a simple change which should address this problem.

@cca88 @vukolic Do you see any other corner cases like this where PBFT is depending on reliable message transmission?

[2016-06-20 14:36] 2016Nishi commented on #1873
Testing 1873 by bringing down one peer (in a 4 peer network) each time, in a continuous loop and validate results match in the remaining 3 peers each time.

Using Commit Level: 35326c2

[2016-06-20 14:40] vukolic commented on #1917
as a rule of thumb - you need reliable channels wherever you block waiting for reception of n-f messages

[2016-06-20 14:40] vukolic commented on #1917
or, more generally, wherever you block on receiving messages

[2016-06-20 15:14] yacovm commented on #1865
Can't reproduce. I'm closing it and will re-open if it'll pop up again.

[2016-06-20 15:14] #1865 closed, assigned to nobody

[2016-06-20 15:28] #1848 closed, assigned to nobody

[2016-06-20 15:30] huhaiqing opened #1925 "Where is the chaincode after it deployed to networks?"
Hi,

After deploy a chaincode in docker environment, there will be a new image.
For example,
1. peer chaincode deploy -p github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02 -c '{"Function":"init", "Args": ["a","100", "b", "200"]}' -u lukas
1edd7021ab71b766f4928a9ef91182c018dffb86fef7a4b5a5516ac590a87957e21a62d939df817f5105f524abddcddfc7b1a60d780f02d8235bd7af9db81b66
1. In the d

[2016-06-20 15:33] gongsu832 commented on #1921
Forgot to mention the code version:

[code]

[2016-06-20 15:33] gongsu832 commented on #1922
Forgot to mention the code version:

[code]

[2016-06-20 16:10] rameshthoomu commented on #1886
Observed the same issue in Build#1201. Below is the log:

[code]

[2016-06-20 16:56] JonathanLevi commented on #1409
@mastersingh24 Will close this today.

[2016-06-20 17:05] scottz64 commented on #1874
The behave test takes down vp2,vp3, but does not touch vp0. I just ran some other GO tests a couple ways, stopping only vp1,vp2 - while vp0 and vp3 stayed up the whole time. Seems to work much better - but not perfectly every scenario. Problems are seen much more often when stopping vp0 as part of the testcase.

[2016-06-20 17:36] rameshthoomu commented on #1922
Same issue observed in #1886

[2016-06-20 17:56] tuand27613 commented on #1874
@scottz64   "not perfectly" ? :)

Could you describe scenario ?  Also, I asked @2016nishi to add her scenario and logs

@jyellick ,  seems like view-change goes awry when primary is stopped ?

[2016-06-20 17:59] jyellick commented on #1874
@tuand27613 @scottz64 I would need a set of logs at debug to determine exactly what is going on.  Have you tried this with periodic null requests enabled? I imagine that might bring the network back into a consistent state.

[2016-06-20 18:10] tuand27613 commented on #1874
@jyellick  I'll tweak the behave test to reproduce

@scottz64 , try setting core_pbft_timeout_nullrequest=1s

[2016-06-20 18:23] dongmingh commented on #1901
I was unable to recreate the system slow response issue during the weekend with the same commit with pbft-batch.  However, the decreasing tps issue still observed.

[2016-06-20 18:30] SriramaSharma opened #1929 "Add support to build fabric code on Linux on Power"
## Description

Hyperledger fabric code doesn't build by default on ppc64le platform. For providing this support to build fabric code out of the box, we need to have
- Build tags to create the "hyperledger/fabric-baseimage" docker image locally as its not available on dockerhub at the moment.
- Changes to build scripts to add ppc64le specific changes.
- Similar to devenv setup scripts, add script

[2016-06-20 19:12] dongmingh commented on #1806
commit 35326c25f99b038286a58330fdef87d23fe5f473
Merge: 0d05bf3 a626e43
Author: Binh Q Nguyen binhn@us.ibm.com
Date:   Sat Jun 18 08:57:17 2016 -0400

   Merge pull request #1877 from jyellick/keep-state-if-can-execute

   Stabilize PBFT under stress with periodic viewchange

Run 4 peers network with PBFT-batch, security and privacy enabled, invokes only with threads = 100 in SoapUI.
The tps decrea

[2016-06-20 19:20] tuand27613 commented on #1874
@scottz64 @2016nishi @jyellick  does this behave testcase mimic your scenario ?

[code]

[2016-06-20 19:26] tuand27613 commented on #1921
@gongsu832  can you check with a post PR #1926 build ?

[2016-06-20 19:35] ericmvaughn commented on #1711
I spent some time on the same issue of how to display the payload information in a meaningful way and came up with this approach to do it in node using protobufjs that you might be able to use.  It uses the fabric protobuf definition which I picked up from the hlc-experimental project.

var ProtoBuf = require("protobufjs");

var builder = ProtoBuf.loadProtoFile("./node_modules/hlc-experimental/pro

[2016-06-20 20:19] tuand27613 commented on #1922
I can't reproduce on my vagrant box .  @gongsu832  could you run `behave -D logs=y` and attach the container logs ?

[2016-06-20 21:00] dongmingh commented on #1806
4 hours after stopping request, there are still requests in the queue, return 9600 to the query, and does not respond to invoke request

20:54:32.677 [consensus/obcpbft] sendBatch -> INFO 3dd0c Creating batch with 2 requests
20:54:45.804 [consensus/obcpbft] sendBatch -> INFO 3dd0d Creating batch with 2 requests
20:54:59.159 [consensus/obcpbft] sendBatch -> INFO 3dd0e Creating batch with 2 requests

[2016-06-20 21:09] 2016Nishi commented on #1873
Issue reported in here has been verified fixed in Commit Level: 35326c2

[2016-06-20 21:09] #1873 closed, assigned to nobody

[2016-06-20 21:36] dshuffma-ibm commented on #1711
That looks quite helpful, thanks for the tip. We should get the new SDK to use this (if it doesn't already). @angrbrd

[2016-06-20 21:45] #1851 closed, assigned to nobody

[2016-06-20 21:50] lhaskins commented on #1874
@tuand27613 Here is the behave test scenario that is failing:

[code]

[2016-06-20 22:43] bcbrock opened #1931 "All peers report identical blockchains that contain duplicated transactions"
## Description

~~This is a very rare failure mode that I have only seen 3 or 4 times now. This
is the reason that I added the "duplicate check" to the "checkAgreement"
script.~~

This error appears to be 100% repeatable on my system when run as described under **How to Reproduce**, always showing 11 to 15 duplicates.

We see from the busywork/counters/driver script that all peers appear to be
wor

[2016-06-20 23:31] bcbrock commented on #1857
@jyellick Jason, I am not seeing this reliably fixed, even with a single client. I am seeing a little bit of everything: Working perfectly without issues, state transfer happening at the end of TX invocation that finishes within a couple of seconds and then checks perfectly, and cases where 1 peer appears to get stuck early in the process and never recover.

[2016-06-21 01:35] mm-hl commented on #1631
@vukolic I intended to say something in earlier discussion that is close to what I interpret @manish-sethi to be saying in part 2a, and I don't agree with you that it is exactly the approach of Eve, OSDI 12.

My interpretation of what @manish-sethi said is that transactions in a block should be executed
"as if" they were executed in sequential order.  In Eve, transactions are executed in parallel

[2016-06-21 01:46] gongsu832 commented on #1921
@tuand27613 I can confirm the latest commit 72a7cbf9d3f49ee79d71c494f8aef916b7376251 resolves the issue. Tried on two zLinux VM guests with 4 CPUs, one running Debian 8 and the other running RHEL 7.2. "make unit-test" now works on both guests.

[2016-06-21 02:06] gongsu832 commented on #1922
@tuand27613 The latest commit 72a7cbf9d3f49ee79d71c494f8aef916b7376251 now adds an additional dependency behave-grpc to target behave-deps, which runs the command sudo pip install -q 'grpcio==0.13.1'. It fails on zLinux (both Debian 8 and RHEL 7.2) with a message similar to the following:

[code]

Can I temporarily skip this dependency (by touching build/behave/.grpc-dummy)? Thanks.

[2016-06-21 02:09] #1905 closed, assigned to nobody

[2016-06-21 02:19] gongsu832 commented on #1922
@tuand27613 Removing "-q" in the pip install command yields more output. When compiling grpcio-0.13.1.tar.gz, it failed with:

[code]

Looks like s390x (unsurprisingly) isn't recognized as OPENSSL_64_BIT.

[2016-06-21 05:06] gongsu832 commented on #1922
@tuand27613 I reverted back to 35326c25f99b038286a58330fdef87d23fe5f473 so I can run the behave tests. Here are the behave run log along with container logs.

[behave.zip](https://github.com/hyperledger/fabric/files/324825/behave.zip)

[2016-06-21 06:55] GrapeBaBa opened #1934 "DB path not clean after unit test"
## Description

After unit test passed, some test db path remained in /var/hyperledger/test below.
genesis_test  ledge  ledger  ledger_test  tmpdb
## Describe How to Reproduce

make unit-test
cd /var/hyperledger/test

[2016-06-21 08:11] vukolic commented on #1631
@mm-hl @manish-sethi There are at least two things here: 1) @manish-sethi 2a vs Eve and 2) non-deterministic chaincodes. Let me tackle these separately.

1) I re-read @manish-sethi's 2a) and I see only that it is actually a special case of Eve - as parallel execution succeeds only "If there is no conflict (against each key only a single TxID entry is present)" - wheres Eve could make it in executi

[2016-06-21 08:17] vukolic commented on #1631
@manish-sethi

Sharding is certainly a technique we can apply to the fabric - and the plan is to eventually do so in HL fabric. The way I see things, doing simple partitioning is trivial - and we can easily do it. Yet, sooner or later, one would need to come up with some semantics/design to support cross-partition transactions (i.e., cross-subchain transactions) which is non-trivial. W/o cross-par

[2016-06-21 08:58] GrapeBaBa commented on #1919
@mastersingh24 what is the 'common name' you refer to, currently I use bdd/tlsca.cert file.What value should be set in peer.pki.tls.serverhostoverride

[2016-06-21 09:04] vukolic commented on #1631
@JoVerwimp Thanks for your comments (apologies for higher latency)

non-content comments
1. ack - good idea will add a subsection
2. agree - let's try to address this iteratively...

content:
1. (attn @elli-androulaki) As the design currently stands endorsers may be/are revealed through endorsement policy. I see no simple way to get around this, as peers must know whether the transaction is valid

[2016-06-21 09:14] mastersingh24 commented on #1919
@GrapeBaBa  - try "OBC"

[2016-06-21 09:19] mastersingh24 commented on #1919
You can also run `openssl x509 -in bddtests/tlsca.cert -text -noout`  in the fabric directory.  Looks for the the _Subject_ in the output.  For me, it was `Subject:  C=US, O=IBM, CN=OBC`.  You want the value of _CN_ which in this case is _OBC_

[2016-06-21 11:43] mastersingh24 commented on #1925
@huhaiqing - not sure I understand the question?  Are you trying to figure out where the physical files for the image and the container instance are located?  If that's the question, depending on your OS you'll typically find them in directories under `/var/lib/docker` (for Linux)

[2016-06-21 12:36] GrapeBaBa commented on #1919
@mastersingh24 Thanks,will try

[2016-06-21 13:05] JoVerwimp commented on #1631
Thanks @vukolic
(attn @elli-androulaki) on content point 1, not exposing the stakeholder's identity, is there a possibility of using (something similar to) transaction certificates for producing the endorsement signature?

The endorser would get a 'transaction certificate' from the CA, which later allows for validation of the signature without exposing the identity.

[2016-06-21 13:07] jyellick commented on #1857
@bcbrock Is this stress2b?  Do you have debug logs or a way I can reproduce locally?

Edit: Also, be aware that transaction duplication is still possible under stress induced network latencies, but a 'correct' solution to this is non-trivial, so we are designing this now.

[2016-06-21 14:08] jeffgarratt commented on #1922
@gongsu832 is there any way to get this to install properly on s390x? FYI @rameshthoomu

[2016-06-21 14:28] lhaskins commented on #1874
@corecode The above behave test scenario is what was executed receiving the assertion failure:

[code]

 at the step:

[code]

[2016-06-21 14:28] corecode commented on #1874
The problem seems to be that peers do not reconnect to vp0 even when it comes up.  @jeffgarratt

[2016-06-21 14:38] jeffgarratt commented on #1874
@corecode @lhaskins this test seems to pass for me locally with latest master.

[2016-06-21 14:39] corecode commented on #1896
could you please retry with batch?  classic will be removed soon.

[2016-06-21 14:41] corecode commented on #1874
This fails here, because vp0 never connects back to anybody:

[code]

[2016-06-21 14:55] corecode commented on #1874
The problem is that nodes only reconnect to the rootnode when they are no longer connected to anybody.  Furthermore, nodes always only connect to the rootnode.  This can lead to a partitioned network.

The proposed fix is to try to maintain connections to all nodes in the rootlist.  By filtering ourselves from the rootlist, all nodes can be configured in the same way, with the rootlist being the c

[2016-06-21 15:03] vukolic commented on #1631
minor revision posted addressing some terminology consistency comments from @christo4ferris and @JoVerwimp, comments 6, 13 and 14 from @mm-hl and few other minor changes.

[2016-06-21 15:21] gongsu832 commented on #1922
@jeffgarratt I looked at this briefly. I downloaded boringssl. Fixing the OPENSSL_64_BIT and getting it to compile is easy. The problem is that when I run the tests that come with boringssl, several fail (most likely due to endian issue). So fixing boringssl will probably take some nontrivial amount of time. After that, getting grpcio to pick up the fixed boringssl is another hurdle.

[2016-06-21 16:18] scottz64 commented on #1874
For completeness, here are logs from a 2dI4upQIQ retest I ran today using June 20 image 35326c2.
[2dI4upQIQ_35326c2_June20_fail.tar.gz](https://github.com/hyperledger/fabric/files/326045/2dI4upQIQ_35326c2_June20_fail.tar.gz)

[2016-06-21 19:55] kchristidis commented on #1874
A couple of notes:
1. The test referenced by @lhaskins is incorrect, because we're waiting for the transaction to be committed on VP3 and then we also query VP3, but VP3 is down. I assume you probably mean VP0 there, given the title of the issue. (The new test still fails, but at least it's the right test now.)
2. The quick way of fixing this, via a static list of rootnodes won't work because it b