[2016-07-18 20:59] #2242 closed, assigned to nobody

[2016-07-18 21:33] jjjjibm opened #2248 "http://hyperledger-fabric.readthedocs.io/en/latest/Setup/NodeSDK-setup/ dead link on this page"
## Description

I found an invalid link on the subject web page.  Clicking it with Firefox browser yields the messages Page not Found and 404 This is not the web page you are looking for.
## Describe How to Reproduce

1.Navigate to http://hyperledger-fabric.readthedocs.io/en/latest/Setup/NodeSDK-setup
2.Find the section Running the sdk unit tests
3.Find the paragraph Troubleshooting
4.Find the phr

[2016-07-19 03:47] CocoaWang opened #2249 "How can I add a new user without using the membersrvc.yaml"
## Description

I know I can use ca-setup method provided in ca-setup file to get a number of preloaded  users where each user's name roles password are specified already.But how can I add a new user?

[2016-07-19 03:55] CocoaWang commented on #2249
If I want to use a user role like validating peer,I must add it into the membersrvc.yaml file ?

[2016-07-19 04:01] sachikoy commented on #2232
@muralisrini I agree with you. I think it is a simple and practical approach.

[2016-07-19 04:10] sachikoy commented on #2097
@polyrabbit My guess is because it is difficult to keep NVPs really up to date without being part of PBFT. Validating Peers synchronise the ledger by using the PBFT protocol. This include not only consensus per each set of transactions but also the state transfer to recover from a lagged or broken ledger. It seems we'll need to replicate a similar mechanism between VP and NVP, which could introduc

[2016-07-19 04:54] polyrabbit commented on #2097
I have made my modification to enable NVP replicating ledger from VP, just a trial to get familiar with fabric code.

Should anyone be interested please see my [commits](https://github.com/polyrabbit/fabric/commits/master?author=polyrabbit)

[2016-07-19 05:22] huhaiqing commented on #2240
@smithbk ，Hi, I want to get the TCERT from the REST API, and  use its privare key to sign some message. Then use REST call to invoke a chaincode function, in the chaincode function, I wll use TCERT's publick key to verify the message.

Thanks.

[2016-07-19 05:27] huhaiqing commented on #2240
@andresgaragiola, For the  CertificateHandler interface, it needs to get a crypto.Client, and this client should be registered to memberservices. In a chaincode function for invoke, however, we don't know how to gets a registered client. Is there any way to get a a registered client ?

Thanks a lot.

[2016-07-19 08:32] huhaiqing opened #2251 "Can't install the hfc by "npm install -g hfc""
Hi,

When use the command 'npm install -g hfc', it returns below errors.

npm ERR! not a package /tmp/npm-1395-e1j7AUS3/github.com/mcavage/node-asn1
npm ERR! Error: ENOENT, open '/tmp/npm-1395-e1j7AUS3/github.com/mcavage/node-asn1-unpack/package.json'
npm ERR! If you need help, you may report this _entire_ log,
npm ERR! including the npm and node versions, at:
npm ERR!     http://github.com/npm/np

[2016-07-19 09:02] #2241 closed, assigned to nobody

[2016-07-19 09:24] #2249 closed, assigned to nobody

[2016-07-19 10:01] qubing opened #2253 "How to get returned value in "invoke"?"
## Description

According to the sample, I write one chaincode and write below two branches codes in invoke method.
**sample code:**
`if err != nil {`
`return nil, fmt.Errorf("[ERROR][createInvest]Create Invest Failed. %v", err)`
`} else {`
`return []byte("12345678"),nil`
`}`

But whichever branch, I only can get a hash value in result.message like below.
`{"jsonrpc":"2.0","result":{"status":"OK",

[2016-07-19 10:26] nhrishi opened #2254 "Peer node is failing when security is enabled"
## Description

I'm trying to start a peer node with security enabled. But getting below error -
## Can someone please help.

vagrant@hyperledger-devenv:v0.0.10-0581047:/opt/gopath/src/github.com/hyperledger/fabric$ docker run --name test_node --rm -it -e CORE_VM_ENDPOINT=unix:///var/run/docker.sock -e CORE_PEER_ID=vp0 -e CORE_VM_ENDPOINT=http://172.17.0.1:2375 -e CORE_PEER_ADDRESSAUTODETECT=true

[2016-07-19 11:30] zuowang commented on #2253
You need to wait for the transaction to commit then look on the blockchain.

[2016-07-19 11:45] andresgaragiola commented on #2240
@huhaiqing when you invoke a chaincode using REST call "/chaincode" or "/devops/invoke" in both cases a TCert private key is used to sign the whole transaction and this transaction is validated in the peer using the TCert public key. I don't know if this fulfill your requirement, but take in mind that the TCert that you get using REST API is different from the TCert that client will use in the inv

[2016-07-19 13:08] smithbk commented on #2249
A user with registrar authority can dynamically register other users of the allowable type(s).   See fabric/sdk/node/test/unit/registrar.js for an example of doing this using the node SDK.

[2016-07-19 13:19] iiiLiQuiDiii commented on #2221
CORE_PEER_ID must be vpN where N starts from 0
https://github.com/hyperledger/fabric/blob/master/docs/Setup/Network-setup.md#using-a-consensus-plugin

[2016-07-19 14:40] #2120 closed, assigned to nobody

[2016-07-19 14:58] guidosantos commented on #2138
Having the same problem here, any help?

[2016-07-19 15:33] nhrishi commented on #2254
Just realised the problem is with certificate. Getting below error now -
grpc: ClientConn.resetTransport failed to create client transport: connection error: desc = "transport: x509: certificate has expired or is not yet valid"; Reconnecting to "vp0:30303"

[2016-07-19 16:58] JonathanLevi commented on #2240
@huhaiqing: Yes, describing what you are trying to do (the use-case), might help to better suggest/advise as to how to best address it.

If easier, you can also use [Slack](http://hyperledgerproject.slack.com/), e.g., there is a dedicated `#membership-services` channel, with similar discussions.

[2016-07-19 16:59] timjacobi commented on #2251
Your npm and node versions are quite old. Could you try to update?

[2016-07-19 17:59] joshhus opened #2256 "Some editorials for protocol spec"
## Description

Suggested editorials for protocol spec. Some are typos. Encountered while reading the security sections for my own understanding.
## Describe How to Reproduce

View the protocol spec section listed below, at:
https://github.com/hyperledger/fabric/blob/master/docs/protocol-spec.md

4.5 Online wallet service - (question: we have an online wallet in the "current release"? 4.7 covers "

[2016-07-19 19:12] joshhus opened #2257 "Some editorials for attributes.md"
## Description

Review of attributes.md doc, for my own knowledge / education.
Original text below >> followed by suggested editorials / comments / questions
## Describe How to Reproduce

Compare to the previous version.

@andresgaragiola fyi

---

To support attributes the user has to pass them during TCert creation, these attributes can be used during transaction deployment, execution or query f

[2016-07-19 19:20] andresgaragiola commented on #2257
@joshhus Thanks for your review.

[2016-07-19 19:21] dulcep commented on #2257
@joshhus Thank you Josh. This is great.

We are actually rewriting a few Membership Services files (Attributes and the CA .md included)… will you be able to proof-read these prior to us making these changes?

[2016-07-19 19:26] smithbk opened #2258 "expose node SDK API to take deploy image without building it"
## Description

The node SDK deploy API requires a local directory with the "chaincodePath" below.  Something similar to the new "chaincode" field below should be allowed to take the raw bytes to be deployed.

export interface DeployRequest extends TransactionRequest {
    // The local path or the bytes containing the chaincode to deploy in network mode.
    chaincodePath:string;   // Specify the

[2016-07-19 21:23] jjjjibm opened #2260 "https://github.com/hyperledger/fabric/tree/master/sdk/node readme.md no such files as _hfc_.html or _hfc_.chain.html and other issues"
## Description

The url https://github.com/hyperledger/fabric/tree/master/sdk/node README.md has multiple defects:

Here is the text as it appears at this url: **https://github.com/hyperledger/fabric/tree/master/sdk/node**

_WARNING: To view the reference documentation correctly, you first need to build the SDK and confirm functionality by **running the unit tests**. Subsequently open the followin

[2016-07-19 21:45] jjjjibm opened #2261 "https://github.com/hyperledger/fabric/tree/master/sdk/node readme.md issue 2260 repeated in a later paragraph"
Related issue: https://github.com/hyperledger/fabric/tree/master/sdk/node readme.md no such files as _hfc_.html or _hfc_.chain.html and other issues #2260
## Description

In the subject readme.md, in this paragraph:
To go deeper, you can view the [reference documentation](url) in your browser by opening the reference documentation and clicking on "hfc" on the right-hand side under "Globals". This

[2016-07-19 22:04] dongmingh opened #2262 "invokes do not go thru with large payload (1M)"
## Description

commit level: **3e0e80a898b259fe463295eabff80ee64f20695e**
branch: **v0.5-developer-preview**

When test invokes (200 transactions with 1 thread) with large payload, about 1.3M, only part of transactions recorded to ledger. Only 68 out of 200 transactions are recorded in LPAR Z and 10 out of 200 were recorded on local Lenovo W540.
Once this occurs, no more invoke will be recorded.

[2016-07-20 01:47] mingjinc commented on #2138
@guidosantos , this issue could be resoved after you add -p 5000:5000 in the docker run command.

[2016-07-20 01:49] mingjinc commented on #2221
@iiiLiQuiDiii , already fixed using vp0 -> vp4. Thanks.

[2016-07-20 01:50] #2221 closed, assigned to nobody

[2016-07-20 02:26] zhuang-weiming commented on #2152
Sergey Balashevich's answer on stackoverflow. Please kindly help to check and review==>

Each validation peer keeps open connection with all other VPs in the network. As a first step in consensus - the leader (one of VP who was selected as a leader) will prepare ordered list of transactions and broadcast it to other validation peers. The content is Chaincode id, function name, parameters etc. –

C

[2016-07-20 02:31] zhuang-weiming commented on #2253
Thank you for your quick answer.
When is "then"? is any status can mark how long time cost "then look on the blockchain"?

[2016-07-20 02:44] brad-gorman commented on #2119
I'm stopping work on this until the maintainers make a call on where the interface should be. Personally I feel it should an an interface that the user-written chaincode uses and is tested against - not a struct - even if that means a disruption to chaincode developers.

[2016-07-20 07:16] adecaro commented on #2208
@huhaiqing, REST api does not support the inclusion of metadata. Please, use the client-sdk.

[2016-07-20 08:49] archupsg03 commented on #1677
Even I am facing the same issue. The workaround given above did not solve the problem

[2016-07-20 09:16] #1582 closed, assigned to nobody

[2016-07-20 10:10] smithbk commented on #2251
Also try "sudo npm install -g hfc" as you'll need this for npm to install with "-g"

[2016-07-20 10:17] timjacobi commented on #2251
@smithbk `sudo npm install` [should be avoided](https://docs.npmjs.com/getting-started/installing-npm-packages-globally)

[2016-07-20 11:37] yeasy commented on #2044
Since no one claims working on this, I will try to fix it.

[2016-07-20 12:29] smithbk commented on #2251
@timjacobi good point.  You could use https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md and still be able to run 'hfc' from command line.

[2016-07-20 12:42] gpanah commented on #1916
@zamrokk adding -v /var/run/docker.sock:/var/run/docker.sock got me past this issue.  https://docs.docker.com/docker-for-mac/osxfs/#namespaces.  But, as you've noted on [dockerhub](https://hub.docker.com/r/hyperledger/fabric-baseimage/), there is no latest fabric-baseimage, which is the next error you run into: **12:24:01.648 [dockercontroller] deployImage -> ERRO 075 Error building images: Tag la

[2016-07-20 12:49] pjmorris commented on #1959
Question: Should version track the version of the code at build time or at run time? As implemented, the version reports what's in core.yaml, so it will report whatever core.yaml has to say at run time, e.g.:

peer$ ./peer --version
Fabric peer server version 0.1.0

peer$ vi core.yaml  # change version to 0.2.0

$ ./peer --version
Fabric peer server version 0.2.0

Tracking the build time version o

[2016-07-20 12:51] christo4ferris commented on #2044
@yeasy thanks!

[2016-07-20 12:59] zamrokk commented on #1916
@gpanah Yep , good point !
I gave up using docker-compose, I launch the docker in command line like this :

docker run --rm -it -e CORE_VM_ENDPOINT=unix:///var/run/docker.sock -p 5000:5000 -e CORE_PEER_ADDRESSAUTODETECT=true -e CORE_LOGGING_LEVEL=DEBUG -v /var/run/docker.sock:/var/run/docker.sock  hyperledger/fabric-peer peer node start

now is working, until I got same problem about **fabric-base

[2016-07-20 13:02] ghaskins commented on #2119
@brad-gorman I didn't mean to discourage you.   I was just curious.  I don't yet understand the nuance here to have a strong opinion.  To be clear, I am not against this becoming an interface at all.  I was merely questioning whether it had to be done in a way that was disruptive to existing code.  Therefore, let me rephrase my question:

Is there a way that we can get the desirable property of ab

[2016-07-20 13:02] tuand27613 commented on #2262
do you have peer and chaincode logs ?

[2016-07-20 13:33] ratnakar-asara commented on #2262
Here Invoke with function **PostItem** will create the binary data (about 1.3 MB) from the input argument art1.png and inserts that data in to the tables, Invoke request's aren't received to chaincode.

[2016-07-20 13:40] zamrokk commented on #1916
@gpanah  I have discussed with Chris Ferris and Greg Haskins. They are going to change the build in order to have a release version on each docker images. As it fabric-peer will point to the same version as fabric-baseimage while trying to start a container from the registry.

Just a question of time

[2016-07-20 13:42] dongmingh commented on #2262
@tuand27613 when the issue occurred, the log level was set to error.  We recreated it again with log level set to debug, but the log was so large that the system almost stops.  So we deleted the logs.  However, this issue is easy to recreate.  I was able to recreate it on my local system.  Moreover, we do not know where it broke.  Any particular log level setting you suggest for recreation?

[2016-07-20 13:47] gpanah commented on #1916
Thanks for the quick response @zamrokk !

[2016-07-20 13:54] tuand27613 commented on #2262
let's start with log_level=error  .  And turn chaincode logging on as well.

[2016-07-20 13:57] tuand27613 commented on #2262
also, what are you using as the client ?  soapUI or behave ? can we have a behave test that we can use to reproduce ?

[2016-07-20 14:37] joshhus commented on #2257
Yes, sure, which files specifically.

[2016-07-20 15:39] christo4ferris commented on #1959
@pjmorris good point. We really should be tracking a bunch of metadata. tag, commit sha, maybe date for added clarity. This could be added at build-time, maybe in a separate piece of yaml from core.yaml (only so that it isn't inadvertently stomped on, also makes it easier to update automatically, as it can simply be over-written at build-time. It could be baked into Docker images as environment va

[2016-07-20 15:41] JonathanLevi commented on #1959
I think build-time, with extended information - yes, with the -X option (injecting/setting the variable as part of the build script).

[2016-07-20 15:56] pmorrisonfl commented on #1959
@christo4ferris  My ulterior motive in raising this issue is to add the git repo/branch/sha as either a debug log message or perhaps as part of the version message.  We had a situation last week where troubleshooting would've gone faster if we'd recognized we were mistaken about the build we were running.

Ugly but short proof of concept for generating meta-data at build time:

[code]

[2016-07-20 15:58] joshhus commented on #2257
I'll assume to start with /docs/Setup/ca-setup.md  ... ?

[2016-07-20 16:41] dongmingh commented on #2262
The issue was seen when using either SoapUI or jmeter.
Here is the recreation log (only from vp0, the others are too big to upload), `http://chunk.io/f/511af4fc943445cf889571ad5f8376e1`
Let us know if you need others, we will find a way to pass to you.
This is recreated on local system W540 using SoapUI. Only 44 of 200 transactions are recorded into ledger.  We notice that peers 1, 2, 3 are down.

[2016-07-20 16:58] JonathanLevi commented on #2254
First of all, thank you @nhrishi. This issue highlighted a few items that need addressing in various sections of Fabric. Will work with you on these.

@srderson: Please assign this issue to me. Thanks again, J

[2016-07-20 20:25] JonathanLevi commented on #2257
@joshhus I am working on it actually and/but will run it by you.

[2016-07-20 21:34] tuand27613 commented on #2262
The vp0 shows that it's executing seqNo=18, i.e. the 17th invoke request with deploy being request 1.
No error. No view-change. Log just stops recording on "add DataNode" from [buckettree].

Can you post the last page or so of the vp1/2/3 logs, perhaps we can see how they stopped ?

[2016-07-20 21:54] dongmingh commented on #2262
The end of vp1 and vp 3 logs contain binary characters.
The end of vp2 log shows panic:
15:14:02.236 [peer] HandleMessage -> DEBU 44b2 Handling Message of type: DISC_GET_PEERS
15:14:02.236 [peer] beforeGetPeers -> DEBU 44b3 Sending back DISC_PEERS
15:14:02.236 [peer] SendMessage -> DEBU 44b4 Sending message to stream of type: DISC_PEERS
15:14:02.249 [peer] SendMessage -> DEBU 44b5 Sending message

[2016-07-20 23:40] scottz64 opened #2265 "invokes queued and processed out of order, impacting user"
## Description

It seems transactions are processed out of order, which would impact user usecases. Invokes that are received by a specific peer node (while not enough nodes for consensus are running) are queued and processed eventually after the other nodes recover and consensus resumes - BUT not until a few minutes later. In the meantime, the network processes new invoke transactions received by

[2016-07-21 01:07] rameshthoomu opened #2266 "ImportError: No module named google.protobuf error only in Travis"
## Description

Observed google.protobuf error in travis builds while executing behave tests. This issue observed in almost all the Travis PR Builds after merge the PR #2213 (commit https://github.com/hyperledger/fabric/commit/a511daa6bde7bef7e658c4059fc7b467dca871a1) in fabric master.

[code]

commit a511daa6bde7bef7e658c4059fc7b467dca871a1
Author: Jeronimo jeronimo.irazabal@gmail.com
Date:   Tue

[2016-07-21 01:52] juliancarrivick-ibm commented on #2266
I came across this yesterday afternoon too. From what I can tell there may be some version mismatches in the environment for the python packages. When the python packages are installed during `scripts/provision/host.sh` there are some failures (~Line 480 of Travis Behave Log):

[code]

I'll have a crack at fixing this by modifying `host.sh` but I may be on the completely wrong track so please say

[2016-07-21 02:30] rameshthoomu commented on #2266
yes.. this fix works for Travis protobuf issue.. I see couple of open issues in Travis github related to protobuff version. Thanks for quick fix...

[2016-07-21 02:38] juliancarrivick-ibm commented on #2266
Yesterday I found the issue to be very inconsistent - sometimes it would pass, sometimes it wouldn't.
I'll reverify a couple of times to be sure.

[2016-07-21 02:51] brad-gorman commented on #2119
The only thing I can think that might work is really, really ugly. We'd need to add a constructor to ChaincodeStub, that populates a new MockStub member. Then every function that ChaincodeStub implements would be modified to look like this:

There is a danger that some new functions may need to be added to the ChaincodeStub to handle unit testing type behaviour. These could then be abused by users

[2016-07-21 03:43] juliancarrivick-ibm opened #2268 "Inconsistant GOPATH during CI build"
## Description

I've been trying to complete PR #2190 but during the build Travis (and Jenkins) fails to run the executable at `$GOPATH/bin/chaincode_example02` inside the chaincode container (I'm running it manually to test when it is in developer mode) it cannot find the file. This seems to be because when the ccenv docker image is made `$GOPATH=/opt/gopath` but when the container runs in the co

[2016-07-21 04:37] huhaiqing opened #2269 "How to use the SDK client hfc to unregister a user?"
Hi,

Currently, I only find the API to register a user, chain.registerAndEnroll(registrationRequest,cb);

Anyone can help to tell me how to unregister the user which registered by chain.registerAndEnroll( ...) function.

Thanks in advance.

Regards
Harry

[2016-07-21 05:19] qubing commented on #2253
@zuowang Thank you for your answer.
Are there any means for `return []byte, error` for invoke operation?
Is it possible to provide synchronization calling method for invoke operation?
Is is possible to separate local peer calculation and communication with other peer?

[2016-07-21 05:21] kamraanki opened #2270 "How to enable tls for rest api in fabric ?"
## Description

## Describe How to Reproduce

[2016-07-21 06:44] qubing opened #2271 "Timeout when search some data not existing in table"
## Description

I designed some tables in my chaincode, and I can insert data and find data with the tables. But, if I try to search some data not existing in the table, I can not get my error but only system error of timeout like below.
`{"jsonrpc":"2.0","error":{"code":-32003,"message":"Query failure","data":"Error when querying chaincode: Error:Failed to execute transaction or query(Timeout exp

[2016-07-21 09:24] bryan-huangyan commented on #2198
@christo4ferris you should run **typings install**, before run makedoc.sh

[2016-07-21 09:36] guidosantos commented on #2138
@mingjinc I was using docker-compose to start multiple peers, what was missing was the ports part in each peer, thanks though!

[2016-07-21 09:49] christo4ferris commented on #2198
ah, I see it now in the Makefile.

[2016-07-21 09:49] #2198 closed, assigned to nobody

[2016-07-21 10:09] christo4ferris commented on #1630
@ajpauwels why not submit a PR so that it can be reviewed? @dshuffma-ibm

[2016-07-21 10:15] christo4ferris commented on #1446
@bcbrock I think that there's still some work to be done to integrate busywork into the pipeline... keeping this open to track that need.

[2016-07-21 10:16] christo4ferris commented on #1086
@yeasy closing this as we can use #1446 for tracking the need for performance benchmarking/regression testing.

[2016-07-21 10:16] #1086 closed, assigned to nobody

[2016-07-21 10:23] christo4ferris commented on #2023
@zuowang I'm closing this issue since there are documented means of configuring the logging as discussed in #2024. If you disagree and think that this still needs to be addressed, please re-open with a comment.

[2016-07-21 10:23] #2023 closed, assigned to nobody

[2016-07-21 10:27] christo4ferris commented on #2097
@polyrabbit a PR would make it easier to review your changes. @srderson or @binhn would one of you please weigh-in on this thread? thanks

[2016-07-21 10:52] #2244 closed, assigned to nobody

[2016-07-21 12:17] christo4ferris opened #2272 "sdk/node build issues"
## Description

sdk/node/bin/run-unit-tests.sh builds into wrong location
no 'clean' target for Makefle leaves build artefacts in place

Note this code, in sdk/node/bin/run-unit-tests.sh:

[code]

The sdk build should avail itself of the root Makefile to build relevant artefacts. e.g.
`cd $FABRIC && make peer membersrvc`

This leaves 'membersrvc' binary in fabric/membersrvc directory and 'peer' bi

[2016-07-21 12:18] christo4ferris commented on #2272
@smithbk please have a look at this

[2016-07-21 12:30] christo4ferris commented on #2272
Also, each subsequent build re-installs typings unnecessarily. There's no harm, I suppose, but it is inefficient and will slow down builds unnecessarily.

[2016-07-21 12:47] ghaskins commented on #2272
@christo4ferris I had a patch that improved the "typings" thing you mention above that I never put the final polish on.  I'll see if I can dig it up.

[2016-07-21 13:01] mohanie opened #2273 "Error installing hfc via npm"
$ sudo npm install -g hfc
/usr/bin/hfc -> /usr/lib/node_modules/hfc/bin/main.js

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/6.3.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/lib/node_modules/hfc/node_modules/grpc/.node-gyp"
make: Entering directory `/usr/lib/node_modules/hfc/node_modules/grpc/build'
make: *** No rule to ma

[2016-07-21 13:02] mohanie commented on #2273
I have latest version of npm and node.js installed and I am running as root i.e., sudo npm install -g hfc.

[2016-07-21 14:13] ajpauwels commented on #1630
@christo4ferris Happy to but want to make sure this is useful and fits the architecture, especially re: discussion above.

I've found it useful so far in tracking network health per-peer to quickly identify failing nodes. Since the stats are tracked locally based on success in sending broadcast messages, if a node suddenly starts failing to communicate with the other peers it can be quickly identi

[2016-07-21 15:02] joshhus opened #2274 "Editorials for application-ACL.md"
## Description

Suggested language tweaks to /fabric/docs/tech/application-ACL.md
## Describe How to Reproduce

Compare to existing text below.

Fabric Support:
To allow Alice to specify her own access control lists and Bob to gain access, the fabric layer gives access to following capabilities: >>
To allow Alice to specify her own access control lists and Bob to gain access, the fabric layer prov

[2016-07-21 15:03] joshhus commented on #2274
@christo4ferris @binhn ... editorial suggestions.

[2016-07-21 15:14] muralisrini commented on #2262
With large payload with privacy on, processing takes longer time. I think the invoke transaction bails out with timeout error (timeout was set to 1 sec).  When ledger.SetState kicks in later it raises the _State can be changed only in context of a tx._ panic.

Requested @dongmingh to run with a larger timeout to verify this theory.

[2016-07-21 17:58] smithbk commented on #2269
Hi, unfortunately it is not currently supported.  See https://github.com/hyperledger/fabric/issues/1620

[2016-07-21 18:12] cbruguera opened #2275 "Error: Keystore missing"
## Description

A validating node is run inside a Vagrant VM with security and privacy enabled (via core.yaml config). After deploying or invoking a chaincode, the following error is displayed on the peer node window:
`Errorf -> ERRO 098 [client.carlos4] Keystore [/var/hyperledger/production/crypto/client/carlos4/ks/db] missing [false]:[<clean>]`

No errors had occurred at the time of user login,

[2016-07-21 20:41] christo4ferris opened #2277 "excessive logging "Touch service indicates no dropped connections""
## Description

excessive logging "Touch service indicates no dropped connections"
the log level is INFO, and really should be DEBUG because OMG annoying and cluttered, noisy logs
## Describe How to Reproduce

run the peer

[2016-07-21 20:50] bcbrock opened #2278 "busywork: Critical bug in checkAgreement"
## Description

Due to recent changes, the **busywork/bin/checkAgreement** script - a script that checks that all peers have the same blockchain - is only checking that the blockchain of the final peer is equal to its own blockchain! This is easy to fix.
## Describe How to Reproduce

A test case that demonstrates that this is happening is difficult to construct. I was lucky to have arrived at a fa

[2016-07-22 00:01] christo4ferris commented on #2138
looks like this can be closed... the docs don't reflect that address presently. Please reopen if you think this incorrect

[2016-07-22 00:01] #2138 closed, assigned to nobody

[2016-07-22 00:23] christo4ferris opened #2283 "Port number conflict with UPnP on Windows (5000)"
## Description

Port used for the peer's REST API is 5000. This is apparently used by a number of services, most notably UPnP on Windows. To make things simpler, we should choose a port that is not commonly used.
## Describe How to Reproduce

try any of the default examples on Windows.

[2016-07-22 00:24] christo4ferris commented on #2283
I would propose 5075 which has no entries on this [Wikipedia page](https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers).

[2016-07-22 02:15] huhaiqing commented on #2269
@smithbk , Hi, Is there any way to remove the registered user mannually? Thanks

[2016-07-22 05:45] #1578 closed, assigned to nobody

[2016-07-22 05:57] huhaiqing opened #2285 "Cann't use hfc to deploy chaincode"
Hi,

When I use the unit test code under github.com/hyperledger/fabric/sdk/node/test/unit to test, I find that hfc can't deploy the chaincode, but hfc can query from the existed chaincode.

After hfc send deploy request, hyperledger returans OK to client side, but use the 'docker ps -a ' command to see, the deployed chaincode can't start up successfully.

And when do invoke operation on the not st

[2016-07-22 07:52] qubing opened #2288 "Timeout when search sigle row data not existing in table"
## Description

I designed some table in my chaincode, and I can insert data and find data with the tables. But, if I try to find some data not existing in the table, I can not get my error but only system error of timeout like below.
`{"jsonrpc":"2.0","error":{"code":-32003,"message":"Query failure","data":"Error when querying chaincode: Error:Failed to execute transaction or query(Timeout expire

[2016-07-22 11:27] christo4ferris commented on #2285
Can you please share more about your environment? What platform? Did you use the [fabric developer setup](http://hyperledger-fabric.readthedocs.io/en/latest/dev-setup/devenv/) to create your environment? What is the most recent commit sha?

[2016-07-22 13:33] smithbk commented on #2269
No, unfortunately not for a single user.  The only thing you can do is remove all users except those pre-registered (but not enrolled) in the yaml file.
To do this ...
On the membership services side:
  1) stop membership services
  2) rm -rf /var/hyperledger/production
  3) start membership services
On the client SDK side:
    rm -rf /tmp/keyValStore

[2016-07-22 13:40] bcbrock opened #2290 "Peer FSM - Bug or improper architecture manifests as numerous meaningless error messages"
## Description

The logs of certain peers are full of error messages of the following form:

[code]

Tracking this down leads to the FSM definition in `fabric/core/peer/handler.go`. This error apparently comes from the fact that this peer has never received a `DISC_HELLO` message. However receiving this message does not seem to be a requirement for correct operation of the peer, based on the fact

[2016-07-22 13:51] scottz64 commented on #2265
(For my records: I renamed some of my testcases. This can be reproduced also with CAT_24_S0S1S2_IQ_R0R1_IQIQ.go)

[2016-07-22 14:57] #2266 closed, assigned to nobody

[2016-07-22 15:22] dshuffma-ibm commented on #2270
looks like you should set [core.yaml](https://github.com/hyperledger/fabric/blob/master/peer/core.yaml#L158) line 158 to true. this will use tls for peer to peer comm AND ultimately use tls for the peer's rest API.

![image](https://cloud.githubusercontent.com/assets/16085295/17061853/7739fcd0-4ffe-11e6-9c76-0182de420712.png)
you should also provide the certs listed nearby

the setting gets consum

[2016-07-22 18:58] dongmingh opened #2292 "chain height does not grow"
## Description

commit level : 3e0e80a898b259fe463295eabff80ee64f20695e
branch: v0.5-developer-preview

while working on bug #2262, set the chaincode timeout from 1s to 30s for test, deploy artchaincode on a 4-peer network with pbft-batch, security and privacy enabled, observed that the chain height can only reach 21 and then no more invoke transactions can be recorded into the ledger.  Each invok

[2016-07-22 19:03] dongmingh commented on #2262
per @muralisrini suggested, set the chaincode timeout from 1s to 30s for test and do not see the panic issue.  However, learned that the chain height can only reach 21 on my Lenovo W540.  Before the chain heoght reaches 21, all transactions are recorded normally.  Once the height reaches 21, no more transactions can be recorded and the height remains 21, see bug #2292.

[2016-07-22 19:27] #2256 closed, assigned to nobody

[2016-07-22 19:40] #2277 closed, assigned to nobody

[2016-07-22 20:08] #2278 closed, assigned to nobody

[2016-07-22 20:19] jjjjibm opened #2294 "sdk/node: newChain(42) breaks registrar.js test"
## Description

HFC version 0.0.2
# This error occurs while running make node-sdk-unit-tests:

 enroll again
enrollAgain
enrollAgain: calling newChain(42)
enrollAgain: back from newChain()
/opt/gopath/src/github.com/hyperledger/fabric/sdk/node/test/unit/registrar.js:134
   chain.setKeyValStore(hfc.newFileKeyValStore('/tmp/keyValStore'));
   ^
ReferenceError: chain is not defined
    at enrollAgain

[2016-07-22 21:43] #1140 closed, assigned to nobody

[2016-07-23 11:26] heshansp opened #2299 "Identify Transaction Invoker"
## Description

Hi All,
I have been using the `stub.GetCallerCertificate()` method to retrieve the invoker's certificate and parsing it using `x509.ParseCertificate()` to determine the Invoker mentioned under `Subject.CommonName`. Recently I upgraded to the latest fabric version and I am unable to use this method to get the invoker name as the certificate does not carry the Invoker's name under th

[2016-07-23 16:09] polyrabbit commented on #2097
Hi @christo4ferris, thanks for your advice, I'm just wondering what's the point of NVP having the ledger, since NVPs delegate all the transactions(including query) to VPs, and NVP doesn't know which VP is the correct one to replicate from?

[2016-07-23 17:55] srderson commented on #2097
The original proposed purpose of the NVP, to my knowledge, was to keep a local copy of the ledger and support query only transactions. The goal was to reduce load on the VP as @polyrabbit speculated. Each NVP is designed to be connected to a single VP which it must trust.

If the NVP is not maintaining a local copy of the ledger, it sounds like a bug to me. @binhn @jeffgarratt ?

[2016-07-24 05:36] kamraanki commented on #2270
@dshuffma-ibm  Thanks !!! But i have already done this but still peers not accepting TLS enabled request.

[2016-07-24 08:29] GrapeBaBa commented on #2270
https://github.com/hyperledger/fabric/blob/master/bddtests/docker-compose-2-tls-basic.yml, this is an example

[2016-07-24 19:31] binhn commented on #2097
@srderson yes, NVP keeps up the ledger via block notification.  Note that NVP will go away in the [next iteration](https://github.com/hyperledger/fabric/wiki/Next-Consensus-Architecture-Proposal). The notion of NVP is replaced by the combination of Submitter, Endorsers, and Committer.

[2016-07-25 02:19] huhaiqing opened #2303 "How to use CLI to deploy a confidential chaincode?"
Hi,

Is there anyway to deploy a chaincode as confidential by CLI ?

Thanks in advance.

Regards
Haiqing

[2016-07-25 05:47] stylixboom commented on #2044
In this mean time, to make the patch #2263 works, we also need to get

github.com/fsouza/go-dockerclient
github.com/docker/docker
github.com/docker/engine-api
github.com/docker/go-units
github.com/hashicorp/go-cleanhttp
github.com/Sirupsen/logrus
github.com/opencontainers/runc

into the vendor directory.

[2016-07-25 06:18] JiZiJian commented on #1890
@mastersingh24
This sample is OK for just using base64 decoding, but if you set CORE_SECURITY_PRIVACY=true, then the payload will be encrypted like below, can't just use base64 decoding, do you know how to decrypt it?
"transactions": [
    {
      "type": 2,
      "chaincodeID": "BOT0Gws+NQrhIV9bsAz1j9Ae+mePggCxY/jypT7kOV1s+FtQ74WkW59bzSDHNmY5lmizcHhCLzaNj7fkD4xQ8Rdj2vKU0h4XqnrYpDIWyDSMVmsuQLiJD3J

[2016-07-25 06:27] brad-gorman opened #2304 ".YAML vs .YML"
## Description

The file naming is inconsistent between YAML files. Some files have a .yaml extension, others use .yml. If there is a good reason for this, please close the issue, otherwise I feel that one set should be renamed purely for consistency.
## Describe How to Reproduce

vagrant@ubuntu-1404:/hyperledger$ find . -name *.yaml
./consensus/noops/config.yaml
./consensus/pbft/config.yaml
./cor

[2016-07-25 06:49] juliancarrivick-ibm commented on #2219
It should print to the screen when you run the `peer` command. If you are running it in docker you can look at the logs by executing `docker logs <containername>` where `<containername>` is what you put in when starting the peer in docker.

[2016-07-25 07:29] iiiLiQuiDiii commented on #2288
You can check if the result is null withe following:
`row , err := stub.GetRow("Shipment", columns)`
 `if len(row.Columns) == 0 {  //tuple is empty`

[2016-07-25 08:38] yeasy commented on #2044
@stylixboom
The `github.com/fsouza/go-dockerclient` is already inside the vendor.json.

You mean the current vendor.json does not work?
If so, we may update it in another patch.
Thanks!

[2016-07-25 09:52] christo4ferris commented on #2304
Docker Compose expects .yml for default. You can specify file directly, just more typing. Travis expects .yml and you cannot change that. suggest leaving things as they are. Thanks

[2016-07-25 10:19] stylixboom commented on #2044
@yeasy
Yes, the go-dockerclient probably outdated after a fresh git clone of hyperledger/fabric.
So, manually fetch the recent version with it's dependencies above make this patch #2263 works fine for me.

BTW, thank you for your patch.

[2016-07-25 10:39] corecode commented on #2265
I don't think this is a guarantee we can ever make in an asynchronous system.

[2016-07-25 10:51] VRamakrishna opened #2305 "Documentation of events needs to be updated in the protocol spec (branch v0.5-developer-preview)"
The section on events (3.5) in the "protocol-spec.md" file seems to be out of date.

It still documents a "Generic" event type that's no longer supported in code (in the "v0.5-developer-preview" branch).

The entire events code seems to have been overhauled, and the structures in "fabric/protos" significantly altered, but there's been no change to the documentation. This can cause event tracking c

[2016-07-25 12:52] genggjh opened #2306 "Log library does not support asynchronous logging"
## Description

I am reading the op/go-logging library recently, and I find the go-logging does not support write the logs asynchronous (https://github.com/op/go-logging/blob/master/log_nix.go#L59, https://github.com/op/go-logging/blob/master/logger.go#L166) by my understanding.

It will effect our performance definitely if that's true. Sugget we move to use other better alternative or support to

[2016-07-25 12:56] ijmitch commented on #1631
It's not obvious (to me!) from the new Section 6 how deployment of confidential chain code is limited to the submitting and endorsing peers - ie why committing peers don't see it. Perhaps it's that the deliver from the consensus service of the deploy transaction to the committing peers just asks them to write the encrypted blob to their copies of the ledger, whereas to the endorsers and submitters

[2016-07-25 13:30] gennadylaventman opened #2307 "Flow control and communcation code centralization"
## Description

There are 3 messages streams in the code - Chat in fabric.proto, Chat in events.proto and Register in chaincode.proto.

All three streams are created more or less in the same manner (upon stream creation a handler object is created and from that point it handles all the stream communication) and all three lack a mechanism of user / applications level configurable flow control, only

[2016-07-25 13:30] christo4ferris commented on #959
@binhn @srderson @tamasblummer closing this as I believe the intention is satisfied by the integration of systemcc etc. please reopen if you disagree.

[2016-07-25 13:30] #959 closed, assigned to nobody

[2016-07-25 13:36] christo4ferris commented on #1047
@joequant, thanks for the suggestion. The documentation has undergone serious improvement includes info on how to set up a network or development environment on a variety of platforms, including natively on windows, mac, linux and Z. Closing this unless you specifically are interested in something not currently supported.

[2016-07-25 13:36] #1047 closed, assigned to nobody

[2016-07-25 13:45] christo4ferris commented on #1135
@Jazzrocks you can deploy our published docker images directly to any system that supports Docker. The documentation has been [updated](http://hyperledger-fabric.readthedocs.io/en/latest/Setup/Network-setup/) accordingly to describe how to do this. Closing for now. Please feel free to reopen if you still think there's an issue.

[2016-07-25 13:45] #1135 closed, assigned to nobody

[2016-07-25 13:46] christo4ferris commented on #1159
@ghaskins @dulcep is this still an issue being tracked or can it be closed?

[2016-07-25 13:58] christo4ferris commented on #1097
closing this as it seems resolved. please reopen if you disagree

[2016-07-25 13:58] #1097 closed, assigned to nobody

[2016-07-25 14:06] christo4ferris commented on #1039
personally, I think that 'examples' is an awful name for chaincode that we use for tests. We should have a test/artifacts tree for that and examples should be exemplar code that is well documented and exhibits best practices. Sometimes, such as with chaincode that exhibits nondeterminism for purposes of ensuring that such chaincode is flagged, etc we will have bad practices and we don't want users

[2016-07-25 14:07] christo4ferris commented on #985
docs have been refactored. closing this for now as no longer relevant,

[2016-07-25 14:07] #985 closed, assigned to nobody

[2016-07-25 14:08] christo4ferris commented on #1037
closing as I believe this to be fixed by now

[2016-07-25 14:08] #1037 closed, assigned to nobody

[2016-07-25 14:11] #2229 closed, assigned to nobody

[2016-07-25 14:15] christo4ferris commented on #1194
@ckeyer thanks for submitting this! I've been playing with alpine as well. I think that there's plenty that we can do to have our images go on a diet. I'll be working some of this this week in the hackfest. closing this issue though as it is based on rather dated code.

[2016-07-25 14:15] #1194 closed, assigned to nobody

[2016-07-25 14:17] christo4ferris commented on #1092
@tuand27613 is this issue still relevant? Please close if not. Thanks

[2016-07-25 14:23] christo4ferris commented on #1293
@JonathanLevi is this still relevant or can it be closed?

[2016-07-25 14:28] christo4ferris commented on #1284
closing, we have this in place

[2016-07-25 14:28] #1284 closed, assigned to nobody

[2016-07-25 14:31] christo4ferris commented on #1322
we've adopted a versioning and labeling strategy based on semver. closing this

[2016-07-25 14:31] #1322 closed, assigned to nobody

[2016-07-25 14:32] bcbrock commented on #1037
Sorry @christo4ferris - Not only is the protocol-spec.md still wrong, but so is CoreAPI.md at line 606.

[2016-07-25 14:33] christo4ferris commented on #1386
@mastersingh24 when things calm down, let's do this. Thanks

[2016-07-25 14:35] christo4ferris commented on #1207
@elli-androulaki closing this as I believe we have this now. Please reopen if you disagree.

[2016-07-25 14:35] #1207 closed, assigned to nobody

[2016-07-25 14:36] christo4ferris commented on #1178
@elli-androulaki @smithbk can this be closed?

[2016-07-25 14:44] #2304 closed, assigned to nobody

[2016-07-25 14:47] christo4ferris commented on #2270
@kamraanki would you please provide us with the error messages and relevant execution context to enable us to reproduce? Thanks

[2016-07-25 14:48] christo4ferris commented on #2268
@rameshthoomu would you please look at this? thanks

[2016-07-25 14:55] #2236 closed, assigned to nobody

[2016-07-25 14:58] christo4ferris commented on #1125
closing this as we have deployed the readthedocs documentation

[2016-07-25 14:58] #1125 closed, assigned to nobody

[2016-07-25 14:58] scottz64 opened #2308 "transactions lost when stop 3 of 4 peers, invoke, restart all 3 peers"
## Description

The network loses any Invoke requests sent to the single running peer node, after stopping the other 3 peers of a 4 node network. The problem is observed in both testcase variations when the VP0 is the only running node, and when VP3 is the only running node.

The problem is observed ONLY when we restart the other 3 nodes ALL AT THE SAME TIME. If we stop 3, send invokes, and restar

[2016-07-25 15:03] JonathanLevi commented on #1125
@joshhus and @rameshthoomu: Just to re-iterate: the [read-the-] docs look awesome!

[2016-07-25 15:07] JonathanLevi commented on #1293
Hi @christo4ferris: Yes, relevant more than ever actually... thanks for assigning and asking.

I will try to address this (at least for the AESCBC) for this week's SF Hackathon!

[2016-07-25 15:08] christo4ferris commented on #1032
@srderson @mastersingh24 @binhn @muralisrini where are we with this? Shall we leave well enough alone and close?

[2016-07-25 15:10] christo4ferris commented on #1443
think that this can be closed as there's an example in the docs.

[2016-07-25 15:10] #1443 closed, assigned to nobody

[2016-07-25 15:21] christo4ferris commented on #1180
@corecode @vukolic i'm closing this as it is stale and the last comment from @tuand27613 suggested it is no longer an issue.

[2016-07-25 15:21] #1180 closed, assigned to nobody

[2016-07-25 15:24] christo4ferris commented on #1540
have not confirmed, but seems reasonable to me to add tests that validate the expected behavior. agree it should not panic but rather error.

[2016-07-25 15:26] #1828 closed, assigned to nobody

[2016-07-25 15:26] christo4ferris commented on #1565
@muralisrini agree with @mastersingh24 on his observation. That said, is this still open or can it be closed?

[2016-07-25 15:28] christo4ferris commented on #1607
@jyellick @corecode is this in consensus 2.0? do we need this open or can it be closed?

[2016-07-25 15:29] christo4ferris commented on #1589
closing this as I think we are where we are. We can revisit at a later time when we have more arms and legs

[2016-07-25 15:29] #1589 closed, assigned to nobody

[2016-07-25 15:32] jeroiraz commented on #2275
Hi @cbruguera, I've revised your steps and it should work with client role. I'll try figure out the reason of this error.

[2016-07-25 15:33] christo4ferris commented on #1636
@kchristidis I've left the TravisCI_Readme but removed it from the documentation. It is deprecated anyway as we will be affecting full transition to Jenkins soon. Closing

[2016-07-25 15:33] #1636 closed, assigned to nobody

[2016-07-25 15:38] JonathanLevi commented on #1589
And in the meantime, thank you for #1772!

[2016-07-25 15:39] joshhus commented on #1125
Just to summarize, we went with the Read The Docs (RTD) GitHub service instead of Python Sphinx (PS) proper, because RTD manages .md files directly, whereas PS requires an intermediate step of .md to .rst ("restructured") files. And the output is the same. @rameshthoomu deserves most of the credit for implementation. Next up: do the same thing for IBM-Blockhain docs repo (once we get that content

[2016-07-25 15:39] christo4ferris commented on #1305
Now that we have images being built and published to DockerHub, it would make sense to publish OS specific images. We could use tagging as others do (e.g. fabric-peer:0.5-developer-preview-xenial). This should be straight-forward for someone wishing to make a contribution.

[2016-07-25 15:42] scottz64 commented on #2308
The issue also can be reproduced using a later image, from July 19th: IMAGE=3e0e80a. Both this and the  image mentioned previously are on the branch v0.5-developer-preview.

[2016-07-25 15:43] christo4ferris commented on #1735
@huhaiqing there's a debugging tool under /tools for dumping the ledger db. There isn't anything that I am aware of for handling such a transaction. Can you please provide use case that would warrant such a feature? thanks

[2016-07-25 15:44] JonathanLevi commented on #1125
Edited above with credit where credit is due!

[2016-07-25 15:46] christo4ferris commented on #1739
@yingfeng we are constantly striving to improve the performance and throughput. The consensus redesign will hopefully yield significant improvements.

[2016-07-25 15:47] christo4ferris commented on #1604
this will certainly be needed for i18n.

[2016-07-25 15:51] christo4ferris commented on #1239
@muralisrini can this be closed?

[2016-07-25 15:52] muralisrini commented on #1565
@christo4ferris I too agree with @mastersingh24's observation. If the unit test is permanent, no need for a behave test. I'll close this for now. We can reopen if necessary

[2016-07-25 15:52] #1565 closed, assigned to nobody

[2016-07-25 15:52] muralisrini commented on #2044
@yeasy thanks from me too.

[2016-07-25 15:56] muralisrini commented on #1239
@christo4ferris yes, default test will not create. Need to override with a command line parameter to run the tests now.

[2016-07-25 15:56] #1239 closed, assigned to nobody

[2016-07-25 16:00] christo4ferris commented on #1466
@corecode is this still an issue? Seems to me that if different timeouts yield different results that the behave tests should be augmented to attempt various timeouts so that we aren't sunning such tests manually. @jeffgarratt

[2016-07-25 16:06] christo4ferris commented on #1309
Let's use this one issue to track everyone's antipathy towards viper and the desire to possibly refactor and significantly improve the whole configuration situation (which BTW is completely broken from my perspective from an operations consideration). related but now closed issues include #1561, #1962 #1205 #647 (thanks @bcbrock ) and probably others.

[2016-07-25 16:06] christo4ferris commented on #1561
closing this one and tracking the issue with #1309

[2016-07-25 16:06] #1561 closed, assigned to nobody

[2016-07-25 16:07] christo4ferris commented on #1205
closing this one and tracking with #1309

[2016-07-25 16:07] #1205 closed, assigned to nobody

[2016-07-25 16:09] christo4ferris commented on #1577
@angrbrd you still on this one?

[2016-07-25 16:11] christo4ferris commented on #1588
I would consider this a bug, as there's no means of over-riding these properties as advertised. I am closing this one in deference to #1309 which is the tracking issue for fixing and refactoring the whole configuration scheme.

[2016-07-25 16:11] #1588 closed, assigned to nobody

[2016-07-25 16:12] christo4ferris commented on #1309
See #1588 as we need to address that issue in any refactor.

[2016-07-25 16:13] christo4ferris commented on #1638
@angrbrd you still on this?

[2016-07-25 16:14] christo4ferris commented on #1504
@frankyclu @srderson was the other issue ever opened? Please link this one if so, or open the other and reference. I presume this is still relevant?

[2016-07-25 16:16] christo4ferris commented on #1634
closing this as there's been no response to @muralisrini question. Please repoen if the problem persists in a more current version, such as v0.5-developer-preview.

[2016-07-25 16:16] #1634 closed, assigned to nobody

[2016-07-25 16:17] christo4ferris commented on #1608
@jyellick @srderson I presume that this is still relevant?

[2016-07-25 16:21] christo4ferris commented on #1417
@ghaskins @jyellick can we close this?

[2016-07-25 16:28] christo4ferris commented on #1497
@ghaskins is this still an issue? or can it be closed?

[2016-07-25 16:33] christo4ferris commented on #1804
amen

[2016-07-25 16:46] christo4ferris commented on #1813
closing this for inactivity. please reopen if still relevant.

[2016-07-25 16:46] #1813 closed, assigned to nobody

[2016-07-25 16:47] christo4ferris commented on #1707
closing this as resolved. thanks

[2016-07-25 16:47] #1707 closed, assigned to nobody

[2016-07-25 16:51] christo4ferris commented on #1447
pretty sure that this is no longer relevant. @corecode would you please close if you agree. thx

[2016-07-25 16:52] christo4ferris commented on #1830
@muralisrini also need corresponding tests at various values of timeout

[2016-07-25 16:55] christo4ferris commented on #983
@srderson #1719 was merged, can we close this?

[2016-07-25 16:56] scottz64 opened #2309 "CH correct but A/B wrong after few new Xactions on all peers after deploy with stopped peers and recovery"
## Description

Start a new pbft batch network. Stop 3 of the 4 peers. Send request for new deployment. Send 100 Invokes (which are queued, and do appear to get processed after restart the stopped peers). Restart 2 peers. Send 11 Invokes: these are NOT reflected in values for A & B, but the chainheight indicates they got processed! And afterwards, additional invokes are handled OK.
[fail_CAT_36s.t

[2016-07-25 17:30] dongmingh commented on #1447
Have not seen this for a long time.  Close it now.

[2016-07-25 17:30] #1447 closed, assigned to nobody

[2016-07-25 19:25] scottz64 opened #2313 "When 3 of 4 peers are stopped, deploy fails if subsequently start 3 peers together"
## Description

Deploy after stopping 3 of 4 peers. Then start the 3 peers again together. All queries fail.
Note: Instead, if start just two of the peers, with ample delays, then the network works (although there are problems in that scenario too, such as #2309 ).

[fail_CAT_37.tar.gz](https://github.com/hyperledger/fabric/files/382312/fail_CAT_37.tar.gz)
## Describe How to Reproduce

Test case C

[2016-07-25 19:42] andresgaragiola commented on #2299
Hi @heshansp,

This is correct. The EnrollmentID was removed from the TCert’s Subject.CommonName in order to avoid link-ability and to preserve anonymity where it is applicable (see also #1409).

The right approach is to encrypt the EnrollmentID and provide it through the X.509 extension (that is, as an attribute). This is a requested feature that we are working to support in the near future.

In

[2016-07-25 20:23] christo4ferris commented on #2306
@genggjh what do you recommend instead? K8s uses https://github.com/golang/glog Cloud Foundry uses https://github.com/cloudfoundry/lager and Docker uses github.com/Sirupsen/logrus. I could go on. It isn't clear that we **have** a performance problem. However, I wouldn't be opposed to some experimentation and research if someone wants to take that on (hint hint).

[2016-07-25 21:36] tuand27613 commented on #1092
We can close this.

@cbf, can you close ? Ric, who opened this , is no longer on the project. Thanks !

[2016-07-25 21:41] christo4ferris commented on #1242
closing this as classic is deprecated.

[2016-07-25 21:41] #1242 closed, assigned to nobody

[2016-07-25 21:43] christo4ferris commented on #1248
@jeffgarratt please reopen and elaborate the issue as @adecaro requested. Closing for now due to inactivity.

[2016-07-25 21:43] #1248 closed, assigned to nobody

[2016-07-25 21:49] christo4ferris commented on #1308
closing as this seems to be resolved by #1480

[2016-07-25 21:49] #1308 closed, assigned to nobody

[2016-07-25 23:53] heshansp commented on #2299
Hi @andresgaragiola ,
Thank you for the clarification. So if I'm understanding you correctly, currently there is no way I can retrieve the EnrollmentID of the transaction invoker within the chaincode (assuming the X.509 extention is not built yet)?

In my project I have to ensure the user has access the a certain affiliation prior to allowing access to a transaction in the blockchain. Without iden

[2016-07-26 00:28] tribbloid commented on #1916
@vmorris it doesn't work for me, I still cannot curl CORE_VM_ENDPOINT.
I'm using ubuntu 16.04, all -H options has been added to docker config file.

[2016-07-26 00:32] tribbloid commented on #1916
@zamrokk I've tried your solution as well, still doesn't work, always get:

`Connecting to 172.17.0.1:2375... failed: Connection refused.`

[2016-07-26 01:24] juliancarrivick-ibm commented on #1084
I'll take a look at this!

[2016-07-26 01:45] #2195 closed, assigned to nobody

[2016-07-26 01:59] #2044 closed, assigned to nobody

[2016-07-26 02:12] yeasy commented on #1305
+1!
And dockerhub may detect the os arch when pulling (guess already in plan).

[2016-07-26 03:54] smithbk commented on #1178
@christo4ferris Yes

[2016-07-26 04:40] genggjh commented on #2306
I am trying to use the https://github.com/uber-go/zap in our internal project, but the zap is still in beta.
And I will provide a benchmark report to compare the zap and go-logging.

[2016-07-26 06:52] stylixboom opened #2316 "Running Hyperledger at scale"
I'm trying to run Hyperledger/Fabric with Docker swarm.
## Description

Generally, Hyperledger use an internal /var/hyperledger/ to store the database within each container. And we actually need to mount this directory outside of the container. This mount parameter can be predefined in the core.yaml, dockercompose, and docker run -v x:y. Also, this directory must not be shared between other Hyperl

[2016-07-26 08:02] juliancarrivick-ibm commented on #2170
Provisional to the approval of the maintainers this issue will also track:
- A generic way of initialising the loggers for each sub command (node, network, chaincode, version)
- Tests for the peer commands
- Disentangling the peer functions from the large number of global variables
- Refactoring each of the leaf commands into their own packages (e.g. node start with start going into its own packag

[2016-07-26 08:09] iiiLiQuiDiii commented on #2299
I use an attribute associated to that EnrollmentID, it's value holds the EnrollmentID. Is this advisable in  real scenarios?

[2016-07-26 08:30] corecode commented on #2313
it seems that your test case performs a different sequence.  I can see:
1. start network
2. deploy chaincode

Also peer3 doesn't have automatic null requests enabled, but peer0 does.

[2016-07-26 08:33] corecode commented on #2316
I don't think we should write our code specifically for docker swarm.  How do other docker swarm deployments implement out-of-container persistent storage?  Why do you say that storage needs to happen outside the container?

[2016-07-26 08:36] corecode commented on #2309
We do not have any guarantee that requests are not being dropped.

[2016-07-26 08:37] corecode commented on #2308
Transactions can be lost.

[2016-07-26 08:53] zhuang-weiming opened #2318 "Could you public a sample of docker-compose.yml?"
Could you public a sample of docker-compose.yml?

I read some about docker-compose.yml, but seems no sample document about it.
Like
[https://github.com/hyperledger/fabric/blob/f7d932108d1e339d3371b6e8e922d09ecf913e9a/docs/Setup/Network-setup.md](https://github.com/hyperledger/fabric/blob/f7d932108d1e339d3371b6e8e922d09ecf913e9a/docs/Setup/Network-setup.md)

[https://github.com/hyperledger/fabric/b

[2016-07-26 09:04] iiiLiQuiDiii commented on #2318
Look in fabric/bddtests .

[2016-07-26 09:26] iiiLiQuiDiii opened #2319 "Partial Keys accepted by GetRows are *subsequences* of the key and not subsets"
## Description

If we have a table with the following columns "A", "B", "C", "D" where the key is ACD, then the only valid partial keys are "A" , "AC" and "ACD". These are sequences and must always start from A  (CA is invalid ), also there cannot be holes ( "AD" is invalid ).

Is there a way to have partial keys as proper subsets instead of sequences? If not, are there plans for implementing it?

[2016-07-26 09:49] kamraanki opened #2320 "grpc: ClientConn.resetTransport failed to create client transport: connection error"
## Description

I have setup fabric dev network on my local. I have enabled TLS for the same. Peer could not be start facing following issues:-
![image](https://cloud.githubusercontent.com/assets/19260567/17133338/39adbd8c-5343-11e6-80d6-744b09d455b2.png)
## Describe How to Reproduce

Just configure membersrvc.yaml and core.yaml as below:-
### membersrvc.yaml

[code]
### core.yaml

[code]

and run

[2016-07-26 10:01] christo4ferris commented on #979
@muralisrini @VRamakrishna this is rather stale, is it still an issue or can it be closed?

[2016-07-26 10:11] VRamakrishna commented on #979
I believe it's still an issue (see my last comment on the thread.) Since a calling application has no way of knowing what state a chaincode's state machine is in, there is a high probability of hitting this race condition. And asking an application to send a "deploy" request prior to a "query" request in a given run would be generally inefficient, and not feasible in instances where initialization

[2016-07-26 10:18] christo4ferris commented on #1063
@muralisrini @srderson does this really need to remain open or have we captured this somewhere else? Generally, I prefer that we not have a bunch of nice-to-have issues remain open when we already have plans for enhancements that incorporate the desired capability.

[2016-07-26 10:25] christo4ferris commented on #1381
@smithbk unless I am mistaken, we an do both 1 and 2 from @yeasy's comment above. If so, please advise and we can close this. We have #873 to track access to a private repo, we don't need this to reinforce that especially since it references this one.

[2016-07-26 10:26] alvinajh opened #2321 "Getting your chaincode in development environment"
I tried asking on Stack Overflow but there's no reply up till now. [http://stackoverflow.com/questions/38583654/tried-running-chaincode-rest-request-in-chrome-postman](http://stackoverflow.com/questions/38583654/tried-running-chaincode-rest-request-in-chrome-postman)

How do I know what to replace with for the **chaincodeID** and what's with the **id** in this set of REST request?

[code]

I tried

[2016-07-26 10:53] kamraanki commented on #2270
@christo4ferris  Please check issue #2320

[2016-07-26 11:19] heshansp commented on #2299
Hi @iiiLiQuiDiii ,
That's an interesting solution. So within the chaincode do you use something like
`attrValue,error:=stub.ReadCertAttribute("EnrollmentID")`?

[2016-07-26 11:54] andresgaragiola commented on #2299
Yes that is a solution. You can found a similar approach in the example "asset_management_with_roles", in this case we are using an attribute "account".

[2016-07-26 11:56] iiiLiQuiDiii commented on #2299
@heshansp I guess that would do.  In my chaincode I enforce that a certain EnrollmentID can extract from a table only tuples which contain that EnrollmentID.
`isMatchingSender, _      := stub.VerifyAttribute("id", []byte(r.Columns[Sender].GetString_()))`

[2016-07-26 12:33] GrapeBaBa commented on #2320
maybe not TLS issue, you start peer use docker, but membersrvc no, i guess the ip address maybe not correct

[2016-07-26 12:42] christo4ferris commented on #1234
@bcbrock I tend to agree that timing based testing can be non-deterministic if there are other variables such as cpu, disk or network load from noisy neighbors. However, I think that as you have busywork under control, now, whether we might close this until we perceive the problem to be something that demands mitigation?

[2016-07-26 12:45] christo4ferris commented on #1647
seems like what we need is some sort of network status monitor, with the peers registering themselves and then periodically either phoning home or being polled for their status and possibly some metrics.

[2016-07-26 12:53] christo4ferris commented on #1718
@andresgaragiola the commented test scenario 3 (and the uncommented scenario 2) are no longer in the code base. Are there still plans to address this missing coverage? @JonathanLevi

[2016-07-26 12:55] christo4ferris commented on #1775
@smithbk can you please respond to this? Thanks

[2016-07-26 12:59] christo4ferris commented on #1331
@sachikoy this thread has gone silent... is it still an issue? Do we have tests that can assure expected behavior?

[2016-07-26 13:07] christo4ferris commented on #1695
@xbh2015 @vpaprots is this still an issue for s390x? My understanding is that you have resolved the issue with #2228. I'm going to close this (since it won't be closed automatically) Please reopen if you disagree.

[2016-07-26 13:07] #1695 closed, assigned to nobody

[2016-07-26 13:10] christo4ferris commented on #1311
@mastersingh24 and I have discussed transferring some of the ibm-blockchain examples to Hyperledger. I am also working on a containerized approach to developing chaincode that might integrate these examples.

[2016-07-26 13:13] christo4ferris commented on #1764
@jusrah can you please try to reproduce with https://github.com/hyperledger/fabric/tree/v0.5-developer-preview?

[2016-07-26 13:15] christo4ferris commented on #1815
@bcbrock is this still relevant? Can it be closed?

[2016-07-26 13:17] christo4ferris commented on #1759
@jjjjibm seems like this can be closed with @smithbk's last comment. Please reopen if you disagree

[2016-07-26 13:17] #1759 closed, assigned to nobody

[2016-07-26 13:18] ghaskins commented on #2321
There are two modes for running chaincode:"devmode" and regular/production mode.

For devmode:
1. You launch the peer with a specific --peer-chaincodedev switch
2. You manually start the chaincode application, assigning it a specific name with CORE_CHAINCODE_ID_NAME (see http://hyperledger-fabric.readthedocs.io/en/latest/Setup/Chaincode-setup/#starting-and-registering-the-chaincode)
3. You then "d

[2016-07-26 13:19] christo4ferris commented on #1820
@rameshthoomu so can the test be re-enabled? (or has it?) Is this issue still relevant or can it be closed? @srderson @jyellick

[2016-07-26 13:24] jyellick commented on #1417
I think this is worth leaving open.  We should have a configurable maximum transaction size, which to my knowledge does not exist today.

[2016-07-26 13:26] christo4ferris commented on #996
@bcbrock @adecaro status on this one please? Please reference the PR if it has been submitted and update  (or include in) the PR description to indicate that it fixes this issue.

[2016-07-26 13:26] jyellick commented on #1607
This has not been entirely addressed in consensus 2.0.  Though this should be handled from the ordering service, the ledger knowledge of staleness has not been addressed.

[2016-07-26 13:26] alvinajh commented on #2321
@ghaskins So if i'd like to work in production mode, I am supposed to use `"path":"github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02"` as a chaincodeID? Do you have a link to setup tutorial for production mode, I could only find link for Developer mode (Devmode).. Thanks!

[2016-07-26 13:27] christo4ferris commented on #1864
@smithbk @bmos299

[2016-07-26 13:27] jyellick commented on #1608
Yes, and will likely be relevant in the next arch, though I will need to see a finalized pruning strategy before I can be certain.

[2016-07-26 13:30] christo4ferris commented on #1173
@srderson closing this as we are transitioning to Jira RSN (promise;-)

[2016-07-26 13:30] #1173 closed, assigned to nobody

[2016-07-26 13:35] bmos299 commented on #1607
I think this is one of our toughest issues.  Some questions are,
1.  Is there truly a strong read?  If so, there is a lot of mutex/locking which will be possible, but difficult to implement.
2.  If a key/value pair is stale, does it really matter how 'stale' it is? If I can't trust it....I can't trust it.   I am being a little harsh here, there is the case where a close proximity will do.   There

[2016-07-26 14:12] andresgaragiola commented on #1718
@christo4ferris In the case of commented test scenario 3 is not more required since confidentiality 1.1 was removed. The scenario 2 was removed due to problems with CI build (MT tests are very long and travis fails), in the other hand MT is currently not used. From my point of view this issue should be closed and a new issue should be open to address the clean up of MT code.

[2016-07-26 14:23] bcbrock commented on #1815
yes it can be closed

[2016-07-26 14:24] christo4ferris commented on #1815
thanks!

[2016-07-26 14:24] #1815 closed, assigned to nobody

[2016-07-26 14:25] christo4ferris commented on #1718
awesome, thanks closing

[2016-07-26 14:25] #1718 closed, assigned to nobody

[2016-07-26 14:38] bcbrock commented on #996
John Harrison of IBM ( @harrijk I believe ) has root-caused part of the problem as an inefficient algorithm for handling the TCert database - This problem generates the observed periodicity in throughput. I'm not aware of any fixes for this; Also don't know what happened to @adecaro fix for the CloseClient issue.

[2016-07-26 14:51] kamraanki commented on #2320
@GrapeBaBa  IP addresses are correct according to my knowledge. I am able to telnet.

[2016-07-26 14:52] bcbrock commented on #1234
I would not close this issue - This is a real problem with known, workable solutions that will improve the robustness and reliability of the tests. Better would be to put a "help wanted" on it.

[2016-07-26 15:05] rameshthoomu commented on #1847
Fixed this issue by deleting docker logs and unused docker containers and images. Closing this issue.

[2016-07-26 15:05] #1847 closed, assigned to nobody

[2016-07-26 15:08] christo4ferris commented on #2270
so do we need both issues? can we close one?

[2016-07-26 15:41] vmorris commented on #1916
@tribbloid Can you verify that your docker host is listening on 172.17.0.1:2375?

On my system:

[code]

If you see something different, adjust accordingly.
If it looks okay, confirm that there is no firewall blocking access on that socket.

[2016-07-26 15:49] christo4ferris commented on #2318
As @iiiLiQuiDiii said https://github.com/hyperledger/fabric/tree/v0.5-developer-preview/bddtests and also in the [documentation](http://hyperledger-fabric.readthedocs.io/en/latest/Setup/Network-setup/) for setting up a network. There are an abundance of examples.

[2016-07-26 15:49] #2318 closed, assigned to nobody

[2016-07-26 15:56] bmos299 commented on #1864
The team is adding more unit tests for the node sdk by adding to the fabric/sdk/node/unit folder.  @rameshthoomu is working on including the make node-sdk-unit-tests into the CI and is currently waiting on PR #2312 to be accepted.   @smithbk started using tape.    I have read positive things on tape relative to Jasmine at the following site, http://www.macwright.org/2014/03/11/tape-is-cool.html.

[2016-07-26 16:10] tribbloid commented on #1916
@vmorris, this is interesting:

[code]

However, `$ sudo netstat -lnp | grep 2375` is empty, I have already open port 2375 using ufw open, but still can't see docker listening.

[2016-07-26 16:22] vmorris commented on #1916
@tribbloid Please post the full output of **systemctl status docker** and **ip link show docker0**.

[2016-07-26 16:29] scottz64 commented on #2309
Using blocksize = 1, and NULLREQUEST=1s in all peers, I reran testcase with same results. here is the output of the test script steps in a log file:
[GO_TEST__CAT_36_S0S1S2_D_I_R0R1_IQ.go__Jul2616:03:15UTC2016.tar.gz](https://github.com/hyperledger/fabric/files/384299/GO_TEST__CAT_36_S0S1S2_D_I_R0R1_IQ.go__Jul2616.03.15UTC2016.tar.gz)

[2016-07-26 16:34] tribbloid commented on #1916
@vmorris sure no problem:

$ systemctl status docker
● docker.service - Docker Application Container Engine
   Loaded: loaded (/lib/systemd/system/docker.service; enabled; vendor preset: e
   Active: active (running) since Tue 2016-07-26 12:26:52 EDT; 6min ago
     Docs: https://docs.docker.com
 Main PID: 3197 (docker)
    Tasks: 45
   Memory: 75.3M
      CPU: 521ms
   CGroup: /system.slice/docker

[2016-07-26 16:40] jiangyaoguo commented on #1916
@tribbloid  You can stop service docker and use `sudo docker -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock` to run docker insteadly. And then try to access docker endpoint to find out if your docker configure is correct.

[2016-07-26 16:43] JonathanLevi commented on #1860
Thank you @nickgaski.

@ibmamnt Are there still related documentation corrections/suggestions that should be submitted under this issue?

[2016-07-26 16:49] tribbloid commented on #1916
@jiangyaoguo I already have them in my launching configuration @ /etc/default/docker:

[code]

Also it seems like your command is outdated, the one that should work is:

`sudo docker daemon -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock`

[2016-07-26 16:52] vmorris commented on #1916
@tribbloid You can see that your docker daemon isn't picking up those DOCKER_OPTS:

Did you restart docker after setting the parameters? If so, can you please provide the output of **cat /lib/systemd/system/docker.service**?

Here's the relevant lines from mine:

[code]

/etc/default/docker is where $DOCKER_OPTS gets set.

[2016-07-26 17:03] tribbloid commented on #1916
@vmorris yes I do, I always reboot the computer.

Also, after killall docker instance and docker daemon manually with those tcp & unix options in -H, the systemctl command gave the following output:

[code]

It also doesn't show the -H options

[2016-07-26 17:07] vmorris commented on #1916
Running the daemon manually will not show up in systemctl status output...

[2016-07-26 17:08] tribbloid commented on #1916
I see, ok let me reboot

[2016-07-26 17:18] #1178 closed, assigned to nobody

[2016-07-26 17:35] bmos299 opened #2324 "Update The README.md to better describe where the hyperledger fabric documentation is located"
The README.md file in hyyperledger/fabric is not making it simple for the reader to find our formatted documentation using readthedocs.  The only to get to the site is to click the docs tab.   I suggest adding some documentation similar to what is  below:

Documentation & guides live here: http://hyperledger-fabric.readthedocs.io/en/latest.  For a quick start guide of the fabric see the section ht

[2016-07-26 17:56] jeroiraz commented on #2275
@cbruguera @christo4ferris
I've analyzed current source code and recent changes that may be related to this issue. I think the error "Failed loading TCertOwnerKDFKey. Key is missing." is being logged after PR #2177 where that message was raised from debug to error.
Based on the flow of how this key is stored (after retrieving tcerts for the very first time), it's expected to reach this situation i

[2016-07-26 18:16] tribbloid commented on #1916
@vmorris reboot doesn't work

service docker restart also doesn't work.

Adding the following line in /lib/systemd/system/docker.service:

[code]

and restart/reboot also doesn't work

[2016-07-26 18:18] tribbloid commented on #1916
docker info gave me the following information:

[code]

Is it where host/daemon socket needs to be seen? I can't find it in documentation

[2016-07-26 18:18] joshhus commented on #2324
I second the motion ... (thanks @bmos299!)

[2016-07-26 18:39] bmos299 commented on #2324
Later in the page there is a link to the page, but I really like it right up front as well.   The work you guys and @rameshthoomu did is great and we need to steer people to use it.

[2016-07-26 18:46] tribbloid commented on #1916
I believe that my configuration file is properly read:

[code]

There must be some other reason causing port 2375 not being visible.

[2016-07-26 18:54] vmorris commented on #1916
@tribbloid This is definitely user error and a bit off topic from this issue. My suggestion is to get on the hyperledger slack and ask for assistance.
https://hyperledgerproject.slack.com

[2016-07-26 19:05] tribbloid commented on #1916
@vmorris Many other posts mentioned the same symptom after May 2016. so I think it looks more like a docker compatibility issue.

But I agree this is off-topic, my problem appears in chaincode deployment.

[2016-07-26 19:33] gromeroar commented on #2269
hi @srderson could you assign to me this issue? Thanks!!

[2016-07-26 19:33] gromeroar commented on #1620
hi @srderson could you assign to me this issue? Thanks!!

[2016-07-26 19:39] rameshthoomu commented on #2268
Working on this issue..

[2016-07-26 21:06] ghost opened #2325 "Error building images: Tag latest not found in repository docker.io/hyperledger/fabric-baseimage"
## Description

I want to deploy a chaincode to a network.

1) Create a docker compose file to set up a network with one member service and 4 peers:
membersrvc:
  image: hyperledger/fabric-membersrvc
  ports:
    - "50051:50051"
  command: membersrvc

vp:
  image: hyperledger/fabric-peer
  environment:
    - CORE_PEER_ADDRESSAUTODETECT=true
    - CORE_VM_ENDPOINT=http://172.17.0.1:2375
    - CORE_

[2016-07-26 22:03] scottz64 commented on #2309
This fails the same way for similar testcase CAT_38_S1S2S3_D_I_R1R2_IQ.go (using peers 1-3 instead of 0-2).

The Deploy is processed, and then (just for those 11 invokes in the first few minutes) the chainheight increases but the values for A & B are unchanged. Then other invokes transactions are processed ok. When and what is the trigger that allows the additional transactions to be processed?

I

[2016-07-26 22:11] scottz64 commented on #2313
Yes, this and pretty much all other testcases start the network and deploy and send invoke(s) to each peer, before proceeding with step 2.

Thanks: I set NULLREQUEST=1 and batchsize=1 for all the peers and reran, with same results.

Also: The deploy IS processed if I restart only 2 nodes (instead of all 3, with all other things being equal), as in CAT_36_S0S1S2_D_I_R0R1_IQ.go.

[2016-07-26 22:20] scottz64 commented on #2308
Running a similar testcase, CAT_24_S0S1S2_IQ_R0R1_IQIQ.go, was successful, with no transactions lost. In that one, I restarted only 2 peers instead of all three at once.

[2016-07-26 22:32] scottz64 commented on #2265
Since the first 50 and the subsequent 11 were all submitted to the same peer, I was hoping that such a sequencing would be guaranteed.

Then that suggests that in order to provide such a reliable service, the chaincode (in this example, that which submitted the invokes requests, running on peer3) - or the client application - would be responsible for sequencing. It would need to be careful, queryi

[2016-07-27 00:00] heshansp commented on #2299
Thanks guys,
I will try this out and see.

[2016-07-27 00:49] ibmamnt commented on #1860
Looks like the original install documentation has been refactored into several .md files. If I picked up one of them, it correctly described how to build image. So I think this issue can be closed.

[2016-07-27 00:49] #1860 closed, assigned to nobody

[2016-07-27 03:19] kamraanki commented on #2270
@christo4ferris  Yes we can close this one.

[2016-07-27 03:19] #2270 closed, assigned to nobody

[2016-07-27 03:47] GrapeBaBa commented on #2203
@srderson I'd like to add some bddtests for that

[2016-07-27 05:27] kamraanki commented on #2320
@christo4ferris @GrapeBaBa  Please find Debug logs for peer below:-

![image](https://cloud.githubusercontent.com/assets/19260567/17173965/a3bfea82-541b-11e6-8804-77e678454334.png)

Please help me to resolve this problem.

[2016-07-27 06:42] ProgramErgoSum commented on #2153
The `fabric-ca` is a good suggestion.

[2016-07-27 07:26] ghost commented on #1916
@zamrokk @gpanah How did you deal with the problem "Error building images: Tag latest not found in repository docker.io/hyperledger/fabric-baseimage "?
Thanks.

[2016-07-27 08:01] CocoaWang opened #2329 "panic: runtime error: invalid memory address or nil pointer dereference"
I am making a gRPC client to  register a new client .And I use the function registerUser in eca_test.go file . The code shows as below:
## Description

//create req
    req := &pb.RegisterUserReq{
        Id:          &pb.Identity{Id: user.enrollID},
        Role:        pb.Role(user.role),
        Account:     user.affiliation,
        Affiliation: user.affiliationRole,
        Registrar: &pb.Reg

[2016-07-27 08:10] bravera commented on #1630
Does this maintain a history of stats records or is there just a single record per chaincode which is getting updated? If its the latter, can the record be reconstructed by replaying the blockchain transactions or are there pieces of information being stored (and hence lost on the next update) that are not derivable from elsewhere on the chain?
Just thinking about whether its possible for the stat

[2016-07-27 08:18] CocoaWang commented on #2329
Here is my error log.
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x476016]

goroutine 1 [running]:
panic(0x931180, 0xc82000a110)
    /opt/go/src/runtime/panic.go:464 +0x3e6
github.com/hyperledger/fabric/core/crypto/primitives.NewHash(0x0, 0x0)
    /opt/gopath/src/github.com/hyperledger/fabric/core/crypto/primitives/hash.go:41 +0x26
main

[2016-07-27 12:35] gpanah commented on #1916
@scorpion I did the vagrant build which created a local latest of the base image, then pulled that image "over" to my docket foe mac.  I had already gone through the vagrant steps first, and was trying out the pure docker next. Sounds like a ref to the latest basee build will be added at some point in the future.

[2016-07-27 13:24] iiiLiQuiDiii commented on #1890
I also have a question about decoding the payload : there are some characters which don't get decoded properly. ������� what are those?

[2016-07-27 14:21] andresgaragiola commented on #2329
@CocoaWang can you describe how reproduce this error? It sounds as if you haven't initialized the default hash.  You can use [this](https://github.com/hyperledger/fabric/blob/master/core/crypto/primitives/init.go#L63#L79) to initialize the security level before invoke `hash := primitives.NewHash()` in your code. For example to use SHA3 and length 256 bits you can use `primitives.SetSecurityLevel("

[2016-07-27 14:51] rameshthoomu commented on #2325
@scorpiovn: You should have hyperledger/fabric-baseimage:latest image in your system. Build fabric-baseimage:latest, before execute above script.

[2016-07-27 15:04] rameshthoomu opened #2330 "Incorrect npm hfc package version in package.json file"
## Description

npm hfc package version mismatch in fabric/sdk/node/package.json. Observed `0.0.3` is the latest version in npm hfc repo (https://www.npmjs.com/package/hfc) but I could see `0.0.2` in fabric/sdk/node/package.json file.
## Describe How to Reproduce

verify latest version number in https://www.npmjs.com/package/hfc and https://github.com/hyperledger/fabric/blob/master/sdk/node/packag

[2016-07-27 15:09] iiiLiQuiDiii commented on #2319
A quick solution to obtaining tuples with the partial key "CD" is to iterate over all the possible instances of A. Let's say A can be one of {1, 5, 6} , we can query for "1-C-D" , "5-C-D". "6-C-D" and merge the results. If ||A|| is big it may be necessary to rearrange the table key.

[2016-07-27 15:33] christo4ferris commented on #1121
@tuand27613 was this ever added?

[2016-07-27 15:35] christo4ferris commented on #1150
I think that this can be closed, please feel free to reopen if you feel otherwise

[2016-07-27 15:35] #1150 closed, assigned to nobody

[2016-07-27 15:47] bcbrock commented on #996
@christo4ferris With the transition to the new SDK this issue is no longer relevant or being worked by the security developers. Closing.

[2016-07-27 15:47] #996 closed, assigned to nobody

[2016-07-27 16:13] tuand27613 commented on #1121
This test has not been added.  Since we're rethinking #756,  I'll close this and reopen after we've had a chance to implement some of the new architecture

[2016-07-27 16:13] #1121 closed, assigned to nobody

[2016-07-27 23:27] cbruguera commented on #2275
Thanks for checking out this issue.
Now, this error is shown when starting a node:

![image](https://cloud.githubusercontent.com/assets/2256202/17196074/f676fc02-542f-11e6-8bd2-272f8e0c808c.png)

This time `security` and `privacy` are disabled at the `core.yaml` level.

Code is up-to-date.

[2016-07-28 01:47] JiZiJian commented on #1890
@iiiLiQuiDiii  the payload message is firstly encoded by protobuf and then encoded by base64 , so after decoded by base64, you need to decode it using protobuf to get the original payload message, here is the  protobuf  definition file https://github.com/hyperledger/fabric/blob/232346ba60a3b0d3a4022c8da9e6d07a870f4441/protos/fabric.proto

[2016-07-28 03:01] huhaiqing opened #2332 "How to register a user to memberservice which membersrvc.yaml doesn't contain the user before?"
Hi,

Currently, We only know register a user to memberservice should make sure the membersrvc.yaml file contains the user before.　For example, lukas is alreday existed in membersrvc.yaml file, and we can register the user lukas to memberservice.

If we want to register a new user which the membersrvc.yaml files does not contain its name and secret, could you tell us how to implement this scenera.

[2016-07-28 04:00] qubing opened #2333 "How to reset my local environment of fabric?"
## Description

I'm working in my local fabric blockchain environment, because I need to lots' of deployment for testing, the folder size is bigger and bigger.
## Describe How to Reproduce

Is there any method to reset my fabric environment? How? I want to clear all blocks. Is it same for production mode and dev mode?

[2016-07-28 05:53] CocoaWang commented on #2332
Hi , I am doing the same thing now!For  member service using gRPC framework,I  am making a gRPC client to interact with gRPC server. You can see eca_test.go  file in membersrvc/ca folder.There you can see TestRegisterUser method.This tells how to make new user in local.

[2016-07-28 05:54] CocoaWang commented on #2332
Now I am making a gRPC client using the memersrvc API showed in   docs/API/MemberServicesAPI.md

[2016-07-28 08:27] iiiLiQuiDiii commented on #2333
Are you not using a docker container? I just delete the container and make a new one, saves me a lot of headaches when I need a fresh environment.
The peer stores data in /var/hyperledger/production by default, you can configure the location via the core.yaml file (make a copy of the default one and place it in the same folder as the peer executable)

[2016-07-28 09:30] jiangyaoguo opened #2334 "TestClassicBackToBackStateTransfer throw panic sometimes"
## Description

`go test ./consensus/pbft/  -v -run=TestClassicBackToBackStateTransfer`  will get a panic sometimes.
## Describe How to Reproduce

``go test ./consensus/pbft/  -v -run=TestClassicBackToBackStateTransfer`

[code]

[2016-07-28 09:39] CocoaWang commented on #2329
@andresgaragiola  Thanks again! I have found my error. I add some initialization in my code.Now I get some other errors.When I send my request to member service server / ecaa.go/RegisterUser method  like this :
  token, err := c.RegisterUser(context.Background(), req)
I get: rpc error : code=2 desc = "sql: no rows in result set "

[2016-07-28 10:40] alkopnin commented on #1916
Hi everyone,
I have the same issue with latest base image version. I set up docker with installed environment, and inside I run network (3 peers with pbft + CA). When I deployed chaincode via REST I have got an issue:

10:05:40.353 [state] TxBegin -> DEBU 240 txBegin() for txUuid [2a273ea93d64d1d793581ea35d82e99cb14d0593eb1f289899a744dbb41efe2043ec385911181e5c44eabd7be20b5e5e383ccd38a6234c9c131820

[2016-07-28 11:33] andresgaragiola commented on #2329
@CocoaWang can you send us the variable "req" attributes? Does this error occurs in the first RegisterUser invocation?

[2016-07-28 12:35] CocoaWang commented on #2329
@andresgaragiola  Hi! I just solved this error.It's because that I did not enroll my registar before registering my new user.
Thanks for your help!I just finish registering a new user  by using the gRPC method.

[2016-07-28 13:20] alkopnin commented on #1916
I built baseimage from the source and put it directly to the "docker with ubuntu".

Now I faced with:

13:15:59.160 [consensus/pbft] startTimerIfOutstandingRequests -> DEBU 12a Replica 2 not starting timer because all outstanding requests are pending
**vp0_1        | 13:15:59.227 [dockercontroller] deployImage -> ERRO 12c Error building images: Container command '/bin/sh' not found or does not exi

[2016-07-28 13:46] rameshthoomu commented on #2066
PR# 2312 is created to publish npm packages after execute node-sdk-unit-tests but `$ghprbActualCommit` (to know the list of files changed in PR commits) environment variable is not accessible as we moved to gerrit from github.  I am working on gerrit trigger option to achieve this and will submit patch by today EOD.

[2016-07-28 14:03] 2016Nishi opened #2335 "make: warning: Clock skew detected. Your build may be incomplete"
Issuing - "make node-sdk-unit-tests"  to run asset_management.js tests ran the tests at the end of the run found this "Clock skew detected"
## Messages after completion of test run:

finished asset_management
END running asset-mgmt tests
End running tests in net mode
killing PID 32273 running /opt/gopath/src/github.com/hyperledger/fabric/build/bin/peer ...
killing PID 32262 running /opt/gopath/src

[2016-07-28 14:30] vmorris commented on #1916
@kopnin I don't believe either of those errors are related to OP's issue. My suggestion is to open a new issue with all relevant information.
@christo4ferris can you close this issue please?

[2016-07-28 14:39] alkopnin opened #2336 "Tag latest not found in repository docker.io/hyperledger/fabric-baseimage"
Hi everyone,
I have the issue with latest base image version. I set up docker with installed environment, and inside I run network (3 peers with pbft + CA). When I deployed chaincode via REST I have got an issue:

**Request is:**

var sc_deployConfig = {
       "jsonrpc": "2.0",
        "method": "deploy",
                "params": {
                        "type": 1,
                        "chai

[2016-07-28 14:43] alkopnin commented on #1916
@vmorris Ok, I have opened #2336
Thanks

[2016-07-28 14:50] zamrokk commented on #2336
👍

[2016-07-28 16:28] ghost commented on #2336
What were commands that you used to start peers and CA?
Additionally, you need at least 4 peers to apply PBFT. I believe.

[2016-07-28 16:36] alkopnin commented on #2336
@scorpiovn Thanks for answer.
I use docker-compose up. My config in attachments. In my opinion, it's doesn't matter how much peers, because they can't download baseimage.

[docker-compose.txt](https://github.com/hyperledger/fabric/files/388871/docker-compose.txt)
[peer-template.txt](https://github.com/hyperledger/fabric/files/388873/peer-template.txt)

[2016-07-28 16:46] vmorris commented on #2336
@kopnin You have two different approaches here, with two different problems.

I cannot say why in your first approach the peer container cannot find the base image, but in your second approach, the error is related to your image not finding /bin/sh, which is needed to launch the chaincode container.

[2016-07-28 16:52] alkopnin commented on #2336
@vmorris Let's try to solve the first one. I tried to pull image directly and I have the same issue:
$ docker pull hyperledger/fabric-baseimage
"Tag latest not found in repository docker.io/hyperledger/fabric-baseimage"

[2016-07-28 16:54] alvinajh opened #2337 "Querying a list of transaction"
Hi,

May I ask if there is a way to retrieve all the transactions I have in my blockchain?

For instance, "A" transferred 10 to "B" (first transaction), "B" transferred 10 to "A" (second transaction), so on and so forth.

Thus, is there a way to retrieve the list of transactions and display it?

[2016-07-28 17:00] vmorris commented on #2336
Okay, can you run the `make images` command inside the fabric source directory instead?
After that, what is the output of `docker images | grep fabric` ?

[2016-07-28 17:15] ghost commented on #2336
@kopnin @vmorris
For first problem, on vagrant environment:
1) cd $GOPATH/src/github.com/hyperledger/fabric
2) make or make peer-image

[2016-07-28 17:15] ghaskins commented on #2336
FYI, this is FAD for now.  The system is not yet prepared to be launched purely in a docker flow:  The entire system is predicated on doing a build from source.  The base-image is synthesized from the build as noted here:

https://github.com/hyperledger/fabric/blob/master/scripts/provision/docker.sh#L3

What needs to happen going forward to support a pure docker deployment:

1) The build should pr

[2016-07-28 17:22] ghost commented on #2336
@ghaskins Thank you for your information.

[2016-07-28 17:40] alkopnin commented on #2336
@ghaskins Thanks for response.
Is it mean that at this moment I have only one possibility to setup fabric network: I should install full dependency (e.g RocksDB) directly on the host, build source and run outside of the docker container, isn't it? What about samples with docker-compose, doesn't work?

[2016-07-28 18:01] ghaskins commented on #2336
@kopnin To be clear, what I mean is that you cannot just do "docker pull hyperledger/fabric-peer" et. al. and expect it to work.  Currently, "hyperledger/fabric-peer" would expect to find "hyperledger/fabric-baseimage:latest" in your docker image catalog or things won't work since we (intentionally) do not have baseimage:latest in dockerhub.  You can work around this by ensuring that baseimage:lat

[2016-07-28 18:04] rameshthoomu opened #2338 "lib folder is missing in sdk/node directory after clone fabric repo from gerrit"
## Description

`lib` folder is not copied into sdk/node directory after clone fabric repo from gerrit in result node-sdk-unit-tests are failing.
## Describe How to Reproduce

1. clone repo from gerrit
2. run make node-sdk-unit-tests

Below is the detailed log file:

[code]

[2016-07-28 18:13] ghost commented on #2336
@ghaskins I understand what you said that we should use
https://github.com/hyperledger/fabric/blob/master/scripts/provision/docker.sh#L3
to create hyperledger/fabric-baseimage. Right?

[2016-07-28 18:19] ghaskins commented on #2336
@scorpiovn I would advocate "make images" over running the script directly so that any prerequisites may be processed.  That said, I think that baseimage doesn't have any (at least currently) so running that script alone will likely work, YMMV.

[2016-07-28 18:21] ghost commented on #2336
@ghaskins I got it.

[2016-07-28 18:25] ghost commented on #2325
@rameshthoomu Thanks

[2016-07-28 18:25] #2325 closed, assigned to nobody

[2016-07-28 18:29] ghost commented on #2336
@kopnin
For second problem, you should copy core.yml to chaincode directory:
$ go get -u github.com/kardianos/govendor
$ cd $GOPATH/src/github.com/chaincode_dir
$ govendor init
$govendor add +external
$ govendor fetch github.com/hyperledger/fabric
Then, copy core.yml to $GOPATH/src/github.com/chaincode_dir./vendor/github.com/hyperledger/fabric/peer/

[2016-07-28 18:46] ghost commented on #2332
@huhaiqing
You can take a look at this:
https://github.com/hyperledger/fabric/blob/master/sdk/node/test/unit/registrar.js

[2016-07-28 19:13] alkopnin commented on #2336
@scorpiovn thanks, I can't understand were I have to do it. Let's do it by step:
1) I build images with vagrant: peer, membersrvc, baseimage
2) run docker-compose and start peers and membersrvc
All fine, they works and exchange data.

3) Run nodejs script and connect over rest to peer
4) Send request to run deployment process
5) Recv response to client: success - message have chaincode address
6)

[2016-07-28 19:22] ghost commented on #2336
@kopnin Did you copy core.yml to $GOPATH/src/github.com/YOUR_CHAINCODE_DIR/vendor/github.com/hyperledger/fabric/peer/ ?

[2016-07-28 19:25] ghost commented on #2336
@kopnin Did you install latest version of HFC(sdk/node) ?

[2016-07-28 20:10] rameshthoomu commented on #1820
I ran 3-4 test runs on this scenario and didn't observe any test failures. Seems this is fixed now and we can re-enable this scenario.

[2016-07-28 20:57] alkopnin commented on #2336
Thanks you, @scorpiovn
I don't use HFC, I have begun with node-rest-client just to try simple transactions. Chaincode is chaincode_example02. I provide path to source on github, like in example (github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02). Is it correct? Or I have to build it as you wrote above and thereafter upload to the public repo?

**Upd**: Follow steps where I ha

[2016-07-28 21:04] tribbloid commented on #2336
+1, affect me too. Also REST API returns 200 while it should return 401/5xx.
vein attempt to cover the failure :-<

[2016-07-28 23:38] ghaskins opened #2339 "Node SDK documentation is broken on NPM"
## Description

The links within the documentation on NPM do not work properly.
## Describe How to Reproduce

Go to https://www.npmjs.com/package/hfc#going-deeper and click on some of the links like "Member".  A 404 is returned.

Workarounds: build the doc locally from fabric.git and open with a file:// URL

[2016-07-29 00:19] stylixboom commented on #2316
Well, it's about my docker configuration problem. I found when the containers grown up with in-container storage, the overall transaction performance drop significantly. This is due to the storage is just a loop-device. That's why I try to mount the database to outside the container.

Right now, the storage is overlay, so the problem seems to be solved, and in-container persistent storage seems to

[2016-07-29 02:02] ghost commented on #2336
@kopnin It is not a path to source on github. It is on $GOPATH.
You should copy that source to $GOPATH/src/github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02.

[2016-07-29 05:36] alkopnin commented on #2336
@scorpiovn Ok, thanks a lot! I'll try today, is it path should be on the peer?
If I understand, clients should send chaincode directly to the peers, isn't it? I this case all clients have to know at least one peer with possibility to upload chaincode, isn't it?
Let's imagine real example. I'm a client. I have only an application have written on nodejs/java/.. (doesn't matter). App connects to the

[2016-07-29 08:06] CocoaWang opened #2340 "Is there any method to get a private key from a registar which has been enrolled?"
## Description

Now  I  have a register client to register a new user with[ membersrvc API](https://github.com/hyperledger/fabric/blob/master/docs/API/MemberServicesAPI.md) .I need to get the private key of a enrolled registar.Is there any gRPC api that I can use?

[2016-07-29 10:25] heshansp commented on #2299
Hi @iiiLiQuiDiii , @andresgaragiola
Guys still this issue is not resolved for me. For some reason it seems that `stub.GetCallerCertificate()` does not return the attributes along with the caller certificate hence `attr.GetValueFrom()` or  `stub.ReadCertAttribute()` fails to fetch the attribute I require.

To verify this I printed the certificate returned by `stub.GetCallerCertificate()` method and

[2016-07-29 10:50] #2340 closed, assigned to nobody

[2016-07-29 12:46] ghaskins commented on #2336
@kopnin If you use the SDK, your deployment comes from either a URL or your local filesystem.  It is then packaged up and deployed directly to all of the validating peers.  If you are _not_ using the SDK, it is expected that you have an NVP that is under your control and considered part of your client stack.  IOW, the REST interface to an NVP is meant to be an extension of your client.  So, while

[2016-07-29 13:19] smithbk commented on #2299
When you get a batch of tcerts from the TCA, you must request attributes by name to be in the tcerts.  Are you doing this?

If you are using the node client SDK, which is the recommended way to do this, see fabric/sdk/node/test/unit/asset-mgmt-with-roles.js as an example.  See the assignOwner function below.  It is requesting the 'role' attribute in tcerts.

function assignOwner(user,owner,cb) {

[2016-07-29 14:18] iiiLiQuiDiii commented on #2299
There's also new documentation available about the CLI and REST interfaces
https://github.com/hyperledger/fabric/blob/master/docs/API/AttributesUsage.md

[2016-07-29 16:34] rennman opened #2341 "Update NodeSDK Setup documentation for hfc install"
The installation instructions for 'Hyperledger Fabric Client (HFC) SDK for Node.js' at
[http://hyperledger-fabric.readthedocs.io/en/latest/Setup/NodeSDK-setup/]
need to be updated.

"npm install -g hfc" does not work for a user who does not have write access to /usr/lib, so we need sudo. However sudo alone is insufficient...needs the --unsafe-perm flag:
   sudo npm install -g hfc --unsafe-perm

g+

[2016-07-29 17:22] rennman commented on #2341
Also, from the sample :
// To include the package from npm:
//      var hfc = require('hfc');
var hfc = require('hfc');

This does not work unless NODE_PATH is set:
NODE_PATH="/usr/lib/node_modules/"

[2016-07-29 19:37] jjjjibm opened #2342 "hfc.getChain(<brand new name>, create=yes) fails with ReferenceError: name is not defined"
My program calls hfc.getChain with a new chain name and the create flag.
GetChain calls hfc.newChain() because the chain has not been allocated yet.

The call fails like this:
_setChainFields: calling getChain()    <--- message from my program_

The rest is from node.js:
/_opt/gopath/src/github.com/hyperledger/fabric/sdk/node/lib/hfc.js:2194
        chain = newChain(name);

[2016-07-29 20:01] alkopnin commented on #2336
@ghaskins Thanks you, Gregory. It's very helpful.

[2016-07-29 20:01] #2336 closed, assigned to nobody

[2016-07-29 22:12] dongmingh opened #2343 "panic: Our blockchain is already higher than a sync target, this is unlikely, but unimplemented"
## Description

On LPAR Z system 4-peer pbft-batch, security and privacy enabled
execute ART chaincode with about 1K payload, peer 3 crashes with the message:

panic: Our blockchain is already higher than a sync target, this is unlikely, but unimplemented

goroutine 45 [running]:
panic(0x2aa356b7280, 0xc826264ec0)
        /opt/hyperledger/go/src/runtime/panic.go:481 +0x400
github.com/hyperledger/f

[2016-07-29 22:14] gbolo opened #2344 "Update docker go-client to support docker remote API 1.24"
Currently, with docker 1.12, creating chaincode fails like:

[code]

In order to support docker api 1.24, the vendor library for docker go client needs to be updated (the original already has) to ignore hostConfig when starting container:

https://github.com/fsouza/go-dockerclient/commit/67c30ae246a11510ed1c3b72145e2daf76e4d664#diff-4042076be99ff99c0353b4d447624156

[code]

Already tested a workin

[2016-07-29 22:29] tuand27613 commented on #2343
post logs for all peers. Thanks !

[2016-07-30 16:40] gbolo commented on #2344
I can confirm that patch #2323 fixes this issue. Lets get that patch merged and close this issue.

[2016-07-30 16:43] rameshthoomu opened #2345 "panic: Test network took more than 60 seconds to resolve requests, this usually indicates a hang"
## Description

Observed panic error in one of the jenkins build while running unit-tests. Not always reproducing..

[code]
## Describe How to Reproduce

Jenkins build reference:
https://jenkins.hyperledger.org/view/fabric/job/fabric-verify-x86_64/74/consoleFull

[2016-07-30 22:59] smithbk commented on #1864
I agree with you Barry.  From my perspective, the only advantage of a BDD tool is that it allows a business person to more easily read and write tests, which I think seldom happens in practice.

[2016-07-30 23:14] smithbk commented on #1775
@mgamanho Yes, we could enhance the REST API to require signatures/etc in order to make it secure.  I assume this is what you're asking.  However, we've been focusing on building a node client SDK and chose to use GRPC because it is more efficient.  We hope other language SDKs will follow soon (e.g. java).  So if you use a client SDK which uses GRPC under the covers, then it should be easier to us

[2016-07-31 00:41] zmanian commented on #1775
REST API calls seem to escape both the T-Cert mechanism for rate limiting transactions and limit the effectiveness of the client registration by turning usernames into a security token. I suspect any solution should address both issues.

[2016-07-31 07:41] heshansp commented on #2299
Guys,
It worked like a charm. Thanks a lot for the help !!

Cheers!

[2016-07-31 07:41] #2299 closed, assigned to nobody

[2016-07-31 22:45] rameshthoomu opened #2346 "peer_basic.Network of Peers.chaincode example02 with 4 peers and 1 membersrvc, test crash fault -- @1.1 Consensus Options - failed with timeout issue"
## Description

behave test case (peer_basic.Network of Peers.chaincode example02 with 4 peers and 1 membersrvc, test crash fault -- @1.1 Consensus Options) failed while waiting invoke transaction to be committed to all peers. Observed below is the root cause for the above failure:

Build Failing step: Then I wait up to **"60"** seconds for transaction to be committed to peers ... failed in **60.2

[2016-08-01 04:12] wdawson4 commented on #1381
@yeasy see #873 for a potential solution to deploying from a private repository

[2016-08-01 16:18] joshhus opened #2347 "Gerrit requires new ReadTheDocs build process"
## Description

GitHub build process now legacy. Need new Gerrit build process for Read The Docs
## Describe How to Reproduce

Obsolete message: https://github.com/hyperledger/fabric
Obsolete build: http://hyperledger-fabric.readthedocs.io/en/latest/
New target output: http://gerritlib.readthedocs.io/en/latest/

[2016-08-01 16:31] joshhus commented on #2347
@rameshthoomu fyi ...

[2016-08-01 16:35] rameshthoomu commented on #2347
@joshhus : looking into this..Will give you an update soon..

[2016-08-01 16:50] srderson commented on #2344
The patch has been merged. See https://gerrit.hyperledger.org/r/#/c/355/

[2016-08-01 18:03] ajpauwels commented on #1630
@bravera This maintains a single record per chaincode that is actively updated. This information persists as long as the peer's RocksDB database isn't cleared out.

The record cannot be reconstructed by replaying transactions since failed transactions are not stored on the blockchain.

Not sure exactly what you mean by last sentence. Do you mind clarifying?

[2016-08-01 18:33] jimthematrix opened #2348 "ACA service console log should reflect its enablement"
## Description

The membersrvc console log outputs the following statements of the ACA service regardless of whether it's enabled or not (as per aca.enabled settings):

INFO: 2016/08/01 18:32:11 Staring ACA services...
INFO: 2016/08/01 18:32:11 ACA PUBLIC gRPC API server started
INFO: 2016/08/01 18:32:11 ACA services started

should print a different message if the service is not enabled to avoid

[2016-08-01 18:34] mastersingh24 opened #2349 "Include meaningful default set of TLS 1.2 ciphers with the Node SDK"
## Description

The NodeJS GRPC library includes a hard-coded set of ciphers for use with TLS communication.  Unfortunately, this list _does not_ include any ciphers for EC certificates (only for RSA).

The HFC attempts to mitigate this by including a method `chain.prototype.setECDSAModeForGRPC` which then overrides this and hard-codes the cipher suite to `HIGH+ECDSA`.

While this more or less wor

[2016-08-01 19:32] mgamanho commented on #1775
Hi, the client language is javascript. I've actually changed the code to do what I needed in the meantime, i.e.: return a signature. IMO gRPC might limit adoption somewhat.

Another issue I saw was, as @zmanian points out, that T-Certs are not quite well integrated with REST, essentially unusable as nothing ties one call to another in the same trans., so that would need looking at, probably first

[2016-08-01 21:09] andresgaragiola commented on #2348
@srderson can you assign me this issue?

[2016-08-01 21:17] srderson commented on #2348
@andresgaragiola I lost the ability to assign/close issues with the move to Gerrit. Maybe @christo4ferris still has this power, but he is on vacation until next week.

[2016-08-01 21:20] JonathanLevi commented on #2348
@andresgaragiola, same here.

But it's totally fine to just submit a Gerrit patch, referring to this issue.

[2016-08-01 21:40] dongmingh commented on #2343
All logs are handled over to @tuand27613 this afternoon.

[2016-08-01 22:10] tuand27613 commented on #2346
The test in question stops and restarts peers vp1/vp2.
The peers come back up with different IP addresses while the peer code tries to re-establish connections using the old IP addresses ( as it should , imho ).

The behave test runs fine in my vagrant with docker v1.11.2

[2016-08-02 02:38] byteschain opened #2350 "RegisterClient interface to achieve what function"
func RegisterClient(name string, pwd []byte, enrollID, enrollPWD string) error {..}

[2016-08-02 02:44] byteschain commented on #2350
The main difference between RegisterClient and RegisterPeer is as well as their role is

[2016-08-02 03:29] rameshthoomu commented on #2346
Interesting..  Docker version in Jenkins build machine is 1.8.2

[code]

[2016-08-02 05:26] brad-gorman commented on #2119
I've got this changeset in Gerrit now: https://gerrit.hyperledger.org/r/#/c/365/

Jenkins fails due to outside things like hyperledger/chaintool and hyperledger/fabric-test-resources which have not been updated yet.

[2016-08-02 17:08] JonathanLevi commented on #2348
@andresgaragiola that was fast!

@jimthematrix Andres' changes are merged to master. Please can you confirm that this is resolved and we'll close?

[2016-08-02 17:23] 2016Nishi opened #2351 "getNextTCert API in member class in Node SDK fetched tcert even when we pass a non-exiting attibute"
Passed in a non-existing attribute for user alice to getNextTCert by calling
    alice.getNextTCert(['fail'],function(err, tcert) in the test.
## Expected Result:

Test to fail since 'fail' is not an attribute defined for alice in membersrvc.yaml
## Actual Result:

Test passed and generated a TCert.

commit 346f9fb448140e931fed73b46f528de6dacbc0d0

[2016-08-02 17:34] JonathanLevi commented on #2351
Thank you @2016Nishi.

What's the relation to commit [346f9fb](https://github.com/hyperledger/fabric/commit/346f9fb448140e931fed73b46f528de6dacbc0d0) ?

[2016-08-02 17:52] 2016Nishi commented on #2351
That was the commit on fabric source used in testing.

[2016-08-02 19:53] angrbrd commented on #1711
Hi @dshuffma-ibm

I've looked at this issue with Sid and I am a bit confused regarding your very first comment on this issue. You're saying that you receive the transaction object back from the peer. Can you please clarify which interface you're using to receive that back? I assume you're referring to the REST interface?

Currently, the way the SDK works, is by sending the processTransaction rpc t

[2016-08-02 21:13] 2016Nishi opened #2352 "getAffiliation API in member class in Node SDK fails to fetch affiliation of a user"
Call alice.getAffiliation() in my test to verify getAffiliation for user alice failed.
## Expected Result:

getAffiliation to return 'bank_a' for user alice as in membersrvc.yaml
## Actual Result:

Test failed returned [undefined]

commit level on fabric source code: 346f9fb448140e931fed73b46f528de6dacbc0d0

[2016-08-02 21:21] 2016Nishi opened #2353 "getRoles API in member class in Node SDK fails to fetch getRoles of a user"
Call alice.getRoles() in my test to verify roles for user alice retrieved successfully from membersrv.yaml failed.

Expected Result:

attributes as defined in membersrvc.yaml
"attribute-entry-7: alice;bank_a;role;client;2016-01-01T00:00:00-03:00;;
 attribute-entry-8: alice;bank_a;account;12345-56789;2016-01-01T00:00:00-03:00;;"

getRoles to return attribute keys: 'role' and 'account' for user alic

[2016-08-02 21:49] dshuffma-ibm commented on #1711
So the JSON blob I posted first is not something I dreamed up. This is the current state of a REST call to `GET /chain/blocks/:blockID`. (json copied below)

[code]

Back to my original point:
_"If you decode the payload field you will see a string which contains the chaincode ID with the cc function name and its arguments all appended together. "_

Perhaps the HFC (aka new SDK) does not have a si

[2016-08-03 00:32] smithbk commented on #1711
One the event stuff is done by LSEG, the deploy and invoke transactions should include the payload and results in the complete event.  We could also return the call params with the "submitted" event callback.
But I'm not sure the exact use case in terms of when you want to display this and what exactly you want to display.  Are you wanting to see history info for a particular chaincode, user, or o

[2016-08-03 04:39] EvanCarroll opened #2354 "Fork off the hyplerledger-client tree"
It would certainly ease packing with NPM and also doc references if this tree was relocated to it's own repository. I could easily rewrite the tree into another repo if you want to do it. Then it could be installed with npm, and referenced on the [official index.](https://www.npmjs.com/package/hfc)

https://github.com/hyperledger/fabric/tree/master/sdk/node

[2016-08-03 06:07] bluecloudmatrix commented on #2098
I think you should remove the added arguments in options.go:328

[2016-08-03 07:43] hanhzf commented on #2211
have met exactly the same problem

[2016-08-03 13:32] dshuffma-ibm commented on #1711
Ok so here is my use case:
_I'm new to Hyperledger. I've deployed some chaincode and invoked and queried. Now I want to inspect the ledger. I'm exploring and want to make the connection between what my app is doing and what gets stored in the ledger. Therefore it would be helpful to see the details of the transactions such as the chaincode hash, function name and its arguments._

Could be thought

[2016-08-03 14:07] iiiLiQuiDiii opened #2355 "Access control for chaincode deployment?"
## Description

Is there a way to limit who can deploy chaincode to the network? In my scenario any client can submit a smart contract and I'd like more control over that aspect.

[2016-08-03 15:07] angrbrd commented on #1711
Hi @dshuffma-ibm,

I do think you have a valid use case. I am not arguing that point. I was trying to confirm where you're seeing this transaction payload at and you have confirmed that you were seeing this through the REST interface. This brings me to the conclusion that this is a two fold issue:

(1) It does not work on the REST interface.
and
(2) Functionality (API) that would return this infor

[2016-08-03 15:50] muralisrini commented on #2355
@iiiLiQuiDiii currently there is no ACL support for chaincode lifecycle. Its on the roadmap.

[2016-08-03 17:45] joshhus commented on #2347
GitHub will not be rebuilt moving fwd, correct? We'll have to build our ReadTheDocs output directly from Gerrit moving forward, is that definitivie yet. ... (Gerrit is not supported by the RTD process that we used for GitHub. We'd need a new process to go from Gerrit .md to RTD/HTML display.) @christo4ferris @ibmmark @nickgaski @rameshthoomu

[2016-08-03 17:55] dshuffma-ibm commented on #1711
Sounds great.  I realize you guys are abandoning the REST interface :( so I wasn't expecting anyone to edit/update that.

[2016-08-03 19:19] scottz64 opened #2357 "no response to http from Peer0 after deploy and invoke, when peers 1 and 2 are docker paused"
## Description

Testcase hangs; go sdk code gets no response from http step during processing of invoke after sending a Deploy; no response received. This only happens when I have executed "docker pause" on two peers (leaving only 2 running, so not enough for consensus). With just one paused, there is no problem. When using Stop/Restart instead of Pause/Unpause, there is no problem. Attaching test

[2016-08-03 21:05] jjjjibm opened #2358 "sdk/node Peer constructor url description is incomplete"
## Description

The constructor description for the peer object has a couple problems:
1.config --> did you mean 'configuration'?
2.Parameter 'url' is described as 'the url of'.   The url of what?  Not very helpful!

Here is an excerpt from the generated documentation

_constructor
new Peer(url: string, chain: Chain, pem: string): Peer

Defined in src/hfc.ts:2042

Constructor for a peer given the

[2016-08-04 01:11] ghaskins commented on #2347
Someone posted this recently: http://docs.openstack.org/infra/manual/developers.html

An interesting attribute of that system is that Gerrit is not the end-all-be-all repository, but rather it is the gateway to the repository which is hosted outside of gerrit.  I am wondering if perhaps we want to adopt something similar: for instance, the output of the gerrit/jenkins process could be a push to gi

[2016-08-04 02:27] zuowang opened #2359 "Identity or token does not match when relogin"
## Description

Identity or token does not match when relogin.
## Describe How to Reproduce

1.login bob

curl -X POST --header "Content-Type: application/x-www-form-urlencoded" --header "Accept: application/json" -d '
{ "enrollId": "bob", "enrollSecret": "NOE63pEQbL25" }
' "http://localhost:7050/registrar"
{"OK":"Login successful for user 'bob'."}

2.logout bob

curl -X DELETE --header 'Accept: a

[2016-08-04 08:57] hanhzf opened #2361 "Failed to deploy chaincode when security is enabled"
## Description

### I start fabric with:
- pbft consensus with 4 nodes
- security enabled

  docker run -it --net=host --name vp0 \
    -e CORE_PEER_ID=vp0 \
    -e CORE_PBFT_GENERAL_N=4 \
    -e CORE_VM_ENDPOINT=http://172.17.0.1:2375 \
    -e CORE_LOGGING_LEVEL=INFO\
    -e CORE_PEER_ADDRESSAUTODETECT=true \
    -e CORE_PEER_VALIDATOR_CONSENSUS_PLUGIN=pbft \
    -e CORE_PBFT_GENERAL_MODE=batch \

[2016-08-04 13:39] andresgaragiola commented on #2361
Hello @hanhzf it sounds as if you have enabled security in peers but not in the client. Can you try this in your client console?:

`$ export CORE_SECURITY_ENABLED=true CORE_SECURITY_PRIVACY=true`
`$ ./peer network login admin`

And then:
`$ peer chaincode deploy -u admin -p github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02 -c '{"Function":"init", "Args": ["a","100", "b", "200

[2016-08-04 13:50] scottz64 commented on #2357
I also reproduced the stuck condition with another testcase, where we paused VP2 and VP1 separately, then send 100 Invoke requests. (Without any new deployment request when only two nodes running, as in previous testcase.) This time, after sending about 20 Invokes to VP0, it got stuck when PostChainAPI() call http.Client.Do

CAT_16_S2_IQ_S1_IQ_R1_IQ.go
- Stop VP2, and sleep 15 secs
- Send 11 Invok

[2016-08-04 20:16] rameshthoomu commented on #2347
Generated mkdocs documentation for few pages using ReadTheDocs theme. Below are the steps followed:

[code]

Reference document.
![capture](https://cloud.githubusercontent.com/assets/17034502/17416783/d9d50448-5a5d-11e6-9f93-8f0c8c68e291.PNG)

Observed couple of issues:
1. Scroll bar is not appearing
2. Unable to setup a page for each folder like in http://hyperledger-fabric.readthedocs.io/en/late

[2016-08-05 03:16] cophey opened #2362 "Error building images: cannot normalise nothing"
Building outside of Vagrant
My system is ubuntu.
I install go、docker、behave、rocksdb;
I pull docker-images：
- busybox:latest
- hyperledger/fabric-baseimage:x86_64-0.0.10
- hyperledger/fabric-membersrvc
- hyperledger/fabric-peer
- yeasy/hyperledger-peer:latest
    (can not find hyperledger/hyperledger-peer?)

when i run a chaincode in running-mode,Peer logs as this:

[2016-08-05 03:45] hanhzf commented on #2361
@andresgaragiola, yes it works, thank you. And I see this part of doc has been added to Network-setup.md but was commented for the time being: "This needs to be sorted out with a revamped security section". Thus I missed it

[2016-08-05 06:07] JonathanLevi opened #2363 "Add a (set of) Behave test(s) covering GetTransactionCert()"
## Description

Currently `fabric/core/rest` exposes a REST API that can be used by the ClientSDK and other  users (e.g., reference implementations that rely on this exposed API).

While there is the ongoing effort to extend the gRPC APIs of various components (e.g., `membersrvc'), from a time to time we experience issues by callee, that are not so easy to reproduce (both for debugging and develop

[2016-08-05 06:45] JonathanLevi commented on #2363
@GrapeBaBa

[2016-08-05 08:22] iiiLiQuiDiii commented on #2355
Thank you for the info.

[2016-08-05 08:22] #2355 closed, assigned to nobody

[2016-08-05 08:43] mintzhao opened #2364 "Unix code style"
## Description

I'm looking the code, and I found there are some codes which depend on Unix/Linux, not support Windows, such as file path.
## Describe How to Reproduce

IE: package core/db

[code]

Why not using:

[code]

Is windows available?

[2016-08-05 10:04] xiejunan opened #2365 "start container with HostConfig was deprecated since v1.10 and removed in v1.12"
I can not deploy chaincode to docker v1.12 successfully because HostConfig being passed to client.StartContainer. I see Baohua's comment but i suggest pass a nil to StartContainer because HostConfig has   been passed to  vm.createContainer already.
ref: core/container/dockercontroller/dockercontroller.go

[2016-08-05 11:34] kamraanki opened #2366 "How to configure ledger for Hyperledger fabric ?"
## Description

## Describe How to Reproduce

Run CA Server and peer as test network. Deploy any of IBM demo cp-web or marbles. It gives following error

{ name: 'query() resp error',
  code: 400,
  details:
   { code: -32003,
     message: 'Query failure',
     data: 'Error when querying chaincode: Error:Failed to launch chaincode spec(Could not get deployment transaction for bc25e42864477feeeedb

[2016-08-05 15:23] yeasy commented on #2365
OK, will fix that.

[2016-08-05 19:09] 2016Nishi opened #2367 "getAccount API in member class in Node SDK returns 'undefined' for an enrolled user"
Call alice.getAccount() in my test to verify value is returned for user alice successfully from membersrv.yaml, failed.

Expected Result:

getAccount() to return 'account' for user alice as in membersrvc.yaml

Actual Result:

Test failed returned [undefined]

commit level on fabric source code: 346f9fb

[2016-08-05 19:24] JonathanLevi commented on #2367
Hi @2016Nishi, I checked quickly whether this is related to the removal of Accounts (to use the more dynamic attributes) in #2216.
﻿
As the Account(s) were removed from the `membersrvc.yaml` file commit [﻿﻿﻿60033d0](https://github.com/diegomasini/hyperledger-fabric/commit/60033d069dedb74aaefeb7d4b154d32848d1f7fd#diff-ac1ea16993f7ac440990555df3f8928f)... you probably cannot getAccount as it's an at

[2016-08-05 19:26] JonathanLevi commented on #2365
@2016Nishi, FYI

[2016-08-05 19:32] JonathanLevi commented on #2329
@CocoaWang, @andresgaragiola: great. Can we close this issue (if all is well...) ?

[2016-08-05 19:32] 2016Nishi commented on #2367
Hi Jonathan,

I was able to call a setter followed by a getter, following test case passed.
Here is code from my test case:

[code]

Thanks!

[2016-08-05 19:37] JonathanLevi commented on #2367
Oh, fantastic!

I'd still like to add a few lines to document this. Probably once we get the Gerrit -> markdown path going.

[2016-08-05 19:40] JonathanLevi commented on #2351
- assign @JonathanLevi

[I'll take a look ;-)]

[2016-08-05 19:44] JonathanLevi commented on #2348
@jimthematrix The log correctly reflected that the ACA started. @andresgaragiola's fix was to actually not start the ACA when it was not needed. I think we can safely close this issue.

[2016-08-05 21:33] rameshthoomu commented on #2346
Not observed this issue after merge below patch set in gerrit
https://gerrit.hyperledger.org/r/#/c/371/ --

Will reopen or create a new issue if we observe this issue again.. Closing now.

[2016-08-05 21:33] #2346 closed, assigned to nobody

[2016-08-05 23:42] yuki-kon opened #2368 "Add hybrid cryptosystem mode to confidential transaction execution"
## Description

Currently fabric uses Public-key cryptosystems to encrypt and decrypt transaction data (chaincode ID, payload, metadata).
Whenever each transaction is executed with confidential mode, 4 step process is done.
1. public key(P1) and private key(P2) are created.
2. Transaction data is encrypt with public key(P1), besides private key(P2) is encrypt with public key(P3) of chain key and t

[2016-08-06 01:26] rameshthoomu commented on #2347
I have followed above build process in jenkins and pushed html documents to Soft layer Machine ( For Testing). Below is the url for reference. Fixed all the above issues..

 http://169.53.62.117/site/index.html

We need storage location to store these documents and domain name has to set for the new link.

[2016-08-06 02:12] yeasy commented on #2344
Since the patch is merged, let's close this issue.
@srderson

[2016-08-06 14:10] mastersingh24 commented on #2359
@zuowang  - see my comment here:   https://jira.hyperledger.org/browse/FAB-2

[2016-08-06 16:37] ghost opened #2370 "Using a timer inside a chaincode"
## Description

Is it possible if we create a timer on a chaincode and it will invoke the chaincode after every timer's interval?

[2016-08-07 10:52] heshansp opened #2371 "Receive customized Chaincode Events"
## Description

Hi All,
I am trying to receive chaincode custom defined events on a listener I created. I have defined the custom events on the chaincode using `stub.SetEvent`.

To receive the events I have created an adapter that listens to `0.0.0.0:31315`. The adapter has the following `GetInterestedEvents()` function to interface for registering interested events.

[code]

The received events a

[2016-08-08 01:54] #2362 closed, assigned to nobody

[2016-08-08 02:03] cophey commented on #2365
marked.The same error.

[2016-08-08 05:29] CocoaWang commented on #2329
@JonathanLevi  Sure.Eeverything is ok.

[2016-08-08 05:29] #2329 closed, assigned to nobody

[2016-08-08 11:03] CocoaWang commented on #2359
Password  will change after your login.

[2016-08-08 14:08] muralisrini commented on #2370
@scorpiovn : the chaincode should not initiate transactions. The application stack should be organized in such a way as to make the chaincode just manages ledger states. Things like timers, accessing external data etc increase the probability of non-determinism in the chaincode.

[2016-08-08 15:33] CocoaWang opened #2372 "Is the source code of TransactionProcessor in the project?"
## Description

I want to check the source code of transaction process in TransactionProcessor.But I searched the whole project and found nothing but  two files  helper.a and peer.a.
## Describe How to Reproduce

[2016-08-08 15:37] CocoaWang commented on #2372
type TransactionProccesor interface {
    ProcessTransactionMsg(*pb.Message, *pb.Transaction) *pb.Response
}
I track the process of invoking a transaction.Finally,I meet this method processTransactionMsg.Can  any one tell me where I can find it?

[2016-08-08 15:40] JonathanLevi commented on #2372
Hi @CocoaWang, please can you take a look at `/fabric/consensus/helper/engine.go`... and let me know if that's what you were/are after?

[2016-08-08 16:07] CocoaWang commented on #2372
@JonathanLevi  That is exactly what I am looking for!I am wondering why I can't find it.So stupid...
Well，thank you!

[2016-08-08 16:07] #2372 closed, assigned to nobody

[2016-08-08 17:28] bmos299 opened #2373 "Node SDK Needs to Provide More Information When Incurring a Chain.Enroll Error"
@ratnakar-asara and I are creating a program using the node sdk.   The **chain.enroll(** failed because we did not have the boolean:

[code]

Set to true.  Thus, I assume it was using RSA? Not sure.  In either way, the debug/logging messages provides no detail on why we were failing.  Luckily, @rennman  had already hit this issue and suggested we add **chain.setECDSAModeForGRPC(true)** to our sour

[2016-08-08 22:29] rameshthoomu opened #2374 "Behave tests are failing after merge the commit# `ead0af7 `"
## Description

Following behave tests are failing in Jenkins build after merge commit# ead0af7 in master repo.

[code]

error log:

[code]

Jenkins Build reference log files:

https://jenkins.hyperledger.org/view/fabric/job/fabric-merge-x86_64/12/
https://jenkins.hyperledger.org/view/fabric/job/fabric-merge-x86_64/13/
https://jenkins.hyperledger.org/view/fabric/job/fabric-merge-x86_64/14/
## Desc

[2016-08-09 02:29] rameshthoomu commented on #2374
@jeffgarratt @tuand27613 : Could you please check this?

[2016-08-09 07:58] juliancarrivick-ibm commented on #2268
Figured this out, it seems that docker-compose was doing its own substitution before the command got to the container. Hence the seemingly inconsistent values.

Changing `go install github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02 && $GOPATH/bin/chaincode_example02` to `go install github.com/hyperledger/fabric/examples/chaincode/go/chaincode_example02 && $$GOPATH/bin/chainco

[2016-08-09 07:58] #2268 closed, assigned to nobody

[2016-08-09 07:59] juliancarrivick-ibm commented on #2170
This has been completed in Gerrit now.

[2016-08-09 07:59] #2170 closed, assigned to nobody

[2016-08-09 14:00] nickgaski commented on #2347
@hyperledger/fabric-maintainers @cbf

This new process that Ramesh has set up provides a remedy for all the known issues - i.e. works with Gerrit and no search headaches.  We just need to clarify what we want the **new domain name** to be.  It's currently running the Jenkins build on a Soft Layer machine...  I think we can leave it there unless there are objections.

[2016-08-09 14:11] cbf commented on #2347
i have no idea why i get these emails!

On 09/08/16 15:00, Nick Gaski wrote:

[2016-08-09 14:18] nickgaski commented on #2347
Sorry @cbf , I was looking for @christo4ferris !!!

[2016-08-09 14:37] dongmingh opened #2375 "Error:Failed to execute transaction or query"
## Description

commit level: master branch from Gerrit
commit f1b6762f569852f1fa75bd9a280507c3178fbe6d

issue:
4-peer network with PBFT-batch, security and privacy enabled
chaincode: example02
transactions generated from SoapUI to query the same key, say a, repeatedly
with 1 thread only, no error message
with multi-threads, say 100, see the following message frequently:

14:16:17.153 [rest] proce

[2016-08-09 14:39] dongmingh commented on #2375
http://gerrit.hyperledger.org/r/313 makes TXIDs no longer unique
but one side effect of this is concurrent queries will fail

[2016-08-09 14:51] rameshthoomu commented on #2347
@nickgaski @christo4ferris : Below is the summary of mkdocs build process:
Building project documentation using [mkdocs](http://www.mkdocs.org/) and built-in [readthedocs](http://www.mkdocs.org/user-guide/styling-your-docs/#readthedocs) themes. Below is the process following so far.. (no more readthedocs)

Execute `mkdocs build --clean` command from the Jenkins test machine (not LF Jenkins) after

[2016-08-09 15:04] rameshthoomu commented on #2338
node sdk tests are still failing even after merge gerrit patch set
https://gerrit.hyperledger.org/r/#/c/453/

Log file:
[node-sdk-unit-test fails.txt](https://github.com/hyperledger/fabric/files/409215/node-sdk-unit-test.fails.txt)

[code]

@smithbk @angrbrd

[2016-08-09 15:07] rameshthoomu commented on #2330
npm hfc package version in fabric/sdk/node/package.json is having 0.0.2 and npm hfc repo is having 0.6.0. @smithbk @angrbrd

[2016-08-09 16:35] ghost commented on #2370
@muralisrini Thanks

[2016-08-09 16:45] christo4ferris commented on #2347
I think that the LF can host on the server (or cloud) that hosts hyperledger.org. Ry?
 
Cheers,Christopher FerrisIBM Distinguished Engineer, CTO Open TechnologyIBM Cloud, Open Technologiesemail: chrisfer@us.ibm.comtwitter: @christo4ferrisblog: https://developer.ibm.com/opentech/author/chrisfer/phone: +1 508 667 0402
 
 
----- Original message -----From: Ramesh Babu notifications@github.comTo: hype

[2016-08-09 16:50] christo4ferris commented on #2347
I would need to talk to Core IT at LF to see how we handle that. I'm sure
something can be worked out.

On Tue, Aug 9, 2016 at 9:45 AM, Christopher B Ferris chrisfer@us.ibm.com
wrote:

[2016-08-09 17:08] ghost commented on #2375
You should deploy chaincode with security and privacy.

[2016-08-09 22:00] scottz64 opened #2376 "transactions processed more than once, after stop and start peers 2,1,0,2,1,0 sequentially in decreasing order twice"
## Description

(Longterm, this needs to be addressed. Just like several other issues opened in v0.5 since July, I understand it may not be fixed until later this year once consensus v2.0 is developed - at which point it may be resolved on a different branch.)
Th problem occurs in master image 346f9fb, as well as v0.5 image 3e0e80a.
Sometimes transactions are processed more than once, after stoppi

[2016-08-09 22:11] ratnakar-asara opened #2377 "Chaincode that was deployed using NodeSDK Becomes Unusable"
## Description

Chaincode that was deployed using NodeSDK becomes unusable.  This occurs after you deploy/invoke/query the chaincode with the Node SDK.  The next step is the user takes the chaincode id and does a query using the REST API with a different enrolled user.  The query fails using the REST API.  If you then go back to the Node SDK using this chaincode ID, it fails doing invokes and quer

[2016-08-10 01:18] juliancarrivick-ibm commented on #2374
@rameshthoomu I wrote these tests. For these tests the Chaincode is deployed manually and I suspect the containers aren't ready in time. I'm working on a more robust method of starting the containers which will fail fast and give a better logging of the container state: https://gerrit.hyperledger.org/r/#/c/421/.
I hope this helps.

[2016-08-10 02:07] smithbk commented on #2373
I have a fix for this in my workspace but have not been able to complete coding/testing.  It is coming.

[2016-08-10 03:13] smithbk commented on #2285
@huhaiqing Any update on this one?  Is it still an issue?  If so, please provide details on how to reproduce.  Thanks

[2016-08-10 03:16] smithbk commented on #2272
@christo4ferris This is fixed I believe and can be closed.

[2016-08-10 03:28] rameshthoomu commented on #2374
@juliancarrivick-ibm thanks for the fix. Will re-verify once this patch set is merged in master.

[2016-08-10 03:31] rameshthoomu commented on #2375
@scorpiovn : security and privacy enabled on peers. Seems this is a new issue after merge http://gerrit.hyperledger.org/r/313 patchset. @muralisrini do you have any inputs on this?

[2016-08-10 12:50] bmos299 commented on #2373
Thanks @smithbk .

[2016-08-10 13:24] 2016Nishi opened #2378 "Documentation: Node SDK TLS setup missing instructions for devmode"
1. Followed instructions on
   https://github.com/hyperledger/fabric/blob/master/docs/Setup/NodeSDK-setup.md
   to setup TLS in devmode.

Found that CA server and client was communicating in TLS mode after following instructions.
But when I started peer in dev mode after that it started displaying 'TLS disabled'.
1. So had to edit core.yaml under section:
   # TLS Settings for p2p communications

[2016-08-10 18:18] bmos299 commented on #2176
@zhoyy007 agreed. I am chatting with @rennman and we just had the same thought.  For testing, we need more granular controls.  Also, some customers may also want more granular control on prioritizing peers used to access the fabric.

[2016-08-10 18:27] JonathanLevi commented on #1293
Closing this and will track as part of https://jira.hyperledger.org/projects/FAB.

[2016-08-10 18:27] #1293 closed, assigned to nobody

[2016-08-10 18:52] JonathanLevi commented on #2363
Closed via https://gerrit.hyperledger.org/r/#/c/425. Thank you @GrapeBaBa.

[2016-08-10 18:52] #2363 closed, assigned to nobody

[2016-08-10 20:19] angrbrd commented on #1757
Hi @jjjjibm and @masterDev1985

I know that both of you have hit this issue at some point. I am wondering if you are still facing the issue? Or has it resolved on the current version of the HFC package? Please let me know. Thanks!

[2016-08-10 20:25] angrbrd commented on #1735
Hi @huhaiqing

I am wondering if you are looking for an equivalent feature in the SDK like what we currently have in the REST API? Something that would return to the client a transaction object by its UUID (see below)?

https://github.com/hyperledger/fabric/blob/master/docs/API/CoreAPI.md#transactions

Could you please clarify what exactly you're looking for? Thanks!

[2016-08-10 20:35] angrbrd commented on #1697
Hi @huhaiqing

I am trying to understand the difference between what you're asking for here and in issue #1735.

It seems to me, that you're looking to retrieve a list of transactions in each block as we currently do in the REST API (see below). Could you please clarify what you're looking for? Thanks!

https://github.com/hyperledger/fabric/blob/master/docs/API/CoreAPI.md#block

[2016-08-10 20:41] bcbrock opened #2379 "busywork: Performance timer overflows"
## Description

 Sam Ding reported an issue showing that on longs runs, the busywork timer would overflow, and busywork would report negative throughput. This makes sense because the current timer is a microsecond timer, which will overflow (at 32 bits) after a couple thousand seconds. The timing methodology needs to be improved.

[2016-08-10 20:51] angrbrd commented on #1581
I am wondering if this issue should be closed? As the current SDK implementation does filter out unnecessary and large files, such as executables, during the deploy process? If we are keeping this issue open for some specific reason, please let me know. Thanks!

[2016-08-10 21:01] angrbrd commented on #1381
@yeasy @christo4ferris

Currently, we are able to deploy from a public URL through the REST API only. The SDK does not have a feature of deploying from a public URL. The SDK only deploys from a local chaincode directory on the client machine by packaging the chaincode .tar.gz for Docker and sending that in the transaction payload.

Are we looking to add a functionality to deploy from a public URL

[2016-08-10 21:09] angrbrd commented on #1276
It's not clear to me if this is something that still needs to be addressed? And if we have agreed on the way this needs to be addressed? Please let me know. Thanks!

[2016-08-10 21:13] angrbrd commented on #1208
@elli-androulaki @adecaro @th-ei

Has this been addressed already? Please advise. Thanks.

[2016-08-10 21:16] angrbrd commented on #1206
@christo4ferris I am not sure if this issue is necessary. Are we accepting any new client implementations as part of the Fabric project?

We (fabric team) are working on and supporting the Node.js sdk, but that is the only one at this time. If there are other independent implementations of client packages out there, could they just propose a code submission independently?

[2016-08-10 21:19] angrbrd commented on #1183
@srderson can this issue be closed? Has this either been addressed or transitioned over to Gerrit? Please let me know. Thanks!

[2016-08-10 22:12] masterDev1985 commented on #1757
So all of my issues with using the SDK on Windows were related to getting the `npm install hfc` command to run successfully.  All of those issues were resolved in `hfc@0.5.0`, which bumps up the `grpc` module's version.  `grpc@1.0.0-pre1` builds way easier than `grpc@0.13.2-pre2` on windows.  I'm not sure how well it works with `node@0.12.*`, which is what the vagrant environment uses.

[2016-08-11 01:24] heshansp commented on #2371
Hi Guys,
Anyone who can help me with this?

[2016-08-11 06:20] mingjinc opened #2380 "Occur error while running asset management 02 project"
## Description

I start memberservice and one vp.
memberservice configure is reference the asset.xml in the asset management 02 sample project as below
alice: 1 CMS10pEQlB16 bank_a 00001
bob: 1 NOE63pEQbL25 bank_a 00002
admin: 1 Tc43PeqBl11 bank_a 00003

aca:
          # Attributes is a list of the valid attributes to each user, attribute certificate authority is emulated temporarily using this fi

[2016-08-11 11:07] alkopnin commented on #1733
Hi,
@CocoaWang @gq4fabric I was under the proxy. To solve this issue I wrote following code into the vagrant file.

...
cd #{SRCMOUNT}/devenv

**echo "selfsignCerts copy"
cp certs/*.crt /usr/local/share/ca-certificates
echo "selfsignCerts import"
update-ca-certificates**

./setup.sh
...

[2016-08-11 12:35] smithbk commented on #2176
The hfc APIs allow you to specify multiple peers, but it only sends to the 2nd if it fails to connect to the 1st, to the 3rd if it fails to connect to the 1st and 2nd, etc.  If you want to change the order, then you can simply create a newChain and add the peers in a different order.

Regarding sending transactions concurrently to different peers, I don't understand the desire to do this.  If you

[2016-08-11 12:48] huhaiqing opened #2381 "Can't use hfc to invoke a transaction?"
1.  execute below test case, it returns OK.
   test('Enroll Loan institution', function (t) {
   getUser('loanInst', function (err, user) {
       if (err) {
           fail(t, "enroll loanInst", err);
           // Exit the test script after a failure
           process.exit(1);
       }
       loanInst = user;
       loanInst.getUserCert(null, function (err, userCert) {
           if (err) {

[2016-08-11 12:50] smithbk commented on #1381
Yes, I'm working on adding deploying zip and targz files by URL or local file.  They may contain the Dockerfile already and if not it will be added by the node SDK at deploy time.

[2016-08-11 12:59] smithbk commented on #1276
We still need an API to get the security settings, though as Gari said, it doesn't have to be unprotected as the title of this item says.

[2016-08-11 15:30] markparz commented on #1077
Migrated to Jira [FAB-18](https://jira.hyperledger.org/browse/FAB-18).
Closing this issue

#1217 and #748 are being opened as well by Clayton and hung to the above epic.

[2016-08-11 15:30] #1077 closed, assigned to nobody

[2016-08-11 16:30] CocoaWang commented on #1733
@kopnin  Hi.Thanks for you sharing.I will try this tomorrow.

[2016-08-11 17:14] learner4 opened #2382 "create new user"
I am trying to create a new user and stuck at this point....
Any help is appreciated.
step1: npm install hfc (passed)

var hfc=require('hfc')
var chain=hfc.newChain('testchain')
chain.setKeyValStore(hfc.newFileKeyValStore('tmp/kvstore'));
chain.setMemberServicesUrl("grpc://xxxxxxxxx_ca-api.blockchain.ibm.com:30303")
var reguser = {roles:["testrole"], enrollmentID: "someuserid01",account:"acct_1",a

[2016-08-11 17:49] srderson commented on #1183
I'll recreate in Jira. Needs to be part of the new proto definitions.

[2016-08-11 17:49] #1183 closed, assigned to nobody

[2016-08-11 19:20] muralisrini commented on #2371
@heshansp This should work with the latest code on gerrit.

[2016-08-12 01:49] zhoyy007 commented on #2176
@smithbk Good idea. Your solutions can satisfy the needs. Concurrently invoking multiple peers is useful to simulate and estimate the performance with distributed users' usages. I think this is needed for testing.

[2016-08-12 12:23] gennadylaventman commented on #2307
Jira issue: https://jira.hyperledger.org/browse/FAB-38

[2016-08-12 12:23] #2307 closed, assigned to nobody

[2016-08-12 16:28] 2016Nishi commented on #2382
Enroll WebAppAdmin and set this user as Registrar, you need a registrar in the system to enroll new or any subsequent users.

`var registrar = {
    name: 'WebAppAdmin',
    secret: 'DJY27pEnl16d'
};
chain.getUser(registrar.name, function (err, userAdmin) {
      if (err) {
          process.exit(1);
      }
      // Enroll the WebAppAdmin user with the certificate authority using
       userAdmin

[2016-08-12 18:15] lehors commented on #1309
This issue has been transferred to Jira:
https://jira.hyperledger.org/browse/FAB-50

[2016-08-12 18:15] #1309 closed, assigned to nobody

[2016-08-14 19:54] jimthematrix commented on #2348
verified.

[2016-08-14 19:54] #2348 closed, assigned to nobody

[2016-08-14 19:55] JonathanLevi commented on #2348
Thank you.

[2016-08-15 03:27] #1359 closed, assigned to nobody

[2016-08-15 03:52] jjjjibm opened #2384 "sdk/node : chain.DeployWaitTime() -- anything goes"
## Description

I called chain.setDeployWaitTime() to set the wait time to various values: 0, 6000, -1.  The sdk accepted
these values.    A value of 6000 (seconds) is acceptable I suppose but the meanings of 0 and -1
are not described in the documentation.

I then called chain.setDeployWaitTime("as long as it takes") in the test case
...sdk/node/test/unit/chain-test.js "Deploy a chaincode by enro

[2016-08-15 12:41] gpanah commented on #2068
@bcbrock @ghaskins - I feel that there is a similar need for "invokes" as well.  If the user invokes a function on the chaincode and it fails, the user should be able to use the transaction id to determine if the transaction succeeded or failed, and to retrieve any error messages as well.  I realize there are other issues opened for invoke, but this ping concept is similar for both since they are

[2016-08-15 16:07] sanachiit opened #2385 "Query function does not work for deployed chaincode"
I am trying to query the chaincode example 02 that I have deployed in the local blockchain installation.
I have tried both inside and outside vagrant setup as described by hyperledger-fabric docs. The chaincode go file build successfully and the deployed seems to word. The invoke function generates the transaction hash, however as soon as I query the state of variable A using the chaincode hash id

[2016-08-15 16:13] sanachiit opened #2386 "Multinode - Blockchain SetUp"
I am trying to setup a blockchain network using 4 vms. each of the vms has fabric-peer and fabric-membersrvc docker images and that seems to work successfully. I have setup password less ssh among all vms for normal user(non-root). But the docker images are unable to communicate with each other.

Do I require Passwordless ssh for "root" users among vms ? Are there any other requirements?

[2016-08-15 17:40] JonathanLevi commented on #2386
Hello @sanachitmehra,

You should be able test whether your SSH is configured correctly, separately.

First two things I'd check may be:
- Docker

  Do you have the `ip_forward` flag set to 1? https://docs.docker.com/engine/userguide/networking/default_network/container-communication/
- Vagrant

  (Are you using Vagrant, or running these natively, is so:)
  I would also check that you allow `port

[2016-08-15 18:11] ibmmark commented on #1116
This can be closed...
This has been moved to Jira [FAB-63](https://jira.hyperledger.org/browse/FAB-63?filter=-2)

[2016-08-15 18:11] akihikot opened #2387 "Multi-channel TCert pool making pool's communication with TCA parallel."
## Description

I think client_tcert_pool_mt.go can be further improved, by making communication with TCA parallel.  The measurement with my prototype shows better performance, by utilizing CA-side concurrency.

![authorizable_counter_20160714](https://cloud.githubusercontent.com/assets/7088462/17673488/4c08f4f0-635c-11e6-9a74-9bd3d6f00df8.png)

In this measurement, I followed the suggestion by @b

[2016-08-15 18:26] ibmmark commented on #2106
Closing this, moved to Epic in Jira [FAB-53](https://jira.hyperledger.org/browse/FAB-53?filter=-2)

[2016-08-15 18:26] #2106 closed, assigned to nobody

[2016-08-15 20:22] rameshthoomu commented on #2330
Re-created this issue in JIRA. hence closing here..

[2016-08-15 20:22] #2330 closed, assigned to nobody

[2016-08-15 20:22] rameshthoomu commented on #2345
Closing this issue as this is tracking in JIRA.

[2016-08-15 20:22] #2345 closed, assigned to nobody

[2016-08-15 21:17] angrbrd commented on #1151
Hi @joequant

It's not very clear to me what you are asking for in this issue. It seems to me, you are asking for a specific REST endpoint that would conform to the React framework? That seems way too specific to conform to one particular framework and you can also address this by creating your own REST endpoint. Could you please clarify what exactly you are asking for and the advantages of adding

[2016-08-16 09:55] CocoaWang opened #2388 "Have you check the security (tcert) before you put a transaction message into the consenter?"
## Description

When I deploy a transaction,I find  it goes to ProcessTransactionMsg  in  engine.go. And in there,I see these words.
// Chaincode Transaction
        response = &pb.Response{Status: pb.Response_SUCCESS, Msg: []byte(tx.Uuid)}
//TODO: Do we need to verify security, or can we supply a flag on the invoke ot this functions
        // If we fail to marshal or verify the tx, don't send it

[2016-08-16 17:40] christo4ferris commented on #2388
@CocoaWang we have transitioned issue tracking to Jira https://jira.hyperledger.org/.  Please transfer this issue there. Thank you!

[2016-08-16 17:41] christo4ferris commented on #2387
@akihikot Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:41] christo4ferris commented on #2386
@sanachitmehra Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:42] christo4ferris commented on #2385
@sanachitmehra Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:42] christo4ferris commented on #2384
@jjjjibm Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:42] christo4ferris commented on #2382
@learner4 Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:42] christo4ferris commented on #2381
@huhaiqing Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:43] christo4ferris commented on #2380
@mingjinc Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:43] christo4ferris commented on #2379
@bcbrock Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:43] christo4ferris commented on #2378
@2016Nishi Thanks for submitting this issue. However, we have transitioned issue tracking to Jira https://jira.hyperledger.org/ Please transfer this issue there and then close this one. Thanks!

[2016-08-16 17:54] JonathanLevi commented on #2378
@2016Nishi: What Chris said. Possibly under [FAB-10](https://jira.hyperledger.org/browse/FAB-10) ?

[2016-08-16 18:00] angrbrd commented on #1063
@christo4ferris @muralisrini @srderson

I am wondering if this needs to be transferred to Jira? Or closed? Thanks.

[2016-08-16 18:53] #2373 closed, assigned to nobody

[2016-08-16 19:17] angrbrd commented on #2285
Hi @huhaiqing

It seems to me, that you're having trouble deploying a chaincode to the network. Am I correct? Is this still an issue? To get the basic test case working, please follow the instructions here:

http://hyperledger-fabric.readthedocs.io/en/latest/Setup/NodeSDK-setup/

Specifically, you need the section titled "Getting Set Up". Get the member services node and peer node up and running a

[2016-08-16 19:25] angrbrd commented on #2272
This has been addressed.

@christo4ferris please close this out. Thanks!

[2016-08-16 19:29] #2382 closed, assigned to nobody

[2016-08-16 19:30] angrbrd commented on #2197
Hi @kamraanki, I see that this PR has not been merged yet. Please transfer your PR to Gerrit so it can be merged. Thanks!

[2016-08-16 19:37] angrbrd commented on #2196
This issue already exists in Jira here: https://jira.hyperledger.org/browse/FAB-13

@christo4ferris please close this one out. Thanks!

[2016-08-16 19:56] angrbrd commented on #2176
I have created a matching feature entry in Jira here: https://jira.hyperledger.org/browse/FAB-121

@christo4ferris please close out this issue. Thanks!

[2016-08-16 20:12] angrbrd commented on #2174
Hi @zhoyy007 @ghaskins

Just wondering if this is still an issue for you? If so, could you please open a Bug in Jira and tag with "node-SDK", then close this one out?

Thanks!

[2016-08-16 20:20] angrbrd commented on #1864
@christo4ferris have we decided what to do with this issue? Should we move this over to Jira? Or close? Thanks.

[2016-08-16 20:22] angrbrd commented on #1757
@masterDev1985 thanks for clarifying.

@jjjjibm can you please confirm that this issue has been resolved for you also, so we can close this? Thanks!

[2016-08-16 20:34] angrbrd commented on #1647
I have opened a matching bug in Jira here: https://jira.hyperledger.org/browse/FAB-122

@christo4ferris please close out this issue. Thanks!

[2016-08-16 20:38] angrbrd commented on #1638
I have created a matching issue in Jira here: https://jira.hyperledger.org/browse/FAB-123

Closing. Thanks!

[2016-08-16 20:38] #1638 closed, assigned to nobody

[2016-08-16 20:41] angrbrd commented on #1581
This issue is already tracked in Jira here: https://jira.hyperledger.org/browse/FAB-11

@christo4ferris please close out this issue. Thanks!

[2016-08-16 20:47] angrbrd commented on #1381
This issue is already being tracked in Jira here: https://jira.hyperledger.org/browse/FAB-80

@christo4ferris please close this issue. Thanks!

[2016-08-16 20:47] jjjjibm commented on #1757
@angrbrd, by coincidence I rebuilt my VM yesterday.  I still had to edit  the Makefile to add 'no-bin-links' parameter to npm.    So that part is definitely still broken.   I didnt' edit run-unit-tests.sh to add $GOPATH and $GOROOT but I'm not sure what changed.  Editing Makefile is pretty much all I had to do.

I am still based on github.  I haven't migrated to Gerrit because of issue 2338.    I

[2016-08-16 20:51] angrbrd commented on #1276
I have created a matching issue in Jira here: https://jira.hyperledger.org/browse/FAB-124

@christo4ferris please close out this issue. Thanks!

[2016-08-16 20:58] angrbrd commented on #1116
@christo4ferris please close this issue. Thanks!

[2016-08-16 21:10] #1647 closed, assigned to nobody

[2016-08-16 22:43] #2379 closed, assigned to nobody

[2016-08-16 22:43] bcbrock commented on #2379
Transferred to Jira (as link)

[2016-08-16 23:23] JonathanLevi commented on #1305
We can now track this using [FAB-130](https://jira.hyperledger.org/browse/FAB-130) (FAB for FABulous !)

[2016-08-17 04:54] JonathanLevi commented on #2169
We can now track this using [FAB-15](https://jira.hyperledger.org/browse/FAB-15) (FAB for FABulous!)

[2016-08-17 05:09] JonathanLevi commented on #2110
We can now track this using [FAB-140](https://jira.hyperledger.org/browse/FAB-140) (FAB for FABulous!)

[2016-08-17 05:09] #2110 closed, assigned to nobody

[2016-08-17 08:54] #2176 closed, assigned to nobody

[2016-08-17 08:55] #2174 closed, assigned to nobody

[2016-08-17 14:02] joshhus commented on #2347
If we can pick and choose our URL ... since we were at http://hyperledger-fabric.readthedocs.io ... I would suggest www.hyperledger-fabric.io ... or similar per LF ... io = "input / output" = a new trendy domain extension for tech startups etc. Hopefully we can also route the old to the new automatically.

[2016-08-17 15:29] jjjjibm commented on #2384
I have duplicated this issue in Jira, so I am closing this one.

[2016-08-17 15:29] #2384 closed, assigned to nobody

[2016-08-18 02:47] cophey opened #2390 "stub.InvokeChaincode invoke a chaincode function,GetCallerCertificate() returns nil"
## Description

security enabled and privacy disabled
chaincode_example04.go invoke funtion call stub.InvokeChaincode(chaincode_example02,invoke,[]string{"a", "b", "10"})

in chaincode_example04.go invoke function print cert:
`b, _ := stub.GetCallerCertificate()`
`fmt.Println("cert", hex.EncodeToString(b))`

in chaincode_example02.go invoke function print cert:
`b, _ := stub.GetCallerCertificate()

[2016-08-18 08:03] cophey opened #2391 "https://jira.hyperledger.org/login.jsp"
Sorry, your username and password are incorrect - please try again.
![m h3tsplvntj1r9lcwcgnu3](https://cloud.githubusercontent.com/assets/7555270/17766314/2e7b1834-655d-11e6-82f6-1aae5d001d7a.png)

cannot login?

[2016-08-18 09:58] xspeedcruiser commented on #2164
Issue created in JIRA
https://jira.hyperledger.org/browse/FAB-158

[2016-08-18 09:58] #2164 closed, assigned to nobody

[2016-08-18 10:01] xspeedcruiser commented on #2143
JIRA issue created,
https://jira.hyperledger.org/browse/FAB-159

[2016-08-18 10:01] #2143 closed, assigned to nobody

[2016-08-18 13:54] ibmmark commented on #2105
Closing issue, migrated to Jira [FAB-168](https://jira.hyperledger.org/browse/FAB-168?filter=-2)

[2016-08-18 13:54] #2105 closed, assigned to nobody

[2016-08-18 17:12] CocoaWang commented on #2388
@christo4ferris  I just registered a new user in Jira ,but I can't login in  successfully.

[2016-08-19 02:21] xiejunan commented on #2391
i meet the same problem.
@sanachitmehra

[2016-08-19 02:24] xiejunan opened #2392 "Need a script to setup fabric cluster"
I am writing a script to setup a fabric cluster automatically, including following works:
1. setup a node to compile peer&base image, following steps need to be done:
. install/verify docker
. install/verify go
. install/verify rocksdb
. clone fabric
. make base image & export base image as tar file
. make peer & peer image
. construct a install dir to contain all related output: bin of peer, core

[2016-08-19 06:03] CocoaWang commented on #2391
Same too!

[2016-08-19 17:41] christo4ferris commented on #2392
@xiejunan we've transitioned to using [Gerrit](https://gerrit.hyperledger.org/r/#/admin/projects/) and [Jira](https://jira.hyperledger.org/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=all) for development of the various Hyperledger projects.

That said, there is a vagrant environment that does all of that under the devenv directory. As for just deploying (eg. without needing

[2016-08-19 17:42] christo4ferris commented on #2391
@CocoaWang @xiejunan you need an LF ID to login. https://identity.linuxfoundation.org

[2016-08-19 17:45] christo4ferris commented on #2390
@cophey we've transitioned to using [Gerrit](https://gerrit.hyperledger.org/r/#/admin/projects/) and [Jira](https://jira.hyperledger.org/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=all) for development of the various Hyperledger projects.

[2016-08-19 17:45] christo4ferris commented on #2388
@CocoaWang you need an LF ID to login to Jira and Gerrit: https://identity.linuxfoundation.org/

[2016-08-19 17:48] christo4ferris commented on #2377
@ratnakar-asara please transfer this to Jira. Thanks!

[2016-08-19 17:49] christo4ferris commented on #2376
@scottz64 we've transitioned to Jira and Gerrit for Hyperledger development. Please open an issue in [Jira](https://jira.hyperledger.org/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=all). Thanks!

[2016-08-19 17:50] christo4ferris commented on #2374
@rameshthoomu @juliancarrivick-ibm can this be closed?

[2016-08-19 17:53] christo4ferris commented on #2371
@heshansp Thanks for submitting this. Note that we have migrated to [Gerrit](https://gerrit.hyperledger.org/r/#/admin/projects/) and [Jira](https://jira.hyperledger.org/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=all) for Hyperledger development. See also http://cbf-fabric-docs.readthedocs.io/en/latest/Gerrit/gerrit/. As @muralisrini suggest, this is resolved in the master

[2016-08-19 17:53] #2371 closed, assigned to nobody

[2016-08-19 17:55] christo4ferris commented on #2364
@mintzhao thanks for submitting this suggestion. Note that we've transitioned to Jira and Gerrit for Hyperledger development. Please open an issue in [Jira](https://jira.hyperledger.org/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=all) and if you like, a pull request would be most welcome. Thanks!

[2016-08-19 17:56] christo4ferris commented on #2361
@hanhzf sounds like resolved. Closing. Thanks!

[2016-08-19 17:56] #2361 closed, assigned to nobody

[2016-08-19 19:57] rameshthoomu commented on #2338
Closing this issue here as I have Re-created this issue in JIRA: reference https://jira.hyperledger.org/browse/FAB-98.

[2016-08-19 19:57] #2338 closed, assigned to nobody

[2016-08-20 01:35] Abigale001 opened #2393 "Error when start pbft mode and create node"
## Description

I want to test the chaincode_example02.go in my docker. But when I `docker-compose up` , I get following error.

And I don't know why, so I ignore it and continue.

I typed

[code]

 I get following error.

## Describe How to Reproduce

I have search the error on google, and I only get answer of `Non-empty JSON chaincode parameters must contain exactly 2 keys: Function and Args`, t

[2016-08-20 01:38] Abigale001 commented on #2290
Hi, I just met the same error with you. Have you solved it?

[2016-08-20 02:11] Abigale001 commented on #1468
I met the same error with you. But there are so many links from this issue to that issue. Although there are about four or five issues the same, I can't still find the real solution. @bcbrock could you please tell me how you fix it?

[2016-08-20 02:53] ratnakar-asara commented on #2377
transfered issue to Jira JIRA  https://jira.hyperledger.org/browse/FAB-191.
Closing this issue

[2016-08-20 02:53] #2377 closed, assigned to nobody

[2016-08-20 06:07] Abigale001 commented on #2393
Now, I only get this error: `Error: Non-empty JSON chaincode parameters must contain exactly 1 key: 'Args'`. Anyone can help me?

[2016-08-21 00:18] #2393 closed, assigned to nobody

[2016-08-21 04:47] HyperLedgerSombrerosBlancos opened #2394 "Known Security Issues in HyperLedger Fabric v0.5"
## Description

Known Security Issues in HyperLedger Fabric v0.5

https://docs.google.com/document/d/1VAdSUdR8a4UyEsZQkeVQwq-F47zBHJc4gHTDQ8bDlng

[2016-08-21 09:25] cyu021 commented on #2385
@sanachitmehra @christo4ferris, I encountered the same issue and just transferred this to jira.
https://jira.hyperledger.org/browse/FAB-208

[2016-08-21 12:58] VenkyMadgundi commented on #2365
I am also getting same error:
[dockercontroller] Start -> ERRO 019 start-could not start container API error (400): {"message":"starting container with HostConfig was deprecated since v1.10 and removed in v1.12"}
[chaincode] Launch -> ERRO 01a launchAndWaitForRegister failed Error starting container: API error (400): {"message":"starting container with HostConfig was deprecated since v1.10 and rem

[2016-08-21 13:13] muralisrini commented on #2365
@VenkyMadgundi the project has moved to gerrit. This has been fixed there

![image](https://cloud.githubusercontent.com/assets/14361488/17837364/692d4154-677f-11e6-8fdc-49639d03fcc1.png)

[2016-08-21 14:06] ruslan-ardashev opened #2395 "Message Enum doesn't allow for expandability"
## Description

The Message enum as defined in the [protocol spec](http://hyperledger-fabric.readthedocs.io/en/latest/protocol-spec/) doesn't support future development (i.e. instead of spacing out enum values they're grouped together).

This will pose code consistency and readability issues in the near future when expanding on existing Message types (e.g. try adding a new kind of Discovery Messag

[2016-08-21 19:03] christo4ferris commented on #2395
@ruslan120101 we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:03] christo4ferris commented on #2394
@HyperLedgerSombrerosBlancos we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:04] christo4ferris commented on #2385
Thanks! closing

[2016-08-21 19:04] #2385 closed, assigned to nobody

[2016-08-21 19:05] christo4ferris commented on #2375
@dongmingh we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:06] christo4ferris commented on #2370
seems like this can be closed. we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you would like to re-open, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:06] #2370 closed, assigned to nobody

[2016-08-21 19:06] christo4ferris commented on #2368
@yuki-kon we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:06] christo4ferris commented on #2366
@kamraanki we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:07] christo4ferris commented on #2365
closing per @muralisrini comment above.

[2016-08-21 19:07] #2365 closed, assigned to nobody

[2016-08-21 19:08] christo4ferris commented on #2359
@zuowang closing this as I believe that @mastersingh24 comment above should cover this. Note also that we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, If you need to re-open, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to log

[2016-08-21 19:08] #2359 closed, assigned to nobody

[2016-08-21 19:08] christo4ferris commented on #2358
@jjjjibm we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:09] christo4ferris commented on #2357
@scottz64 we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:10] christo4ferris commented on #2354
@EvanCarroll the client SDK can indeed be retrieved from npm. The module name is ['hfc'.](https://www.npmjs.com/package/hfc). Closing.

[2016-08-21 19:10] #2354 closed, assigned to nobody

[2016-08-21 19:11] christo4ferris commented on #2353
@2016Nishi we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:11] christo4ferris commented on #2352
@2016Nishi we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:11] christo4ferris commented on #2351
@2016Nishi we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 19:12] christo4ferris commented on #2350
@shangsony we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:10] christo4ferris commented on #2347
https://jira.hyperledger.org/browse/FAB-210 closing

[2016-08-21 20:10] #2347 closed, assigned to nobody

[2016-08-21 20:13] christo4ferris commented on #2339
opened issue on jira, closing https://jira.hyperledger.org/browse/FAB-211

[2016-08-21 20:13] #2339 closed, assigned to nobody

[2016-08-21 20:15] christo4ferris commented on #2316
@stylixboom seems like you've resolved your issue. Closing this one. Note though that we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:15] #2316 closed, assigned to nobody

[2016-08-21 20:16] christo4ferris commented on #2313
@scottz64 we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:16] christo4ferris commented on #2309
@scottz64 we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:16] christo4ferris commented on #2308
@scottz64 we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:17] christo4ferris commented on #2306
@genggjh we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:19] christo4ferris commented on #2303
@huhaiqing we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, please open an issue there and close this one. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.

However, you may get a better response by either asking your question in [slack](https://hyperledgerproject.sla

[2016-08-21 20:19] #2303 closed, assigned to nobody

[2016-08-21 20:20] christo4ferris commented on #2294
@jjjjibm please migrate to Jira. Thanks

[2016-08-21 20:21] christo4ferris commented on #2285
@huhaiqing we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:21] #2285 closed, assigned to nobody

[2016-08-21 20:22] christo4ferris commented on #2288
@qubing we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:22] christo4ferris commented on #2292
@dongmingh we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:23] christo4ferris commented on #2344
closing thanks!

[2016-08-21 20:23] #2344 closed, assigned to nobody

[2016-08-21 20:23] christo4ferris commented on #2343
@dongmingh we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:23] christo4ferris commented on #2342
@jjjjibm we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:23] christo4ferris commented on #2335
@2016Nishi we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:23] christo4ferris commented on #2337
@alvinajh we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-21 20:24] christo4ferris commented on #2341
@rennman we've migrated to using [Jira](https://jira.hyperledger.org/secure/RapidBoard.jspa?projectKey=FAB&rapidView=7&view=planning) for issue tracking, if you think this issue should be re-opened, please open an issue there. You'll need a [Linux Foundation ID](https://identity.linuxfoundation.org/) to login.
Thanks

[2016-08-22 00:50] juliancarrivick-ibm commented on #2374
The patch-set in question was the one that was reverted because it broke master. Since I have rebased it on the latest master a test has started failing. I am working on a fix now. The new change request is https://gerrit.hyperledger.org/r/#/c/563/

[2016-08-22 08:45] privoal-ak commented on #1634
I encountered this same error as well.
I don't really know why, but GOPATH environment variable was not red correctly at runtime (it was empty) although I could access it in my terminal. It may be a Docker related issue.

I fix it by launching my peer this way :
GOPATH=$GOPATH ./peer node start

[2016-08-22 08:58] privoal-ak commented on #1634
My Fabric environment was up to the commit 5cb39849ec2adc3505e523355684eb7370cc85 (august 16th)

[2016-08-22 13:29] 2016Nishi commented on #2353
Created issue FAB-217 in JIRA.

[2016-08-22 13:29] #2353 closed, assigned to nobody

[2016-08-22 13:31] 2016Nishi commented on #2352
Created issue FAB-218 in JIRA.

[2016-08-22 13:31] #2352 closed, assigned to nobody

[2016-08-22 13:33] 2016Nishi commented on #2351
Created issue FAB-219 in JIRA.

[2016-08-22 13:33] #2351 closed, assigned to nobody

[2016-08-22 23:27] jjjjibm commented on #2342
The Jira issue corresponding to this test is FAB-128

[2016-08-22 23:31] jjjjibm commented on #2294
The Jira issue for this problem is FAB-127

[2016-08-22 23:31] #2294 closed, assigned to nobody

[2016-08-22 23:34] jjjjibm commented on #2358
The Jira equivalent defect is FAB-233.

[2016-08-22 23:34] #2358 closed, assigned to nobody

[2016-08-23 06:08] xspeedcruiser commented on #2146
Issue closed with patch https://gerrit.hyperledger.org/r/#/c/415/

[2016-08-23 06:08] #2146 closed, assigned to nobody

[2016-08-23 06:09] xspeedcruiser commented on #2139
Issue address by patch https://gerrit.hyperledger.org/r/#/c/415/

[2016-08-23 06:09] #2139 closed, assigned to nobody

[2016-08-23 06:18] #2387 closed, assigned to nobody

[2016-08-23 08:35] ashnur commented on #2393
What was the solution for the "non-empty" issue?

[2016-08-23 10:10] christo4ferris commented on #2374
ok, closing this then since we have it being worked in Gerrit thanks

[2016-08-23 10:10] #2374 closed, assigned to nobody

[2016-08-23 10:13] christo4ferris commented on #2333
We've migrated to use of JIRA https://jira.hyperledger.org you will need an LFID https://identity.linuxfoundation.org/ to login. It seems as if your question has been addressed. Note that you can also simply rebuild your development environment if you are using the vagrant build approach with: `vagrant halt && vagrant destroy && vagrant up`. Closing

[2016-08-23 10:13] #2333 closed, assigned to nobody

[2016-08-23 10:15] christo4ferris commented on #2332
@huhaiqing what @scorpiovn said. Assume this can be closed. Thanks

[2016-08-23 10:15] #2332 closed, assigned to nobody

[2016-08-23 10:15] christo4ferris commented on #2324
closing as we will be making this more prominent but in a different manner. Thanks

[2016-08-23 10:15] #2324 closed, assigned to nobody

[2016-08-23 20:26] qubing commented on #2333
@iiiLiQuiDiii  Thank you. I got it.

[2016-08-24 11:07] wangbin767 commented on #1024
I am interested in whether this paper finished?

[2016-08-24 12:33] ryokawajp commented on #1517
Hi, @christo4ferris
I have moved the issue to JIRA. I will close this item on GitHub.
https://jira.hyperledger.org/browse/FAB-240

[2016-08-24 12:33] #1517 closed, assigned to nobody

[2016-08-24 15:48] rameshthoomu commented on #1820
looks like scenario@680 is working as expected after re-enable this in gerrit code base. Closing this.

[2016-08-24 15:48] #1820 closed, assigned to nobody

[2016-08-24 15:51] rameshthoomu commented on #1886
This issue is not reproducible on latest commit. Closing this issue.

[2016-08-24 15:51] #1886 closed, assigned to nobody

[2016-08-24 19:47] joshhus commented on #1024
Investigating, this was dependent on some test results, TBA.

[2016-08-24 20:02] christo4ferris commented on #1024
can we please open this in Jira? Thanks.

[2016-08-24 20:34] joshhus commented on #1024
Migrated to Jira:
https://jira.hyperledger.org/browse/FAB-242?jql=project%20%3D%20FAB%20AND%20resolution%20%3D%20Unresolved%20AND%20creator%20in%20(currentUser())%20ORDER%20BY%20priority%20DESC%2C%20updated%20DESC

[2016-08-24 20:34] #1024 closed, assigned to nobody

[2016-08-25 01:41] mingjinc opened #2399 "Occur path not found while deploy a new chaincode."
## Description

I added a new chaincode in the folder github.com/hyperledeger/fabric/examples/chaincode/go, while I deploy it, it occurs not found error. How to resolve it?

{
  "jsonrpc": "2.0",
  "error": {
    "code": -32001,
    "message": "Deployment failure",
    "data": "Error when deploying chaincode: Path to chaincode does not exist: github.com/hyperledeger/fabric/examples/chaincode/go/ne

[2016-08-25 02:02] mingjinc commented on #2399
My environment is using Vagrant.

[2016-08-25 02:25] #2390 closed, assigned to nobody

[2016-08-25 13:59] smithbk commented on #2399
Are you using the node.js SDK to deploy?  If yes, are you sure that github.com/hyperledeger/fabric/examples/chaincode/go/newchaincode directory exists on your client machine?

[2016-08-25 14:05] mingjinc commented on #2399
@smithbk , I am using REST API to deploy.
newchaincode is located in the directory /$GOPATh/src/github.com/hyperledeger/fabric/examples/chaincode/go

[2016-08-25 14:34] smithbk commented on #2399
@minginc Trying to contact you directly on slack or other but couldn't find you online, so I sent email to follow up.

[2016-08-25 14:50] mingjinc commented on #2399
@smithbk , I am online on ST now. Could you touch me now? Thanks.

[2016-09-02 01:51] mingjinc commented on #2399
@smithbk  Thanks a lot for your support. Has fixed now.

[2016-09-02 01:51] #2399 closed, assigned to nobody

[2016-09-03 13:49] wowforestwow opened #2400 "I cant install hyperledger fabric can you help me?"
## Description

==> default: Mounting shared folders...
    default: /vagrant => /home/forest/go/src/github.com/hyperledger/fabric/devenv
    default: /local-dev => /home/forest/go/src/github.com/hyperledger/fabric
    default: /hyperledger => /home/forest/go/src/github.com/hyperledger/fabric
    default: /opt/gopath/src/github.com/hyperledger/fabric => /home/forest/go/src/github.com/hyperledger/f

[2016-09-08 19:22] OiCMudkips commented on #2362
Hi, I'm running into this same issue. Since you closed this, I'm wondering if you found a way to fix this? Thanks!

[2016-09-09 02:40] tengsun commented on #2362
I got the same error, @cophey do you have any idea about the solution for this error?

[2016-09-09 13:07] iamsaurabhc opened #2401 "make peer Error : *** "No Docker in PATH: Check Dependencies." Stop"
![screenshot from 2016-09-09 18-32-07](https://cloud.githubusercontent.com/assets/19235748/18387706/c9382a82-76bb-11e6-91e0-586baa07d9af.png)
I'm getting this error while trying tp `make peer` :
`*** "No Docker in PATH: Check Dependencies". Stop`
. Docker is already installed and PATH also has the folder containing Docker. Then why?
Please help

[2016-09-09 13:17] iamsaurabhc commented on #2400
I don't know why Docker is getting involved in there. You need the files right.
These are the Steps that I took, and everything went fine :
1. Go into the folder of hyperledger that you have created:
   `cd /home/forest/go/src/github.com/hyperledger/`

   2.Make sure you have git installed in your system :
   `sudo apt-get update`
   `sudo appt-get install git`

   3.Clone the fabric folder into y

[2016-09-09 14:00] OiCMudkips commented on #2362
@tengsun I figured out the issue for myself. The issue was that the default Dockerfile used to launch the chaincode's Docker container was broken. To fix it, I overrode the chaincode found in peer/core.yaml. If you're using Docker Compose to launch, here's the environment variable to fix it:

[code]

Basically, I've explicitly define the GOPATH variable to point to the gopath inside hyperledger/fa

[2016-09-10 17:23] iamsaurabhc opened #2402 "ClientConn.resetTransport failed to create client transport: connection error"
<img width="960" alt="2016-09-10" src="https://cloud.githubusercontent.com/assets/19235748/18412334/42b727f8-77a9-11e6-9c46-8ee479b1088b.png">

`$peer node start --peer-chaincodedev` is showing this Error . Please help

[2016-09-10 17:33] muralisrini commented on #2402
@iamsaurabhc I assume you have security: enabled: true in fabric/peer/core.yaml. In that mode, you need member service to be started. In another window try starting member service as

`membersrvc`

if that's not found

[code]

Then restart the peer.

By the way the instructions for running the system with security on should be in the documentation which you'd need for sending transactions once you

[2016-09-10 17:47] iamsaurabhc commented on #2402
@muralisrini Thanks for the quick reply. I actually did membersrvc already but it's not ending the execution. It is stuck at :  TLSCA Started  [Snap attached].
What to do now?

Well, yes I tweaked the security.enabled and security.privacy to be 'true' as instructed by the file : Chaincode-setup.md
Should I change it back to 'false' ??
<img width="599" alt="e2" src="https://cloud.githubusercontent.

[2016-09-10 18:15] muralisrini commented on #2402
That snapshot shows memberservice is started and running correctly.

If memberservice were running (as shown in the picture) at the time peer was started,  I would not expect to see the connection errors seen in the log.

Using security is not necessary while learning and playing with the fabric. Its ok to set security:enabled:false during initial phases. You would not need memberservice to be sta

[2016-09-10 19:20] iamsaurabhc commented on #2402
@muralisrini  Wow, yes that worked. Thanks again! :)

[2016-09-10 19:23] iamsaurabhc commented on #2402
@muralisrini Got another error while compiling the example02.
The command is : $ `CORE_CHAINCODE_ID_NAME=mycc CORE_PEER_ADDRESS=0.0.0.0:7051 ./chaincode_example02`
Do I need to configure my Peer address by any chance?
Sorry I'm new to this.
<img width="960" alt="e4" src="https://cloud.githubusercontent.com/assets/19235748/18412994/1529007a-77ba-11e6-8ab0-7297d26e4d8a.PNG">

[2016-09-10 20:59] muralisrini commented on #2402
I believe you are mixing docs from a later release (such as the ongoing work on gerritt ) with the commands for this archives release. If you check fabric/peer/core.yaml, you'll see peer:address:0.0.0.0:30303.

netstat -an | grep LISTEN should show listening port as 30303.

Try CORE_PEER_ADDRESS=127.0.0.1:30303 please.

[2016-09-10 21:21] iamsaurabhc commented on #2402
I'm referring to the [Online Article](http://hyperledger-fabric.readthedocs.io/en/latest/Setup/Chaincode-setup/#running-the-chaincode) as it looks clearer. I wasn't aware that it isn't updated.

But even after setting CORE_PER_ADDRESS=127.0.0.30303 , I'm getting the same error. I tried the ports 2222 and 50051 too.
What might be causing this ?
<img width="960" alt="e5" src="https://cloud.githubuse

[2016-09-10 21:27] muralisrini commented on #2402
I assume you are running the peer ? can you do `ps -ef | grep peer` and `netstat -an | grep LISTEN`

[2016-09-10 21:49] iamsaurabhc commented on #2402
Yeah sure.
<img width="392" alt="e6" src="https://cloud.githubusercontent.com/assets/19235748/18413701/cb95cfec-77cd-11e6-897d-ec15ce05e78d.PNG">

Hey, I think I got what was going wrong.. Not doing the
`peer node start --peer-chaincodedev`
in a separate bash before doing the ./chaincode_example02
Does the status look good now??
<img width="958" alt="e7" src="https://cloud.githubusercontent.com/as

[2016-09-10 22:37] muralisrini commented on #2402
Best to follow "Option 1" from https://github.com/hyperledger-archives/fabric/blob/master/docs/Setup/Chaincode-setup.md without security.

[2016-09-10 23:00] iamsaurabhc commented on #2402
I followed accordingly, and I changed the Security settings to 'false'
I know I'm close, but when trying to
**Rest Request**

[code]

or while **Chainode Deploy** ,
`peer chaincode deploy -n mycc -c '{"Function":"init", "Args": ["a","100", "b", "200"]}'`

nothing is happening to the bash. Am I missing something?
<img width="451" alt="e8" src="https://cloud.githubusercontent.com/assets/19235748/184

[2016-09-11 00:20] muralisrini commented on #2402
you have do the deploy from a new terminal (the doc says "Terminal 3 (CLI or REST API)") . The idea is that you are sending a "deploy" transaction (and similarly invoke and query in the doc) to the peer.

[2016-09-11 08:46] iamsaurabhc commented on #2402
Thanks, I did that. Getting the expected response. But I'm getting an update only while Query. The response is :
`Query Response :  {"Name":"a","Amount":"80"}`

But there is no Update while Invoke or Deploy.
I'm using the CLI command:
`peer chaincode deply -n mycc -c '{Function:"init","Args":["a","100","b","200"]}'`

<img width="957" alt="e1" src="https://cloud.githubusercontent.com/assets/1923574

[2016-09-11 17:02] ybeven opened #2403 "One Container runs one chaincode? When to stop the chaincode in the process"
## Description

I have some questions about the process of the hyperledger.
When start a container? only one chaincode will setup on a container and holding for transactions? Or many chaincode will be setted?
The container would run all the time or have some regulations tell when to stop the chaincode/container?

[2016-09-12 06:28] cophey commented on #2362
@tengsun @OiCMudkips I run `make all`  command at ${GOPATH}/src/github.com/hyperledger/fabric/,and then it is ok.

[2016-09-12 08:29] tengsun commented on #2362
@cophey Thanks, the `make all` command works, but have to install the docker manually.
@OiCMudkips I didn't make it run successfully, appreciate if you could attach your docker-compose.yml file here and I'll have a try.

[2016-09-19 16:00] echenrunner commented on #1620
Hi guys,   last week to reported  that I can't enroll a user after I corrected the password and was getting    "Failed checking signing enrollment certificate for signing: [x509: certificate signed by unknown authority] ''

 If there are no fix for this I would  like to post this fix for review  Thank you

[2016-09-19 16:15] angrbrd commented on #1620
Hi @echenrunner

Can you please elaborate as to how you are running into this issue? What version of the Fabric network you are using? How are you running it? How are you connecting it to? If though the SDK, please state which version of the hfc package you are using.

Thanks.

[2016-09-19 16:38] echenrunner commented on #1620
Hi,

[code]

network outside of the server  and  No DOCKER.
      The problem occur  when you register with incorrect  "enrollSecret"
and then re-register again   with correct the   "enrollSecret" value
      I will then  get " Failed checking signing enrollment certificate for
signing: [x509: certificate signed by unknown authority]"

[code]

POST http://localhost:5000/registrar

[code]

16:36:20

[2016-09-28 09:00] pkarthik88 commented on #2400
I had used a custom release of fabric from someone. I encountered the same error. A little bit of digging suggested that the setup.sh had some warning statements inserted (found this by diff with the official fabric). Removing this warning message from the setup.sh resolved this issue.

## See Below for the warning

# Install WARNING before we start provisioning so that it

# will remain active.

[2016-10-05 05:56] kamraanki opened #2405 "CA server logs"
I am trying to do local setup for Fabric

So to start my CA server and VP0, I made a **docker.compose.yml** file as per the documentation given on link: http://hyperledger-fabric.readthedocs.io/en/latest/Setup/Network-setup/

My docker.compose.yml file is as follows:
membersrvc:
  image: hyperledger/fabric-membersrvc
  command: membersrvc
vp0:
  image: hyperledger/fabric-peer
  environment:
    -

[2016-10-05 14:20] smatthewenglish opened #2406 "typographical error in documentation"
In the file [Next Consensus Architecture Proposal](https://github.com/hyperledger-archives/fabric/wiki/Next-Consensus-Architecture-Proposal), under the heading **Partitioning (consensus channels)**, the line `Clients can connects` should be changed to `Clients can connect`.

[2016-11-03 09:53] malik-altaf commented on #2088
Hi @muralisrini any update on this?

[2016-11-17 06:42] AmjadNZ opened #2407 "Asset Management Example Chaincode Deployment Failure"
Starting with HYPERLEDGER and following all the tutorials

## Description

1. using Option 2 - DockerFile setup
2. Downloaded all the images - and used a 4 node setup to start 4 validator nodes and 1 membersrvc node
3. Started the containers all seems to be fine.
4. Am able to login, query the regular example (chaincode example 01,02 etc)
5. Failing to use the asset_management and asset_management

[2016-11-17 08:50] AmjadNZ commented on #2407
As per further reading - 2 docker images i've pulled and retried the setup
Its stil not working

Images Pulled:
hyperledger/fabric-baseimage - needed to rebuild it as this is no more available on dochub
golang:1.6

[2016-11-20 16:10] jjmiranda commented on #1532
Hi @muralisrini, @christo4ferris, @corecode, this characteristic is indispensable for a production environment. We need something like chaincode versions/updates or chaincode annex retaining all transactions, worldstate, etc. and the capacity to auditing source code in every update deployment, chaining versions :)

[2016-11-24 08:53] jonathan-yk-tan commented on #1532
Hi , we have multiple projects with stakeholders requesting for this capability; basically a feature/function when chaincode is updated that the data previously written would not be stuck in the older chaincode container. Are there any plans for this feature?

[2016-11-28 03:31] meghanaHManjunath commented on #2400
HI,
I am getting below error when i tried hitting command

vagrant@ubuntu:/opt/gopath/src/github.com/hyperledger/fabric$ make peer
curl: (7) Failed to connect to 192.168.0.2 port 3128: Connection timed out

Can someone help me in resolving this?

[2016-11-28 09:13] zamrokk opened #2408 "[fabric 0.6.1-preview] running 4peers + CA on PBFT fails if we change PEER_ID"
I have changed PEER_ID in the compose files, then I tried to run with PBFT.

While deploying a chaincode on **node1**, the nodes do not synchronized.
Here is the WARN message i see on logs :

**node1**_1        | 08:56:35.018 [consensus/pbft] recvViewChange -> WARN 7eb Replica 0 found incorrect signature in view-change message: Could not verify message from **vp0** (unknown peer)

I do not have an

[2016-11-28 09:33] zamrokk commented on #2060
I have same endless loop using PBFT, same logs

[2016-11-28 15:51] ckeyer commented on #2060
+1

[2016-12-11 17:09] stonejiang208 commented on #2060
+1

[2016-12-12 14:04] jyellick commented on #2060
Note that the issue tracking in Github has been replaced with the Linux Foundation Hyperledger JIRA.

You can find this issue discussed in https://jira.hyperledger.org/browse/FAB-707

[2016-12-14 22:12] ghost commented on #1382
I would note that in post-quantum you'd have to update your signing algorithm, but other than that...

[2016-12-21 01:59] zuochuanmin commented on #1271
I also encountered this issue. It's absolutely inconvenient.

[2016-12-25 18:49] Maheshbiradar opened #2409 "issue for ee5b85c20f70b07bfd4fb6fb4dd023d49d9cbfc9 commit"
Getting error for learn chain code
.\chaincode_finished.go:31: cannot use new(SimpleChaincode) (type *Simp
de) as type shim.Chaincode in argument to shim.Start:
        *SimpleChaincode does not implement shim.Chaincode (wrong type
method)
                have Init(shim.ChaincodeStubInterface, string, []string
, error)
                want Init(shim.ChaincodeStubInterface) ([]byte, error)

Please

[2016-12-25 18:53] Maheshbiradar opened #2410 "issue for ee5b85c20f70b07bfd4fb6fb4dd023d49d9cbfc9 commit"
Getting query failure for the learn chain code,
{
  "jsonrpc": "2.0",
  "error": {
    "code": -32003,
    "message": "Query failure",
    "data": "Error when querying chaincode: Error:Failed to launch chaincode spec(Could not get deployment transaction for 4c6c6e2d9cf7278cd628767f053840bd0ee78963c5dff8ed0831c0fe9b622d62585f3e2e820e457a8c5ae523791008ea394cc61e265285c0bba8df33696df160 - LedgerError

[2016-12-26 14:19] muralisrini commented on #2409
@Maheshbiradar The chaincode Init,Query and Invoke interfaces were changed a while back to take just `shim.ChaincodeStubInterface` as parameters. Should work with that change. chaincode_example02 can provide you some code you can copy paste.
Hope this helps.

[2016-12-28 21:12] bellaj commented on #2405
any solution?

[2016-12-28 21:16] bellaj opened #2411 "erro : Failed invoking CreateCertficatePair"
I've got the error below when i change the CORE_VM_ENDPOINT from unix:///var/run/docker.sock to any other address 127.* or 172.* or whatever

[code]

[2016-12-30 16:49] #2411 closed, assigned to nobody

[2017-01-11 05:08] mychewcents opened #2412 "Cannot dial to 0.0.0.0:7050, because of grpc: timed out while dialing"
## Description
I built the hyperledger fabric using  command "make dist-clean all" in Ubuntu 16.04 environment.
I have run all the steps according to the documentation provided on the Hyperledger Fabric official "readthedocs" page. I also copied the docker-compose file posted on the official hyperledger fabric documentation. It is as follows:

`membersrvc:
  image: hyperledger/fabric-membersrvc

[2017-01-11 05:17] mychewcents commented on #2401
Yes, I have had the same issue. I resolved by restarting the OS and making sure that GO variables are set.

[2017-01-16 12:29] mychewcents opened #2413 "Fabric gives error on firing "Query" command from REST API"
## Description

I have deployed the chaincode using already available hyperledger/fabric images for peer and membersrvc. The deploy and invoke command just work fine when fired, but query command times out and displays an error.

I'm running the blockchain in dev mode. I have tried working in production mode also, but some other error pops up, which is not related to this error.

The following err

[2017-01-22 07:40] zhangyijie7758 opened #2414 "TLS error"
This is my configuration
[code]

when run docker-compose up,   membersrvc start successful, but peer can't connect membersrvc.
Is there any document refer to tls setting ?  official document is not details。

exception like:
33mvp0_1         |[0m [36m07:10:02.768 [crypto] Debugf -> DEBU 013[0m [validator.test_vp0] Keystore opened at [/var/hyperledger/production/crypto/validator/test_vp0/ks]...do

[2017-01-25 12:02] mychewcents opened #2415 "Logging into Marbles POC"
## Description

I wanted to trace the commands from the source (webpage) to the destination (blockchain) to know how and what commands are called in the real world scenario. I got to the end point where the Marbles POC finally makes a http request. But I have not been able to figure out, which file is associated with that http request.

I have hosted the marbles POC on localhost and also the hyper

[2017-01-25 19:42] yashgt commented on #1409
Can the chaincode know the identify of the user that has initiated the transaction based on the certificate? What attributes of the certificate are accessible to the chaincode? I would like to use the identity of the initiator to perform authorization.

[2017-01-26 08:40] ngogia20 commented on #1767
This still doesnt work on pbft on different machines (different vms on different cloud) but works on noops

[2017-02-01 09:55] Shreeparna commented on #2411
Why was this discussion closed? Even i am getting the same error. Besides when i am trying to build the app2_internal.go, i get the following error:
app2.go:23:2: no buildable Go source files in /Users/Apple/Documents/go/src/github.com/hyperledger/fabric/core/crypto
app2.go:24:2: no buildable Go source files in /Users/Apple/Documents/go/src/github.com/hyperledger/fabric/protos

**Basically I am  t

[2017-02-07 20:40] lehors commented on #2411
Hi,
the discussion was closed because we've moved from github to gerrit+jira. Please, see https://gerrit.hyperledger.org/r/#/admin/projects/fabric and https://jira.hyperledger.org/projects/FAB/issues
As for your question the basic answer is that you need to register and enroll the user. But you're welcome to join us on rocketchat and get live help from the community at: https://chat.hyperledger.or

[2017-02-11 15:36] Suyash-Sukthankar commented on #2407
I am trying understand hyperledger and i have deployed example02 and it seems to be working. I am curious to understand where fmt.Println() would send the output.

[2017-02-26 22:19] #1311 closed, assigned to nobody

[2017-03-11 06:55] nerd010 commented on #2321
@alvinajh I get the same problem. Did you resolve the problem?

[2017-03-12 02:56] nerd010 commented on #2321
@ghaskins I try to work in production mode, it work! Thanks! I'll try to work in Developer mode, I hope it work